{# facebook / Open Graph http://ogp.me/ #}
<meta property="og:image" content="{{og_image if og_image else '/img/adblockplus_promo.png'}}">
<meta property="og:title" content="{{ "Replaced title due to include bug" | translate("title") }}">
{% if description %}
  <meta property="og:description" content="{{ description | translate("description") }}">
{% endif %}
<meta property="og:locale" content="{{ locale | to_og_locale }}">
{% for alternate_locale in available_locales %}
  {% if alternate_locale != locale %}
    <meta property="og:locale:alternate" content="{{ alternate_locale | to_og_locale }}">
  {% endif %}
{% endfor %}
<meta property="og:url" content="{{ config.get("general", "siteurl") }}{{ source.resolve_link(page | ignore_browsers, locale)[1] }}">

{# twitter https://dev.twitter.com/cards/markup #}
<meta name="twitter:site" content="@AdblockPlus">
<meta name="twitter:creator" content="@AdblockPlus">
