<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{title|translate("title", "meta")}}</title>
{% if description %}
  <meta name="description" content="{{description|translate("description", "meta")}}">
{% endif %}
<link rel="canonical" href="{{ get_canonical_url(page | ignore_browsers) }}">

{% if robots  %}
  <meta name="robots" content="{{ robots }}">
{% endif %}

<script>(function(){
  if (location.hostname == "new.adblockplus.org" && location.pathname.endsWith("/update")) return;
  if (location.hostname == "new.adblockplus.org" && location.pathname.endsWith("/up-to-date")) return;
  if (location.hostname == "welcome.adblockplus.org" && location.pathname.endsWith("/installed")) return;
  if (location.hostname == "accounts.adblockplus.org" && location.pathname.endsWith("/premium")) return;
  if (location.hostname == "accounts.adblockplus.org" && location.pathname.endsWith("/manage")) return;
  if (location.hostname != "adblockplus.org") location.href = `https://adblockplus.org${location.pathname}${location.search}${location.hash}`;
})()</script>