/* Table of contents
 *******************************************************************************

 1. Dependencies
 2. Document
 3. Page

 ******************************************************************************/

/* Dependencies
 ******************************************************************************/

 @import url("/css/fonts.css");

/* Document
 ******************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

b {
  font-weight: bolder;
}

.br {
  display: block;
}

a:link {
  color: #2284F7;
  font-weight: 400;
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

/* Disabling input[type=number] spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type=number] {
  -webkit-appearance: none;
  -moz-appearance:textfield;
  appearance: none;
}

.inline-break {
  display: inline-block;
}

/* Page
 ******************************************************************************/

.up-to-date__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 992px) {
  .up-to-date__container,
  .up-to-date-navbar__container {
    max-width: 960px;
  }  
}


.color-red {
  color: #E40D0D;
}

.color-blue,
.vpn-blue {
  color: #0055B7;
}

.up-to-date__spacer {
  display: none;
}

@media (min-width: 768px) {
  .up-to-date__spacer {
    display: block;
  }
}

/* Navbar *********************************************************************/

.up-to-date-navbar {
  padding: 1.125rem 0;
  background-color: #fff;
}

.up-to-date-navbar__container {
  margin: 0 auto;
  padding: 0 1rem;
}

.up-to-date-navbar__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 992px) {
  html:not([dir='rtl']) .up-to-date-navbar__img {
    margin-left: 0;
  }

  [dir="rtl"] .up-to-date-navbar__img {
    margin-right: 0;
  }
}

/* Section 1 ******************************************************************/

.up-to-date-section-1 {
  background-color: #F4F4F4;
  padding-bottom: 2.5rem;
  font-weight: 400;
}

.up-to-date-section-1__header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.up-to-date-section-1__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.up-to-date-section-1__subheading {
  font-size: 1.5rem;
  color: #666666;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.up-to-date-section-1__rows {
  display: grid;
  gap: 2rem;
}

.up-to-date-section-1__row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
 }

 /* Section 1 Row 1 (don't scroll away) ***************************************/

.up-to-date-section-1-row-1 {
  border: 2px solid #2284F7;
  border-radius: 6px;
}

.up-to-date-section-1-row-1__heading {
  background-color: #E9F3FE;
  padding: 0.625rem 2rem;
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 1.125rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.up-to-date-section-1-row-1__body {
  background-color: #fff;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.up-to-date-section-1-row-1__body p:first-of-type {
  margin-top: 0;
}

.up-to-date-section-1-row-1__body p:last-of-type {
  margin-bottom: 0;
}

/* Section 1 Row 2 (Payment) **************************************************/

.up-to-date-section-1-row-2 {
  background: #fff;
  padding: 1.5rem;
  border-radius: 6px;
}

.up-to-date-gaurantee {
  border-radius: 6px;
  background: rgba(34, 132, 247, 0.10);
  padding: 0.875rem 1rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

.up-to-date-payment-currency {
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  padding: 0.2rem;
  height: min-content;
}

html:not([dir=rtl]) .up-to-date-gaurantee__image {
  margin-right: 0.625rem;
}

[dir=rtl] .up-to-date-gaurantee__image {
  margin-left: 0.625rem;
}

.up-to-date-payment-card {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.up-to-date-payment-card-header {
  display: flex;
  padding: 1rem 1.5rem 1rem 2rem;
  align-items: center;
  justify-content: space-between;
}

.up-to-date-payment-card-header__text {
  font-size: 1.5rem;
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.up-to-date-payment-card-body {
  background-color: #F6F6F6;
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 992px) {
  .up-to-date-payment-card-body {
    grid-template-columns: 1fr 1fr;
  }
}

.up-to-date-payment-option {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.up-to-date-payment-option__button {
  border: 2px solid #CDCDCD;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  width: 100%;
  max-width: 260px;
  min-height: 2.875rem;
}

.up-to-date-payment-option__button::placeholder {
  color: #000;
}


.up-to-date-payment-option__button[aria-pressed="true"] {
  border-color: #E40D0D;
  outline: 0;
}

.up-to-date-payment-option__amount {
  font-weight: 700;
  font-size: 1.125rem;
}

.up-to-date-payment-option__discount {
  display: inline-block;
  white-space: nowrap;
  background-color: #E40D0D;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  color: #fff;
}

.up-to-date-payment-included {
  padding-right: 1rem;
}

.up-to-date-payment-included__heading {
  font-weight: 700;
  font-size: inherit;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.up-to-date-payment-included__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}

.up-to-date-payment-included__list-item {
  position: relative;
  margin-bottom: 1rem;
}

.up-to-date-payment-included__list-item::before {
  display: block;
  position: absolute;
  top: 0;
  background-image: url("/up-to-date/up-to-date__tick-red.svg");
  height: 24px;
  width: 24px;
  content: "";
}

html:not([dir="rtl"]) .up-to-date-payment-included__list-item::before {
  left: -2.25rem;
}

[dir="rtl"] .up-to-date-payment-included__list-item::before {
  right: -2.25rem;
}

.up-to-date-payment-card--premium-vpn .up-to-date-payment-included__list-item::before {
  background-image: url("/up-to-date/up-to-date__tick-blue.svg");
}

html:not([dir="rtl"]) .up-to-date-payment-included__list-item {
  margin-left: 2.25rem;
}

[dir="rtl"] .up-to-date-payment-included__list-item {
  margin-left: 2.25rem;
}

.up-to-date-payment-checkout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 1.5rem;
  column-gap: 1.5rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  flex-direction: row-reverse;
}

.up-to-date-payment-checkout__button {
  padding: 1rem;
  background-color: #0047FF;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  width: 100%;
}

.up-to-date-payment-checkout__button:disabled {
  background-color: #666666;
}

.up-to-date-payment-checkout__button > img {
  margin-bottom: 2px;
}

.up-to-date-section-3 {
  font-size: 1.125rem;
  padding: 3.5rem 0;
}

.up-to-date-section-3 h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.up-to-date-section-3 h3 {
  font-size: 1.125rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.up-to-date-section-3 p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.update-section-4 {
  border-top: 3px solid #EDEDED;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.125rem;
}

.update-section-4 a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.uptodate-payment-reward {
  position: relative;
  border-radius: 6px;
  background: #FFF;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgba(0,0,0,0.25);
  font-size: 0.875rem;
  font-weight: 300;
  flex-grow: 1;
  max-width: 535px;
}

.update-payment-reward__highlight {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.5rem;
}

root:not([dir='rtl']) .update-payment-reward__highlight {
  left: 0.5rem;
}

[dir='rtl'] .update-payment-reward__highlight {
  right: 0.5rem;
}

.update-payment-reward__highlight::before {
  flex: 1;
  content: "";
  background: #2284F7;
  border-radius: 3px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.update-payment-reward__text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: block;
}

.update-payment-reward__text .amount,
.update-payment-reward__text .product {
  font-weight: 400;
}
