html,
* {
    box-sizing: border-box;
}

div#card2 h2, div#card2 h3 {
    text-align: center;
}

strong {
    color: #000000;
    font-weight: 700;
}

div#sunset-premium-infinity p {
    font-size: 16px;
    color: #000000;
}

div#sunset-premium-infinity div {
    margin-left: 0px;
    padding-left: 0px;
}

img#topBarLogo {
    width: 200px;
}

div.socialIcons {
    margin-top: -8px;
}

div#cool-stuff-you-get h4 {
    font-size: 21px;
    color: #333333;
    width: 100%;
}

div.feature-card {
    width: 336px;
    min-height: 320px;
    border-radius: 6px;
    box-shadow: none;
    background-color: #f4f4f4;
    margin: 8px;
}

div.feature-card .featureCard-header {
    background-color: #e6e6e6;
    min-height: 64px;
    border-radius: 6px 6px 0px 0px;
    font-size: 18px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    font-weight: 400;
}

div.feature-card .featureCard-body-text {
    width: 288px;
    margin: auto;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

div.feature-card-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 28px;
}

div.feature-card .featureCard-body-img {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

div.feature-card-body {
    padding: 16px;
}

i[class^=material-icons]  {
    font-family: "Material Icons";
    margin-right: 16px;
    color: #666666;
    width: auto;
}

div#see-photos-image {
    background: url("/adblock/premium/enrollment/images/see-photos.png") no-repeat;
    width: 252px;
    height: 73px;
}

#mainPageContent {
    width: 90%;
    margin: auto;
    margin-top: 36px;
    font: 16px "Lato", sans-serif;
    line-height: 20px;
    font-weight: 150;
    color: #333;
    max-width: 1064px;
    min-height: 40vw;
    margin-top: 96px;
}

.SubscriptionDetails {
    font-size: 21px;
    color: #999999;
}

.SubscriptionDetails h4 {
    color: #333333;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 4px;
}

.cta-button {
    min-height: 32px;
    font-size: 16px;
    text-align: center;
    color: #666666;
    width: 100%;
    min-height: 56px;
    border-radius: 6px;
    border: 1px solid #676665;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex: none;
}

.cta-button.gray-button {
    border: 1px solid #676665;
    color: #666666;
    width: 100%;
    width: 210px;
}

.cta-button.gold-button {
    background-color: #ffca00;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #ffca00;
    width: 210px;
}

div.row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

div.row .button-container {
    width: 72%;
    min-height: 186px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: 24px auto;
    align-items: center;
}

h4 {
    margin: 0px;
    width: 50%;
}

.mainContentH1 {
    padding: 12px 0px 32px 0px;
}

div.registration-box {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 440px;
}
div#subscription-canceled {
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

#subscription-end dt {
    font-weight: 700;
}

div#payment-box {
    width: 90%;
}

/* Stripe card update box */
div#update-subscription-box {
    margin: 0px 0px 48px 0px;
}
#payment-box h2 {
    margin-top: 36px;
}
span.warning {
    color: #c90f0f;
}
#payment {
    padding: 16px 0px 48px 0px;
}
button#donate_now {
    margin: 48px auto;
}
/* end Stripe card update box */

div#paypal-update-card .cta-button {
    width: 100%;
}
div.action-button-container {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    height: 100%;
    margin-bottom: 36px;
}
div#update-payment-method {
    margin-bottom: 24px;
}
.hidden {
    display: none;
}

div.form-row.form-row-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

div#registration-box {
    max-width: 720px;
    width: 100%;
}

.skinny-form {
    width: auto;
}

div#payment_form_error {
    width: 100%;
}

div.card2-wrapper {
    width: 95%;
    max-width: 524px;
    margin: auto;
    display: flex;
    flex-flow: column;
}

div#update-subscription-box {
    align-items: flex-start;
}

div#card2 {
    width: 100%;
}

div#code-entry {
    width: 95%;
    max-width: 320px;
    height: 100%;
    min-height: 96px;
}

div#code-entry input[type="text"] {
    width: 95%;
    max-width: 240px;
}

div#submit_code {
    width: 95%;
    max-width: 320px;
    margin: 16px auto 8px auto;
}

div#card2 p.fine-print {
    width: 95%;
    max-width: 320px;
}

div#registration-box {
    width: auto;
}

#thank_you_header_text {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}

@media screen and (min-width: 720px) {
    #cvc_label > * {
        margin-left: 26px;
    }
}

/* 2x assets */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    div#see-photos-image {
        background: url("/adblock/premium/enrollment/images/see-photos@2x.png") no-repeat;
        background-size: 252px 73px;
    }
}

@media screen and (min-width: 568px) {
    div.feature-card-row {
        flex-flow: row wrap;
    }
    div.row .button-container {
        width: 100%;
        flex-flow: row nowrap;
    }
    div.action-button-container {
        width: 20%;
    }
}

@media screen and (min-width: 1100px) {
    div.feature-card-row {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    div.row .button-container {
        justify-content: space-between;
        margin: 64px auto;
        flex-flow: row nowrap;
        width: 50%;
        justify-content: space-around;
    }
}
