/* Base imports and variables */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* Colors */
  --color-white: #ffffff;
  --color-background-light: #F5F5F5;
  --color-divider: #E6E6E6;
  --color-placeholder: #E5E2E2;
  --text-colorTextBase: #000;
  /* Typography */
  --font-family-primary: "Inter", sans-serif;
  --font-family-system: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-default: 17px;

  /* Spacing */
  --spacing-tiny: 4px;
  --spacing-standard: 16px;
  --spacing-medium: 24px;
  --spacing-large: 42px;
  --spacing-xl: 72px;

  /* Layout */
  --header-height: 80px;
  --background-height: 30vh;
}

/* Reset */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary), sans-serif;
  background-color: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/** Safari */
@supports (background: -webkit-named-image(i)) {
  body {
    min-height: -webkit-fill-available;
  }
}

/* Layout components */
.header {
  height: var(--header-height);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  flex-direction: column;
}

.header-margins {
  margin-left: var(--spacing-standard);
  margin-right: var(--spacing-standard);
  margin-top: var(--spacing-medium);
}

.centered-heading {
  text-align: center;
  margin-top: var(--spacing-medium);
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.centered-heading p {
  margin-top: 0;
  margin-bottom: 0;
}

.centered-heading p:not(:last-child) {
  margin-bottom: 5px;
}

.large-text {
  font-size: 24px;
}

.background-section {
  width: 100%;
  height: var(--background-height);
  background-color: var(--color-background-light);
}

.content-container {
  background-color: var(--color-white);
  z-index: 1;
  padding-top: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-footer {
  text-align: center;
  margin-top: var(--spacing-medium);
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.centered-footer p {
  color: #636363;
  margin-top: 0;
  margin-bottom: 0;
}

.centered-footer p:not(:last-child) {
  margin-bottom: 5px;
}

.underline {
  text-decoration: underline;
}

/* Header elements */
.logo {
  max-width: 117px;
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-medium);
}

/* Header elements */
.logo-large {
  max-width: 254px;
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-medium);
}

/* Typography styles */
.title {
  font-size: var(--font-size-large);
  font-weight: 400;
  font-family: var(--font-family-system), sans-serif;
  text-align: center;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
}

.description {
  font-size: var(--font-size-default);
  font-weight: 400;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  display: flex;
  flex-direction: column;
}

/* Instructions */
.instruction-list {
  margin-top: var(--spacing-large);
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.instruction-item {
  position: relative;
  padding-bottom: var(--spacing-standard);
  margin-bottom: var(--spacing-standard);
  font-size: var(--font-size-default);
  display: flex;
}

.instruction-item strong,
.instruction-item img {
  display: inline;
  margin: 0;
  vertical-align: middle;
}

.instruction-item .bullet-number {
  margin: 2px 8px 0px 0px;
}

.instruction-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-divider);
  position: absolute;
  bottom: 0;
  left: 0;
}

.feature-list {
  margin-top: var(--spacing-large);
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.feature-item {
  position: relative;
  padding-bottom: var(--spacing-tiny);
  margin-bottom: var(--spacing-tiny);
  font-size: 16px;
  font-weight: 590;
}

.divider {
  border: 0;
  height: 1px;
  background-color: var(--color-divider);
  margin-left: var(--spacing-standard);
  margin-right: var(--spacing-standard);
}

a {
  color: #2284F7;
  text-decoration: none;
  font-weight: 500;
}

a:hover,
a:visited,
a:active {
  color: #2284F7;
  text-decoration: none;
}

.enable-extension-animation {
  width: 80%;
  aspect-ratio: 1200 / 426;
  /* Original dimensions of your iframe */
  overflow: hidden;
  margin: var(--spacing-medium) 10%;
}

.enable-extension-animation iframe {
  width: 100%;
  height: 100%;
  border: none;
}

button {
  display: flex;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  background: #4A4A4A;
  color: #FFF;
  font-family: var(--font-family-primary), sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer {
  padding: 18px var(--spacing-medium);
}

.footer p {
  font-size: 12px;
  text-align: center;
}

.warning-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  max-width: 700px;
  padding: 12px 16px;
  border-radius: 12px;
  margin: 24px auto;
  border: 1px solid #DFB616;
  background: #FFD533;
  box-sizing: border-box;
}

.variant-box--red {
  border: 1px solid #E0ABB5;
  background: #FFE1E4;
}

.warning-text {
  font-size: 17px;
  font-weight: 400;
  color: #161515;
}

.black-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0) saturate(100%);
}

.bullet-number {
  display: flex;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  background: #000;
}

.bullet-number-text {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ios-button {
  display: flex;
  padding: 12px 8px;
  margin: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  background: #4A4A4A;
  color: #fff;
}

.ios-button.outline {
  border: 1px solid var(--text-colorTextBase, #000);
  background: #FFF;
  color: var(--text-colorTextBase, #000);
}

.ios-button:visited,
.ios-button:hover,
.ios-button:active {
  color: #fff;
}

.ios-button.outline:visited,
.ios-button.outline:hover,
.ios-button.outline:active {
  color: var(--text-colorTextBase, #000);
}
