<script>
  // for backwards compatibility
  adblock.searchParameters = query;
  adblock.settings.language = adblock.settings.locale;
  adblock.error = () => { alert(adblock.strings["error--unexpected"]); };
    settings: {
    },
    strings: {
      "error--unexpected": {{ get_string("stripe-sorry", "payment-form") | tojson }}
    },


  adblock.lib.fetch = fetchRetry(fetch);



</script>