{% if page not in ("installed", "installed-2") %}
<script src="/js/payment/payment-form.min.js"></script>
<? include payment/config/stripe ?>
<script src="/js/payment/controller.js"></script>
{% endif %}

