# Last 2 versions of major browsers >= 1% of our stats
Chrome last 2 versions
Firefox last 2 versions
Edge last 2 versions

# Legacy desktop support >= 1% of our stats
Explorer >= 11

# Legacy mobile support >= 1% of our stats
Android >= 4.0.3

# Legacy support for home, download, and internet explorer pages
# IE 9
# Safari 10