*.pyc
*.pyo
/cache/
.idea
.DS_Store
venv/
__pycache__/
.pytest_cache.idea
node_modules/
dist
public
access.log
error.log
/test-results/
/playwright-report/
/playwright/.cache/
/ignore/
/test-results/
/playwright-report/
/playwright/.cache/
.env