<div id="cookiebar" class="cookie cookiebar">
  <div class="container">
    <div class="row">

      <div class="column two-thirds">
        <p class="cookiebar-text">
          <svg viewBox="0 0 37.796 41.279" width="38" height="42" role="image">
            <title>{{ get_string('cookies-large-icon-alt', 'cookies') }}</title>
            <g transform="translate(-14.904 0)">
              <g transform="translate(14.904 0)">
                <path d="M52.468,31.165a6.029,6.029,0,0,1-1.514-4.908.935.935,0,0,0-.626-1.019,6.029,6.029,0,0,1-3.244-8.8A.935.935,0,0,0,47,15.368a6.039,6.039,0,0,1-1.112-5.609A.935.935,0,0,0,45.4,8.647,6.029,6.029,0,0,1,42.129,2.01.935.935,0,0,0,41.484.935a20.682,20.682,0,1,0,11.049,31.38A.935.935,0,0,0,52.468,31.165Zm-3.739,2.814A18.759,18.759,0,1,1,40.148,2.524,7.9,7.9,0,0,0,43.887,10a7.889,7.889,0,0,0,1.281,6.029A7.917,7.917,0,0,0,46.682,25.1a7.823,7.823,0,0,0,2.346,1.617,7.889,7.889,0,0,0,1.57,5.123A18.6,18.6,0,0,1,48.729,33.979Z" transform="translate(-14.904 0)"/>
              </g>
              <g transform="translate(24.556 12.199)">
                <circle cx="1.598" cy="1.598" r="1.598"/>
              </g>
              <g transform="translate(34.81 18.817)">
                <circle cx="1.598" cy="1.598" r="1.598"/>
              </g>
              <g transform="translate(33.212 32.212)">
                <circle cx="1.598" cy="1.598" r="1.598"/>
              </g>
              <g transform="translate(36.652 9.03)">
                <circle cx="1.047" cy="1.047" r="1.047"/>
              </g>
              <g transform="translate(23.509 25.912)">
                <circle cx="1.047" cy="1.047" r="1.047"/>
              </g>
              <g transform="translate(42.765 27.23)">
                <circle cx="1.047" cy="1.047" r="1.047"/>
              </g>
            </g>
          </svg>
          <span>
            {{ get_string('cookies-explination-1', 'cookies') }}
          </span>
        </p>
      </div>

      <div class="column one-third text-end">
        <ul class="cookiebar-nav">
          <li>
            <button
              type="button"
              class="cookies-submit button"
              title="{{ get_string('cookies-submit-tooltip', 'cookies') }}">
              {{ get_string('cookies-submit-label', 'cookies') }}
            </button>
          </li>
          <li class="dropup cookies-dropup">
            <button
              type="button"
              class="cookies-settings button"
              title="{{ get_string('cookies-settings-tooltip', 'cookies') }}">
              {{ get_string('cookies-settings-label-1', 'cookies') }} &nbsp;
              <svg viewBox="0 0 16.509 16.993" width="18" height="18" role="image">
                <title>{{ get_string('cookies-settings-icon-alt', 'cookies') }}</title>
                <path d="M175.051,8.283V.478a.478.478,0,1,0-.955,0v7.8a2.425,2.425,0,0,0,0,4.755v3.474a.478.478,0,1,0,.955,0V13.038a2.425,2.425,0,0,0,0-4.755Zm-.478,3.846a1.468,1.468,0,1,1,1.468-1.468A1.469,1.469,0,0,1,174.574,12.129Z" transform="translate(-166.302 0)"/>
                <path d="M9.751,4.278V.478a.478.478,0,0,0-.955,0v3.8a2.425,2.425,0,0,0,0,4.755v7.479a.478.478,0,0,0,.955,0V9.029a2.423,2.423,0,0,0,0-4.752ZM9.274,8.123a1.468,1.468,0,1,1,1.468-1.468A1.469,1.469,0,0,1,9.274,8.123Z" transform="translate(-6.85 0)"/>
                <path d="M339.351,4.278V.478a.478.478,0,0,0-.955,0v3.8a2.425,2.425,0,0,0,0,4.755v7.483a.478.478,0,0,0,.955,0V9.029a2.423,2.423,0,0,0,0-4.752Zm-.478,3.846a1.468,1.468,0,1,1,1.468-1.468A1.469,1.469,0,0,1,338.874,8.123Z" transform="translate(-324.789 0)"/>
              </svg>
            </button>
            <div class="cookies-dropup-menu text-start" tabindex="1">
              <? include cookie/settings ?>
              <span class="arrow"></span>
            </div>
          </li>
        </ul>
      </div><!-- .column -->
    </div><!-- .row -->
  </div><!-- .container -->

</div><!-- #cookies-large-bar -->
