<form class="cookie cookiepage">

  <header class="bg-dark">
    <div class="container">

      <h4 class="cookie-heading">
        {{ get_string('cookie-preferences-heading', 'cookies') }}
      </h4>

      <button
        type="button"
        class="cookies-close"
        title="{{ get_string('cookies-submit-tooltip', 'cookies') }}">
        <svg viewBox="0 0 23.313 23.313" width="15" height="15">
          <title>{{ get_string('close-icon-alt', 'cookies') }}</title>
          <path fill="#fff" class="a" d="M21.763,23.044C19.816,21.1,15.74,17.021,11.656,12.936L1.548,23.044a.9.9,0,0,1-1.279,0,.893.893,0,0,1,0-1.278c1.947-1.948,6.023-6.025,10.108-10.11L.269,1.547a.893.893,0,0,1,0-1.278.9.9,0,0,1,1.279,0L11.655,10.377,21.763.269a.905.905,0,0,1,1.283,1.278L12.935,11.657l10.11,10.11a.908.908,0,0,1-.64,1.547A.909.909,0,0,1,21.763,23.044Z"/>
        </svg>
      </button>

    </div>
  </header>

  <div class="bg-light">
    <div class="container section">
        {{ get_string('cookies-explination-1', 'cookies') }}
    </div>
  </div>

  <div class="container section">
    <? include cookie/settings ?>
  </div>

</form>
