<div class="dropup cookies-dropup">
  <a
    class="cookies-settings"
    title="{{ get_string('cookies-settings-tooltip', 'cookies') }}">
    {{ get_string('cookies-settings-label-3', 'cookies') }}
  </a>
  <div class="cookies-dropup-menu text-start" tabindex="1">
    <? include cookie/settings ?>
    <span class="arrow"></span>
  </div>
</div>
