<div id="adblock-browser-notification" class="notice">
  {{get_string("abb_notification", "abb-notification")}}
  <span>
    <img src="/img/old/abb-logo.png" alt="{{get_string("abb_logo_alt", "abb-notification")}}" />
    <a href="https://adblockbrowser.org">{{get_string("abb_notification_link", "abb-notification")}}</a>
  </span>
</div>
