html,
body {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
}
main {
    margin: 0;
    padding: 0;
}
main #hero {
    padding-top: 80px;
    text-align: center;
    min-height: 206px;
    background-color: #f4f4f4;
}
#hero h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #333333;
}

#hero #subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #333333;
}
#payments-content .row.jc-space-between {
    justify-content: flex-start;
}
#payments-content .row.align-items-center {
    align-items: center;
}
#payments-content .row.flex-start {
    justify-content: flex-start;
}
#currency_dropdown {
    width: 72px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Lato';
    padding: 6px;
    background-color: #fff;
    cursor: pointer;
    margin-left: 24px;
    margin-top: 4px;
}
#payment-options {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

.payment-option {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: 16px 0px;
    max-width: 288px;
    position: relative;
}
button.get-started-with-myadblock {
    width: 384px;
    height: 48px;
    background: #0075ff;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 264px;
}
button.get-started-with-myadblock:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgb(51 51 51 / 20%);
}
#pmt-success-left {
    justify-content: center;
    align-items: center;
    margin-right: 48px;
}
div.save20 {
    background: #ffd780;
    border: 0.5px solid #dfa809;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 700;
    line-height: 140%;
    margin: 0px 16px;
    padding: 4px;
    font-size: 12px;
    text-align: center;
}

html[lang="es"] .gold-header {
    font-size: 13px;
}

.feature-card div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 48px;
    width: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-left: 16px;
    background-color: #e6e6e6;
}
.header.selected {
    background-color: #ffca00;
}

div.gold-header {
    height: 48px;
    background-color: #ffca00;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-left: 16px;
    position: absolute;
    width: 100%;
    max-width: 272px;
    position: absolute;
    top: -48px;
}

#already-donated-activity .step {
    max-width: 982px;
    min-height: unset;
}

#payment-options-narrow .gold-header {
    margin-top: -1px;
}
#payment-options-narrow .gray-header {
    margin-top: -1px;
}
#already-donated-activity input {
    height: 40px;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 70%;
    min-width: 586px;
    margin-right: 32px;
}

div.progress-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-top: 5%;
}

div.progress-circle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 8px;
    background: #c4c4c4;
}
div.progress-circle.complete {
    background: #8d8484;
}
#payment-box i.material-icons {
    font-size: 24px;
}
#confirmation-code input#code {
    height: 40px;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 70%;
    line-height: 140%;
    text-align: center;
}
div.row a {
    color: #0047ff;
}

div.row span.nomargin {
    margin: 0px;
}

div#already-donated-activity-box {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    min-width: 900px;
}

#already-donated-activity-box .row.justify-content-space-between {
    justify-content: space-between;
    align-items: center;
}

#already-donated-activity-box i {
    cursor: pointer;
}

#already-donated-activity-box .box-step {
    padding: 28px 32px;
}
#already-donated-activity .row:first-of-type {
    margin-top: -8px;
}
#already-donated-activity-waiting {
    justify-content: center;
    align-items: center;
    min-height: 392px;
    width: 100%;
}
#payment-options .row {
    min-height: 90px;
}
#payment-options .row-spacer {
    height: 24px;
}

.row.display-block {
    display: block;
}
ul.feature-row li span {
    text-align: right;
}

.box-step .right {
    width: 50%;
    margin-left: 15%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
button.submit-cta.full-width {
    width: 100%;
}
#already-donated-activity {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #333333;
}
#already-donated-activity .row {
    width: 100%;
    margin: 16px 0px;
}
button.submit-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    width: 248px;
    height: 40px;
    background: #ffca00;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}
div.gray-header {
    height: 48px;
    background-color: #e6e6e6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    padding-left: 16px;
}
.price-big {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    width: auto;
}

.price-box {
    display: flex;
    justify-content: center;
    min-height: 96px;
    width: 50%;
    margin: 0px auto;
}

.price-small {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
    display: flex;
    flex-flow: column;
    padding-top: 24px;
    padding-right: 0px;
    color: #333333;
}

.payment-option .row {
    padding: 16px;
    margin: 8px auto;
    width: auto;
}

ul.feature-row li {
    justify-content: space-between;
    padding-left: 16px;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    padding: 16px;
}

ul.feature-row li:first-of-type {
    border-top: 1px solid #e6e6e6;
}

ul.feature-row li:last-of-type {
    border: none;
}

ul li i {
    width: 32px;
}

.payment-option button {
    padding: 0px 16px;
    margin: 0px auto;
}

.price-interval {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-flow: column;
    padding-top: 24px;
    padding-left: 4px;
    color: #333333;
}

.get-premium {
    border: none;
    appearance: none;
    background: #ffca00;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    min-height: 40px;
    height: fit-content;
    min-width: 216px;
    width: fit-content;
}
.get-premium:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.2);
}

.your-plan {
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 40px;
    height: fit-content;
    min-width: 216px;
    width: fit-content;
    color: #333333;
}

h1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    text-align: center;
    color: #333333;
}
h1.gold {
    color: #ff9c00;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
}
.payment-option:hover {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.2);
}
.payment-option.nohover:hover {
    box-shadow: none;
}
.payment-option.nohover:hover .your-plan {
    background: inherit;
    border: none;
    color: #333;
}
.payment-option.nohover {
    min-width: 216px;
    display: flex;
    justify-content: flex-end;
    border: none;
    background: inherit;
    margin-left: -216px;
}
.payment-option.nohover ul.feature-row li {
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2px;
}
.payment-option:hover .your-plan {
    background: #2284f7;
    border: 1px solid #2284f7;
    color: #fff;
}

ul.feature-row.center li {
    display: flex;
    justify-content: center;
}

i.material-icons {
    user-select: none;
}
i.material-icons.feature-unlocked {
    color: #10b501;
}

#features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-card {
    color: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 40px;
    height: fit-content;
    width: 288px;
    flex-flow: row wrap;
    box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
}

.feature-card .get-premium {
    margin-top: 32px;
}

.feature-card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #333333;
}

.feature-card-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #333333;
}

/* FAQs */

#faq {
    max-width: 750px;
    margin: 100px auto;
}
#faq > h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 18px;
}
.material-icons.faq-arrow {
    font-size: 16px;
    color: #666;
    cursor: pointer;
    transform: rotate(90deg);
    animation: arrowRotateOut 0.8s;
}

#faq .faqElement {
    user-select: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e6e6e6;
    display: flex;
    flex-flow: column;
}

.faqElement .question button {
    border: none;
    background: none;
}

@keyframes arrowRotateOut {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes arrowRotateIn {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

#faq .question {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    margin: 13px 0;
}

span[i18n="click_on_upgrade_to_adblock_premium"] {
    text-indent: -16px;
    padding-left: 16px;
    display: inline-block;
}
#faq .answer {
    visibility: hidden;
    display: none;
    opacity: 0;
    width: 100%;
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 8px;
}

.material-icons.faq-arrow.visible {
    color: #c6c6c6;
    cursor: pointer;
    transform: rotate(-90deg);
    display: inline-block;
    opacity: 1;
    animation: arrowRotateIn 0.8s;
}

#faq .answer.visible {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    animation: answerFade 1s;
}

footer[role="contentinfo"] {
    margin-top: 0;
}

div#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

li.feature-card {
    width: 100%;
    max-width: 920px;
    display: flex;
    flex-flow: column;
}
.no-top-border-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
li.feature-card.reverse {
    flex-flow: column-reverse;
}

@media all and (min-width: 600px) {
    li.feature-card {
        flex-flow: row wrap;
    }
}
