<script>
  /* global fetchRetry */
  const query = new URLSearchParams(window.location.search);
  
  const adblock = window.adblock = {
    extensions: {},
    settings: {
      page: {{ page | tojson }} || false,
      locale: {{ locale | tojson }},
    },
    strings: {
      "error--unexpected": {{ get_string("stripe-sorry", "payment-form") | tojson }}
    },
    runtime: {},
    config: {},
    lib: {},
    api: {},
    query,
  };

  // for backwards compatibility
  adblock.searchParameters = query;
  adblock.settings.language = adblock.settings.locale;
  adblock.error = () => { alert(adblock.strings["error--unexpected"]); };

  try {
    adblock.extensions.adblockPlus = JSON.parse(document.documentElement.dataset.adblockPlusExtensionInfo);
  } catch (error) {}

  try {
    adblock.extensions.adblock = JSON.parse(document.documentElement.dataset.adblockExtensionInfo);
  } catch (error) {}

  let hasSettings = false;
  const onSettingsCallbacks = [];

  adblock.api.onSettings = function onSettings(callback) {
    if (hasSettings) callback();
    else onSettingsCallbacks.push(callback);
  }

  fetchRetry("/settings")
  .then(response => response.json())
  .then(settings => {
    Object.assign(adblock.settings, settings);
    hasSettings = true;
    onSettingsCallbacks.forEach(callback => callback());
  });

</script>