/* document
 ******************************************************************************/

 [hidden] { display: none !important; }

 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 @media (prefers-reduced-motion: no-preference) {
   :root { scroll-behavior: smooth; }
 }
 
 html {
   font-size: 16px;
   font-family: "Source Sans Pro", sans-serif;
   line-height: 1.4;
   color: #fff;
   background-color: #000;
 }
 
 body { margin: 0; }
 
 h5, h4, h3, h2, h1 {
   color: #000;
   margin-top: 0;
   margin-bottom: 0.5rem;
   font-weight: 700;
   line-height: 1.2;
 }
 
 h1 { font-size: 1.5rem; }
 
 h2 { font-size: 1.25rem; }
 
 p { margin: 0.5rem 0; }
 
 html:not([dir="rtl"]) ul { margin-left: 1.5rem; }
 html[dir="rtl"] ul { margin-right: 1.5rem; }
 
 li { margin: 0.5rem 0; }
 
 a:link, a:visited {
   text-decoration: none;
   font-weight: 700;
   color: #2788F9;
 }
 
 a:hover, a:active, a:focus { text-decoration: underline; }
 
 /* page
  ******************************************************************************/
 
 .installed-container {
   max-width: 904px;
   margin: 0 auto;
 }
 
 /* main card
  ******************************************************************************/
 
 .installed-main {
   color: #757575;
   background-color: #fff;
   overflow: hidden;
 }
 
 @media (min-width: 903px) {
   .installed-main {
     margin-block-start: 4rem;
     margin-block-end: 2.5rem;
     border-radius: 7px;
   }
 }
 
 .installed-main-section {
   padding: 2rem;
   background-color: #fff;
 }
 
 .installed-main-section--grey {
   background-color: #F5F5F5;
 }
 
 /* main block 1
  ******************************************************************************/
 
 .installed-main__block-1 {
   text-align: center;
 }
 
 .installed-main__block-1__image-1 {
   display: block;
   margin: 0 auto;
 }
 
 .installed-main__block-1__paragraph-1 {
   margin: 1rem 0;
   font-size: 1rem;
   font-weight: 400;
   color: inherit;
 }

 .installed-main__block-1__paragraph-1 span { display: inline-block; }
 
 @media (min-width: 903px) {
   .installed-main__block-1__paragraph-1 {
     margin-top: 0.5rem;
   }
 }
 
 /* main block 2
  ******************************************************************************/
 
 .installed-main__block-2 {
   padding-block-start: 1rem;
 }

 .installed-main__block-2__heading {
   font-size: 1.5rem;
 }
 
 @media(min-width: 903px) {
   .installed-main__block-2 {
     padding-block-start: 2rem;
   }
 }
 
 .installed-main__block-2__ul-1 {
   padding-inline-start: 1rem;
   margin-block-start: 0.75rem;
 }
 
 @media (min-width: 903px) {
   .installed-main__block-2__ul-1 {
     margin-block-start: 0;
   }
 }
 
 .installed-main__block-2__ul-1__li {
   margin-block-start: 0.2rem;
   margin-block-end: 0.2rem;
 }
 
 /* main block 3
  ******************************************************************************/
 
 .installed-main__block-3 {
   margin: 1.5rem -1rem 0 -1rem;
   padding: 0.25rem 1rem;
   border: 1px solid #2788F9;
   background-color: rgba(39, 136, 249, 0.05);
 }
 
 @media (min-width: 903px) {
   .installed-main__block-3 {
     margin-block-start: 1.7rem;
     margin-inline-start: 0;
     margin-inline-enD: 0;
     padding: 0.5rem 1.5rem;
     border-radius: 7px;
   }
 }
 
 @media (min-width: 903px) {
   .installed-main__block-3 .installed-payment .installed-payment-header {
     display: flex;
     align-items: center;
   }
 }
 
 .installed-main__block-3 .installed-payment .installed-payment-header__select,
 .installed-main__block-3 .installed-payment .installed-payment-amount__input {
   border-radius: 3px;
 }
 
 
 .installed-main__block-3 .installed-payment .installed-payment-frequencies {
   margin-block-start: 1rem;
   margin-block-end: 1rem;
 }
 
 @media (min-width: 903px) {
   .installed-main__block-3 .installed-payment .installed-payment-frequencies {
     margin-block-start: 0rem;
     margin-block-end: 1rem;
   }
 }
 
 .installed-main__block-3 .installed-payment .installed-payment-header__heading {
   font-size: 1.25rem;
 }
 
 @media (min-width: 903px) {
   .installed-main__block-3 .installed-payment .installed-payment-header__heading {
     font-size: 1.5rem;
   }
 }
 
 .installed-main__block-3 .installed-payment .installed-payment-header__select {
   margin-inline-start: 0.25rem;
 }
 
 @media (min-width: 903px) {
   .installed-main__block-3 .installed-payment .installed-payment-header__select {
     padding: 0.1rem;
   }
 }
 
 @media (min-width: 903px) {
   .installed-main__block-3 .installed-payment .installed-payment-frequency__heading {
     color: inherit
   }
 }
 /* main block 4
  ******************************************************************************/
 
 .installed-main__block-4 {
   font-size: 0.875rem;
 }
 
 /* main block 5
  ******************************************************************************/
 
 .installed-main__block-5,
 .installed-main__block-6 {
   font-size: 0.875rem;
   padding-block-start: 1rem;
 }
 
 .installed-main__block-5__list-1 {
   margin: 0;
   padding: 0;
 }
 
 @media (min-width: 903px) {
   .installed-main__block-5__list-1 {
     display: flex;
     column-gap: 2rem;
   }
 }
 
 .installed-main__block-5__list-item {
   list-style: none;
   display: flex;
   align-items: center;
 }
 
 @media (min-width: 903px) {
   .installed-main__block-5__list-item {
     margin: 0;
   }
 }
 
 .installed-main__block-5__list-image {
   margin-inline-end: 0.5rem;
 }
 
 /* footer block 1
  ******************************************************************************/
 
 .installed-footer__block-1 {
   display: flex;
   align-items: flex-start;
   padding: 2rem;
   background: #1F1F1F;
 }
 
 @media (min-width: 903px) {
   .installed-footer__block-1 {
     padding: 1rem 2rem;
     border-radius: 7px;
   }
 }
 
 .installed-footer__block-1__image-1 {
   margin-inline-end: 1rem;
   margin-block-start: 0.75rem;
 }
 
 /* footer block 2
  ******************************************************************************/
 
 .installed-footer__block-2 {
   padding: 2rem;
 }
 
 @media (min-width: 903px) {
   .installed-footer__block-2 {
     padding-inline-start: 0;
     padding-inline-end: 0;
     align-items: center;
     display: flex;
     justify-content: space-evenly;
   }
 }
 
 .installed-footer__block-2__ul-1 {
   display: flex;
   column-gap: 1rem;
   margin: 0;
   padding: 0;
   list-style: none;
   margin-block-start: 1.5rem;
 }
 
 @media (min-width: 903px) {
   .installed-footer__block-2__ul-1 {
     margin-block-start: 0;
   }
 }
 
 .installed-footer__block-2__ul-1__a,
 .installed-footer__block-2__ul-1__li {
   display: block;
   margin: 0;
 }
 
 .restrict-premium .premium-only,
 html:not(.restrict-premium) .not-premium-only {
   display: none !important;
 }
 
 /* temporarily adding the update premium reward feature to installed for testing
  ******************************************************************************/
 
 .update-payment-reward {
   position: relative;
   border-radius: 10px;
   background: #FFF;
   padding: 0.875rem;
   border: 1px solid #666;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   font-size: 0.875rem;
   font-weight: 300;
 }
 
 .update-payment-reward__highlight {
   display: flex;
   position: absolute;
   top: 0;
   height: 100%;
   width: 0.5rem;
 }
 
 root:not([dir='rtl']) .update-payment-reward__highlight {
   left: 0.5rem;
 }
 
 [dir='rtl'] .update-payment-reward__highlight {
   right: 0.5rem;
 }
 
 .update-payment-reward__highlight::before {
   flex: 1;
   content: "";
   background: #2284F7;
   border-radius: 6px;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
 }
 
 .update-payment-reward__text {
   margin-left: 1.5rem;
   margin-right: 1.5rem;
 }
 
 .update-payment-reward__text .amount,
 .update-payment-reward__text .product {
   font-weight: 400;
 }

.installed-payment {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.installed-payment .installed-payment__placeholder {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1em;
  border-radius: 3px;
  background-color: #e6e6e6;
}

.installed-payment .installed-payment__placeholder::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  transform: translateX(-100%);
  animation: shimmer 3s infinite;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0));
}

@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.installed-payment .installed-payment-header {
  margin-bottom: .5rem;
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.installed-payment .installed-payment-header .premium-plan-tax {
  margin: 0 0.5rem;
}

.installed-payment .installed-payment-header__heading {
  font-size: 1.125rem;
  display: inline-block;
  margin: 0;
}

.installed-payment .installed-payment-header__select {
  font-size: .875rem;
}

.installed-payment .installed-payment-frequencies {
  display: flex;
  flex-wrap: wrap;
  max-width: 53.125rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

:not([dir='rtl']) .installed-payment .installed-payment-frequencies {
  margin-left: -1rem;
}

[dir='rtl'] .installed-payment .installed-payment-frequencies {
  margin-right: -1rem;
}

.installed-payment .installed-payment-frequency {
  flex: 0 0 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

:not([dir='rtl']) .installed-payment .installed-payment-frequency {
  padding-left: 1rem;
}

[dir='rtl'] .installed-payment .installed-payment-frequency {
  padding-right: 1rem;
}

@media (min-width: 55.125rem) {
  .installed-payment .installed-payment-frequency {
    flex: 1;
    padding-top: 0;
  }
}

.installed-payment .installed-payment-frequency__heading {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: .375rem;
}

.installed-payment .installed-payment-amounts {
  display: flex;
  flex-wrap: wrap;
  max-width: 16.70875rem;
  align-items: center;
}

:not([dir='rtl']) .installed-payment .installed-payment-amounts {
  padding-right: 1rem;
}

[dir='rtl'] .installed-payment .installed-payment-amounts {
  padding-left: 1rem;
}

@media (min-width: 55.125rem) {
  :not([dir='rtl']) .installed-payment .installed-payment-amounts {
    border-right: 1px solid gray;
  }

  [dir='rtl'] .installed-payment .installed-payment-amounts {
    border-left: 1px solid gray;
  }

  .installed-payment .installed-payment-frequency:last-of-type .installed-payment-amounts {
    border: 0;
  }
}

.installed-payment .installed-payment-amount {
  line-height: 1.7;

  display: flex;

  width: 33.33333333%;
}

:not([dir='rtl']) .installed-payment .installed-payment-amount__radio {
  margin-left: 0;
}

[dir='rtl'] .installed-payment .installed-payment-amount__radio {
  margin-right: 0;
}

.installed-payment .installed-payment-amount__text {
  padding-top: 1.5px;
}

.installed-payment .installed-payment-amount__input {
  font-size: .875rem;
  width: 100%;
  height: 1.4rem;
  margin-top: .1875rem;
  padding: .125rem .25rem .125rem .25rem;
  border: 1px solid gray;
}

:not([dir='rtl']) .installed-payment .installed-payment-amount__input {
  margin-right: .1875rem;
}

[dir='rtl'] .installed-payment .installed-payment-amount__input {
  margin-left: .1875rem;
}

@media (min-width: 55.125rem) {
  .installed-payment .installed-payment-checkout {
    display: flex;
  }
}

.installed-payment .installed-payment-checkout__submit {
  font-size: .9375rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 3.5px;
  background-color: #0047ff;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
}

.installed-payment .installed-payment-checkout__submit:disabled {
  filter: grayscale(100);
}

@media (min-width: 23.75rem) {
  .installed-payment .installed-payment-checkout__submit {
    max-width: 14rem;
  }

  :not([dir='rtl']) .installed-payment .installed-payment-checkout__submit {
    margin-right: 1rem;
  }

  [dir='rtl'] .installed-payment .installed-payment-checkout__submit {
    margin-left: 1rem;
  }
}

@media (min-width: 55.125rem) {
  .installed-payment .installed-payment-checkout__submit {
    margin-bottom: 0;
  }
}

.installed-payment .installed-payment-checkout__icon {
  height: 1rem;
}

:not([dir='rtl']) .installed-payment .installed-payment-checkout__icon {
  margin-right: .25rem;
}

[dir='rtl'] .installed-payment .installed-payment-checkout__icon {
  margin-left: .25rem;
}

.installed-payment .installed-payment-checkout__image {
  width: 100%;
  max-width: 340px;
  max-height: 32px;
}