<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_publishable_key or "6Ld9k9sZAAAAABAG_LX6jPtnYbz4TDrBGR1X7m9F" if config.get("general", "siteurl") == "https://new.adblockplus.org" else "6Ld9k9sZAAAAABAG_LX6jPtnYbz4TDrBGR1X7m9F" }}"></script>
