{% set prod_key = "pk_live_Nlfxy49RuJeHqF1XOAtUPUXg00fH7wpfXs" %}

{% set test_key = "pk_test_qZJPIgNMdOMferLFulcfPvXO007x2ggldN" %}

{% set donation_server_prod_url = "https://donation.adblock-org.workers.dev/" %}

{% set donation_server_prod_url_v1 = "https://new-integration.adblockplus.org/" %}

{% set donation_server_staging_url = "https://donation-staging.adblock-org.workers.dev/" %}

{% set donation_server_staging_url_v1 = "https://staging-new-integration-adblockplus-org-1.uplink.eyeo.it/" %}

{% set sites = ["https://adblockplus.org", "https://new.adblockplus.org", "https://welcome.adblockplus.org"] %}

{% set prod_site = config.get("general", "siteurl") in sites %}

{% set base_url = donation_server_base_url or donation_server_prod_url if prod_site else donation_server_staging_url %}

{% set base_url_v1 = donation_server_base_url_v1 or donation_server_prod_url_v1 if prod_site else donation_server_staging_url_v1 %}

{% set key = stripe_publishable_key or prod_key if prod_site else test_key %}

{% if not disable_stripe %}
  <script>
    (function(win) {
      var url;
      var dev = win.location.hostname == 'localhost';
      var donatePage = win.location.pathname.indexOf('/donate') != -1;

      var key = dev
        ? '{{ test_key }}'
        : '{{ key }}';
      
      if (donatePage) {
        url = dev
          ? '{{ donation_server_staging_url_v1 }}'
          : '{{ base_url_v1 }}';

      } else {
        url = dev
          ? '{{ donation_server_staging_url }}'
          : '{{ base_url }}';
      }

      win.stripeProvider =
        initStripeProvider(key, url, paymentTranslations);
    })(window);
  </script>
{% endif %}
