{% if not disable_paypal %}
  <div class="paypal-cta">
    <button name="paypal-provider" class="paypal-button">
      Pay with
      {{ "PayPal" | translate("paypal-label", "button label") }}
    </button>
  </div>
{% endif %}
