#content .sprite
{
  background-image: url(../img/sprite-contribute.png);
}

.topic-small .task-spread-the-word
{
  background-position: 0px -228px;
}

.topic-small .task-report-bugs
{
  background-position: -51px -228px;
}

.topic-small .task-contribute-code
{
  background-position: -204px -228px;
}

.topic-small .task-help
{
  background-position: -255px -228px;
}

.topic-small .task-translate
{
  background-position: -153px -228px;
}

.topic-small .task-suggest
{
  background-position: -102px -228px;
}

.topic-small .task-donate
{
  background-position: -408px -228px;
}

.topic-small .task-filters
{
  background-position: -306px -228px;
}

.topic-small .task-acceptable
{
  background-position: -357px -228px;
}

.topic .task-spread-the-word
{
  background-position: 0px 0px;
}

.topic .task-report-bugs
{
  background-position: -114px 0px;
}

.topic .task-contribute-code
{
  background-position: 0px -114px;
}

.topic .task-help
{
  background-position: -114px -114px;
}

.topic .task-translate
{
  background-position: -342px 0px;
}

.topic .task-suggest
{
  background-position: -228px 0px;
}

.topic .task-donate
{
  background-position: -456px 0px;
}

.topic .task-filters
{
  background-position: -228px -114px;
}

.topic .task-acceptable
{
  background-position: -342px -114px;
}
