.editor {
  font-weight: 400;
}

.editor hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.editor h5,
.editor .h5,
.editor h4,
.editor .h4,
.editor h3,
.editor .h3,
.editor h2,
.editor .h2,
.editor h1,
.editor .h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.editor h1, 
.editor .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .editor h1, 
  .editor .h1 {
    font-size: 2.5rem;
  }
}

.editor h2, 
.editor .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .editor h2, 
  .editor .h2 {
    font-size: 2rem;
  }
}

.editor h3, 
.editor .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  .editor h3, 
  .editor .h3 {
    font-size: 1.75rem;
  }
}

.editor h4, 
.editor .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .editor h4, 
  .editor .h4 {
    font-size: 1.5rem;
  }
}

.editor h5, 
.editor .h5 {
  font-size: 1.25rem;
}


.editor .display-1 {
  font-size: calc(1.575rem + 3.9vw);
}
@media (min-width: 1200px) {
  .editor .display-1 {
    font-size: 4.5rem;
  }
}

.editor .display-2 {
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  .editor .display-2 {
    font-size: 4rem;
  }
}

.editor .display-3 {
  font-size: calc(1.475rem + 2.7vw);
}
@media (min-width: 1200px) {
  .editor .display-3 {
    font-size: 3.5rem;
  }
}

.editor p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.editor strong { font-weight: bolder; }

.editor em { font-style: italic; }

.editor .inline-image {
  display: flex;
  align-content: center;  
}

.editor .inline-image > img {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.editor .inline-image-start {
  display: flex;
  align-content: center;  
}

html:not([dir=rtl]) .editor .inline-image-start > img {
  margin-right: 0.25rem;
}

[dir=rtl] .editor .inline-image-start > img {
  margin-left: 0.25rem;
}


html:not([dir=rtl]) .editor .start {
  text-align: left !important;
}

[dir=rtl] .editor .start {
  text-align: right !important;
}

html:not([dir=rtl]) .editor .end {
  text-align: right !important;
}

[dir=rtl] .editor .end {
  text-align: left !important;
}

.editor .center {
  text-align: center !important;
}

.editor .mt0 { margin-top: 0; }
.editor .mt1 { margin-top: 1rem; }
.editor .mt2 { margin-top: 2rem; }
.editor .mt3 { margin-top: 4rem; }
.editor .mt4 { margin-top: 8rem; }
html:not([dir=rtl]) .editor .mr0 { margin-right: 0; }
html:not([dir=rtl]) .editor .mr1 { margin-right: 1rem; }
html:not([dir=rtl]) .editor .mr2 { margin-right: 2rem; }
html:not([dir=rtl]) .editor .mr3 { margin-right: 4rem; }
html:not([dir=rtl]) .editor .mr4 { margin-right: 8rem; }
[dir=rtl] .editor .mr0 { margin-left: 0; }
[dir=rtl] .editor .mr1 { margin-left: 1rem; }
[dir=rtl] .editor .mr2 { margin-left: 2rem; }
[dir=rtl] .editor .mr3 { margin-left: 4rem; }
[dir=rtl] .editor .mr4 { margin-left: 8rem; }
.editor .mb0 { margin-bottom: 0; }
.editor .mb1 { margin-bottom: 1rem; }
.editor .mb2 { margin-bottom: 2rem; }
.editor .mb3 { margin-bottom: 4rem; }
.editor .mb4 { margin-bottom: 8rem; }
html:not([dir=rtl]) .editor .ml0 { margin-left: 0; }
html:not([dir=rtl]) .editor .ml1 { margin-left: 1rem; }
html:not([dir=rtl]) .editor .ml2 { margin-left: 2rem; }
html:not([dir=rtl]) .editor .ml3 { margin-left: 4rem; }
html:not([dir=rtl]) .editor .ml4 { margin-left: 8rem; }
[dir=rtl] .editor .ml0 { margin-right: 0; }
[dir=rtl] .editor .ml1 { margin-right: 1rem; }
[dir=rtl] .editor .ml2 { margin-right: 2rem; }
[dir=rtl] .editor .ml3 { margin-right: 4rem; }
[dir=rtl] .editor .ml4 { margin-right: 8rem; }
.editor .mv0 { margin-top: 0; margin-bottom: 0; }
.editor .mv1 { margin-bottom: 1rem; margin-top: 1rem; }
.editor .mv2 { margin-bottom: 2rem; margin-top: 2rem; }
.editor .mv3 { margin-bottom: 4rem; margin-top: 4rem; }
.editor .mv4 { margin-bottom: 8rem; margin-top: 8rem; }
.editor .mh0 { margin-left: 0; margin-right: 0; }
.editor .mh1 { margin-left: 1rem; margin-right: 1rem; }
.editor .mh2 { margin-left: 2rem; margin-right: 2rem; }
.editor .mh3 { margin-left: 4rem; margin-right: 4rem; }
.editor .mh4 { margin-left: 8rem; margin-right: 8rem; }
.editor .m0 { margin: 0; }
.editor .m1 { margin: 1rem; }
.editor .m2 { margin: 2rem; }
.editor .m3 { margin: 4rem; }
.editor .m4 { margin: 8rem; }

.editor .pt0 { padding-top: 0; }
.editor .pt1 { padding-top: 1rem; }
.editor .pt2 { padding-top: 2rem; }
.editor .pt3 { padding-top: 4rem; }
.editor .pt4 { padding-top: 8rem; }
html:not([dir=rtl]) .editor .pr0 { padding-right: 0; }
html:not([dir=rtl]) .editor .pr1 { padding-right: 1rem; }
html:not([dir=rtl]) .editor .pr2 { padding-right: 2rem; }
html:not([dir=rtl]) .editor .pr3 { padding-right: 4rem; }
html:not([dir=rtl]) .editor .pr4 { padding-right: 8rem; }
[dir=rtl] .editor .pr0 { padding-left: 0; }
[dir=rtl] .editor .pr1 { padding-left: 1rem; }
[dir=rtl] .editor .pr2 { padding-left: 2rem; }
[dir=rtl] .editor .pr3 { padding-left: 4rem; }
[dir=rtl] .editor .pr4 { padding-left: 8rem; }
.editor .pb0 { padding-bottom: 0; }
.editor .pb1 { padding-bottom: 1rem; }
.editor .pb2 { padding-bottom: 2rem; }
.editor .pb3 { padding-bottom: 4rem; }
.editor .pb4 { padding-bottom: 8rem; }
html:not([dir=rtl]) .editor .pl0 { padding-left: 0; }
html:not([dir=rtl]) .editor .pl1 { padding-left: 1rem; }
html:not([dir=rtl]) .editor .pl2 { padding-left: 2rem; }
html:not([dir=rtl]) .editor .pl3 { padding-left: 4rem; }
html:not([dir=rtl]) .editor .pl4 { padding-left: 8rem; }
[dir=rtl] .editor .pl0 { padding-right: 0; }
[dir=rtl] .editor .pl1 { padding-right: 1rem; }
[dir=rtl] .editor .pl2 { padding-right: 2rem; }
[dir=rtl] .editor .pl3 { padding-right: 4rem; }
[dir=rtl] .editor .pl4 { padding-right: 8rem; }
.editor .pv0 { padding-top: 0; padding-bottom: 0; }
.editor .pv1 { padding-bottom: 1rem; padding-top: 1rem; }
.editor .pv2 { padding-bottom: 2rem; padding-top: 2rem; }
.editor .pv3 { padding-bottom: 4rem; padding-top: 4rem; }
.editor .pv4 { padding-bottom: 8rem; padding-top: 8rem; }
.editor .ph0 { padding-left: 0; padding-right: 0; }
.editor .ph1 { padding-left: 1rem; padding-right: 1rem; }
.editor .ph2 { padding-left: 2rem; padding-right: 2rem; }
.editor .ph3 { padding-left: 4rem; padding-right: 4rem; }
.editor .ph4 { padding-left: 8rem; padding-right: 8rem; }
.editor .p0 { padding: 0; }
.editor .p1 { padding: 1rem; }
.editor .p2 { padding: 2rem; }
.editor .p3 { padding: 4rem; }
.editor .p4 { padding: 8rem; }

html:not([dir=rtl]) .editor ol,
html:not([dir=rtl]) .editor ul {
  padding-left: 1rem;
}

[dir=rtl] .editor ol,
[dir=rtl] .editor ul {
  padding-right: 2rem;
}

.editor ol,
.editor ul,
.editor dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.editor ol ol,
.editor ul ul,
.editor ol ul,
.editor ul ol {
  margin-bottom: 0;
}

.editor ul li { list-style: disc; }

.editor ol li { list-style: decimal; }

html .editor .unstyled ul {
  padding: 0;
}

html:not([dir=rtl]) .editor .unstyled ul ul {
  padding-left: 2rem;
}

[dir=rtl] .editor .unstyled ul ul {
  padding-right: 2rem;
}

.editor .unstyled li {
  list-style: none;
}

.editor blockquote {
  border: 0px solid #E0E0E0;
  padding: 0.5rem 1rem;
  background: #f6f6f6;
  margin: 1rem 0;
}

html:not([dir=rtl]) .editor blockquote {
  border-left-width: 6px;
  padding-right: 0.1rem;
}

[dir=rtl] .editor blockquote {
  border-right-width: 6px;
  padding-left: 0.1rem;
}

.editor blockquote > :last-child {
  margin-bottom: 0;
}

.editor pre,
.editor code,
.editor kbd,
.editor samp {
  font-family: "Source Sans Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

.editor pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
  background: #f4f4f4;
  padding: 0.5rem 0.875rem;
}

.editor pre code {
  font-size: inherit;
  background: transparent;
  padding: 0;
  color: inherit;
  word-break: normal;
}

.editor code {
  font-size: 0.875em;
  background: #f4f4f4;
  padding: 0.125rem 0.25rem;
  word-wrap: break-word;
}

.editor pre,
.editor code {
  border-radius: 3px;
}

.editor blockquote code,
.editor blockquote pre,
.editor .background--light-grey pre,
.editor .background--light-grey code {
  color: #fff;
  background-color: #585858;
}

.editor a > code {
  color: inherit;
}

.editor a {
  color: #0779d0;
}

.editor a:hover {
  text-decoration: underline;
}

.editor a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.editor .button {
  display: inline-block;
  position: relative;
  border: 0;
  padding: 0.5rem 3rem;
  text-transform: uppercase;
  background-color: #0AAD03;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16);
  font-weight: 700;
  font-size: 0.875rem;
  color: #fff;
}

.editor .button:hover {
  text-decoration: none;
  background-color: #258333;
}

.editor .button.button--blue {
  background-color: #0797E1;
}

.editor .button.button--blue:hover {
  background-color: #0680BE;
}

.editor .button.button--gold {
  background-color: #EDA51E;
  box-shadow: none;
}

.editor .button.button--gold:hover {
  background-color: #EDA51E;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.editor .button.button--black {
  background-color: #333;
}

.editor .button.button--black:hover {
  background-color: #000;
}

.editor dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.editor dt {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.editor dd {
  margin-bottom: 1rem;
  margin-left: 0;
}

.editor .background--light-grey {
  background-color: #f4f4f4;
}

.editor .background--dark-grey {
  color: #fff;
  background-color: #585858;
}

.editor .background--black {
  color: #fff;
  background: #333;
}

.editor .background--red {
  color: #fff;
  background: rgb(237, 30, 69);
}

.editor .background--gold {
  color: #fff;
  background: #EDA51E;
}

.editor .background--blue {
  color: #fff;
  background: #0797E1;
}


.editor .container--thin {
  width: 768px;
}

.editor .container--very-thin {
  width: 414px;
}

.editor .columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .editor .columns {
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
  }
}

.editor .column {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {

  .editor .column--2-3 {
    grid-column: span 2;
  }
  
  .editor .column--2-4 {
    grid-column: span 2;
  }
  
  .editor .column--3-4 {
    grid-column: span 3;
  }
  
}

.editor .accordion__heading p {
  margin: 0;
}

.editor .accordion__heading a {
  display: block;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CDCDCD;
  color: #585858;
  font-weight: 700;
}

.editor .accordion__heading a:hover,
.editor .accordion__heading a:active,
.editor .accordion__heading a:focus {
  text-decoration: none;
}

.editor .accordion__heading a::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 1rem;
  right: 1rem;
  background: url(/img/arrow.svg) center center no-repeat;
}

.editor .accordion__heading a[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

html:not([dir=rtl]) .editor .accordion__heading a::after {
  right: 1rem;
}

[dir=rtl] .editor .accordion__heading a::after {
  left: 1rem;
}

.editor .accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.editor .accordion__body :first-child {
  margin-top: 1rem;
}

.editor .alert--red {
  padding: 0.5rem 1rem;
  border-radius: 0;
  border: 1px solid;
  border-left: 16px solid;
  border-color: rgb(237, 30, 69);
}

.editor .alert--gold {
  padding: 0.5rem 1rem;
  border-radius: 0;
  border: 1px solid;
  border-left: 16px solid;
  border-color: #EDA51E;
}

.editor .alert--blue {
  padding: 0.5rem 1rem;
  border-radius: 0;
  border: 1px solid;
  border-left: 16px solid;
  border-color: #0797E1;
}

.editor .card {
  padding: 0 1rem;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  background-color: #fff;
}

.editor .card--heavy {
  padding: 1.5rem;
  border: 0;
  border-radius: 12px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .editor .card--heavy {
    padding: 2.5rem;
  }  
}

.editor .button.download-button {
  padding: 14px 18px 14px 72px;
}

.editor .download-more {
  display: block;
  margin-top: 0.5rem;
}

.editor .download-terms {
  display: block;
  margin-bottom: 0.5rem;
}

.editor .border-bottom {
  border-bottom: 1px solid #CDCDCD;
}