.faq {
    margin-bottom: 2em;
}
.faq h2 {
    text-align: center;
}
@media (min-width: 768px) {
    .faq h2 {
        width: 65%;
        margin: 1em auto;
    }
}
.faq article {
    margin-left: 0;
    min-height: 4em;
    border-bottom: 1px #f2f2f2 solid;
}

[dir="rtl"] .faq article {
    margin-left: inherit;
    margin-right: 0;
}

.faq article:last-child { border: 0; }

.faq h3 {
    padding: 1em 2em 1em 0;
    background-image: url(/img/accordion-arrow-closed.svg);
    background-repeat: no-repeat;
    background-position: top 50% right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

[dir="rtl"] .faq h3 {
    padding: 1em 0 1em 2em;
    background-position: top 50% left;
}

.faq h3.open { background-image: url(/img/accordion-arrow-open.svg); }

.faq p { width: 90%; }

@media (min-width: 1366px) {
    .faq .row {
        width: 75%;
        margin: 0 auto;
    }
}