/* Font faces
 ******************************************************************************/

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('/fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: bold;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('/fonts/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('/fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('/fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Reset
 ******************************************************************************/

*,
*::before,
*::after
{
  box-sizing: border-box;
}

body
{
  padding-top: 0;
}

h1,
h2,
h3
{
  font-weight: bold;
}

p
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a:hover,
a:active,
a:focus
{
  text-decoration: none;
}

/* Page wide
 ******************************************************************************/

html
{
  scroll-behavior: smooth;
}

body
{
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5
{
  font-family: "Source Sans Pro";
  font-weight: bold;
}

#page .lead
{
  font-size: 1rem;
}

@media (min-width: 768px)
{
  #page .lead
  {
    font-size: 1.5rem;
  }
}

@media (min-width: 1900px)
{
  #page .lead
  {
    font-size: 2rem;
  }
}

#page p a
{
  color: inherit;
  text-decoration: underline;
}

#page .button
{
  display: inline-block;
  height: 2.8125rem;
  width: auto;
  line-height: 2.8125rem;
  padding: 0 1rem;
  border-radius: 5px;
  font-family: "Source Sans Pro";
  text-decoration: none;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

#page .bg-red
{
  color: #fff;
  background-color: #ED1E45;
}

#page .bg-green
{
  color: #fff;
  background-color: #0F7C58;
}

/* Page header
 ******************************************************************************/

#page-header-gradient
{
  background-color: rgb(243,241,242);
  /* Matching the image's gradient as closely as possible */
  background-image: linear-gradient(to right, #f4f2f3, #f5f4f4, #f7f5f6, #f8f7f7, #faf8f9);
}

#page-header-image
{
  background-image: url(/img/gift-of-ad-blocking/page-header-small.png);
  background-repeat: no-repeat;
}

@media (min-width: 768px)
{
  #page-header-image
  {
    background-image: url(/img/gift-of-ad-blocking/page-header-large.png);
    background-size: cover;
    background-position: center;
  }
}

/* Page header contents *******************************************************/

/* #page-header-container inherits .container's widths without it's padding */
#page-header-container
{
  padding-left: 0;
  padding-right: 0;
}

/* Content box spacing */
#page-header-contents
{
  /* 9.5rem is desired, but it's too large to fit the cta on small phones */
  padding-top: 8rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
}

@media (min-width: 375px)
{
  #page-header-contents
  {
    padding-top: 9.5rem;
  }
}

#page-header-contents
{
  text-align: center;
}

@media (min-width: 768px)
{
  #page-header-contents
  {
    padding-bottom: 9.5rem;
    padding-left: 45%;
    padding-right: 5rem;
    text-align: left;
  }
}

@media (min-width: 1200px)
{
  #page-header-contents
  {
    min-height: 90vh;
  }
}

@media (min-width: 1900px)
{
  #page-header-contents
  {
    padding-top: 12.5rem;
    padding-left: 50%;
    padding-right: 0;
  }
}

/* Spacing provided by content box above */
#page-header-contents h1
{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

@media (min-width: 768px)
{
  #page-header-contents h1
  {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px)
{
  #page-header-contents h1
  {
    font-size: 3.375rem;
  }
}

@media (min-width: 1900px)
{
  #page-header-contents h1
  {
    font-size: 4.3rem;
  }
}

/* .text-block's provide the separated red background */
#page-header-contents h1 .text-block
{
  display: inline-block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-top: 0.1em;
  padding-right: 0.4em;
  padding-bottom: 0.1em;
  padding-left: 0.4em;
  color: #fff;
  background-color: #ED1E45;
}

/* .text-break forces a spaced break in the text */
#page-header-contents h1 .text-break
{
  display: block;
}

#page-header-contents .lead
{
  text-align: left;
}

/* Social CTA
 ******************************************************************************/

.social-cta
{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.social-cta .social-icons
{
  display: block;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

@media (min-width: 768px)
{
  .social-cta .social-icons
  {
    display: inline-block;
    margin-top: 0;
  }
}

.social-cta .dropdown-container
{
  display: inline-block;
  position: relative;
}

.social-cta .social-icon
{
  display: inline-block;
  margin: 0 0.5rem;
  line-height: 2.8125rem;
  vertical-align: middle;
}

.social-cta .social-icon img
{
  display: block;
  height: 1.625rem;
  width: auto;
}

.social-cta .dropdown
{
  display: none;
  position: absolute;
  top: 100%;
  right: -7.1875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  width: 17rem;
  text-align: left;
  line-height: 1.5;
  font-size: 0.75rem;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.16);
}

.social-cta .dropdown.active
{
  display: block;
}

@media (min-width: 768px)
{
  .social-cta .dropdown
  {
    right: 0;
  }
}

.social-cta .dropdown > .arrow
{
  position: absolute;
  right: 50%;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  margin-top: -0.75rem;
  margin-left: -0.75rem;
}

@media (min-width: 768px)
{
  .social-cta .dropdown > .arrow
  {
    right: 1.3125rem;
  }
}

.social-cta .dropdown > .arrow::after,
.social-cta .dropdown > .arrow::before
{
  display: block;
  position: absolute;
  content: "";
  border-width: 0 0.75rem 0.75rem 0.75rem;
  border-color: transparent;
  border-style: solid;
}

.social-cta .dropdown > .arrow::before
{
  top: 0;
  border-bottom-color: rgba(0,0,0,.06);
}

.social-cta .dropdown > .arrow::after
{
  top: 1px;
  border-bottom-color: #fff;
}

/* Campaigns
 ******************************************************************************/

#campaigns
{
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: #fff;
  background-color: #0F7C58;
  background: linear-gradient(180deg, rgba(15,124,88,1) 0%, rgba(3,76,58,1) 35%);
  text-align: center;
}

@media (min-width: 768px)
{
  #campaigns
  {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 767px)
{
  #campaigns-header-container
  {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.campaigns-container
{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px)
{
  .campaigns-container
  {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 992px)
{
  .campaigns-container
  {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 1456px)
{
  .campaigns-container
  {
    padding-left: 0;
    padding-right: 0;
  }
}

#campaigns-header
{
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

#campaigns-header h2
{
  font-size: 2rem;
}

@media (min-width: 768px)
{
  #campaigns-header h2
  {
    font-size: 3rem;
  }
}

#campaigns figure img
{
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

/* Campaign thumbnails ********************************************************/

#campaign-thumbnails
{
  overflow-y: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#campaign-thumbnails .one-fourth
{
  width: 50%;
}

@media (min-width: 768px)
{
  #campaign-thumbnails .one-fourth
  {
    width: 25%;
  }
}

#campaign-thumbnails .column
{
  padding-right: 0.5em;
  padding-left: 0.5em;
}

/* Apply inset border to image */

.campaign-thumbnail .image-container
{
  position: relative;
}

.campaign-thumbnail.active .inset-border-image
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 5px;
}

.campaign-thumbnail img
{
  border-radius: 5px;
}

.campaign-thumbnail figcaption
{
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Campaign slides ************************************************************/

.campaign
{
  display: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

.campaign.active
{
  display: block;
}

.campaign-slide
{
  display: none;
}

.campaign-slide.active
{
  display: block;
}

.campaign-slide figcaption
{
  display: block;
  padding-top: 0.2em;
  padding-right: 1em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  background-color: #ED1E45;
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: bold;
}

/* Campaign slide controls  ***************************************************/

.campaign-slide-controls
{
  margin-top: 1em;
  margin-bottom: 3em;
}

@media (min-width: 768px)
{
  .campaign-slide-controls
  {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.campaign-slide-controls li
{
  display: inline-block;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.campaign-slide-controls img
{
  vertical-align: middle;
}

.campaign-slide-control .active-slide-icon,
.campaign-slide-control.active .inactive-slide-icon
{
  display: none;
}

.campaign-slide-control .inactive-slide-icon,
.campaign-slide-control.active .active-slide-icon
{
  display: inline-block;
}

/* Campain slides footer ******************************************************/

#campaigns-footer
{
  font-size: 1.5rem;
}

@media (max-width: 767px)
{
  #campaigns-footer .social-cta .social-icons
  {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px)
{
  #campaigns-footer .social-cta,
  #campaigns-footer .social-callout
  {
    line-height: 2.8125rem;
    vertical-align: middle;
  }

  #campaigns-footer .social-cta
  {
    margin-bottom: 0.5rem;
  }
}

/* Related posts
 ******************************************************************************/

#related-posts
{
  overflow: auto;
}

.related-post-image
{
  display: block;
  width: 100%;
  height: auto;
}

.related-post-shadow
{
  text-align: center;
  padding-top: 5rem;
  padding-right: 2em;
  padding-bottom: 5rem;
  padding-left: 2em;
  color: #fff;
  background-color: #000;
}

.related-post-body h2
{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.related-post-body .button
{
  font-size: 1.5rem;
  box-shadow: none;
}

@media (min-width: 768px) and (max-width: 1199px)
{
  .related-post
  {
    position: relative;
    clear: both;
    overflow: auto;
  }

  .related-post-image
  {
    width: 50%;
  }

  .related-post-shadow
  {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
  }

  .related-post:nth-child(even) .related-post-image
  {
    float: right;
  }

  .related-post:nth-child(even) .related-post-shadow
  {
    left: 0;
  }

  .related-post-body-container
  {
    display: table;
    height: 100%;
    width: 100%;
  }

  .related-post-body
  {
    display: table-cell;
    vertical-align: middle;
  }
}

@media (min-width: 1200px)
{
  .related-post
  {
    position: relative;
    float: left;
    width: 33.33333%;
  }

  .related-post-shadow
  {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7)
  }

  .related-post:hover .related-post-shadow
  {
    display: block;
  }

  .related-post:hover .related-post-body-container
  {
    display: table;
    height: 100%;
    width: 100%;
  }

  .related-post-body
  {
    display: table-cell;
    vertical-align: middle;
  }
}
