/******************************************************************************
 * Browser-based styles
 *****************************************************************************/

.show-on-ios,
.ios .hide-on-ios,
.show-on-android,
.android .hide-on-android,
.show-on-samsung,
.samsungBrowser .hide-on-samsung,
.samsungBrowser.android .hide-on-samsung
{ display: none; }

.ios .show-on-ios,
.android .show-on-android,
.samsungBrowser .show-on-samsung
{ display: inherit; }

/******************************************************************************
 * Introduction sections
 *****************************************************************************/

#hero-download
{
  position: relative; /* reference for #intro-graphic-background */
  min-height: 1px; /* Fixes flexbox bug in IE11 */
}

/******************************************************************************
 * Mobile intro sections
 *****************************************************************************/

.intro-mobile
{
  padding-left: 2em;
  padding-right: 2em;
}

.intro-mobile h1 span,
.intro-mobile .subheading span
{
  display: block;
}

.intro-mobile h1,
.intro-mobile .h1
{
  font-size: 2em;
  line-height: 1.2em;
}

.intro-mobile .subheading
{
  margin-top: -0.7em;
  margin-bottom: 2em;
}

#intro-standard ul
{
  list-style: none;
  padding-left: 0;
}

#intro-standard ul li
{
  background-image: url("/img/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-position: 0 .3em;
}

html[dir="ltr"] #intro-standard ul li
{
  padding-left: 30px;

}

html[dir="rtl"] #intro-standard ul li
{
  background-position: right 0em bottom 0em;
  padding-right: 30px;
}

#intro-standard ul li .avoid-wrap { text-indent: 0em; }

@media (max-width: 1024px)
{
  #intro-standard ul li
  {
    background-image: none;
  }
}

@media (min-width: 452px)
{
  #intro-android,
  #intro-ios-safari,
  #intro-samsung
  {
    float: none;
    padding-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
  }
}

/******************************************************************************
 * #intro-standard
 *****************************************************************************/

#intro-standard {
  padding-top: 3em;
  padding-bottom: 3rem;
}

@media (min-width: 576px) and (max-width: 1023px)
{
  /* add spacing left/right on tablets */
  #intro-standard
  {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media(min-width: 1024px)
{
  #intro-standard {
    padding-top: 8em;
    padding-bottom: 8rem;
  }
}

#intro-standard h1
{
  /* Spacing is provided by the #intro-standard section */
  margin-top: 0;
  overflow: auto;
}

@media(max-width: 1024px)
{
  #intro-standard
  {
    width: 100%;
    text-align: center;
  }
}

@media(min-width: 992px)
{
  #intro-standard h1 { font-size: 50px; }

  [lang="ru"] #intro-standard h1 { font-size: 42px; }
}

@media(max-width: 1024px) {
  #intro-graphic {
    width: 100%;
  }
}

#intro-graphic__image {
  display: block;
  margin: 0 auto;
  padding: 0 0 2rem 0;
  height: 41rem;
  width: auto;
}

@media (min-width: 1024px) {
  #intro-graphic__image {
    padding: 4rem 0;
  }
}

#hero-download-tos
{
  margin-bottom: 0.5em;
  font-size: 14px;
}

/* Chrome, Chromium, Opera, Yandex and Microsoft Edge, the ToC message should use a normal font size */
.chrome #hero-download-tos small,
.chromium #hero-download-tos small,
.opera #hero-download-tos small,
.yandexbrowser #hero-download-tos small,
.msedge #hero-download-tos small
{
  font-size: inherit;
}

.hero-content .centered-list
{
  list-style-position: inside;
  text-indent: -2em;
}

.app-store-button
{
  margin: 1.5em 0;
}

#hero-download-video
{
  /* add space above on phones & tablets */
  margin-top: 2em;
  /* prevent default full-width on small tablets */
  max-width: 550px;
}

#hero-download-video
{
  /* provide a little space between thumbnail and border + shadow */
  padding: 1em 1em 0 1em;
}

@media (min-width: 1024px)
{
  #hero-download-video
  {
    /* keep aligned-top despite padding below */
    margin-top: -1em;
  }
}

#hero-download-video.has-iframe
{
  /* remove space around thumbnail when thumbnail is replaced by video */
  padding: 0;
}

/** Hide the video border + shadow only when the thumbnail alone is showing */
#hero-download-video.hide-disclaimer:not(.has-iframe)
{
  border-color: transparent;
  /* there is no box-shadow-color property :( */
  box-shadow: 1px 1px 0 0 transparent;
}

/* The thumbnail is taller than the video. But it's hard to see because of the
 * reflection and whitespace at the bottom. As a result, I am cutting out the
 * whitespace and reflection when I show the disclaimer so that the section
 * doesn't visibly resize when the thumbnail is replaced by the a iframe.
 */


/******************************************************************************
 * #media
 *****************************************************************************/

#media-section
{
  clear: both;
  text-align: center;
}

#media-header
{
  margin-bottom: 1em;
}

#media-header h2
{
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

#media-header h2,
#media-list
{
  margin: 0;
}

#media-list li
{
  display: inline-block;
}

#media-list img
{
  max-width: 10em;
  max-height: 3em;
  margin: 0 1em 1em;
}

#media-list a
{
  position: relative;
  display: block;
}

#media-list a:hover img
{
  opacity: 0.3;
}

#media-list a:hover:after
{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1em;
  width: 1em;
  padding: 1em;
  margin-left: -1em;
  margin-top: -1em;
  border-radius: 50%;
  background-color: #0779d0;
  background-image: url(../img/external-icon.png);
  background-image: linear-gradient(transparent, transparent),
                    url(../img/external-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em;
}

@media (min-width: 1024px)
{
  #media
  {
    display: table;
    width: 100%;
  }

  #media-header,
  #media-list
  {
    display: table-cell;
    vertical-align: middle;
    width: auto;
  }

  #media-header
  {
    margin-bottom: 0;
  }

  #media-header small
  {
    display: none;
  }

  #media-list { direction: rtl; }
  [dir="rtl"] #media-list { direction: ltr; }

  @supports (display: flex)
  {
    #media-list
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  #media-list
  {
    display: table;
    width: 100%;
  }

  #media-list li
  {
    display: table-cell;
    vertical-align: middle;
  }

  #media-list img
  {
    margin: 0 2em;
  }
}

/******************************************************************************
 * #abb-cross-promotion
 *****************************************************************************/

#abb-cross-promotion
{
  padding: 3em 0;
}

#abb-cross-promotion h2
{
  margin-top: 0;
  margin-bottom: 1.5em;
}

@media (max-width: 768px)
{
  #abb-cross-promotion h2 { text-align: center; }
}

#abb-logo
{
  max-width: 10em;
}

#abb-app-store-badges
{
  margin-top: 0.5em;
}

#abb-app-store-badges img
{
  width: 200px;
}

@media (max-width: 575px)
{
  #abb-app-store-badges a:first-of-type
  {
    margin-bottom: 0.5em;
  }
}

@media (min-width: 576px)
{
  #abb-app-store-badges .one-half
  {
    width: 50%;
  }

  .abb-cross-promo-content { padding-left: 2em; }
}

.abb-cross-promo-graphic { float: left; }

.abb-cross-promo-content { float: right; }

@media (min-width: 1024px)
{
  .abb-cross-promo-graphic { width: 70%; }

  .abb-cross-promo-content { width: 30%; }
}

@media (max-width: 1024px)
{
  .abb-cross-promo-graphic { width: 60%; }

  .abb-cross-promo-content { width: 40%; }
}

@media (max-width: 768px)
{
  .abb-cross-promo-graphic,
  .abb-cross-promo-content
  {
    width: 100%;
    text-align: center;
  }

  .abb-cross-promo-graphic
  {
    padding-top: 5em;
  }

  .abb-cross-promo-graphic img
  {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
}

#abb-cross-promotion .phablet-width
{
  max-width: 540px;
  width: 100%;
}

@media (max-width: 889px)
{
  #abb-cross-promotion .phablet-width
  {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 768px)
{
  #abb-cross-promotion .phablet-width
  {
    display: block;
    margin: 0 auto;
  }
}

.abb-arrow-container
{
  display: none;
}
[lang="en"] .abb-arrow-container
{
  display: block;
}

@media (min-width: 890px)
{
  .abb-arrow-container { position: relative; }

  .abb-arrow-container img { position: absolute; }

  .abb-arrow-container .abb-arrow
  {
    right: -1em;
    top: -5em;
  }

  .abb-arrow-container .abb-message
  {
    top: -8em;
    right: -16em;
  }
}

@media (max-width: 890px)
{
  .abb-arrow-container
  {
    padding-left: 2em;
    padding-bottom: 2em;
    text-align: left;
  }

  .abb-arrow-container .abb-arrow
  {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    width: 70px;
    height: auto;
    float: left;
    margin-top: 2em;
  }
}

@media (max-width: 768px)
{
  .abb-arrow-container .abb-message
  {
    max-width: 350px;
    width: 60%;
  }

  .abb-arrow-container .abb-arrow
  {
    float: none;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }

  .abb-arrow-container img
  {
    display: block;
  }
}

@media (max-width: 480px)
{

}

/******************************************************************************
 * #about-abp
 *****************************************************************************/

#about-abp-logo img
{
  height: auto;
  width: 100%;
  max-width: 160px;
  margin-top: 2em;
}

@media (max-width: 575px)
{
  #about-abp-body
  {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 576px) and (max-width: 1023px)
{
  #about-abp-logo { width: 25%; }

  [dir="ltr"] #about-abp-logo { padding-left: 2em; }

  [dir="rtl"] #about-abp-logo { padding-right: 2em; }

  #about-abp-body { width: 75%; }

  [dir="ltr"] #about-abp-body { padding-right: 2em; }

  [dir="rtl"] #about-abp-body { padding-left: 2em; }

}

@media (min-width: 1024px)
{
  #about-abp-logo { width: 33.333333%; }

  #about-abp-body { width: 66.666667%; }
}

/******************************************************************************
 * #footnote
 *****************************************************************************/

#footnote
{
  padding-top: 3em;
  padding-bottom: 2em;
  font-size: 13px;
  color: #585858;
}

/******************************************************************************
 * .block-cookie-banner
 *****************************************************************************/

.block-cookie-banner {
  display: none;
  background-color: #F7F7F7;
  box-sizing: border-box;
}

.chrome .block-cookie-banner,
.chromium .block-cookie-banner,
.firefox .block-cookie-banner,
.opera .block-cookie-banner,
.msedge_chromium .block-cookie-banner,
.yandexbrowser .block-cookie-banner {
  display: block;
}

.ios .block-cookie-banner,
.android .block-cookie-banner {
  display: none !important;
}

.block-cookie-banner__container {
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .block-cookie-banner__container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
  }  
}

@media (min-width: 992px) {
  .block-cookie-banner__container {
    position: relative;
    overflow: visible;
    max-width: 1140px;
    margin: 0 auto;
    gap: 4rem;
  }
}

.block-cookie-banner-start {
  display: none;
}

@media (min-width: 768px) {
  .block-cookie-banner-start {
    display: block;
  }

  .block-cookie-banner-start__image {
    max-height: 90%;
  }
}

@media (min-width: 992px) {
  .block-cookie-banner-start__image {
    position: absolute;
    left: 2rem;
    top: 1rem;
    max-height: none;
  }
}

@media (min-width: 768px) {
  .block-cookie-banner-middle {
    flex: 1;
  }  
}

@media (min-width: 992px) {
  .block-cookie-banner-middle {
    margin-left: 9rem;
  }
}

.block-cookie-banner-middle-heading {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.block-cookie-banner-middle-heading__badge {
  background-color: #FFCA00;
  padding: 0.1rem 0.25rem;
  border-radius: 8px;
  font-size: 90%;
  margin-inline-end: 0.3rem;
}

@media (min-width: 992px) {
  .block-cookie-banner-middle-heading__badge {
    padding: 0.1rem 0.5rem;
  } 
}

.block-cookie-banner-middle__button {
  display: none;
}

@media (min-width: 768px) {
  .block-cookie-banner-middle__button {
    display: block;
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {
  .block-cookie-banner-middle__button {
    display: none;
  }
}

@media (min-width: 768px) {
  .block-cookie-banner-end {
    display: none;
  }
}

@media (min-width: 992px) {
  .block-cookie-banner-end {
    display: flex;
    align-items: center;
  }
}

.block-cookie-banner__button {
  background-color: #0797E1;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border: 0;
  color: #fff !important;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 1rem;
  width: fit-content;
}

.block-cookie-banner__button:hover,
.block-cookie-banner__button:active,
.block-cookie-banner__button:focus {
  background-color: #0679b4;
  text-decoration: none;
}

@media (min-width: 768px) {
  .block-cookie-banner__button {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 992px) {
  .block-cookie-banner__button {
    padding: 0.7rem 3rem;
  }
}