#content
{
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

#abb-banner
{
  padding: 20px;
}

#abb-banner h2
{
  font-size: 24px;
}

#abb-banner a
{
  font-size: 20px;
}

#video, #maxthon-instruction
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 0;
  width: auto;
  max-width: 515px;
}

#summary h1
{
  font-size: 54px;
}

#summary h2
{
  font-size: 20px;
}

#summary ul
{
  display: inline-block;
  text-align: left;
}

#install ul
{
  display: block;
  margin-top: 10px;
}

#install li
{
  margin: 0px 10px;
}

.warning-platform, #maxthon-notification,
.disclaimer, #adblock-browser-notification
{
  margin: 10px;
}

#key-facts section
{
  width: auto;
  max-width: 225px;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 80px;
  padding-right: 0px;
  text-align: left;
}

html[dir="rtl"] #key-facts section
{
  padding-right: 80px;
  padding-left: 0px;
  text-align: right;
}

#key-facts section.border-right
{
  padding-bottom: 25px;
  border-bottom: 1px dotted black;
}

#more, #less
{
  padding: 10px 50px;
  border-radius: 4px;
}

#sidebar
{
  padding-top: 20px;
}

.more-tab
{
  text-align: left;
  margin: 10px 10px 0px 10px;
}
