/* Note: This only applies to the deployment page */

#content
{
  padding-top: 2.5em;
}

@media(min-width: 768px)
{
  #content
  {
    padding-top: 5em;
  }
}

#lsd-header-block, #lsd-icon-wrapper
{
  display: inline-block;
}

#lsd-header-block
{
  vertical-align: top;
}

#lsd-icon-wrapper
{
    padding-left: 40px;
}

@media (max-width: 1200px)
{
  #lsd-icon-wrapper
  {
    display: none;
  }
}


#lsd-header-block h1
{
  margin-top: 0px;
}

.lsd-feature-wrapper
{
  min-width: 300px;
  margin-top: 20px;
  display: inline-block;
}

.lsd-icon
{
  display: inline-block;
  background-image: url(/img/lsd/lsd-sprite.png);
  vertical-align: middle;
}

.lsd-icon.lsd
{
  background-position: -1px -1px;
  height: 110px;
  width: 110px;
}

.lsd-icon.bandwidth
{
  background-position: -1px -112px;
  height: 60px;
  width: 60px;
}

.lsd-icon.efficient
{
  background-position: -62px -112px;
  height: 60px;
  width: 60px;
}

.lsd-icon.privacy
{
  background-position: -62px -173px;
  height: 60px;
  width: 60px;
}

.lsd-icon.gpl
{
  background-position: -1px -173px;
  height: 60px;
  width: 60px;
}

.lsd-feature-text
{
  margin-left: 20px;
  display: inline-block;
  width: 250px;
  font-size: 21px;
  font-weight: bold;
  vertical-align: middle;
}

.lsd-feature-separator
{
  margin: 40px 0px;
}

.lsd-organisation-wrapper
{
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
}

.lsd-organisation-wrapper img
{
  float: left;
  vertical-align: top;
  margin-right: 20px;
}

.lsd-organisation-wrapper div
{
  vertical-align: top;
}

.lsd-organisation-wrapper p
{
  margin: 0px;
}
