header
{
  width: auto;
  min-height: 60px;
  padding: 10px;
}

header li a
{
  display: block;
}

header nav li.selected
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  left: 85px;
  height: 80px;
  padding-right: 40px;
  padding-left: 0;
  line-height: 84px;
  font-size: 28px;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

html[dir="rtl"] header nav li.selected
{
  left: 10px;
  right: 85px;
  padding-left: 40px;
  padding-right: 0;
}

#hamburger
{
  content: "";
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 10px;
  left: auto;
  font-size: 30px;
  background-image: url(../img/sprite-main.png);
  background-position: 0px -166px;
}

html[dir="rtl"] #hamburger
{
  left: 10px;
  right: auto;
}

header nav>ul
{
  margin-top: 55px;
  margin-left: -11px;
  margin-right: -11px;
  padding: 12px 12px 0px 12px;
  border: 1px solid #d9d9d9;
  border-top: none;
  border-bottom: none;
  background-color: white;
}

header nav>ul>li.selected, footer nav section h1
{
  cursor: pointer;
}

header nav>ul>li:not(.selected)
{
  display: none;
  padding: 10px 5px;
}

header nav>ul.visible>li
{
  display: block;
}

header nav>ul>li a
{
  font-size: 24px;
}

#search
{
  position: relative;
}

#search-field-label-plain, #current-language
{
  font-size: 16px;
  font-weight: bold;
  color: #848484;
}

#search-field
{
  width: 100%;
  padding: 16px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#search-field-label-button, #current-language
{
  display: none;
}

#language-selector, .language-entry
{
  display: inline-block;
}

#logo
{
  width: 76px;
  height: 76px;
  top: 2px;
  left: 2px;
  right: auto;
  background-size: 128px;
  background-position: -50px -50px;
}

html[dir="rtl"] #logo
{
  right: 2px;
  left: auto;
}

#content
{
  margin: 20px 10px 50px 10px;
}

footer
{
  text-align: center;
  position: static;
}

footer h1, footer nav li
{
  padding: 15px;
  margin: 0px;
}

footer nav li
{
  display: none;
}

footer nav section h1::after
{
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 5px;
  margin-right: 0;
  background-image: url(../img/sprite-main.png);
  background-position: -31px -166px;
}

html[dir="rtl"] footer nav section h1::after
{
  margin-right: 5px;
  margin-left: 0;
}

footer nav section.visible h1::after
{
  background-position: -31px -178px;
}

footer nav section.visible li
{
  display: block;
}

#social-list
{
  padding: 0px;
}

#anwiki-admin, #pageactions
{
  display: none;
}
