/*******************************************************************************
 * SECTION
 ******************************************************************************/

.premium-checkout h2,
.premium-checkout h3 {
  margin: 0;
}

.premium-checkout a:link,
.premium-checkout a:visited {
  color: #0055B7;
}

.premium-checkout a:link:hover,
.premium-checkout a:link:active {
  text-decoration: underline;
}

.premium-checkout__section {
  background-color: #f4f4f4;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 768px) {
  .premium-checkout__section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.premium-checkout__container {
  width: 100%;
  max-width: 988px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.premium-checkout__separator-label {
  display: none;
}

.design .premium-checkout__separator-label {
  display: block;
  padding: 0.25rem 0.5rem;
  margin-left: -2rem;
  margin-right: -2rem;
  border: 1px dashed lightgray;
  border-bottom-width: 0;
}

.premium-checkout__separator-heading {
  display: none;
}

.design .premium-checkout__separator-heading {
  display: block;
  font-weight: 700;
  color: #fff;
  background-color: #333;
  padding: 0.25rem 0.5rem;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 1rem;
}


.design .premium-checkout__separator {
  border: 1px dashed lightgray;
  margin-bottom: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 2rem;
}

.premium-checkout-section__heading {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .premium-checkout-section__heading {
    margin-bottom: 2.5rem;
  }  
}

.premium-checkout__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background: #FFF;
  color: #666;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 9px;
  border-radius: 6px;
  border: 1px solid #F4F4F4;
}

/*******************************************************************************
 * CARD
 ******************************************************************************/

.premium-checkout-card {
  display: none;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.20);
  padding: 0 1rem;
}

@media (min-width:768px) {
  .premium-checkout-card {
    padding: 0 2.5rem;
  }  
}

.design .premium-checkout-card--interactive {
  margin-bottom: 8rem;
}

.premium-checkout-card.premium-checkout-card--interactive,
.design .premium-checkout-card {
  display: block;
}

.premium-checkout-card--interactive .premium-checkout-step {
  display: none;
}

.premium-checkout-card--interactive .premium-checkout-step.premium-checkout-step--active {
  display: block;
  opacity: 0;
  transition: all 0.3s;
}

.premium-checkout-card--interactive .premium-checkout-step.premium-checkout-step--active.premium-checkout-step--transition {
  opacity: 1;
}

.premium-checkout-card-header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #C6C6C6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width:768px) {
  .premium-checkout-card-header {
    padding-top: 1.75rem;
    padding-bottom: 1.25rem;
  }
}

.premium-checkout-step--closeable .premium-checkout-card-header {
  justify-content: space-between;
}

.premium-checkout-card-header__heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.premium-checkout-card-header__close-button {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.premium-checkout-card-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width:768px) {
  .premium-checkout-card-body {
    min-height: 17rem;
    padding-top: 2rem;
    padding-bottom: 4.375rem;
  }

  .premium-checkout-card-body--columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    padding-top: 3.625rem;
  }  
}

.premium-checkout-card-footer {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #C6C6C6;
}

@media (min-width: 768px) {
  .premium-checkout-card-footer {
    padding-bottom: 1.75rem;
    padding-top: 1.5rem;
  }  
}

.premium-checkout-card-footer--columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between ;
  align-items: center;
}

.premium-checkout-card-footer-column {
  display: flex;
  align-items: center;
}

html:not([dir="rtl"]) .premium-checkout-card-footer-column > img {
  margin-right: 0.25rem;
}

[dir="rtl"] .premium-checkout-card-footer-column > img {
  margin-left: 0.25rem;
}

/*******************************************************************************
 * PURCHASE CARD
 ******************************************************************************/

html:not([dir="rtl"]) .premium-checkout-purchase__heading {
  margin-right: 1rem;
}

[dir="rtl"] .premium-checkout-checkout-header__heading {
  margin-left: 1rem;
}

.premium-checkout-purchase__currency {
  border-color: transparent;
  border-radius: 6px;
  outline: 1px solid #C6C6C6;
  font-size: 16px;
  font-weight: 400;
  height: 31px;
  margin-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-right: 6px solid transparent;
}

.premium-checkout-purchase-price {
  margin-bottom: 1rem;
  box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.20);
}

@media (min-width:768px) {
  .premium-checkout-purchase-price {
    margin-bottom: 1.5rem;
  }  
}

.premium-checkout-purchase-price[aria-pressed="true"] {
  color: #fff;
  background: #0797E1;
  border-color: #0797E1;
}

.premium-checkout-purchase-price[aria-pressed="true"]::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 48px;
  background: #0680BE url("/img/toggle-button-check.svg") center no-repeat;
}

html:not([dir="rtl"]) .premium-checkout-purchase-price[aria-pressed="true"]::after {
  left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

[dir="rtl"] .premium-checkout-purchase-price[aria-pressed="true"]::after {
  right: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.premium-checkout-purchase-price__badge {
  position: absolute;
  top: -1rem;
  color: #fff;
  background: #EDA51E;
  border-radius: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  line-height: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
  font-weight: 700;
  font-size: 1rem;
}

html:not([dir="rtl"]) .premium-checkout-purchase-price__badge {
  right: -1rem;
}

[dir="rtl"] .premium-checkout-purchase-price__badge {
  left: -1rem;
}

.premium-checkout-purchase__checkout-button {
  background: #333;
  border-color: #333;
  color: #fff;
  margin-bottom: 1rem;
}

html:not([dir="rtl"]) .premium-checkout-purchase__checkout-button > img {
  margin-right: 0.5rem;
}

[dir="rtl"] .premium-checkout-purchase__checkout-button > img {
  margin-left: 0.5rem;
}

.premium-checkout-purchase__providers {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*******************************************************************************
 * LOADING CARD
 ******************************************************************************/

@media (min-width: 768px) {
  .premium-checkout-loading-card-body {
    padding: 8rem 0;
  }  
}

 .premium-checkout-loading__loader {
  width: 173px;
  height: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.premium-checkout-loading__loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  margin: 6px;
  border: 12px solid;
  border-radius: 50%;
  animation: premium-checkout-loading__loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0797E1 transparent transparent transparent;
}

.premium-checkout-loading__loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.premium-checkout-loading__loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.premium-checkout-loading__loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes premium-checkout-loading__loader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/*******************************************************************************
 * SUCCESS CARD (ACTIVATION AND REACTIVATION)
 ******************************************************************************/

 .premium-checkout-success__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.premium-checkout-success__button {
  margin-top: 2.625rem;
  background: #0797E1 !important;
  color: #fff !important;
}

.premium-checkout-success__button:hover,
.premium-checkout-success__button:active {
  text-decoration: none !important;
}

.premium-checkout .premium-checkout-card__lead {
  margin-top: 0;
}

/*******************************************************************************
 * ERROR CARD
 ******************************************************************************/

.premium-checkout-error__code {
  display: inline-block;
  background: #0797E1;
  color: #fff;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
}

/*******************************************************************************
 * VERIFY CARD (VERIFY EMAIL AND VERIFY CODE)
 ******************************************************************************/

.premium-checkout-verify__form {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 1.5rem;
}

.premium-checkout .premium-checkout-verify__input {
  flex-grow: 1;
  border-radius: 6px;
  border: 1px solid #C6C6C6;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 280px;
  min-height: 48px;
}

.premium-checkout-verify__submit {
  width: auto;
  min-width: 15rem;
  background: #0797E1;
  color: #fff;
  border-color: #0797E1;
}

.premium-checkout-verify__error {
  color: #B00020;
}

/*******************************************************************************
 * CURRENCY DROPDOWN
 ******************************************************************************/

.premium-checkout-header__select {
  display: none !important;
  height: fit-content;
  border-radius: 4px;
  border: 1px solid #CDCDCD;
}