#cookie-cutter-banner {
  height: 96px;
  width: 100%;
  padding: 24px;
  background: #E6E6E6;
  color: #000000;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  line-height: 120%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
}

#cookie-cutter-banner > img {
  height: 130px;
  margin-top: calc(130px - 96px + 16px);
}

#cookie-cutter-banner > p {
  max-width: 690px;
  margin: 0;
}

#cookie-cutter-banner .badge {
  border-radius: 4px;
  text-transform: uppercase;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: 700;
  background: #0797E1;
  color: #fff;
}

#cookie-cutter-banner .bold {
  font-weight: 700;
}
