#promotional-banner {
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  padding-left: 60px;
}

#promotional-banner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 151px;
  padding: 8px;
  height: fit-content;
  height: -moz-fit-content;
  animation: slideup-entrance 1s ease-in-out 1 normal;
  -webkit-animation: slideup-entrance 1s ease-in-out 1 normal;
}

#promotional-banner-container > div:nth-child(1) {
  flex-grow: 1;
}

@keyframes slideup-entrance {
  from {
    min-height: 250px;
  }
  to {
    min-height: 164px;
  }
}

/*
** END: General banner layout and animation
** 
** START: Left image and animation
*/

#block-cookie-img-box {
  position: relative;
}

#block-cookie-img-box > img {
  position: absolute;
  bottom: -110px;
}
#block-cookie-img-box {
  display: block;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  height: fit-content;
}
#vpn-laptop {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  bottom: -158px;
  right: 50px;
  z-index: 1;
}
#vpn-side-logo {
  bottom: -125px;
  right: 98px;
  z-index: 2;
  animation: logo-bounce 0.8s linear infinite alternate;
  -webkit-animation: logo-bounce 0.8s linear infinite alternate;
}
#vpn-side-shadow {
  bottom: -125px;
  right: 98px;
  z-index: 2;
  animation-name: shadow-expand;
  animation: shadow-expand 0.8s linear infinite alternate;
  -webkit-animation: shadow-expand 0.8s linear infinite alternate;
}

#promotional-banner-container.paused,
#vpn-laptop.paused,
#vpn-side-logo.paused,
#vpn-side-shadow.paused {
  animation-play-state: paused;
}

@keyframes logo-bounce {
  from {
    bottom: -125px;
    right: 98px;
  }

  to {
    bottom: -105px;
    right: 98px;
  }
}

@keyframes shadow-expand {
  0% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }

  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}

/*
** END: Left image and animation
** 
** START: Center text block
*/
#promotional-banner-text {
  margin: 24px 0;
  max-width: 571px;
}

#promotiona-banner-heading {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
  margin: 0 0 16px 0;
}

#promotional-new-badge {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  background: #FFCA00;
  border-radius: 1000px;
  padding: 5px 19px;
}

#promotional-banner-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

.promotional-banner-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

/*
** END: Center text block
** 
** START: Right button CTA
*/

#learn-more-btn {
  min-height: 48px;
  min-width: 200px;
  max-width: fit-content;
  max-width: -moz-fit-content;
  background: #0797E1;
  border-radius: 6px;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  position: relative;
  text-transform: capitalize;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  margin: 0 24px 0 64px;
}

#learn-more-btn:hover {
  transform: scale(1.1);
}

/*
** END: Center text block
**
** START: Media queries
*/

@media screen and (min-width: 721px) and (max-width: 1178px) {
  #promotional-banner-container > div:nth-child(1) {
    width: 40%;
    min-width: 40%;
    max-width: 40%;
  }
  #promotional-banner-container > div:nth-child(2) {
    box-sizing: border-box;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    padding-right: 24px;
  }
  #promotional-banner-container > div:nth-child(3) {
    margin-left: 40%;
    width: 60%;
  }
  #learn-more-btn {
    margin: 24px auto;
  }
  #promotional-banner {
    padding-left: 0;
  }
}

@media  screen and (max-width: 720px) {
  #promotional-banner {
    padding-left: 0;
    background: linear-gradient(30deg, #E6E6E6 75%, #F4F4F4 75%);
  }
  #promotional-banner-container {
    justify-content: center;
  }
  #block-cookie-img-box {
    padding: 0;
    margin: 8px 24px;
    height: 260px;
  }
  #promotional-banner-container > * {
    width: fit-content;
    width: -moz-fit-content;
    max-width: fit-content;
    max-width: -moz-fit-content;
    min-width: fit-content;
    min-width: -moz-fit-content;
    padding: 8px 24px;
  }
  #learn-more-btn {
    margin: 0;
  }
  #learn-more-section {
    margin-bottom: 32px;
  }
  #promotiona-banner-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #vpn-laptop {
    bottom: 0;
    right: 0;
    left: 0;
  }
  #vpn-side-logo,
  #vpn-side-shadow {
    bottom: 32px;
    right: 51px;
  }

  #promotional-banner-container > div:nth-child(1) {
    max-width: 240px;
    box-sizing: border-box;
  }
  @keyframes logo-bounce {
    from {
      bottom: 32px;
      right: 51px;
    }
  
    to {
      bottom: 53px;
      right: 51px;
    }
  }
}
