.row:after {
  display: none;
}

.unadblock img { font-size: inherit; }
.unadblock body {
  font-size: inherit;
  line-height: 1.5;
  padding-top: 4em;
}
.unadblock, .unadblock * { font-family: "Source Sans Pro", Arial, sans-serif; }
.unadblock h1,
.unadblock h2,
.unadblock h3,
.unadblock h4 { font-weight: 700; }
.unadblock .row { margin: 0; }

.unadblock h2 { color: inherit; }

.unadblock #paypal_button {
  color: #fff;
  background-color: #EDA51E;
}

.unadblock .yearly-savings-callout {
  color: #fff;
  background-color: #EDA51E;
}

.unadblock div#amount_select_row .option {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.unadblock #donate_now,
.unadblock div#amount_select_row .selected {
  background-color: #0797E1;
}

.unadblock div.selected-check {
  background-color: #0680BE;
}

.unadblock div.box-step-content {
  padding: 0;
}

.unadblock #payment-box .box-step {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  padding: 48px;
}

.unadblock button.get-started-with-myadblock {
  background: #0797E1;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.unadblock #choose-plans hr,
.unadblock #choose-payment-type hr {
  width: 95%;
}

.unadblock #payments hr {
  width: 100%;
}

.unadblock #already-donated-activity input {
  padding-left: 1rem;
  padding-right: 1rem;
}

.unadblock #already-donated-activity .row:first-of-type {
  margin-bottom: 0;
}

.unadblock #already-donated-activity .row {
  margin-top: 8px;
  margin-bottom: 8px;
}

.unadblock button.submit-cta {
  color: #fff;
  background-color: #0797E1;
}

.unadblock div.progress-box {
  margin-top: 126px;
}

.unadblock .lds-ring div {
  border-color: #0797E1 transparent transparent transparent;
}