.content h1 {
  font-size: 2rem;
}

.content h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

.content p {
  margin: 0.5rem 0;
}

/* #reinstall
 ******************************************************************************/

#reinstall {
  background: #FFF;
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#reinstall h2 {
  font-size: 1.15rem;
  margin: 0;
}

#reinstall-label {
  font-size: 0.889rem; 
  font-weight: 400;
  margin-bottom: 0.889rem;
}

@media (min-width: 42.667rem) {
  #reinstall-label {
    margin-bottom: 0;
  }
}

#reinstall-label svg {
  min-width: 1.556rem;
}

#reinstall-label p {
  margin: 0;
  padding: 0;
}

#reinstall-title {
  display: flex;
  align-items: center;
  gap: 0.389rem;
  margin-left: -0.167rem; /* this compensates for the slightly offset icon in the design */
  margin-bottom: 0.278rem;
}

#reinstall-title h4 {
  font-size: 1.111rem;
}

#install-button {
  width: max-content;
  box-shadow: 0rem 0.278rem 1.111rem 0rem rgba(0, 0, 0, 0.15);
}

.reinstall-button,
.reinstall-download-alternate {
  margin-top: 1rem;
}

#reasons .alert {
  display: none;
}

#reasons :checked + .reason-alert-container > .alert {
  display: block;
}

.reason-alert-container {
  display: inline;
}

#install-button { box-shadow: none; }

.alert.alert--info { border-color: #0779d0; }

.button { border-radius: 0; }

.alert { border-radius: 0; }