@media (min-width: 830px)
{
  html { background-color: #000; }
}

body
{
  display: block;
  padding-top: 0;
}

@media (min-width: 576px)
{
  .content h1 { font-size: 27px; }

  .content h2
  {
    margin-top: 1.5rem;
    font-size: 24px;
  }
}

@media (min-width: 992px)
{
  .container {
    width: 960px;
  }
}

.update.container
{
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  background-color: #FFF;
}

@media (min-width: 830px)
{
  .update.container
  {
    border-radius: 6px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.update-header
{
  position: relative;
  /* Must be at-least as tall as the image within to space properly */
  min-height: 130px;
}

.update-header-image
{
  display: block;
  margin: 0 auto;
}

@media (min-width: 576px)
{
  .update-header-image { position: absolute; }

  [dir="ltr"] .update-header-image { left: 0; }

  [dir="rtl"] .update-header-image { right: 0; }
}

@media (min-width: 576px)
{
  [dir="ltr"] .update-header-heading,
  [dir="ltr"] .update-header-lead { margin-left: 150px; }

  [dir="rtl"] .update-header-heading,
  [dir="rtl"] .update-header-lead { margin-right: 150px; }

  .content .update-header-heading { margin-top: 0; }
}

.content .update-header-heading small { font-weight: normal; }

.content .update-header-lead { margin-bottom: 0; }

.privacy-footer
{
  text-align: center;
  margin: 1em 0;
}

.privacy-footer a { color: #000; }

@media (min-width: 830px)
{
  .privacy-footer a { color: #fff; }
}

/* AppealForm customisations
 ******************************************************************************/

 .page-update .appeal-form .appeal-form-amount__input, 
 .page-update .appeal-form .appeal-form-header__select {
   border-color: #cdcdcd;
   border-radius: 2px;
 }
 
 .page-update .appeal-form .appeal-form-header {
   margin-bottom: 0.25rem;
 }
 
 .page-update .appeal-form .appeal-form-header__heading {
   font-size: 1.4rem;
 }
 
 .page-update .appeal-form .appeal-form-frequency__heading {
   color: inherit;
 }
 
 .page-update .appeal-form .appeal-form-frequencies {
   margin-bottom: 0.875rem;
 }
 
 .page-update .appeal-form .appeal-form__error {
   padding: 0.675rem 0.875rem;
   margin: 0.875rem 0;
   background-color: #fff;
   border: 1px solid #a1a1a1;
   border-radius: 4px;
 }
 
 :not([dir='rtl']).page-update .appeal-form .appeal-form__error {
   border-left: 5px solid #ea2349;
 }
 
 [dir='rtl'].page-update .appeal-form .appeal-form__error {
   border-right: 5px solid #ea2349;
 }
 
 .page-update .appela-form .appeal-form-checkout {
   margin-top: 0.876rem;
 }
 
 .page-update .appeal-form .appeal-form-checkout__submit {
   background-color: #2888f9;
 }