@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@media (min-width: 830px)
{
  html { 
    background: linear-gradient(180deg, rgba(237, 30, 69, 0), rgba(49, 4, 12, 1));
    background-color: #ED1E45;
  }
  
}

body
{
  display: block;
  padding-top: 0;
}

.br { display: block; }

@media (min-width: 576px)
{
  .content h1 { font-size: 27px; }

  .content h2
  {
    margin-block-start: 1.5rem;
    font-size: 24px;
  }

  .content h3 
  {
    font-size: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 0;
  }

  .content p {
    margin-block-start: 0;
  }

  .content a {
    display: inline-block;
  }
}

@media (min-width: 992px)
{
  .container {
    width: 960px;
  }
}

.update.container
{
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  background-color: #FFF;
}

@media (min-width: 830px)
{
  .update.container
  {
    border-radius: 6px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.restrict-premium .premium-only {
  display: none !important;
}

.update-header 
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.update-header-image 
{
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
}

.update-header-heading
{
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #212121;
}

.update-guarantee-banner {
  display: flex;
  padding: 0.8rem 0.9rem;
  width: fit-content;
  align-items: center;
  gap: 0.56rem;
  border-radius: 6px;
  background-color: rgba(34, 132, 247, 0.10);
  color: #000;
}

.privacy-footer
{
  text-align: center;
  margin: 1em 0;
}

/* css-loaders
 * @link https://github.com/lukehaas/css-loaders
 * @copyright Copyright (c) 2014 Luke Haas
 * @license MIT
 */
.loader {
  font-size: 10px;
  margin: 0 auto;
  text-indent: -9999em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader::before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader::after {
  background: #2888F9;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* end of css-loaders */

.privacy-footer a { color: #000; }

@media (min-width: 830px)
{
  .privacy-footer a { color: #fff; }
}

/* appeal-alert ***************************************************************/

.content .appeal-alert {
  border: 4px solid #e40d0d;
  border-radius: 7px;
  margin-bottom: 32px;
  margin-top: 32px;
  font-family: "Lato", sans-serif;
}

.content .appeal-alert__heading {
  height: 42px;
  background: #e40d0d;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
}

.content .appeal-alert__body {
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 1rem;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}