html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333333;
  box-sizing: border-box;
}

* {
    font-family: "Lato";
}

button:hover {
    cursor: pointer;
    -moz-box-shadow: 0px 5px 15px rgba(10, 14, 71, 0.2);
    -webkit-box-shadow: 0px 5px 15px rgba(10, 14, 71, 0.2);
    box-shadow: 0px 5px 15px rgba(10, 14, 71, 0.2);
}

/* SECTION 1: PAGE COVER WITH PREMIUM CTA */

h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 76.8px;
    margin-top: 37px;
    color: #333;
    text-align: center;
}
h2 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25.2px;
    color: #666;
    text-align: center;
}
#cover {
    background-color: #F4F4F4;
    /* height: 471px; */
    padding-top: 64px;
}
#cover h1 {
    margin-top: -85px;
}

/* TODO placeholder slider */
.monthly-yearly-slider {
    max-width: fit-content;
    max-width: -moz-fit-content;
    width: 50%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
    background: #FFFFFF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    cursor: pointer;
    column-gap: 8px;
    padding: 0 8px;
}
.no-border-transparent-bg {
    border: 0;
    background: transparent;
}

#get-premium-and-vpn {
    width: 352px;
    border: 0px;
    margin-bottom: 128px;
}

.margin-auto {
    margin: auto;
}
.monthly-yearly-slider span {
    font-weight: 400;
    font-size: 14px;
    color: #666
}
.monthly-yearly-slider span.weight-700 {
    font-weight: 700;
}

#feature-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 1206px;
    margin: auto;
}

.feature-box {
    background: #FFFFFF;
    /* box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.2); */
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    margin-bottom: 40px;
    max-width: 248px;
    padding: 16px;
}
.feature-box.gold {
    border: 2px solid #FFCA00;
}

.slider {
    width: 40px;
    height: 20px;
    background-color: #333;
    border-radius: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    user-select: none;
    cursor: pointer;
}
.slider.active {
    background-color: #2284f7;
    justify-content: flex-end;
}
.slider-circle {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0px 4px;
}
header {
    min-height: 88px;
    max-height: 88px;
}
nav#screen-nav {
    display: none;
}
nav#small-screen-menu {
    display: none;
}
.yearly-savings-callout {
    display: none;
}
#amount_select_row button[data-recurring-frequency="yearly"] .yearly-savings-callout {
    display: flex;
}
#card-1 hr {
    width: 100%;
}
.feature-box-content p.get-it-now {
    line-height: 48px;
    bottom: 0px;
    position: absolute;
}

.gray-gradient {
    /* TODO only on wide */
    min-height: 520px;
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0) 100%);
}


section#feature-box-container {
    max-width: 1000px;
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 108px;
}

.mirror-vertical {
    transform: scale(-1, 1);
}

.gray-gradient h1 {
    margin: 0px;
    padding: 64px 0px 96px 0px;
}

section.feature-box-wide#feature-box-container {
    max-width: unset;
    margin: auto;
    margin-top: 96px;
}

section.feature-box img {
    width: 100%;
    max-height: 240px;
    height: 240px;
    margin-bottom: 24px;
}

html[lang="fr"] .feature-box-content,
html[lang="ru"] .feature-box-content {
    height: 270px;
}

html[lang="it"] .feature-box-content,
html[lang="ja"] .feature-box-content,
html[lang="nl"] .feature-box-content,
html[lang="pt_BR"] .feature-box-content {
    height: 250px;
}
div.feature-box-content {
    height: 230px;
}

html[lang="zh_CN"] .feature-box-content,
html[lang="zh_TW"] .feature-box-content {
    height: 200px;
}
section.row h2 {
    width: 100%;
    margin: 0px;
}
h2 {
    font-family: Lato, sans-serif;
    color: #666;
    font-weight: 500;
}

html[lang="zh_CN"] .plan-description,
html[lang="zh_TW"] .plan-description  {
    min-height: 60px;
}

html[lang="en"] .plan-description,
html[lang="ja"] .plan-description  {
    min-height: 90px;
}

html[lang="nl"] .plan-description,
html[lang="fr"] .plan-description,
html[lang="de"] .plan-description,
html[lang="sv"] .plan-description,
html[lang="pt_BR"] .plan-description,
html[lang="it"] .plan-description  {
    min-height: 100px;
}

html[lang="es"] .plan-description,
html[lang="ru"] .plan-description  {
    min-height: 120px;
}

section.feature-box {
    /* min-width: 272px; */
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
    position: relative;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin-bottom: 32px;
    box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.2);
}
#feature-box-container div.hr {
    width: 100%;
    background-color: #c6c6c6;
    height: 1px;
}
.feature-box {
    padding: 32px;
    max-width: 400px;
    min-height: 464px;
}

.feature-box-content h2 {
    font-size: 24px;
    text-align: left;
    font-weight: 700;
}

.feature-box-content .hr {
    margin: 8px 0px 12px 0px;
}

.feature-box-content p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #333;
    max-width: 330px;
}
.feature-box-content a.mainContentLink {
    font-weight: 700;
}

#cover h1,
#cover h2 {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}
#cover {
    padding-bottom: 250px;
}
@media screen and (min-width: 640px) {
    #cover h1 {
        margin-top: 4px;
    }
}

#cover-box {
    box-sizing: border-box;
    background: #FFFFFF;
    margin: 0 auto;
    border-radius: 24px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    height: 432px;
    width: 720px;
    padding: 32px;
    background-repeat: no-repeat;
    background-size: 376.69px 339.61px;
    background-position: bottom right;
}

#cover-box.generic {
    background-image: url('/premium/enrollment/images/generic_cover.svg');
}

#cover-box.distraction-control {
    background-image: url('/premium/enrollment/distraction-control/swapAds.svg');
}

#premium-introduction {
    width: 50%;
}

#premium-introduction p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
}

#adblock-icon {
    height: 32px;
    width: 32px;
}

#adblock-icon ~ span {
    font-size: 16px;
    line-height: 140%;
    color: #666;
    margin-left: 14px;
}

#upgrade-to-premium {
    height: 40px;
    width: 271px;
    background: #FFCA00;
    border-radius: 6px;
    vertical-align: middle;
    font-weight: bold;
    border: none;
    margin-top: 45px;
    font-size: 16px;
}

/* SECTION 2: LIST AND DESCRIPTION OF FEATURES */
#premium-includes {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 53px;
}

#features {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 720px;
  padding: 0px;
}

#features .feature {
    display: flex;
    margin-bottom: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
}

#features .feature > img {
    width: 28px;
    height: 28px;
    margin-right: 20px;
}

#features .feature .feature-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 13px;
}

/* SECTION 3: PAYMENTS AND/OR ENROLLMENTS */

#payment {
    padding: 120px 0;
    background-color: #F4F4F4;
}

#payment h1 {
    text-align: center;
    margin: 0;
    padding: 60px 0 50px 0;
}

#payment h2 {
    font-weight: 700;
}

/* checkbox */

.checkbox-icon {
    height: 20px;
    width: 20px;
    margin-right: 16px;
    position: relative;
}

.checkbox-icon input {
    opacity: 0; /* hide but function */
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.checkbox-icon i[class^=material-icons] {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.checkbox-icon i.checked {
    color: #0047FF;
}

.checkbox-icon i.unchecked {
    color: #666666;
}

.checkbox-icon input:checked ~ i.checked,
.checkbox-icon input:not(:checked) ~ i.checked {
    opacity: 1; /* show */
}

.checkbox-icon input:checked ~ i.unchecked,
.checkbox-icon input:not(:checked) ~ i.checked {
    opacity: 0; /* hide */
}

#payment #card1 {
    height: auto;
    width: 520px;
    margin: 0 auto;
}

#already-donated {
    appearance: none;
    cursor: pointer;
    color: #0055B7;
    margin-top: 16px;
    display: inline;
}

/* Payment box / look up previous order box */
div#registration-box {
    margin: auto;
    width: 720px;
    border-radius: 24px;
    background-color: #ffffff;
    padding-bottom: 32px;
    user-select: none;
}
#amount_row_wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
select#currency_dropdown {
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFFFFF;
    cursor: pointer;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 32px;
}

.form-field.form-field {
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    padding: 8px 6px;
}
.form-field.wide-input {
    width: 100%;
    max-width: 519px;
}

/* Choose payment amount and currency */
#currency-and-amounts {
    display: flex;
    height: 40px;
}
#amount_row_wrapper {
    min-width: 428px;
    width: 100%;
    cursor: pointer;
    display: flex;
    border-radius: 4px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #E6E6E6;
    color: #666666;
    border-radius: 4px;
}

#amount_row_wrapper label {
    width: 50%;
    cursor: pointer;
}
#monthly,
#yearly {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    border: none;
}
#amount_row_wrapper input[name="amount"]:checked + label {
    background-color: #ffca00;
    color: #333333;
    font-weight: 700;
    border-radius: 4px;
}
#amount_row_wrapper input[name="amount"]:focus + label {
    outline: rgb(0, 95, 204) auto 1px;
}

#cc_select_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

#cc_select_row > [id$="_group"] {
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

#cc_select_row .checkbox-icon {
    width: fit-content;
    width: -moz-fit-content;
}
input[name="processor"] {
    width: 125px;
    height: 20px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

input[name="processor"]:checked {
    background-color: #2284f7;
    border: 1px solid #2284f7;
}

/* custom radio button "filling" */
input[type="radio"]:checked::before {
    content: none;
    position: absolute;
    margin: auto;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    top: 3px;
    left: 3px;
    content: "";
}
#cc_select_row input {
    z-index: 1;
}
#cc_select_row img {
    max-width: fit-content;
    max-width: -moz-fit-content;
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 2px;
    cursor: pointer;
    z-index: 0;
}

/* Input element styling */
.form-row {
    margin: 24px auto 16px auto;
}

div.form-row.form-row-flex {
    display: flex;
    flex-flow: row wrap;
}

form#payment-form label {
    font-size: 16px;
    color: #333333;
}

div#payment_form_error {
    font-size: 1em;
    color: #ff0000;
    margin: 12px auto -36px auto;
    text-align:center;
}

/* Padlock icon in background of credit card input field*/
#card-no {
    font-size: 24px;
    background: url("/premium/enrollment/images/graylock.png") no-repeat;
    background-color: white;
    background-size: 15px 17px;
    background-position: 96% 40%;
    background-attachment: relative;
}

/* Email address */
input.wide-input {
    padding-left: 6px;
    padding-top: 0px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    font-weight: 400;
    font-size: 13px;
    color: #555;
    width: 532px;
    height: 48px;
    margin-top: 4px;
    font-size: 18px;
}

.wide-input::placeholder {
    padding-top: 50px;
    color: #c4c4c4;
}

input#prev_donation_email {
    margin: 0
}

/* Expiration date, CVC */
div.form-row-narrow {
    display: flex;
    align-items: flex-end;
    height: 78px;
}
div.pmt-activity-link {
    cursor: pointer;
    font-size: 16px;
    color: #0047FF;
    text-align: center;
}
div.pmt-activity-link.pmt-activity-link-gray {
    color: #666;
}

.skinny-form {
    width: 246px;
}

#cvc_label > * {
    margin-left: 26px;
}

/* FOOTER */

.footer {
    background-color: #E6E6E6;
    border: none;
    color: #666;
}

.footer .footerContent {
    max-width: 720px;
}

.footer .footerContent ul li,
.footer .footerContent ul li a {
    color: #666;
}

.footer .footerContent h1 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.footer .footerContent .socialIcons img {
    height: 40px;
    width: 40px;
    margin: 0 0 0 10px;
}

.footerContent h1 {
    text-align: left;
    font-weight: 400;
    padding: 8px 0px 0px 4px;
}

.socialIcons img {
    margin-top: 4px;
}

/* Big gold donate now button */
/* #donate_now {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #ffca00;
    margin: 24px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
} */

.primary-cta {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #ffca00;
    margin: 24px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
}


.donate-button-text {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    user-select: none;
}

div.section-newsletter {
    display: flex;
    color: #333333;
    font-size: 16px;
    font-family: "Lato";
    font-style: italic;
    width: 100%;
}

/* Already donated... get confirmation code or generate email */
div.card2-wrapper {
    width: 524px;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

div#card1 {
    height: 700px;
}

div#card2 p {
    color: #333333;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
}
div#already-donated-progress {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

div.progress-circle {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #e6e6e6;
    margin: 20px;
}

div.progress-circle.progress-circle-completed {
    background-color: #333333;
}

div.submit-btn {
    width: 175px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffca00;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    line-height: 44px;
    cursor: pointer;
    margin-bottom: 96px;
}

div.cta-btn-wide {
    width: 320px;
    min-height: 48px;
    border-radius: 4px;
    background-color: #ffca00;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    line-height: 52px;
    cursor: pointer;
    margin: 24px auto;
}

.submit-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 248px;
    min-width: 248px;
    max-width: fit-content;
    max-width: -moz-fit-content;
    min-height: 40px;
    max-height: 40px;
    color: #FFFFFF;
    background-color: #2284F7;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    appearance: none;
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
}
#get-started-with-premium .submit-cta {
    width: 408px;
    min-width: 408px;
}

/* Entering the confirmation code from the e-mail */
div#code-entry {
    width: 320px;
    height: 96px;
    border-radius: 4px;
    background-color: #f4f4f4;
    margin: 24px auto 0px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div#code-entry input[type="text"] {
    width: 240px;
    font-size: 32px;
    outline: none;
    text-align: center;
    background-color: #f4f4f4;
    border: none;
    text-transform: uppercase;
    box-shadow: none;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    margin-top: 8px;
}

div#submit_code {
    width: 320px;
    margin: 16px auto 8px auto;
}

div#card2 p.fine-print {
    width: 320px;
    margin: auto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #333333;
}

div#card2 a {
    color: #2284f7;
}

form#confirmation-code {
    text-align: center;
}

div#confirmation-code-error {
    font-size: 14px;
    text-align: center;
    color: #e40d0d;
    margin-top: 16px;
}

/* waiting spinner */
.lds-ring {
    width: 173px;
    height: 173px;
    margin: 32px auto;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    margin: 6px;
    border: 16px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ffca00 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.occasional-updates {
    line-height: 150%;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* card2-page-4 */
#card2-page-5,
#card2-page-4 {
    text-align: center;
    padding: 0 55px;
}

#already-donated-progress[style*="opacity:0"] {
    margin-bottom: 0;
}

#gift_unwrapped {
    margin: 0 auto 55px -50px;
    width: auto;
    height: 250px;
}

#card2-page-4 > h2,
#card2-page-5 > h2 {
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    color: #333333;
    margin-bottom: 25px;
}

#card2-page-4 > p[i18n],
#card2-page-4  p span[i18n],
#card2-page-5 > p[i18n] {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin: 0;
}
#card2-page-4 > .get-started-with-myadblock,
#card2-page-5 > .get-started-with-myadblock {
    background: #FFCA00;
    border-radius: 6px;
    min-height: 40px;
    min-width: 408px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    margin: 80px 10px;
}

#three-months-for-free {
    margin: 10px 0px;
}

/* 2x assets */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    #card-no {
        background: url("/premium/enrollment/images/graylock@2x.png") no-repeat;
        background-color: white;
        background-size: 15px 17px;
        background-position: 96% 42%;
        background-attachment: relative;
    }
}

#cover {
    padding-top: 128px;
}
@media all and (min-width: 720px) {
    #cover {
        padding-top: 64px;
    }
}

@media screen and (max-width: 720px) {
    #cover-box,
    #features,
    div#registration-box {
        width: 672px;
    }
    #cover-box {
        height: 528px;
        background-size: 300px 270.47px;
    }
    #cover-box h1 {
        font-size: 42px;
    }
    #cover-box #premium-introduction {
        width: 58%;
    }
    #cover-box #upgrade-to-premium {
        width: 340px;
        height: 66px;
        padding: 16px 85px;
    }
    .footer .footerContent {
        display: flex;
        flex-direction: column;
        padding-bottom: 52px;
    }
    .footer .footerContent .socialIcons {
        padding-top: 36px;
    }
}

/* copied from /premium base style.css, remove unused ones */

/* 
body {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
}
main {
    margin: 0;
    padding: 0;
}
main #hero {
    padding-top: 80px;
    text-align: center;
    min-height: 206px;
    background-color: #f4f4f4;
}
#hero h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #333333;
}

#hero #subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #333333;
} */
#payments-content .row.jc-space-between {
    justify-content: flex-start;
}
#payments-content .row.align-items-center {
    align-items: center;
}
#payments-content .row.flex-start {
    justify-content: flex-start;
}
#currency_dropdown {
    width: 72px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Lato';
    padding: 6px;
    background-color: #fff;
    cursor: pointer;
    margin-left: 24px;
    margin-top: 4px;
}
#payment-options {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

.payment-option {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    display: flex;
    flex-flow: column;
    justify-content: flex-top;
    position: relative;
    margin: 8px;
    padding-bottom: 16px;
}
.payment-option h1 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin: 36px 0px 0px 0px;
}
.payment-option .row {
    justify-content: center;
}

div.row.nomargin {
    margin: 0px;
}
div.row.nopadding {
    padding: 0px;
}
button.get-started-with-myadblock {
    width: 384px;
    height: 48px;
    background: #0075ff;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 264px;
}
button.get-started-with-myadblock:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgb(51 51 51 / 20%);
}
#pmt-success-left {
    width: 40%;
    margin-right: 48px;
    align-items: flex-start;
    justify-content: flex-start;
}
#pmt-success-left h1, #card-3 h1 {
    font-size: 24px;
    line-height: unset;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}
#card-3 ol li {
    list-style: decimal;
    margin: 8px 0px;
}
#card-3 ol {
    margin-left: 16px;
}
#card-3 {
    max-width: 480px;
}
#card-3 .box-step-content {
    padding: 0px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 328px;
    max-width: 420px;
    margin: auto;
}
#card-3 .box-step {
    padding: 32px;
}
a.vpn-cta {
    height: 48px;
    width: 100%;
    min-width: 200px;
    background: #0055b7;
    background: linear-gradient(to right bottom, #0075ff 50%, #0055b7 50%);
    border-radius: 6px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    position: relative;
}
a.vpn-cta span { color: #fff; }
a.vpn-cta i { color: #fff; }

.vpn-cta:hover {
    cursor: pointer;
    -moz-box-shadow: 0px 5px 15px rgba(10, 14, 71, 0.2);
    -webkit-box-shadow: 0px 5px 15px rgba(10, 14, 71, 0.2);
    box-shadow: 0px 5px 15px rgba(10, 14, 71, 0.2);
}

button.prem-cta {
    border: 1px solid #FFCA00;
    background: #FFCA00;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    height: 48px;
    width: 100%;
    min-width: 200px;
    border-radius: 6px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    color: #333;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    position: relative;
    margin-bottom: 0px;
}
div.save20 {
    background: #ffd780;
    border: 0.5px solid #dfa809;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 700;
    line-height: 140%;
    margin: 0px 16px;
    padding: 4px;
    font-size: 12px;
    text-align: center;
}

html[lang="es"] .gold-header {
    font-size: 13px;
}

.feature-card div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 48px;
    width: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-left: 16px;
    background-color: #e6e6e6;
}
.header.selected {
    background-color: #ffca00;
}

div.gold-header {
    height: 32px;
    background-color: #ffca00;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: absolute;
    width: 100%;
    /* max-width: 252px; */
    position: absolute;
    top: 0px;
    left: -2px;
    border: 2px solid #FFCA00;
}

.payment-option.gold {
    border: 2px solid #FFCA00;
}

#already-donated-activity .step {
    max-width: 952px;
    height: 392px;
    min-height: 392px;
    max-height: 392px;
    box-sizing: border-box;
}

#payment-options-narrow .gold-header {
    margin-top: -1px;
}
#payment-options-narrow .gray-header {
    margin-top: -1px;
}

div.progress-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

div.progress-circle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 4px;
    background: #c4c4c4;
}
div.progress-circle.complete {
    background: #8d8484;
}
#payment-box i.material-icons {
    font-size: 24px;
}

.already-donated-action {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 32px;
    margin: 0;
    width: 100%;
}
#code,
#prev_donation_email {
    height: 40px;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    min-width: 560px;
}
#code {
    text-align: center;
}
#get-started-with-premium-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 190px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
#get-started-with-premium {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 410px;
    height: 100%;
}
div.row a {
    color: #0047ff;
}

div.row span.nomargin {
    margin: 0px;
}

div#already-donated-activity-box {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    min-width: 900px;
}

.already-contributed-card-header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.already-contributed-card-instruction {
    margin: 0;
    display: flex;
    flex-grow: row wrap;
    justify-content: flex-start;
}

#already-donated-activity-box i {
    cursor: pointer;
}

#already-donated-activity-box .box-step {
    padding: 28px 32px;
    row-gap: 24px;
    min-height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
}
#already-donated-activity-waiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 392px;
    width: 100%;
}
#payment-options .row-spacer {
    height: 24px;
}

.row.display-block {
    display: block;
}
ul.feature-row li span {
    text-align: left;
}

.box-step .right {
    width: 50%;
    margin-left: 15%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
#already-donated-activity {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #333333;
}
div.gray-header {
    height: 48px;
    background-color: #e6e6e6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    padding-left: 16px;
}
.price-big {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    width: auto;
}

.price-box {
    display: flex;
    justify-content: center;
    min-height: 96px;
    width: 50%;
    margin: 0px auto;
}

.price-small {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
    display: flex;
    flex-flow: column;
    padding-top: 24px;
    padding-right: 0px;
    color: #333333;
}

#payment-options-narrow .payment-option {
    margin-top: 32px;
}

.payment-option .row {
    padding: 16px;
    margin: 8px auto;
    width: auto;
}
.payment-option .hr {
    width: auto;
    height: 1px;
    background-color: #E6E6E6;
    margin: 0px 16px;
}
ul.feature-row li {
    font-size: 15px;
    justify-content: flex-start;
    display: flex;
    padding: 12px;
}

ul li i {
    width: 32px;
}

.payment-option button {
    padding: 0px 16px;
    margin: 0px auto;
}

.price-interval {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-flow: column;
    padding-top: 24px;
    padding-left: 4px;
    color: #333333;
}

.get-premium {
    border: none;
    appearance: none;
    background: #ffca00;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    min-height: 40px;
    height: fit-content;
    min-width: 216px;
    width: fit-content;
}
.get-premium:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.2);
}

.your-plan {
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 40px;
    height: fit-content;
    min-width: 216px;
    width: fit-content;
    color: #2284F7;
    min-height: 48px;
}
#get-premium-and-vpn {
    border: 0px;
    background: #2284F7;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 352px;
    min-height: 40px;
    margin: 108px auto;
    color: #fff;
}

/* 
h1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    text-align: center;
    color: #333333;
}
h1.gold {
    color: #ff9c00;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
} */
.payment-option {
    width: 260px;
    max-width: 260px;
    min-width: 260px;
}
.payment-option:hover {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.2);
}
.payment-option.nohover:hover {
    box-shadow: none;
}
.payment-option.nohover:hover .your-plan {
    background: inherit;
    border: none;
    color: #333;
}
.payment-option.nohover {
    min-width: 216px;
    display: flex;
    justify-content: flex-end;
    border: none;
    background: inherit;
    margin-left: -216px;
}
.payment-option.nohover ul.feature-row li {
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2px;
}
.payment-option:hover .your-plan {
    background: #2284f7;
    border: 1px solid #2284f7;
    color: #fff;
}

#payments .active {
    background-color: #0075ff;
    color: white;
}

ul.feature-row.center li {
    display: flex;
    justify-content: center;
}

i.material-icons {
    user-select: none;
}
i.material-icons.feature-unlocked {
    color: #10b501;
}

#features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature-box-content h2 {
    color: #333;
}
.feature-card {
    color: #fff;
    border-radius: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 40px;
    height: fit-content;
    width: 288px;
    flex-flow: row wrap;
}
#features .feature-card:not(:last-of-type) {
    border-bottom: 1px solid #c6c6c6;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.feature-card .get-premium {
    margin-top: 32px;
}

.feature-card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #333333;
}

.feature-card-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #333333;
}

/* FAQs */

#faq {
    max-width: 750px;
    margin: 100px auto;
}
#faq > h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 18px;
}
.material-icons.faq-arrow {
    font-size: 16px;
    color: #666;
    cursor: pointer;
    transform: rotate(90deg);
    animation: arrowRotateOut 0.8s;
}

#faq .faqElement {
    user-select: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e6e6e6;
    display: flex;
    flex-flow: column;
}

.faqElement .question button {
    border: none;
    background: none;
}

@keyframes arrowRotateOut {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes arrowRotateIn {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

#faq .question {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    margin: 13px 0;
}

span[i18n="click_on_upgrade_to_adblock_premium"] {
    text-indent: -16px;
    padding-left: 16px;
    display: inline-block;
}
#faq .answer {
    visibility: hidden;
    display: none;
    opacity: 0;
    width: 100%;
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 8px;
}

.material-icons.faq-arrow.visible {
    color: #c6c6c6;
    cursor: pointer;
    transform: rotate(-90deg);
    display: inline-block;
    opacity: 1;
    animation: arrowRotateIn 0.8s;
}

#faq .answer.visible {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    animation: answerFade 1s;
}

footer[role="contentinfo"] {
    margin-top: 0;
} */

div#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

li.feature-card {
    width: 100%;
    max-width: 784px;
    display: flex;
    flex-flow: column;
}
.no-top-border-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
li.feature-card.reverse {
    flex-flow: column-reverse;
}

@media all and (min-width: 600px) {
    li.feature-card {
        flex-flow: row nowrap;
    }
    li.feature-card.reverse {
        flex-flow: row-reverse nowrap;
    }
}

header {
    min-height: unset;
    max-height: unset;
}

.yearly-savings-callout {
    left: auto;
    right: -16px;
}

#donate_now {
    color: #fff !important;
    background: #EDA51E !important;
}