{% from 'data/gift-of-ad-blocking' import campaigns %}

{% for campaign in campaigns %}
  {% set _loop = loop %}
  <article class="campaign {{ "active" if loop.index == 1 else "" }}">

    <ul>
      {% for slide in campaign.slides %}
        <li
          data-index="{{ (loop.index - 1) | string }}"
          class="campaign-slide {{ "active" if loop.index == 1 else "" }}">
          <figure>
            <img
              alt="{{ slide.alt | translate('campaign-' + _loop.index | string + '-' + loop.index | string + '-alt', 'alt text') }}"
              src="/img/gift-of-ad-blocking/campaign-slide-{{ _loop.index | string + '-' + loop.index | string }}.jpg"
              srcset="/img/gift-of-ad-blocking/campaign-slide-{{ _loop.index | string + '-' + loop.index | string }}-2x.jpg 2x" />
            <figcaption>{{ slide.caption | translate('campaign-' + _loop.index | string + '-' + loop.index | string + '-caption', 'image caption') }}</figcaption>
          </figure>
        </li>
      {% endfor %}
    </ul>

    <nav class="campaign-slide-controls">
      <ul>
        <li>
          <a
            onclick="previousSlide()"
            title="{{ "Previous slide" | translate("previous-slide-title", "button title") }}">
            <img
              alt="{{ "Previous slide arrow icon" | translate("previous-slide-alt", "button alt") }}"
              src="/img/gift-of-ad-blocking/previous-icon.png"
              srcset="/img/gift-of-ad-blocking/previous-icon-2x.png 2x" />
          </a>
        </li>
        {% for slide in campaign.slides %}
          <li
            class="campaign-slide-control {{ "active" if loop.index == 1 else "" }}">
            <a
              onclick="gotoSlide({{ (loop.index - 1) | string }})"
              title="{{ "Goto slide " + (loop.index | string) | translate("goto-slide-" + (loop.index | string), "button title") }}">
              <img
                class="active-slide-icon"
                alt="{{ "Slide " + (loop.index | string) + " icon" | translate("goto-slide-" + (loop.index | string) + "-icon-alt", "button alt") }}"
                src="/img/gift-of-ad-blocking/active-slide-icon.png"
                srcset="/img/gift-of-ad-blocking/active-slide-icon-2x.png 2x"
              />
              <img
                class="inactive-slide-icon"
                alt="{{ "Slide " + (loop.index | string) + " icon" | translate("goto-slide-" + (loop.index | string) + "-icon-alt", "button alt") }}"
                src="/img/gift-of-ad-blocking/slide-icon.png"
                srcset="/img/gift-of-ad-blocking/slide-icon-2x.png 2x"
              />
            </a>
          </li>
        {% endfor %}
        <li>
          <a
            onclick="nextSlide()"
            title="{{ "Next slide" | translate("next-slide-title", "button title") }}">
            <img
              alt="{{ "Next slide arrow icon" | translate("next-slide-alt", "button alt") }}"
              src="/img/gift-of-ad-blocking/next-icon.png"
              srcset="/img/gift-of-ad-blocking/next-icon-2x.png 2x" />
          </a>
        </li>
      </ul>
    </nav>

  </article>
{% endfor %}
