{% from 'data/gift-of-ad-blocking' import campaigns %}

{% for campaign in campaigns %}
  <li class="campaign-thumbnail column one-fourth {{ "active" if loop.index == 1 else "" }}">
    <a onclick="gotoCampaign({{ (loop.index - 1) | string }})">
      <figure>
        <div class="image-container">
          <img
            alt="{{ campaign.slides[0].alt | translate('campaign-' + loop.index | string + '-0-alt', 'alt text') }}"
            src="/img/gift-of-ad-blocking/campaign-thumbnail-{{ loop.index | string }}.jpg"
            srcset="/img/gift-of-ad-blocking/campaign-thumbnail-{{ loop.index | string }}-2x.jpg 2x" />
          <div class="inset-border-image"></div>
        </div>
        <figcaption>{{ campaign.caption | translate('campaign-' + loop.index | string  + '-caption', 'caption') }}</figcaption>
      </figure>
    </a>
  </li>
{% endfor %}
