<script>
  const checkoutLabel = {{ 1 if page == "installed" else 0 }}
    ? {{ get_string("appeal-form-checkout__submit", "installed") | tojson }}
    : {{ get_string("appeal-form-checkout__submit", "payment-form") | tojson }};
  Object.assign(window.adblock.strings, {
    "appeal-form-header__heading": {{ get_string("appeal-form-header__heading", "payment-form") | tojson }},
    "appeal-form-frequency__heading--once": {{ get_string("appeal-form-frequency__heading--once", "payment-form" ) | tojson }},
    "appeal-form-frequency__heading--monthly": {{ get_string("appeal-form-frequency__heading--monthly", "payment-form" ) | tojson }},
    "appeal-form-frequency__heading--yearly": {{ get_string("appeal-form-frequency__heading--yearly", "payment-form") | tojson }},
    "appeal-form__error--once": {{ get_string("appeal-form__error--once", "payment-form") | tojson }},
    "appeal-form__error--monthly": {{ get_string("appeal-form__error--monthly", "payment-form") | tojson }},
    "appeal-form__error--yearly": {{ get_string("appeal-form__error--yearly", "payment-form") | tojson }},
    "appeal-form-checkout__submit": checkoutLabel,
    "appeal-form-checkout__title": {{ get_string("appeal-form-checkout__title", "payment-form") | tojson }},
    "product__premium": {{ get_string("product__premium", "update") | tojson }},
    "update-payment-reward__1-month": {{ get_string("update-payment-reward__1-month", "update") | tojson }},
    "update-payment-reward__n-months": {{ get_string("update-payment-reward__n-months", "update") | tojson }},
    "update-payment-reward__1-year": {{ get_string("update-payment-reward__1-year", "update") | tojson }},
    "update-payment-reward__n-years": {{ get_string("update-payment-reward__n-years", "update") | tojson }},
    "update-payment-reward": {{ get_string("update-payment-reward", "update") | tojson }},
    "suffix__monthly": {{ get_string("update-payment-suffix__monthly", "update") | tojson }},
    "suffix__yearly": {{ get_string("update-payment-suffix__yearly", "update") | tojson }}
  });
</script>