<div id="intro-notices">

  {% if locale == "fr" %}
    <p>En téléchargeant le logiciel Adblock Plus ou le navigateur Adblock Browser, vous acceptez que si vous utilisez Adblock Plus pour visiter un site Internet en violation de toute obligation ou droit de quelque nature que ce soit en relation avec ce site Internet, en aucun cas EYEO ne pourra être tenu pour responsable envers vous ou tout autre tiers pour toute perte ou dommage (y compris, sans y être limité, les dommages pour perte de chances et perte de bénéfices) découlant directement ou indirectement de votre utilisation de ce logiciel.</p>
  {% endif %}

</div>
