@import url("/css/fonts.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong {
  font-weight: bolder;
}

.br {
  display: block;
}

a:link {
  color: #0779D0;
  font-weight: 400;
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

/* Disabling input[type=number] spinner */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: none;
  -moz-appearance:textfield;
  appearance: none;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
}

.restrict-premium .premium-only,
html:not(.restrict-premium) .not-premium-only {
  display: none !important;
}

html[lang="fr"] .not-fr {
  display: none !important;
}

html:not([lang="fr"]) .fr-only {
  display: none !important;
}

.update-loader__card {
  margin: 0 auto;
  width: 600px;
  background: #F8F8F8;
  padding: 60px 40px;
  border-radius: 8px;
  display: flex;
  margin-top: 20vh;
}

html:not([dir=rtl]) .update-loader__image {
  margin-right: 2rem;
}

[dir=rtl] .update-loader__image {
  margin-left: 2rem;
}

.update-loader__label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.update-loader__progress {
  width: 100%;
}

.update-loader__body {
  width: 100%;
}

.update-loader__progress {
  height: 18px;
  appearance: none;
  border-radius: 4px;
  border: 1px solid #666;
  padding: 2px;
}

.update-loader__progress[value]::-webkit-progress-value {
  background: #07F;
  border-radius: 2px;
}

.update-loader__progress[value]::-webkit-progress-bar {
  background: #fff;
}

.update__container {
  width: 100%;
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.update-navbar {
  padding: 1.125rem 3rem;
  background-color: #fff;
}

.update-navbar__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 992px) {
  html:not([dir='rtl']) .update-navbar__img {
    margin-left: 0;
  }

  [dir="rtl"] .update-navbar__img {
    margin-right: 0;
  }
}

.update-section-1 {
  background-color: #EDEDED;
  padding-bottom: 2.5rem;
  font-weight: 400;
}

.update-section-1__header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.update-section-1__heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.update-section-1__rows {
  display: grid;
  gap: 2rem;
  max-width: 835px;
  margin-left: auto;
  margin-right: auto;
}

.update-section-1__row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
 }

.update-section-1-row-1 {
  border: 2px solid #2284F7;
  border-radius: 6px;
}

.update-section-1-row-1__heading {
  background-color: #E9F3FE;
  padding: 0.625rem 2rem;
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 1.125rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.update-section-1-row-1__body {
  background-color: #fff;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.update-section-1-row-1__body p:first-of-type {
  margin-top: 0;
}

.update-section-1-row-1__body p:last-of-type {
  margin-bottom: 0;
}

.update-section-1-row-2 {
  background: #fff;
  padding: 1.5rem;
  border-radius: 6px;
}

.update-gaurantee {
  border-radius: 6px;
  background: rgba(34, 132, 247, 0.10);
  padding: 0.875rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

html:not([dir=rtl]) .update-gaurantee__image {
  margin-right: 0.625rem;
}

[dir=rtl] .update-gaurantee__image {
  margin-left: 0.625rem;
}

.update-payment-frequency__label {
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.update-payment-currency {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.35);
  padding: 0.1rem;
  height: 1.5rem;
}

html:not([dir=rtl]) .update-payment-currency {
  padding-left: 0.2rem;
}

[dir=rtl] .update-payment-currency {
  padding-right: 0.2rem;
}

.update-payment-amounts {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 1.5rem 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.35);;
  border-radius: 6px;
  width: 100%;
}

[data-frequency="once"] .update-payment-frequency--once .update-payment-amounts,
[data-frequency="monthly"] .update-payment-frequency--recurring .update-payment-amounts,
[data-frequency="yearly"] .update-payment-frequency--recurring .update-payment-amounts {
  border-color: #2788F9;
}

.update-payment-amount {
  display: flex;
  height: 2rem;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 300;
}

.update-payment-amount__radio {
  margin: 0;
}

html:not([dir=rtl]) .update-payment-amount__radio {
  margin-right: 0.375rem;
}

[dir=rtl] .update-payment-amount__radio {
  margin-left: 0.375rem;
}

.update-payment-amount__value[type="number"] {
  width: 5rem;
  line-height: 1.5;
  padding-left: 0.3rem;
  padding-right: 0.2rem;
  border-radius: 4px;
  border: 1px solid #CDCDCD;
}

.update-payment-frequencies {
  display: grid;
  gap: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 867px) {
  .update-payment-frequencies {
    grid-template-columns: 1fr 1fr;
  }
}

.update-payment-frequency__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-payment-switch {
  font-size: 0.6875rem;
  font-weight: 300;
}

.update-payment-switch,
.update-payment-switch__inputs {
  display: flex;
  align-items: center;
}

.update-payment-switch,
.update-payment-switch__radio,
.update-payment-switch__label {
  cursor: pointer;
}

.update-payment-switch__inputs {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.update-payment-switch__radio {
  margin: 0;
  display: block;
  height: 1.375rem;
  width: 1.375rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #2788F9;
  border-radius: 0;
}

.update-payment-switch__toggle {
  display: block;
  position: absolute;
  top: 0;
  margin: 0.125rem;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  background: #fff;
  transition: 0.4s;
}

html:not([dir=rtl]) .update-payment-switch__toggle {
  left: 0;
}

[dir=rtl] .update-payment-switch__toggle {
  right: 0;
}

html:not([dir="rtl"]) .update-payment-switch__yearly:checked + .update-payment-switch__toggle {
  transform: translateX(1.375rem);
}

[dir="rtl"] .update-payment-switch__yearly:checked + .update-payment-switch__toggle {
  transform: translateX(-1.375rem);
}

html:not([dir="rtl"]) .update-payment-switch__monthly:checked + .update-payment-switch__toggle,
[dir="rtl"] .update-payment-switch__monthly:checked + .update-payment-switch__toggle {
  transform: translateX(0);
}

html:not([dir='rtl']) .update-payment-switch__monthly {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

[dir='rtl'] .update-payment-switch__monthly {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

html:not([dir='rtl']) .update-payment-switch__yearly {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

[dir='rtl'] .update-payment-switch__yearly {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.update-payment-reward {
  position: relative;
  border-radius: 10px;
  background: #FFF;
  padding: 0.875rem;
  border: 1px solid #666;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  font-weight: 300;
}

.update-payment-reward__highlight {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.5rem;
}

root:not([dir='rtl']) .update-payment-reward__highlight {
  left: 0.5rem;
}

[dir='rtl'] .update-payment-reward__highlight {
  right: 0.5rem;
}

.update-payment-reward__highlight::before {
  flex: 1;
  content: "";
  background: #2284F7;
  border-radius: 6px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.update-payment-reward__text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.update-payment-reward__text .amount,
.update-payment-reward__text .product {
  font-weight: 400;
}

.update-payment-checkout__columns {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .update-payment-checkout__columns {
    grid-template-columns: 1fr 1fr;
  }
}

.update-payment__checkout-button {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background: #2E47FF;
  padding: 0.5rem 0;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.update-payment__loader {
  width:6px;
  height:6px;
  margin-top: 5px;
  margin-bottom: 6px;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 10px 0 #FFFFFF22,-10px 0 #FFFFFF;
  animation: update-payment__loader 1s infinite linear alternate;
}

@keyframes update-payment__loader {
  0% {box-shadow: 10px 0 #FFFFFF,-10px 0 #FFFFFF22;background: #FFFFFF}
  33%{box-shadow: 10px 0 #FFFFFF,-10px 0 #FFFFFF22;background: #FFFFFF22}
  66%{box-shadow: 10px 0 #FFFFFF22,-10px 0 #FFFFFF;background: #FFFFFF22}
}

.appeal-form-checkout__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 0;
}

.update-section-3 {
  font-size: 1.125rem;
  padding: 2.5rem 0;
}

.update-section-3 h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.update-section-3 h3 {
  font-size: 1.125rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.update-section-3 p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.update-section-4 {
  border-top: 3px solid #EDEDED;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.125rem;
}

.update-section-4 a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.update-premium-benefits {
  background-color: #fff;
  border: 1px solid #2E47FF;
  border-radius: 6px;
  padding: 1rem;
}

.update-premium-benefits__heading {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0.75rem 0;
}

@media (min-width: 768px) {
  .update-premium-benefits__heading {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .update-premium-benefits__list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
}

.update-premium-benefits__item {
  margin: 0.5rem 0 0 0;
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .update-premium-benefits__item {
    margin: 0;
  }  
}

.update-premium-benefits__item > span {
  margin-top: 0.3rem;
}


.update-motivation-notification {
  display: none;
  border: 1px solid #ED1E45;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 0px #0000001A;
  margin-top: 1.5rem;
  cursor: pointer;
}

@media (min-width: 884px) {
  .update-motivation-notification {
      max-width: 20rem;
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      background-color: #f4f4f4;
      margin-top: 0;
  }
}

.update-motivation-notification-header {
  background-color: #fff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  display: flex;
  min-height: 2.875rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
}

.update-motivation-notification-header__heading {
  flex: 1;
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.update-motivation-notification-header__close {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
}

.update-motivation-notification-body {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  gap: 1rem;
  background-color: #f4f4f4;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  align-items: center;
}

.update-motivation-notification-body__button {
  background: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.update-motivation-notification-body__text {
  flex: 1;
  font-weight: 300;
  margin: 0;
}

.update-motivation-slider {
  display: none;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 419px) {
  .update-motivation-slider {
    display: none !important;
  }
}

.update-motivation-slider-modal {
  background-color: #fff;
  position: relative;
  margin: auto auto;
  height: 95vw;
  width: 100%;
  max-height: 95vh;
  max-width: 95vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .update-motivation-slider-modal {
    max-width: 1120px;
  }
}

@media (min-height: 992px) {
  .update-motivation-slider-modal {
    max-height: 960px;
  }
}

.update-motivation-slider-modal-header {
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #0000001A;
  padding: 1.5rem 4rem 1.5rem 1.5rem;
  z-index: 3;
}

@media (min-width: 1200px) {
  .update-motivation-slider-modal-header {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

.update-motivation-slider-modal-header__column-1 {
  display: none;
}

@media (min-width: 1200px) {
  .update-motivation-slider-modal-header__column-1 {
    display: block;
    position: absolute;
    top: 1.5rem;
  }
  html:not([dir="rtl"]) .update-motivation-slider-modal-header__column-1 {
    left: 1.5rem;
  }
  [dir="rtl"] .update-motivation-slider-modal-header__column-1 {
    right: 1.5rem;
  }
}

.update-motivation-slider-modal-header__column-2 {
    flex: 1;
}

@media (min-width: 1200px) {
  .update-motivation-slider-modal-header__column-2 {
    text-align: center;
  }
}

.update-motivation-slider-modal-header__column-3 {
  position: absolute;
  top: 1.5rem;
}

html:not([dir="rtl"]) .update-motivation-slider-modal-header__column-3 {
  right: 1.5rem;
}

[dir="rtl"] .update-motivation-slider-modal-header__column-3 {
  left: 1.5rem;
}

.update-motivation-slider-modal-header__heading {
  display: flex;
  gap: 0.75rem;
  margin: 0 0 0.75rem 0;
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .update-motivation-slider-modal-header__heading {
    justify-content: center;
  }    
}

.update-motivation-slider-modal-header__heading-image {
  display: none;
}

@media (min-width: 768px) {
  .update-motivation-slider-modal-header__heading-image {
    display: block;
  }
}

.update-motivation-slider-modal-header__subheading {
  color: #666;
  margin: 0;
}

.update-motivation-slider-modal-header__close {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 1rem;
  margin: -1rem;
}

.update-motivation-slider-modal-body {
  flex: 1;
  position: relative;
}

.update-motivation-slider-modal-image {
  position: absolute;
  left: 0;
  left: 0;
}

.update-motivation-slider-modal-image--after {
  width: 25%;
  overflow: hidden;
}

.update-motivation-slider-modal-image__img {
  max-width: 100vw;
}

@media (min-width: 1200px) {
  .update-motivation-slider-modal-image__img {
    max-width: 1120px;
  }
}


.update-motivation-silder-modal-slider {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 25%;
  height: 100%;
}

.update-motivation-silder-modal-slider__button {
  border: 0;
  background: transparent;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  cursor: grab;
}

.update-motivation-silder-modal-slider__button:active {
  cursor: grabbing
}

.update-motivation-silder-modal-slider__border {
  border-left: 2px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.fade-in {
	opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}