@import url("/css/fonts.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong {
  font-weight: bolder;
}

.br {
  display: block;
}

a:link {
  color: #0779D0;
  font-weight: 400;
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

/* Disabling input[type=number] spinner */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: none;
  -moz-appearance:textfield;
  appearance: none;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
}

html:not(.de) .de-only { display: none; }

.bg-white { background-color: #fff; }

.bg-light-grey-1 { background-color: #F6F6F6; }

.bg-light-grey-2 { background-color: #F4F4F4; }

.bg-light-blue { background-color: #E6F5FC; }

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 540px;
}

@media (min-width: 992px) {
  .container {
    max-width: none;
  }
}

.update-header-section-1 {
  padding: 2rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 992px) {
  .update-header-section-1 {
    justify-content: center;
    text-align: center;
  }
}

.update-header-section-1__heading {
  margin: 0;
  font-size: 1.5rem;
}

.update-header-section-1__heading .ads-blocked {
  color: #E40D0D;
}

.update-header-section-1__heading--with-block-count, 
.--has-block-count .update-header-section-1__heading { display: none; }
.--has-block-count .update-header-section-1__heading.update-header-section-1__heading--with-block-count { display: block; }

@media (min-width: 992px) {
  .update-header-section-1__heading {
    font-size: 2.5rem;
  }    
}

.update-header-section-1__subheading {
  width: 100%;
  margin: 0 0 -0.5rem 0;
  font-size: 1.125rem;
  color: #666;
}

.update-header-section-3 {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 992px) {
  .update-header-section-3 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.update-header-section-3-item {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.update-plans {
  padding: 2.75rem 0 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 992px) {
  .update-plans {
    justify-content: center;
  }
}

.update-plan {
  border: 1px solid #E6E6E6;
  padding: 2rem 1.5rem;
  border-radius: 6px;
  width: 100%;
}

@media (min-width: 992px) {
  .update-plan {
    width: 16rem;
  }
}

.update-plan.update-plan-1 {
  border: 2px solid #2788F9;
}

.update-plan-1-discount {
  background-color: #2788F9;
  margin: -2rem -1.5rem 0 -1.5rem;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
}

@media (min-width: 992px) {
  .update-plan-2 {
    margin-top: 2.375rem;
  }
}

.update-plan-heading {
  margin-top: 0;
  margin-bottom: 1.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  text-align: center;
}

.update-plan-1 .update-plan-heading {
  margin-top: 2rem;
}

.update-plan-heading__product {
  font-size: 1.5rem;
  display: block;
}

.update-plan-heading__frequency {
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
}

.update-plan-heading-price {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.update-plan-heading-price__final-currency {
  font-size: 1.5rem;
}

.update-plan-heading-price__final-amount {
  font-size: 3.5rem;
  margin-top: -1rem;
  margin-left: 0.1rem;
  margin-right: 0.2rem;
}

.update-plan-heading-price__frequency {
  font-size: 1.125rem;
}

.update-premium-checkout-button {
  border: 1px solid #C6C6C6;
  border-radius: 6px;
  background-color: #fff;
  color: #0797E1;
  font-size: 16px;
  text-align: center;
  line-height: 1.375;
  padding: 0.75rem;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
}

.update-premium-checkout-button.update-premium-checkout-button--active {
  background-color: #04B101;
  color: #fff;
  border: 0;
}

.update-payment-providers {
  text-align: center;
}

.update-payment-providers__text {
  margin-top: 0;
  margin-bottom: 1rem;
}

.update-payment-providers__image {
  margin: 0 auto;
}

.update-cancel-policy {
  background: #0797E11A;
  border-radius: 6px;
  width: fit-content;
  padding: 1rem 1.5rem;
  margin: 2rem auto;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
}

.update-difference-tease {
  text-align: center;
}

.update-difference-tease__lead {
  font-size: 1.125rem;
  font-weight: 700;
  color: #333333;
}

.update-difference-tease__button {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.update-premium-difference-header {
  margin: 3.5rem 0 2.5rem 0;
}

@media (min-width: 992px) {
  .update-premium-difference-header {
    text-align: center;
  }  
}

.update-premium-difference-header__heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #212121;
}

@media (min-width: 992px) {
  .update-premium-difference-header__heading {
      font-size: 2.5rem;
  }
}

.update-premium-difference-header__subheading {
  color: #333333;
  font-size: 1.125rem;
}

.premium-motivation {
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 508px;
}

@media (min-width: 992px) {
  .premium-motivation {
    margin-bottom: 3.75rem;
    width: 888px;
  }
}

.premium-motivation-slider {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 10px 20px 0px #33333333;
}

.premium-motivation-slider-header {
  background-color: #fff;
  box-shadow: 0px 3.17px 3.17px 0px #0000001A;
  padding: 1rem;
  z-index: 3;
}

.premium-motivation-slider-header__heading {
  display: flex;
  gap: 0.75rem;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
}

@media (min-width: 992px) {
  .premium-motivation-slider-header__heading {
    font-size: 1.5rem;
    justify-content: center;
  }
}

.premium-motivation-slider-header__heading-image {
  display: none;
}

@media (min-width: 992px) {
  .premium-motivation-slider-header__heading-image {
    display: block;
  }
}

.premium-motivation-slider-body {
  position: relative;
  height: 384.90px;
  width: 508px;
}

@media (min-width: 992px) {
  .premium-motivation-slider-body {
    height: 672.82px;
    width: 888px;
  }  
}

.premium-motivation-slider-image {
  position: absolute;
  left: 0;
  left: 0;
}

.premium-motivation-slider-image--after {
  width: 25%;
  overflow: hidden;
}

.premium-motivation-slider-image__img {
  height: 384.90px;
  width: 508px;
}

@media (min-width: 992px) {
  .premium-motivation-slider-image__img {
    height: 672.82px;
    width: 888px;
  }  
}

.premium-motivation-silder-modal-slider {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 25%;
  height: 100%;
}

.premium-motivation-silder-modal-slider__button {
  border: 0;
  background: transparent;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  cursor: grab;
}

.premium-motivation-silder-modal-slider__button:active {
  cursor: grabbing
}

.premium-motivation-silder-modal-slider__border {
  border-left: 2px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.update-premium-ctas {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.5rem 0;
}

@media (min-width: 992px) {
  .update-premium-ctas {
    width: fit-content;
  }

  .update-premium-cta {
    width: 200px;
  }  
}

.update-premium-features {
  padding: 2.5rem 0 1.5rem 0;
}

@media (min-width: 992px) {
  .update-premium-features {
    padding-top: 3.75rem;
  }
}

.update-premium-features__heading {
  font-size: 1.5rem;
  margin: 0;
}

@media (min-width: 992px) {
  .update-premium-features__heading {
    font-size: 3rem;
    text-align: center;
  }    
}

.update-premium-features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;
}

@media (min-width: 992px) {
  .update-premium-features-list {
      margin-top: 3rem;
  }
}

.update-premium-features-item {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 6px;
}

@media (min-width: 992px) {
  .update-premium-features-item {
      width: 15rem;
  }
}

.update-premium-features-item__heading {
  font-size: 1.125rem;
  margin: 1rem 0;
  color: #333;
}

.update-premium-features-item__paragraph {
  color: #333;
}

.update-premium-features-item :last-child {
  margin-bottom: 0;
}

.update-footer {
  border-top: 3px solid #EDEDED;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.125rem;
}

.update-footer a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.premium-plan-tax {
  display: none;
  text-align: center;
  width: 100%;
}

.vat-exclusive .premium-plan-tax {
  display: block;
}

.update-plan .premium-plan-tax {
  margin-top: -1.8rem;
  margin-bottom: 1.5rem;
}

.update-premium-ctas .premium-plan-tax {
  margin-top: 0;
}