<script>(()=>{
// source scripts/generated-settings
// requires scripts/namespace

adblock.settings.page = {{ page | tojson }};
adblock.settings.locale = {{ locale | tojson }};
{% if prevent_cookie_prompt %} adblock.settings.suppressCookiePrompt = true; {% endif %}
{% if code %} adblock.settings.pageCode = {{ code | tojson }}; {% endif %}

})()</script>