@media(max-width: 767px)
{
  .text-center-mobile { text-align: center; }
}

.margin-top-3 { margin-top: 3em; }

@media (min-width: 768px)
{
  .one-third
  {
    /* override */
    width: 33.333333%;
  }

  .one-fourth
  {
    width: 25%;
  }
}

.content a,
.content a:visited
{
  color: #3d9c4f;
  font-weight: bolder;
}

.content a.legal,
.content a.legal:visited
{
  color: #c70d2c;
  font-weight: bolder;
}

@media (min-width: 768px)
{
  .section
  {
    margin-bottom: 6em;
  }

  #hero
  {
    padding-bottom: 6em;
  }

  #hero .section
  {
    margin-bottom: 0;
  }
}

.bg-grey-abstract
{
  background-image: url("/img/grey-bg-abstract-shape.svg");
  background-repeat: no-repeat;
  background-size: 1152px 1250px;
}

#hero-image-tall,
#hero-image-wide { margin: 0 auto; }

#hero-image-tall { display: block; }
#hero-image-wide { display: none; }

@media (min-width: 576px)
{
  #hero-image-tall { display: none; }
  #hero-image-wide { display: block; }
}

@media (min-width: 768px)
{
  #hero-image-tall { display: block; }
  #hero-image-wide { display: none; }
}

@media (min-width: 992px)
{
  #hero-image-tall { display: none; }
  #hero-image-wide { display: block; }
}

.content .hero-heading
{
  font-size: 1.4em;
  font-weight: lighter;
}

.content .hero-subheading
{
  font-size: 2.4em;
  line-height: 1.3;
  font-weight: bold;
}

@media (min-width: 576px)
{
  .unsupported-device .download
  {
    display: none;
  }
}

.content .icon-button,
.content .icon-button:visited
{
  padding: 0.5em 1em;
  border-radius: 0.5em;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #3d9c4f;
  color: #fff;
}

.icon-button .button-image
{
  vertical-align: middle;
}

[dir="ltr"] .icon-button .button-image
{
  margin-right: 10px;
}

[dir="rtl"] .icon-button .button-image
{
  margin-left: 10px;
}

.icon-button .button-text
{
  position: relative;
  top: 0.1em;
}

.info-box
{
  display: none;
  margin-top: 2em;
  padding: 1em;
  border-radius: 0.4em;
}

.unsupported-device .info-box
{
  display: block;
}

.info-box
{
  display: none;
}

.unsupported-device .info-box
{
  display: block;
}

@media (min-width: 768px)
{
  .info-box
  {
    float: left;
    width: 50%;
  }
}

.info-box p
{
  margin: 0.5em 0;
}

.info-box .close-button
{
  width: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
}

[dir="ltr"] .info-box .close-button
{
  float: right;
}

[dir="rtl"] .info-box .close-button
{
  float: left;
}

.settings-icon
{
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("/img/icon-gear.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: right;
}

@media (max-width: 320px)
{
  .bg-grey-abstract
  {
    background-position: top -260px right -640px;
  }
}

@media (min-width: 375px)
{
  .bg-grey-abstract
  {
    background-position: top -260px right -640px;
  }
}

@media (min-width: 768px)
{
  .bg-grey-abstract
  {
    padding-top: 6em;
    background-position: top -280px right -500px;
  }
}

@media (min-width: 1366px)
{
  .bg-grey-abstract
  {
    background-size: 1746px 1894px;
    background-position: top -500px right -740px;
  }
}

@media (min-width: 1920px)
{
  .bg-grey-abstract
  {
    background-position: top -500px right -500px;
  }
}

@media (min-width: 768px)
{
  #facts
  {
    margin-bottom: 6em;
  }

  #facts .section
  {
    margin-bottom: 0;
  }
}

.fact
{
  padding-top: 1em;
  padding-bottom: 1em;
}

.fact img
{
  display: block;
  margin: 1em auto;
}

.fact p
{
  font-size: 2em;
}

.fact .number-of-devices
{
  font-weight: lighter;
}

.fact em
{
  font-weight: bold;
}
