/* overrides ******************************************************************/

html {
  font-size: 16px !important;
}

body {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

h2 { text-align: inherit; }

header {
  min-height: unset;
  max-height: unset;
}

img {
  max-width: 100%;
}

@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}

.unadblock body {
  padding: 0;
}

.page {
  font-weight: 400;
  color: #585858;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5 {
  color: #000;
}

.page p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page a:hover,
.page a:active,
.page a:focus {
  text-decoration: none;
}

.page a:hover,
.page a:active,
.page a:focus,
.page button:hover,
.page button:active,
.page button:focus {
  cursor: pointer;
}


.page p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.page .h1, 
.page .h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  margin-block-end: 1rem;
}

@media (min-width: 576px) {

  .page .h1, 
  .page .h2 {
    line-height: 1.25;
  }

  .page .h1 {
    font-size: 2.5rem;
  }

  .page .h2 {
    font-size: 2rem;
    font-weight: 400;
  }

}

.page .container {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  width: 920px;
  overflow: auto;
}

.page a:link,
.page a:visited {
  color: #0055B7;
  text-decoration: none;
  font-weight: 700;
}

.page a:hover,
.page a:active {
  text-decoration: underline;
}

/* pagewide *******************************************************************/

/** sections ******************************************************************/

.section {
  text-align: center;
  padding-block-start: 3rem;
  padding-block-end: 0;
  background-color: #fff;
}

@media (min-width: 576px) {
  .section {
    text-align: start;
  }
}

.section__image {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-end: 1.5rem;
}

/** buttons *******************************************************************/

.button {
  display: block;
  background-color: #EDA51E;
  border-radius: 6px;
  width: 13rem;
  max-width: 100%;
  padding-block-start: 0.625rem;
  padding-block-end: 0.625rem;
  font-weight: 700;
  font-size: 18px;
}

.page .button,
.page .button:link,
.page .button:hover,
.page .button:active,
.page .button:focus,
.page .button:visited {
  color: #fff;
  text-decoration: none;
}

.page .button:hover,
.page .button:active,
.page .button:focus {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.button__container {
  display: flex;
  justify-content: center;
  margin-block-start: 2.5rem;
  margin-block-end: 3.5rem;
}

@media (min-width: 576px) {
  .button__container {
    justify-content: end;
    margin-block-start: 3.5rem;
    margin-block-end: 4.5rem;
  }
}

.button--outlined.button--disabled {
  background-color: #fff;
  border: 1px solid #C6C6C6;
  color: inherit !important;
}

.button--outlined.button--disabled:hover,
.button--outlined.button--disabled:active,
.button--outlined.button--disabled:focus {
  box-shadow: none;
}

/* cards **********************************************************************/

@media (min-width: 576px) {
  .card--md {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    overflow: auto;
  }
}

@media (min-width: 768px) {
  .card--md {
    padding-inline-start: 4rem;
    padding-inline-end: 4rem;
  }
}

/* media blocks ***************************************************************/

@media (min-width: 576px) {
  .media-start--md {
    display: flex;
  }    
}

/* sections *******************************************************************/

/* logo-container *************************************************************/

.logo-header {
  text-align: center;
  padding-block-start: 2.25rem;
  background-color: #F7F7F7;
}

@media (min-width: 576px) {
  .logo-header {
    text-align: start;
  }
}

.page .logo-header__container {
  width: 1024px;
}

/** section-1 *****************************************************************/

.section-1 {
  padding-block-start: 0rem;
  background-color: #F7F7F7;
}

@media (min-width: 576px) {
  .section-1 {
    text-align: center;
    padding-block-start: 1rem;
    padding-block-end: 5rem;
  }
}

.section-1__paragraph--lead {
  font-size: 1.125rem;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}  

@media (min-width: 576px) {
  .section-1__paragraph--lead {
    font-size: 1.375rem;
  }  
}

@media (min-width: 576px) {
  .section-1__button__container {
    justify-content: center;
  }    
}

/** section-2 *****************************************************************/

@media (min-width: 576px) {
  .section-2 {
    background: transparent;
    padding-block-start: 0;
    margin-block-start: -5.5rem;
  }
}

@media (min-width: 576px) {
  .section-2__media-start--md {
    margin-block-start: 4rem;
    margin-block-end: 2rem;
  }
}

@media (min-width: 768px) {
  @media (min-width: 576px) {
    .section-2__media-start--md {
      margin-block-start: 5rem;
    }
  }  
}

@media (min-width: 576px) {
  .section-2__image {
    margin-inline-end: 2rem;
    margin-block-end: 0;
  }  
}

.section-2 p {
  font-size: 1.125rem;
}

/** section-3 *****************************************************************/

.section-3 {
  padding-block-start: 0;
}

@media (min-width: 576px) {
  .section-3 {
    padding-block-start: 4rem;
  }
}

.section-3__h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
  .section-3__h1 {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.premium-plans {
  display: flex;
  justify-content: space-evenly;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 48rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.premium-plan {
  width: 18rem;
  max-width: 100%;
  padding: 1.5rem;
  border: 1px solid #999;
  border-radius: 6px;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.premium-plan:hover,
.premium-plan:active {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.premium-plan--highlighted {
  border-color: #FFAE00;
}

.premium-plan__heading {
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.15;
  text-align: center;
  margin-block-start: 1rem;
  margin-block-end: 1.5rem;
}

.premium-plan__subheading {
  text-align: center;
}

.premium-plan__button__container {
  display: flex;
  justify-content: center;
  margin-block-start: 2rem;
  margin-block-end: 2.5rem;
}

.premium-plan__feature-list-heading {
  text-align: start;
}

.premium-plan__feature-list {
  margin: 0;
  padding: 0;
  padding-inline-start: 1.5rem;
  text-align: start;
}

.premium-plan__feature-list li {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  padding-inline-start: 0.5rem;
}

.premium-plan__feature-list li {
  list-style-image: url(/img/premium-list-check.svg);
}

.premium-plan__feature-list .premium-plan-list-muted {
  color: #999;
  list-style-image: url(/img/premium-list-cross.svg);
}

/** section-4 *****************************************************************/

.section-4 {
  padding-block-start: 2rem;
  padding-block-end: 3rem;
}

@media (min-width: 768px) {
  .section-4 {
    padding-block-end: 5rem;
  }
}

.section-4__section {
  padding-block-start: 2.5rem;
}

.section-4__heading {
  padding-block-end: 1rem;
  margin-block-end: 0;
  text-align: center;
  border-bottom: 1px solid #C6C6C6;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

@media (min-width: 576px) {
  .section-4__heading {
    padding-block-start: 3rem;
    padding-block-end: 2.5rem;
  }
}

@media (min-width: 768px) {
  .section-4__heading {
    margin-block-end: 5rem;
  }
}

@media (min-width: 576px) {
  .section-4__section {
    padding: 0;
    margin-block-start: 4rem;
    margin-block-end: 4rem;
  }
}

@media (min-width: 576px) {
  .section-4__media-start__start {
    flex: 0 0 10.5rem;
    margin-inline-end: 2rem;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .section-4__media-start__start {
    margin-inline-end: 3rem;
  }
}

/* payment section ************************************************************/

#payments {
  padding: 0;
  margin: 0;
}

#payments-content {
  margin: 0;
  padding-block-start: 3rem;
  padding-block-end: 3rem;
}

@media (min-width: 768px) {
  #payments-content {
    padding-block-start: 6rem;
    padding-block-end: 8rem;
  }
}

/* tooltip ********************************************************************/

.inline-tooltip-trigger {
  margin-inline-start: 0.1rem;
  display: inline-block;
  vertical-align: text-bottom;
  height: 18px;
  width: 18px;
  background: url("/adblock/block-cookie-banners/tooltip-trigger.svg");
}

.inline-tooltip {
  visibility: hidden;
  position: absolute;
  padding: 1rem;
  color: #333333;
  background: #fff;
  font-size: 14px;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  top: -9001;
  left: -9001;
  z-index: 1;
}

.inline-tooltip.active {
  visibility: visible;
}