.page-deal body {
  margin: 0;
  padding: 0;
}

#deal-page {
  position: relative;
}

main#deal-page {
  padding-bottom: 2rem;
}
#deal-page .premium-header {
  padding-top: 0;
  padding-bottom: 0;
}

#deal-page .premium-header p {
  color: var(--white, #FFF);
  font-family: Source Sans Pro;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 29.4px */
  text-align: start;
  max-width: 850px;
}

#deal-page h1 {
  color: var(--white, #FFF);
  text-align: center;
  text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.48);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 61.6px */
}
#page-deal .uppercase {
  text-transform: uppercase;
}
#deal-page #hero-snow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: fit-content;
  height: 488px;
  min-height: 488px;
}
#deal-page h2 {
  color: var(--gray1, #333);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 61.6px */
  margin-bottom: 2rem;
}

#deal-page #separator-image-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 70px 40px 70px;
}
#deal-page #separator-image {
  max-width: 1300px;
}

#deal-page h3 {
  color: var(--gray1, #333);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
}
#deal-page .premium-feature {
  margin: 0;
  padding: 0;
  column-gap: 80px;
}
#deal-page .premium-feature-text {
  padding: 0;
}
#deal-page .premium-feature-text p {
  color: var(--gray1, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}
#deal-page .premium-feature-image {
  max-width: 130px;
  height: auto;
}
#deal-page .premium-background-1 {
  background: none;
  padding-bottom: 0;
  padding-top: 90px;
}

#deal-page .premium-plan.discount {
  border: 1px solid #10B501;
}
#deal-page .premium-plan.discount .not-chosen {
  background: none;
  color: #333;
  border: 1px solid #333;
}
#deal-page .premium-plan:hover {
  box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.20);
}
#deal-page .premium-features {
  margin: 0 auto;
  border-radius: 12px;
  background-color: none;
  box-shadow: none;
}

#deal-page .premium-row {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
  padding-top: 2rem;
}

#deal-page .premium-plan-header {
  color: var(--black, #000);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  position: relative;
}

#deal-page .premium-column-4 {
  padding-left: 0;
  padding-right: 0;
  width: 410px;
  max-width: 410px;
}
#deal-page .premium-plan-list,
#deal-page .premium-plan-price {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#deal-page .premium-plan-price * {
  font-weight: 700;
}
#deal-page .premium-plan-price-large {
  color: var(--Black, #000);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#deal-page .premium-plan-price.red > * {
  color: #CE0707;
}
#deal-page .premium-feature h3 {
  font-weight: 600 !important;
}
#deal-page .subheading {
  color: var(--gray1, #333);
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}

#deal-page .premium-container:last-of-type {
  color: var(--gray2, #666);
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#deal-page .premium-plan-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#deal-page .premium-plans {
  max-width: initial;
}

#deal-page .premium-plan {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

#navabar-page-deal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid gray;
  padding: 0 100px;
  z-index: 999;
  background: #fff;
}
#navbar-page-deal {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
}
#navbar-page-deal .premium-button,
#deal-page .premium-button {
  border-radius: 6px;
  background: none;
  border: 1px solid #333;
  color: #333;
  padding: 0 24px;
  width: 100%;
  margin: 32px auto;
  max-width: 360px;
  line-height: normal;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
}
#deal-page .premium-button:hover {
  color: #fff;
  background: var(--green, #10B501);
  border: 1px solid #10B501;
}

#navbar-page-deal .premium-button.discount,
#deal-page .premium-button.discount {
  background: var(--green, #10B501);
  border: 1px solid #10B501;
  color: #fff;
  line-height: normal;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
}

#navbar-page-deal #navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

#navbar-page-deal .premium-button.discount {
  width: fit-content;
  width: -moz-fit-content;
  margin-left: 0;
  margin-right: 0;
}

#navbar-page-deal .premium-button.discount:hover,
#deal-page .premium-button.discount:hover {
  text-decoration: none;
  box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.20);
}
#deal-page #regular-price {
  border-radius: 4px;
  border: 1px solid #E8E8E8;
  background: #F4F4F4;
  display: flex;
  width: 100%;
  height: 70px;
  max-height: fit-content;
  max-height: -moz-fit-content;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#deal-page #box-deal {
  border-radius: 4px;
  border: 1px solid #EF9A9A;
  background: #FFEFEF;
  display: flex;
  width: 100%;
  height: 70px;
  max-height: fit-content;
  max-height: -moz-fit-content;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#deal-page #actual-price {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--gray2, #666);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#deal-page hr {
  margin: 30px 0;
  color: #C6C6C6;
  border-style: solid;
  border-width: 0.5px;

}
#deal-page .premium-plan-price-currency {
  font-size: 32px;
}
#deal-page .premium-plan-price-large {
  font-size: 60px;
}
#deal-page .premium-plan-price-frequency {
  font-size: 24px;
}
#deal-page .premium-plan-heading {
  text-transform: capitalize;
  color: var(--black, #000);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  margin: 0;
  width: 100%;
}

@media (max-width: 991px) {
  #deal-page .premium-plan-header {
    background: none;
    color: #333;
    position: relative;
    top: unset;
    left: unset;
    height: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
  }
  #deal-page .premium-plan-heading {
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  #navbar-page-deal .premium-cta {
    display: none;
  }
}
