body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  color: #333;
  margin-bottom: 2rem;
  line-height: 140%;
}

.educational__content a {
  color: #0797E1;
}

.educational__header,
.educational__content {
  line-height: 140%;
}

.educational__header {
  width: 100%;
  height: 100%;
  max-height: 135px;
  overflow: hidden;
  padding: 0;
  background: linear-gradient(90deg, #03BCFC 0%, #03BCFC 50%, #4ECDF9 50%, #4ECDF9 100%);
  text-align: center;
  margin-bottom: 1.75rem;
}

#header-illustration {
  margin-top: 46px;
}

#educational-nav {
  background: #CDCDCD;
  height: 135px;
  padding-left: 100px;
  padding-right: 100px;
}

#educational-nav #navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  max-width: 900px;
  margin: 0 auto;
}

.educational__content {
  padding: 0 1.5rem;
}

.educational__content__header {
  text-align: center;
}

.educational__content__header h1 {
  color: var(--gray1, #333);
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 140%; /* 89.6px */
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.educational__content__header p {
  color: var(--gray2, #666);
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.educational__content__header h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3.25rem;
  color: var(--gray1, #333);
  font-family: Source Sans Pro;
  font-weight: 700;
  line-height: 140%;
}

.educational__contacts_section {
  margin: 5rem auto;
  max-width: 800px;
  color: #000;
}

.educational__contacts_section h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
}

.educational__contacts_section p {
  color: #000;
  font-family: Source Sans Pro;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.card {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  margin-top: 3.5rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.20);
}

.card__content {
  padding: 3rem 2.81rem 3.12rem;
}

.card__content:last-child {
  padding-bottom: 0;
}

.card__content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.25rem;
}

.card__content p {
  color: var(--gray1, #333);
  font-family: Source Sans Pro;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin-bottom: 1.5rem;
}

.card__content p:last-child {
  margin-bottom: 0;
}

.card__content__img {
  float: right;
}
.card__content__img > img[src*="how-to-pin.svg"] {
  width: 260px;
  max-width: 260px;
  margin: 0 1rem 2rem 2rem
}
.card__content__img > img[src*="lock-and-laptop.svg"] {
  width: 160px;
  max-width: 160px;
  margin: 0 3rem 2rem 6rem;
}

footer[role="contentinfo"] {
  margin-top: 70px;
}

/* potentially pure css accordion */
/* the accordion can either be set up using a checkbox or a radio input */
/* if it's a radio, then only one tab is open at a time */
/* if it's a checkbox, then multiple can be open at a time */
/* the radio version will not close the currently open tab when clicking on the open tab label */
/* see js below that enables clicking on an open tab to close it and only allowing for one tab to be open at a time */

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  display: none;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion {
  background-color: #F4F4F4;
  clear: both;
}

.tabs {
  overflow: hidden;
  padding: 0 2.75rem 0.27rem;
}

.tab {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #999;
}

.tab:last-child {
  border-bottom: none;
}

.tab__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.94rem 0.63rem 0;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.1rem;
  color: #333;
  transition: all .25s;
}

.tab__label::after {
  content: "";
  width: 1rem;
  height: 1rem;
  text-align: center;
  transition: all .25s;
  background: url("/img/educational/arrow-down.svg") no-repeat center center;
  background-size: 100%;
}

.tab__content {
  max-height: 0;
  padding: 0;
  transition: all .25s;
}

.tab__content > p:first-of-type {
  color: var(--gray1, #333);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
}

.tab__content ol {
  padding-left: 3.88rem;
}

.tab__content li {
  line-height: 200%;
  list-style-type: decimal;
}

.tab__close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  cursor: pointer;
}

input:checked {
  display: none;
}

input:checked+.tab__label::after {
  transform: rotate(180deg);
}

input:checked~.tab__label {
  font-weight: 700;
}

input:checked~.tab__content {
  max-height: 100vh;
  padding: 1rem 0;
}

@media (max-width: 720px)
{
  .educational__content__header h1 {
    font-size: 2.5rem;
  }
  #educational-nav {
    padding-left: 1rem;
    padding-right: 1rem
  }
  @media (max-width: 520px) {
    .card__content__img {
      width: 100%;
    }

    #header-illustration {
      width: 120px;
      margin-top: 75px;
    }

    #navbar-container {
      justify-content: space-evenly;
    }
  }
  @media (max-width: 410px) {
    .card__content__img > img[src*="how-to-pin.svg"] {
      width: -webkit-fill-available;
      min-width: -webkit-fill-available;
      margin: 0 0 1rem 0;
    }

    .card__content__img > img[src*="lock-and-laptop.svg"] {
      width: -webkit-fill-available;
      min-width: -webkit-fill-available;
      margin: 0 3rem 1rem 3rem;
    }
  }
}