/* document
 ******************************************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  color: #fff;
  background-color: #000;
}

body {
  margin: 0;
}

h5, h4, h3, h2, h1 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

ul {
  padding-inline-start: 1.5rem;
}

li {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

a:link, a:visited {
  text-decoration: none;
  font-weight: 700;
  color: #2788F9;
}

a:hover, a:active {
  text-decoration: underline;
}

/* utility
 ******************************************************************************/

.inline-block {
  display: inline-block;
}

[lang] .--en-only {
  display: none !important;
}

[lang="en"] .--en-only {
  display: block !important;
}

/* loader
 ******************************************************************************/

.installed-loader__overlay {
  display: none;
  position: fixed;
  z-index: 9001;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
}

.--loading .installed-loader__overlay {
  display: block;
}

.installed-loader__card {
  margin: 10% auto 0;
  width: 650px;
  max-width: 90%;
  border-radius: 20px;
  color: #000;
  background: #fff;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  position: relative;
}

.installed-loader__card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
}

.installed-loader__card__header h1 {
  font-size: 27px;
}

.installed-loader__card__progress {
  width: 100%;
  margin: 0 auto 2.5rem;
  display: block;
  border: 0;
}

@media (min-width: 576px) {
  .installed-loader__card__progress {
    width: 70%;
  }
}

.installed-loader__card__progress::-webkit-progress-bar {
  border-radius: 4px;
  background-color: lightgrey;
}

.installed-loader__card__progress::-webkit-progress-value {
  border-radius: 4px;
  background-color: #2788F9;
}

.installed-loader__card__body {
  margin-top: 1rem;
  font-size: 18px;
}

.installed-loader__card__body h2 {
  font-size: 24px;
  font-weight: 400;
}

.installed-loader__card__body__message {
  margin-top: 1rem;
}

.installed-loader__card__body__divider {
  margin: 1rem 0;
  max-width: 120px;
  border: none;
  height: 2px;
  background-color: #F0F0F0;
}

.installed-loader__card__text {
  font-weight: 700;
  font-size: 18px;
}

.installed-loader__background__ad {
  max-width: 50%;
  position: absolute;
  z-index: -2;
}

@media (min-width: 576px) {
  .installed-loader__background__ad {
    max-width: 100%;
  }
}

.installed-loader__background__ad--1 {
  top: -24%;
  right: 0;
}

.installed-loader__background__ad--2 {
  top: calc(100% + 30px);
  right: 90%;
}

.installed-loader__background__ad--3 {
  top: calc(100% + 46px);
  left: 28%;
}

.installed-loader__background__ad--4 {
  top: calc(100% + 33px);
  left: 88%;
}

.installed-loader__background__ad--5 {
  top: 173%;
  left: calc(100% - 360px);
}

@media (min-width: 576px) {
  .installed-loader__background__ad--1 {
    top: -100px;
    right: calc(100% + 24px);
  }
}

@media (min-width: 576px) {
  .installed-loader__background__ad--2 {
    top: calc(100% + 30px);
    right: 90%;
  }
}

@media (min-width: 576px) {
  .installed-loader__background__ad--3 {
    top: calc(100% + 46px);
    left: 28%;
  }
}

@media (min-width: 576px) {
  .installed-loader__background__ad--4 {
    top: calc(100% + 33px);
    left: 88%;
  }
}

@media (min-width: 576px) {
  .installed-loader__background__ad--5 {
    top: -33%;
    left: calc(100% + 27px);
  }
}

/* page
 ******************************************************************************/

.installed-container {
  max-width: 904px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

/* main
 ******************************************************************************/

.installed-main {
  color: #757575;
  background-color: #fff;
  overflow: hidden;
}

@media (min-width: 903px) {
  .installed-main {
    margin-block-start: 4rem;
    margin-block-end: 2.5rem;
    border-radius: 7px;
  }
}

.installed-main__container {
  padding: 2rem;
  background-color: #fff;
}

.installed-main__container--grey {
  background-color: #F5F5F5;
}

/* main block 1
 ******************************************************************************/

.installed-main__block-1 {
  text-align: center;
}

.installed-main__block-1__image-1 {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.installed-main__block-1__paragraph-1 {
  margin-top: 1rem;
}

@media (min-width: 903px) {
  .installed-main__block-1__paragraph-1 {
    margin-top: 0.5rem;
  }
}

/* main block 2
 ******************************************************************************/

.installed-main__block-2 {
  padding-block-start: 1rem;
}

@media(min-width: 903px) {
  .installed-main__block-2 {
    padding-block-start: 2rem;
  }
}

.installed-main__block-2__ul-1 {
  padding-inline-start: 1rem;
  margin-block-start: 0.75rem;
}

@media (min-width: 903px) {
  .installed-main__block-2__ul-1 {
    margin-block-start: 0;
  }
}

.installed-main__block-2__ul-1__li {
  margin-block-start: 0.2rem;
  margin-block-end: 0.2rem;
}

/* main block 3
 ******************************************************************************/

.installed-main__block-3 {
  margin: 1.5rem -1rem 0 -1rem;
  padding: 0.25rem 1rem;
  border: 1px solid #2788F9;
  background-color: rgba(39, 136, 249, 0.05);
}

@media (min-width: 903px) {
  .installed-main__block-3 {
    margin-block-start: 1.7rem;
    margin-inline-start: 0;
    margin-inline-enD: 0;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
  }
}

@media (min-width: 903px) {
  .installed-main__block-3 .appeal-form .appeal-form-header {
    display: flex;
    align-items: center;
  }
}

.installed-main__block-3 .appeal-form .appeal-form-header__select,
.installed-main__block-3 .appeal-form .appeal-form-amount__input {
  border-radius: 3px;
}


.installed-main__block-3 .appeal-form .appeal-form-frequencies {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

@media (min-width: 903px) {
  .installed-main__block-3 .appeal-form .appeal-form-frequencies {
    margin-block-start: 0rem;
    margin-block-end: 1rem;
  }
}

.installed-main__block-3 .appeal-form .appeal-form-header__heading {
  font-size: 1.25rem;
}

@media (min-width: 903px) {
  .installed-main__block-3 .appeal-form .appeal-form-header__heading {
    font-size: 1.5rem;
  }
}

.installed-main__block-3 .appeal-form .appeal-form-header__select {
  margin-inline-start: 0.25rem;
}

@media (min-width: 903px) {
  .installed-main__block-3 .appeal-form .appeal-form-header__select {
    padding: 0.1rem;
  }
}

@media (min-width: 903px) {
  .installed-main__block-3 .appeal-form .appeal-form-frequency__heading {
    color: inherit
  }
}
/* main block 4
 ******************************************************************************/

.installed-main__block-4 {
  font-size: 0.875rem;
}

/* main block 5
 ******************************************************************************/

.installed-main__block-5 {
  font-size: 0.875rem;
  padding-block-start: 1rem;
}

.installed-main__block-5__list-1 {
  margin: 0;
  padding: 0;
}

@media (min-width: 903px) {
  .installed-main__block-5__list-1 {
    display: flex;
    column-gap: 2rem;
  }
}

.installed-main__block-5__list-item {
  list-style: none;
  display: flex;
  align-items: center;
}

@media (min-width: 903px) {
  .installed-main__block-5__list-item {
    margin: 0;
  }
}

.installed-main__block-5__list-image {
  margin-inline-end: 0.5rem;
}

/* footer block 1
 ******************************************************************************/

.installed-footer__block-1 {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  background: #1F1F1F;
}

@media (min-width: 903px) {
  .installed-footer__block-1 {
    padding: 1rem 2rem;
    border-radius: 7px;
  }
}

.installed-footer__block-1__image-1 {
  margin-inline-end: 1rem;
  margin-block-start: 0.75rem;
}

/* footer block 2
 ******************************************************************************/

.installed-footer__block-2 {
  padding: 2rem;
}

@media (min-width: 903px) {
  .installed-footer__block-2 {
    padding-inline-start: 0;
    padding-inline-end: 0;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
}

.installed-footer__block-2__ul-1 {
  display: flex;
  column-gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block-start: 1.5rem;
}

@media (min-width: 903px) {
  .installed-footer__block-2__ul-1 {
    margin-block-start: 0;
  }
}

.installed-footer__block-2__ul-1__a,
.installed-footer__block-2__ul-1__li {
  display: block;
  margin: 0;
}

.restrict-premium .premium-only,
html:not(.restrict-premium) .not-premium-only {
  display: none !important;
}