*,
*:before,
*:after { box-sizing: inherit; }

html 
{ 
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body { margin: 0; }

@media (min-width: 930px) 
{
  body 
  { 
    margin-top: 20px;
    background-color: #000; 
    color: #fff;
  }
}

h1, h2, h3
{
  padding: 0;
  margin: 0;
}

h1
{
  margin-bottom: 15px;
  font-size: 170%;
  font-weight: 700;
}

h2
{
  margin-bottom: 10px;
  font-size: 150%;
}

h3 { font-size: 100%; }

em
{ 
  font-weight: 700;
  font-style: normal;
}

a,
button { cursor: pointer; }

ul { padding-left: 20px; }

fieldset
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.card
{
  margin: 0 auto;
  padding: 20px;
  color: #000;
  background-color: #fff;
}

@media (min-width: 930px)
{
  .card
  {
    border: 1px solid #ebebeb;
    border-radius: 16px;
    padding: 20px 40px;
  }
}

#delay-overlay
{
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.delay-modal { width: 280px; }

.delay-modal h2
{
  font-size: 1em;
  font-weight: normal;
}

.delay-modal progress { width: 100%; }

.container
{
  width: 930px;
  max-width: 100%;
  margin-bottom: 15px;
}

.logo { margin-bottom: 1em; }

.lead-image { display: block; }

@media (min-width: 930px)
{
  .lead { display: flex; }

  .lead-image { width: 146px; }

  .load-text { flex: 1; }
}

.donation-header { margin-bottom: 9px; }

.break { display: block; height: 1px; width: 1px; }

.payment-providers { margin-bottom: 24px; }