html {
    font-weight: 400;
}

body {
    padding: 0 !important;
}

.mainPageContent {
    width: 90%;
    margin: auto;
    margin-top: 36px;
    font: 16px "Lato", sans-serif;
    line-height: 20px;
    font-weight: 400;
    color: #333;
    max-width: 1064px;
    /* min-height: 40vw; */
    margin-top: 96px;
    /* Added styles */
    margin-bottom: 96px;
}

.premium-accounts-page {
    background-color: #F7F7F7;
}

.premium-accounts-page main p {
    color: #585858 !important;
}

.premium-accounts-page main a {
    color: #0797E1 !important;
}

.premium-accounts-page .lds-ring div {
    border-color: #0797E1 transparent transparent transparent
}

.premium-accounts-page .submit-btn,
.premium-accounts-page .cta-button.gold-button,
.premium-accounts-page #donate_now {
    background-color: #0797E1;
    border-radius: 4px;
    border: 0;
    color: #fff;
}

.premium-accounts-page #donate_now .donate-button-text {
    color: #fff;
}

.premium-account-card {
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 4px !important;
    padding: 2rem;
    margin-bottom: 4rem;
}

.premium-header-image {
    display: block;
    margin: 2.5rem auto;
}

/* TODO: Change in adblock CSS instead of override */
#confirmation-code-error {
    font-weight: 700;
}

/* TODO: Change in adblock CSS instead of override */
#subscription-canceled {
    font-size: 100% !important;
}

/* TODO: Change in adblock CSS instead of override */
.SubscriptionDetails {
    font-size: 100% !important;
}

.premium-cancel--heading {
    font-size: 20px;
}

.row.premium-cancel-cards {
    margin: 0 -1em;
}

.premium-cancel-card {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    padding: 16px;
    height: 318px;
}

.premium-cancel-card--heading {
    font-size: 18px;
    color: #000;
    margin-top: 0;
    margin-bottom: 22px;
}

.premium-cancel-card p {
    color: #585858;
    font-weight: 400;
}

.premium-cancel-card img {
    display: block;
    margin: 1em auto;
}

.premium-cancel-card img {
    margin: 2em auto 0 auto;
}

.row.premium-cancel-cards {
    margin: 2em -1em !important;
}

.premium-cancel-buttons {
    display: flex;
    justify-content: center;
    margin: 6em 0;
}

#keep-these-features {
    background-color: #EDA51E;
    margin: 1em 0.5em;
}

#no-really-cancel {
    background-color: #fff;
    margin: 1em 0.5em;
}