*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  color: #585858;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.bg-lightgrey {
  background-color: #F7F7F7;
}

#premium-background-1 {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (min-width: 992px) {

  .col {
    flex: 1 0 0%;
  }

  .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .order-0 {
    order: 0 !important;
  }

  .order-1 {
    order: 1 !important;
  }

  .order-2 {
    order: 2 !important;
  }

}

.break { display: inline-block; }

.premium-header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

@media (min-width: 992px) {
  .premium-header {
    padding-top: 7rem;
    padding-bottom: 5rem;
  }
}

.premium-header h1 {
  font-size: 3.25rem;
  margin: 0;
}

@media (min-width: 576px) {
  .premium-header h1 {
    font-size: 2.75rem;
  }
}

@media (min-width: 992px) {
  .premium-header h1 {
    font-size: 3.25rem;
  }
}

.premium-header p {
  font-size: 1.5rem;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.premium-plans {
  max-width: 48.5rem;
  margin-left: auto;
  margin-right: auto;
}

.premium-plan {
  position: relative;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.2);
}

@media (min-width: 992px) {
  .premium-plan {
    margin-top: 2rem;
    box-shadow: none;
  }
  .premium-plan.premium-plan-highlighted {
    box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.2);
  }
}

.premium-plan-tab {
  position: absolute;
  top: -3.5rem;
  left: 0;
  height: 2.5rem;
  width: 100%;
  background-color: #E6E6E6;
  color: #666666;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: 400;
}

.premium-plan-highlighted .premium-plan-tab {
  color: #fff;
  background-color: #0797E1;
}

@media (min-width: 992px) {
  .premium-plan-tab {
    display: none;
    top: -3rem;
    height: 2rem;
    font-weight: 700;
  }

  .premium-plan-highlighted .premium-plan-tab {
    display: block;
    color: #fff;
    background-color: #0797E1;
  }
  }

.premium-plan-tab-start {
  line-height: 2.5rem;
  font-size: 0.0.875rem;
  margin-left: 1rem;
}

@media (min-width: 992px) {
  .premium-plan-tab-start {
    line-height: 2rem;
    font-size: 0.8125rem;
  }
}

.premium-plan-tab-frequency,
.premium-plan-tab-separator {
  display: inline;
}

@media (min-width: 992px) {
  .premium-plan-tab-frequency,
  .premium-plan-tab-separator {
    display: none;
  }
}

[dir="ltr"] .premium-plan-tab-start {
  float: left;
}

[dir="rtl"] .premium-plan-tab-start {
  float: right;
}

.premium-plan-tab-end {
  display: none;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 0.75rem;
  margin: 0.625rem 1rem;
  line-height: 1.25rem;
  padding: 0 0.5rem;
}

@media (min-width: 320px) {
  .premium-plan-tab-end {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .premium-plan-tab-end {
    font-size: 0.625rem;
    margin: 0.375rem 1rem;
  }
}

[dir="ltr"] .premium-plan-tab-end {
  float: right;
}

[dir="rtl"] .premium-plan-tab-end {
  float: left;
}

.premium-plan-highlighted {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.premium-plan-heading {
  display: none;
  margin: 1rem 0 0 0;
  font-size: 1.75rem;
  text-align: center;
}

@media (min-width: 992px) {
  .premium-plan-heading {
    display: block;
  }
}

.premium-plan.premium-plan-highlighted .premium-plan-heading {
  color: #EDA51E;
}

.premium-plan-body {
  text-align: center;
}

@media (min-width: 992px) {
  .premium-plan-body {
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
  }
}

.premium-plan-description {
  width: 85%;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .premium-plan-description {
    width: 100%;
  }
}

.premium-plan-price {
  text-align: center;
  color: #000;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.premium-plan-price span {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}

.premium-plan-price-currency {
  font-size: 1.5rem;
  margin-top: 0.6rem;
}

.premium-plan-price-large {
  font-size: 3.5rem;
}

.premium-plan-price-small,
.premium-plan-price-frequency {
  font-size: 1.125rem;
  margin-top: 0.6rem;
}

.premium-button {
  display: block;
  margin-top: 1.625rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 13.5rem;
  font-size: 1.125rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 700;
  color: #0797E1;
  background-color: #fff;
  border: 1px solid #C6C6C6;
  border-radius: 6px;
}

@media (min-width: 992px) {
  .premium-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.premium-plan-highlighted .premium-button {
  background-color: #EDA51E;
  color: #fff;
  border: 0;
}

.premium-plan hr {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border: 0;
  height: 1px;
  background-color: #E6E6E6;
}

.premium-plan-list-preface {
  display: none;
}

@media (min-width: 992px) {
  .premium-plan-list-preface {
    display: block;
  }
}

.premium-plan-list ul {
  padding-left: 1.5rem;
  max-width: 13rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 992px) {
  .premium-plan-list ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}

.premium-plan-list li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-image: url('/img/premium-list-check.svg');
}

[dir="ltr"] .premium-plan-list li {
  padding-left: 0.8rem;
}

[dir="rtl"] .premium-plan-list li {
  padding-right: 0.8rem;
}

.premium-plan-list .premium-plan-list-muted {
  color: #999;
  list-style-image: url('/img/premium-list-cross.svg');
}

.premium-features {
  max-width: 55.125rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .premium-features {
    margin-top: 6rem;
  }
}

.premium-features h2 {
  display: none;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .premium-features h2 {
    display: block;
  }
}

.premium-features-offset {
  float: left;
  margin-top: -13rem;
  width: 100%;
}

.premium-feature {
  background-color: #fff;
  border: 0;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  padding: 2rem 2rem 2.5rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.premium-feature h3 {
  font-size: 1.875rem;
  margin: 0;
}

.premium-features button {
  display: block;
  width: 100%;
  margin-top: 1.9rem;
  font-size: 1.125rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 700;
  background-color: #EDA51E;
  color: #fff;
  border-radius: 6px;
  border: 0;
  width: 12.875rem;
  margin-left: auto;
  margin-right: auto;
}

.premium-faqs {
  display: block;
  margin: 4rem auto;
  max-width: 55.125rem;
}

@media (min-width: 992px) {
  .premium-faqs {
    margin: 7rem auto;
  }
}

.premium-faqs h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

@media (min-width: 992px) {
  .premium-faqs h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.premium-faq h3 {
  position: relative;
  font-size: 1.125rem;
  margin: 0;
}

.premium-faq-question {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CDCDCD;
  text-decoration: none;
  color: #585858;
  padding-right: 3rem;
  line-height: 1.5;
  cursor: pointer;
}

.premium-faq-question:after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 1rem;
  right: 1rem;
  z-index: -1;
  background: url(/img/arrow.svg) center center no-repeat;
}

.active .premium-faq-question:after {
  transform: rotate(180deg);
}

.premium-faq p {
  display: none;
}

.premium-faq.active p {
  display: block;
}