/* HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  zoom: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: normal;
}
html *:not(i) {
  font-family: "Lato";
}

html[lang="el"] *:not(i) {
  font-family: "Open Sans";
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #4d7bd6;
}
b,
strong {
  font-weight: bold;
}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  border: none;
  -ms-interpolation-mode: bicubic;
}
ul,
li {
  display: list-item;
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: 150;
  vertical-align: top;
  text-align: left;
}
/* Form Elements */
input,
textarea,
select {
  outline: none;
  margin: 0;
  font-family: inherit;
}
textarea {
  overflow: auto;
  resize: none;
}
/* General Styles*/
body {
  font-family: "Lato", sans-serif;
  background: #fff;
  padding-top: 110px;
  color: #747474;
  text-align: left;
}
a:not(.no_transition) {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:not(.no_transition):active {
  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
}
a {
}
a:hover {
}
img {
  max-width: 100%;
  height: auto;
}
/*floats*/
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* Tyopgraphy Styles*/
@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/OpenSansLight.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("fonts/OpenSansSemibold.ttf") format("truetype");
}
.align_center {
  text-align: center;
}
h1 {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  color: #2b2b2b;
  margin-bottom: 20px;
}
h2 {
  font-family: "Lato", sans-serif;
  color: #fc1c1c;
  font-size: 28px;
  margin-bottom: 15px;
}
h4 {
  color: #1d1d1d;
  font-size: 17px;
  margin: 6px 0 12px 0;
  line-height: 1.2;
}
h3 {
  font-size: 16px;
  font-weight: normal;
  color: #fc1c1c;
  margin-top: 5px;
  line-height: 1.2;
  padding: 3px 0 0 0;
}
p {
  margin-bottom: 15px;
}
/* Main Styles*/
.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
}
#header {
  background: #f1f1f1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px 0;
  z-index: 9;
  min-height: 64px;
  border-bottom: 1px solid #e9e9e9;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.adblock_logo {
  margin-left: 7px;
}
#main_nav li {
  float: left;
  height: 64px;
  line-height: 64px;
  padding: 0 12px;
}
#main_nav li a {
  display: block;
  color: #606060;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
}
#main_nav li a:hover {
  color: #fc1c1c;
  text-decoration: none;
}
#main_nav li.social {
  text-indent: -9999px;
  overflow: hidden;
}
#main_nav .mobile_nav_toggle {
  display: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 17px;
  right: 20px;
  width: 42px;
  height: 30px;
  padding: 0;
  outline: none;
}
#main_nav .mobile_nav_toggle:after {
  content: "";
  width: 42px;
  height: 4px;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #6b6969;
  box-shadow: 0 10px 0 #6b6969, 0 20px 0 #6b6969;
}
.superlative {
  font-size: 18px;
  margin-bottom: 50px;
}
.banner {
  margin-bottom: 160px;
  position: relative;
}
.banner .banner_left {
  width: 42%;
}
.banner .banner_right {
  max-width: 54%;
}
.banner p {
  font-size: 22px;
  color: #acacac;
}
.banner_left .get_now {
  width: inherit;
  width: 90%;
  display: block;
  background-color: #4d7bd6;
  background-image: -moz-linear-gradient(top, #5689db 0%, #4d7bd6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5689db), color-stop(100%, #4d7bd6));
  background-image: -webkit-linear-gradient(top, #5689db 0%, #4d7bd6 100%);
  background-image: -o-linear-gradient(top, #5689db 0%, #4d7bd6 100%);
  background-image: -ms-linear-gradient(top, #5689db 0%, #4d7bd6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5689db,endColorstr=#4d7bd6,GradientType=0);
  background-image: linear-gradient(top, #5689db 0%, #4d7bd6 100%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #2d53af;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  padding: 17px 20px;
  -webkit-box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.06) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.06) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.06) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  outline: 0px;
  text-decoration: none;
  vertical-align: middle;
}
.banner_left .get_now:hover {
  border-color: #4076ff;
  background-color: #5c92ff;
  background-image: -moz-linear-gradient(top, #669eff 0%, #5286ff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669eff), color-stop(100%, #5286ff));
  background-image: -webkit-linear-gradient(top, #669eff 0%, #5286ff 100%);
  background-image: -o-linear-gradient(top, #669eff 0%, #5286ff 100%);
  background-image: -ms-linear-gradient(top, #669eff 0%, #5286ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#669eff,endColorstr=#5286ff,GradientType=0);
  background-image: linear-gradient(top, #669eff 0%, #5286ff 100%);
}
.get_text {
  padding-top: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
#not-available {
  margin-top: 50px;
  display: none;
}
.not-available {
  margin-top: 50px;
  display: none;
}
.features {
  margin-top: 10px;
}
.features .feature {
  float: left;
  width: 33.3%;
}
.features img {
  margin-right: 15px;
}
.features .feature-image {
  margin-right: 15px;
  float: left;
}
.features .feature_content {
  overflow: hidden;
}
.video {
  background: #f8f8f8;
  padding: 140px 0;
}
.video .left {
  width: 56%;
}
.video .video_wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video .video_right {
  overflow: hidden;
  padding-left: 24px;
}
section#about {
  margin: 24px 0px;
}
#pwyw {
  margin: 0 5% 45px 10%;
  color: #2b2b2b;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
#pwyw h2 {
  padding-bottom: 5px;
}
#pwyw > p {
  color: #999;
}
#pwyw .one-container {
  margin-top: 30px;
}
#pwyw .count {
  float: left;
  font-size: 20px;
  font-weight: bold;
}
#pwyw .count:first-child {
  margin-top: -5px;
}
#pwyw .step {
  margin-top: 20px;
  margin-left: 20px;
}
#pwyw .step p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  font-size: 13px;
}
#pwyw .step label {
  font: small "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2b2b2b;
}
#pwyw .step input {
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#pwyw hr {
  border: 0px;
  border-bottom: 1px solid #9a9a9a;
}
#pwyw input[type="text"] {
  margin: 2px;
}
input {
  font: small "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline-color: #f95252;
}
input[type="radio"] {
  position: relative;
  /* margin-bottom: 4px;
  margin-left: 2px;
  margin-top: 3px;
  margin-right: 2px; */
  margin: auto 16px auto 0px;
  -webkit-appearance: none;
  /* box-shadow: inset 0 1px 2px rgba(255, 255, 255, .75); */
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  /* background: -webkit-linear-gradient(#ededed 38%, #dedede); */
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
input[type="radio"]:checked {
  /* background: -webkit-linear-gradient(#FE7676 38%, #F88); */
  background: #03bcfc;
  border: 1px solid #03bcfc;
}
input[type="radio"]:checked:before {
  /* position: absolute; */
  /* top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px; */
  /* border-radius: 100%; */
  /* background-color: #666; */
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: "Material Icons";
  color: #fff;
  content: "\e5ca";
}
input[type="text"] {
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  padding: 3px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #d5d5d5;
  border-width: 1px 0 0;
}
#pwyw hr {
  border: 0px;
  border-bottom: 1px solid #9a9a9a;
}
#one .guideline {
  display: none;
}
#one .guideline {
  font-style: italic;
  color: #ec3f3f;
  font-size: 13px;
}
#four div {
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  width: auto;
  height: 45px;
  cursor: pointer;
}
#four div:hover {
  background-position: 0 -45px;
  text-shadow: 0px 0px 10px white;
}
#stripe_email_wrapper {
  display: none;
}
/* Avoid making bonus step look wrong when confirming user's email address */
#stripe_email_wrapper p {
  margin-bottom: auto !important;
}
#paypal {
  position: relative;
  padding: 0px 25px 0px 60px;
  color: white;
  font-family: "Open Sans";
  padding-top: 12px;
  background-color: #78be63;
  border-radius: 4px;
}
.count#bonus {
  margin-top: 10px;
  font-size: 30px;
}
.press {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 24px;
  min-height: 48px;
}
.press ul {
  overflow: hidden;
  height: 48px;
}
.press li {
  list-style-type: none;
  margin: 0 16px;
  height: 48px;
  float: left;
}
.press a {
  height: 48px;
  /*margin:0 16px;*/
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.press li.cnn a {
  width: 80px;
}
.press li.rgs a {
  width: 154px;
}
.press li.lh a {
  width: 120px;
}
.press li.yhn a {
  width: 152px;
}
.press li.wrd a {
  width: 162px;
}
.press li.gzm a {
  width: 192px;
}
#browser-box {
  margin-top: 5px;
  width: inherit;
  width: 100%;
  text-align: right;
}
#get_now_div {
  position: absolute;
  bottom: -30px;
  width: inherit;
  width: 42%;
}
input:active,
input:focus,
button:active,
button:focus,
a:active,
a:focus,
.StripeElement--focus,
a:active > img,
a:focus > img {
  outline: rgb(0, 95, 204) auto 1px;
}
button:focus:not(:focus-visible),
a:focus:not(:focus-visible),
a:focus:not(:focus-visible) > img {
  outline: none;
}
button:focus-visible,
a:focus-visible,
a:focus-visible > img {
  outline: rgb(0, 95, 204) auto 1px;
}
/* This class is used to outline only an img inside an anchor tag */
a.without-focus {
  outline: none;
}
.hidden-dynamic-translation {
  display: none !important;
  opacity: 0 !important;
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}
/* Apply only to element that we to be visible only to screenreaders */
.screenreader-only {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}
@media only screen and (max-width: 960px) {
  #pwyw {
    margin: 0 0 45px;
  }
  #home_nav_btn {
    display: none;
  }
  .banner_left .get_now {
    position: inherit;
    width: 90%;
  }
  #get_now_div {
    position: inherit;
    width: 100%;
    bottom: 10px;
  }
  #browser-box {
    display: none;
  }
}
@media only screen and (max-width: 880px) {
  .video .left {
    width: 100%;
    float: none;
  }
  .video .video_right {
    padding: 24px 0 0;
  }
  #main_nav li {
    padding: 0 12px;
  }
  #get_now_div {
    position: inherit;
    width: 100%;
    bottom: 10px;
  }
}
@media only screen and (max-width: 739px) {
  #header {
    padding: 0;
  }
  #header .wrap {
    padding: 0;
  }
  #header .adblock_logo {
    padding: 5px 0;
  }
  #main_nav .mobile_nav_toggle {
    display: block;
  }
  #main_nav {
    float: none;
  }
  #main_nav ul {
    display: none;
  }
  #main_nav ul li {
    float: none;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #999;
  }
  #main_nav ul li a {
    color: #eee;
    background: #494747;
  }
  #main_nav ul li a:hover,
  #main_nav ul li a:active {
    background: #6c6a6a;
  }
  #home_nav_btn {
    display: block;
  }
  /* #pwyw_nav_btn { display: none;} */
  #main_nav .social {
    display: none;
  }
  .banner .banner_left {
    width: 100%;
  }
  .banner .banner_right {
    max-width: 100%;
  }
  #animation {
    display: none;
  }
  .features {
    text-align: center;
  }
  .features img {
    display: none;
  }
  .features .feature-image {
    display: none;
  }
  .features p {
    padding: 0 5px;
  }
  #get_now_div {
    position: inherit;
    width: 100%;
    bottom: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .banner .banner_left {
    width: 100%;
    margin-bottom: 25px;
  }
  .banner .banner_right {
    max-width: 100%;
    width: 100%;
    text-align: center;
    float: none;
  }
  #get_now_div {
    position: inherit;
    width: 100%;
    bottom: 10px;
  }
  #browser-box {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  #get_now_div {
    position: inherit;
    width: 100%;
    bottom: 10px;
  }
  #browser-box {
    display: none;
  }
  .features .feature {
    width: 100%;
    float: none;
    border-top: 1px solid #e7e7e7;
    margin: 0;
  }
  .features .feature:first-child {
    border-top: 0px;
  }
  .features h2,
  .features p {
    text-align: left;
  }
  .features h2 {
    margin-bottom: 0px;
    font-size: 23px;
  }
  .features p {
    margin-bottom: 0;
  }
  .features .feature_content {
    padding: 8px 0;
  }
  .video {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 740px) {
  .adblock_logo {
    position: absolute;
    left: 0;
  }
  #animation {
    display: none;
  }
  .banner .banner_left {
    width: auto;
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  #main_nav ul {
    display: list-item;
  }
}
@media only screen and (min-width: 960px) {
  #animation {
    display: block;
  }
  .banner .banner_left {
    max-width: 760px;
    margin: 0 auto;
    text-align: left;
    float: left;
    width: 43%;
  }
  h1#headline {
    width: 484px;
  }
}
