html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333333;
}

* {
    font-family: "Lato";
}

button:hover {
    cursor: pointer;
    -moz-box-shadow: 0px 5px 15px rgba(10, 14, 71, 0.2);
    -webkit-box-shadow: 0px 5px 15px rgba(10, 14, 71, 0.2);
    box-shadow: 0px 5px 15px rgba(10, 14, 71, 0.2);
}

/* SECTION 1: PAGE COVER WITH PREMIUM CTA */

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    margin-top: 37px;
}

#cover {
    background-color: #2284F7;
    height: 471px;
    padding-top: 85px;
    box-sizing: border-box;
}

#cover-box {
    box-sizing: border-box;
    background: #FFFFFF;
    margin: 0 auto;
    border-radius: 24px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    height: 432px;
    width: 720px;
    padding: 32px;
    background-repeat: no-repeat;
    background-size: 376.69px 339.61px;
    background-position: bottom right;
}

#cover-box.generic {
    background-image: url('/premium/enrollment/images/generic_cover.svg');
}

#cover-box.distraction-control {
    background-image: url('/premium/enrollment/distraction-control/swapAds.svg');
}

#premium-introduction {
    width: 50%;
}

#premium-introduction p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
}

#adblock-icon {
    height: 32px;
    width: 32px;
}

#adblock-icon ~ span {
    font-size: 16px;
    line-height: 140%;
    color: #666;
    margin-left: 14px;
}

#upgrade-to-premium {
    height: 40px;
    width: 271px;
    background: #FFCA00;
    border-radius: 6px;
    vertical-align: middle;
    font-weight: bold;
    border: none;
    margin-top: 45px;
    font-size: 16px;
}

/* SECTION 2: LIST AND DESCRIPTION OF FEATURES */
#premium-includes {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 53px;
}

#features {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 720px;
  padding: 140px 0 50px 0;
}

#features .feature {
    display: flex;
    margin-bottom: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
}

#features .feature > img {
    width: 28px;
    height: 28px;
    margin-right: 20px;
}

#features .feature .feature-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 13px;
}

/* SECTION 3: PAYMENTS AND/OR ENROLLMENTS */

#payment {
    padding: 120px 0;
    background-color: #F4F4F4;
}

#payment h1 {
    text-align: center;
    margin: 0;
    padding: 60px 0 50px 0;
}

#payment h2 {
    font-weight: 700;
}

/* checkbox */

.checkbox-icon {
    height: 20px;
    width: 20px;
    margin-right: 16px;
    position: relative;
}

.checkbox-icon input {
    opacity: 0; /* hide but function */
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.checkbox-icon i[class^=material-icons] {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.checkbox-icon i.checked {
    color: #0047FF;
}

.checkbox-icon i.unchecked {
    color: #666666;
}

.checkbox-icon input:checked ~ i.checked,
.checkbox-icon input:not(:checked) ~ i.checked {
    opacity: 1; /* show */
}

.checkbox-icon input:checked ~ i.unchecked,
.checkbox-icon input:not(:checked) ~ i.checked {
    opacity: 0; /* hide */
}

#payment #card1 {
    height: auto;
    width: 520px;
    margin: 0 auto;
}

#already-premium-user,
#already-donated,
#havent-donated {
    appearance: none;
    border: none;
    background: transparent;
    font-size: inherit;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 8px auto 0 auto;
    max-width: 350px;
}

#already-premium-user:hover,
#already-donated:hover,
#havent-donated:hover {
    box-shadow: none;
}

#already-premium-user,
#havent-donated {
    color: #0047FF;
}

#already-donated {
    color: #999999;
}

/* Payment box / look up previous order box */
div#registration-box {
    margin: auto;
    width: 720px;
    border-radius: 24px;
    background-color: #ffffff;
    padding-bottom: 32px;
    user-select: none;
}
#amount_row_wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
select#currency_dropdown {
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFFFFF;
    cursor: pointer;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 32px;
}

.form-field.form-field {
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    padding: 8px 6px;
}
.form-field.wide-input {
    width: 100%;
    max-width: 519px;
}

/* Choose payment amount and currency */
#currency-and-amounts {
    display: flex;
    height: 40px;
}
#amount_row_wrapper {
    min-width: 428px;
    width: 100%;
    cursor: pointer;
    display: flex;
    border-radius: 4px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #E6E6E6;
    color: #666666;
    border-radius: 4px;
}

#amount_row_wrapper label {
    width: 50%;
    cursor: pointer;
}
#monthly,
#yearly {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    border: none;
}
#amount_row_wrapper input[name="amount"]:checked + label {
    background-color: #ffca00;
    color: #333333;
    font-weight: 700;
    border-radius: 4px;
}
#amount_row_wrapper input[name="amount"]:focus + label {
    outline: rgb(0, 95, 204) auto 1px;
}
/* StripeCC / PayPal CSS */

/* Select Stripe or Paypal */
#cc_select_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

#cc_select_row > [id$="_group"] {
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

#cc_select_row .checkbox-icon {
    width: fit-content;
    width: -moz-fit-content;
}
input[name="processor"] {
    width: 125px;
    height: 20px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

input[name="processor"]:checked {
    background-color: #2284f7;
    border: 1px solid #2284f7;
}

/* custom radio button "filling" */
input[type="radio"]:checked::before {
    content: none;
    position: absolute;
    margin: auto;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    top: 3px;
    left: 3px;
    content: "";
}
#cc_select_row input {
    z-index: 1;
}
#cc_select_row img {
    max-width: fit-content;
    max-width: -moz-fit-content;
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 2px;
    cursor: pointer;
    z-index: 0;
}
#paypal_group img {
    top: 5px;
}
/* Input element styling */
.form-row {
    margin: 24px auto 16px auto;
}

div.form-row.form-row-flex {
    display: flex;
    flex-flow: row wrap;
}

form#payment-form label {
    font-size: 16px;
    color: #333333;
}

div#payment_form_error {
    font-size: 1em;
    color: #ff0000;
    margin: 12px auto -36px auto;
    text-align:center;
}

/* Padlock icon in background of credit card input field*/
#card-no {
    font-size: 24px;
    background: url("/premium/enrollment/images/graylock.png") no-repeat;
    background-color: white;
    background-size: 15px 17px;
    background-position: 96% 40%;
    background-attachment: relative;
}

/* Style the injected Stripe Elements we cannot specify in the JS initialization */
.StripeElement {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}

.StripeElement.wide-input {
    width: 100%;
    height: 40px;
}

/* Email address */
input.wide-input {
    padding-left: 6px;
    padding-top: 0px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    font-weight: 400;
    font-size: 13px;
    color: #555;
    width: 532px;
    height: 48px;
    margin-top: 4px;
    font-size: 18px;
}

.wide-input::placeholder {
    padding-top: 50px;
    color: #c4c4c4;
}

input#prev_donation_email {
    margin: 16px auto 32px auto;
}

/* Expiration date, CVC */
div.form-row-narrow {
    display: flex;
    align-items: flex-end;
    height: 78px;
}
div.pmt-activity-link {
    cursor: pointer;
    font-size: 16px;
    color: #0047FF;
    text-align: center;
}
div.pmt-activity-link.pmt-activity-link-gray {
    color: #666;
}

.skinny-form {
    width: 246px;
}

#cvc_label > * {
    margin-left: 26px;
}

/* FOOTER */

.footer {
    background-color: #E6E6E6;
    border: none;
    color: #666;
}

.footer .footerContent {
    max-width: 720px;
}

.footer .footerContent ul li,
.footer .footerContent ul li a {
    color: #666;
}

.footer .footerContent h1 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.footer .footerContent .socialIcons img {
    height: 40px;
    width: 40px;
    margin: 0 0 0 10px;
}

.footerContent h1 {
    text-align: left;
    font-weight: 400;
    padding: 8px 0px 0px 4px;
}

.socialIcons img {
    margin-top: 4px;
}

/* Big gold donate now button */
#donate_now {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #ffca00;
    margin: 24px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
}

.primary-cta {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #ffca00;
    margin: 24px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
}

#paypal_pay {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #ffca00;
    margin: 48px auto 32px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    appearance: none;
    border: none;
}

.donate-button-text {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    user-select: none;
}

#paypal_button {
    transform: scale(0.9);
    margin-bottom: 24px;
}
/* End Stripe Elements Credit Card input + Paypal payment form */

div.section-newsletter {
    display: flex;
    color: #333333;
    font-size: 16px;
    font-family: "Lato";
    font-style: italic;
    width: 100%;
}

/* Already donated... get confirmation code or generate email */
div.card2-wrapper {
    width: 524px;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

div#card1 {
    height: 700px;
}

div#card2 p {
    color: #333333;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
}
div#already-donated {
    margin-top: 16px;
}
div#already-donated-progress {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

div.progress-circle {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #e6e6e6;
    margin: 20px;
}

div.progress-circle.progress-circle-completed {
    background-color: #333333;
}

div.submit-btn {
    width: 175px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffca00;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    line-height: 44px;
    cursor: pointer;
    margin-bottom: 96px;
}

div.cta-btn-wide {
    width: 320px;
    min-height: 48px;
    border-radius: 4px;
    background-color: #ffca00;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    line-height: 52px;
    cursor: pointer;
    margin: 24px auto;
}

#submit_email {
    width: 175px;
    max-width: 350px;
    height: fit-content;
    height: -moz-fit-content;
    border-radius: 4px;
    background-color: #ffca00;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 96px;
    margin-top: 32px;
    appearance: none;
    border: none;
}

/* Entering the confirmation code from the e-mail */
div#code-entry {
    width: 320px;
    height: 96px;
    border-radius: 4px;
    background-color: #f4f4f4;
    margin: 24px auto 0px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div#code-entry input[type="text"] {
    width: 240px;
    font-size: 32px;
    outline: none;
    text-align: center;
    background-color: #f4f4f4;
    border: none;
    text-transform: uppercase;
    box-shadow: none;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    margin-top: 8px;
}

div#submit_code {
    width: 320px;
    margin: 16px auto 8px auto;
}

div#card2 p.fine-print {
    width: 320px;
    margin: auto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #333333;
}

div#card2 a {
    color: #2284f7;
}

form#confirmation-code {
    text-align: center;
}
form#confirmation-code input {
    margin-right: 8px;
    width: 240px;
}

div#confirmation-code-error {
    font-size: 14px;
    text-align: center;
    color: #e40d0d;
    margin-top: 16px;
}

/* waiting spinner */
.lds-ring {
    width: 173px;
    height: 173px;
    margin: 32px auto;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    margin: 6px;
    border: 16px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ffca00 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.occasional-updates {
    line-height: 150%;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* card2-page-4 */
#card2-page-5,
#card2-page-4 {
    text-align: center;
    padding: 0 55px;
}

#already-donated-progress[style*="opacity:0"] {
    margin-bottom: 0;
}

#gift_unwrapped {
    margin: 0 auto 55px -50px;
    width: auto;
    height: 250px;
}

#card2-page-4 > h2,
#card2-page-5 > h2 {
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    color: #333333;
    margin-bottom: 25px;
}

#card2-page-4 > p[i18n],
#card2-page-4  p span[i18n],
#card2-page-5 > p[i18n] {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin: 0;
}
#card2-page-4 > .get-started-with-myadblock,
#card2-page-5 > .get-started-with-myadblock {
    background: #FFCA00;
    border-radius: 6px;
    min-height: 40px;
    min-width: 408px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    margin: 80px 10px;
}

#three-months-for-free {
    margin: 10px 0px;
}

/* 2x assets */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    #card-no {
        background: url("/premium/enrollment/images/graylock@2x.png") no-repeat;
        background-color: white;
        background-size: 15px 17px;
        background-position: 96% 42%;
        background-attachment: relative;
    }
}

@media screen and (max-width: 720px) {
    #cover {
        height: 563px;
    }
    #cover-box,
    #features,
    div#registration-box {
        width: 672px;
    }
    #cover-box {
        height: 528px;
        background-size: 300px 270.47px;
    }
    #cover-box h1 {
        font-size: 42px;
    }
    #cover-box #premium-introduction {
        width: 58%;
    }
    #cover-box #upgrade-to-premium {
        width: 340px;
        height: 66px;
        padding: 16px 85px;
    }
    .footer .footerContent {
        display: flex;
        flex-direction: column;
        padding-bottom: 52px;
    }
    .footer .footerContent .socialIcons {
        padding-top: 36px;
    }
}