<footer id="download" class="container">
  <div class="section download">
    <div class="content text-center">
      <h2>
        {{ "Download Adblock Plus for Chrome" | translate("download-heading") }}
      </h2>
      <p>
        {{ "By downloading and installing this extension, you agree to our <a href=\"terms\">Terms of Use</a> and our <a href=\"privacy\">Privacy Policy</a>." | translate("download-paragraph-1") }}
      </p>
      <p class="margin-top-3">
        <a
          class="button icon-button download-button abp-{{browser_id}} secondary"
          href="{{install_link}}">
          <img
            src="/img/{{browser_id}}-logo.svg"
            alt="{{ "Chrome browser icon" | translate("download-image-alt") }}"
            class="button-image">
          <span class="button-text">
            {{ "Get Adblock Plus for Chrome" | translate("download-button-label") }}
          </span>
        </a>
      </p>
      <p>
        <a href="download" class="download-more secondary">
          {{ "Download Adblock Plus for another browser" | translate("download-other-label") }}
        </a>
      </p>
    </div>
  </div>
</footer>
