<div id="facts" class="bg-primary">
  <div class="container">
    <div class="section">
      <div class="row text-center">
        <article class="column one-third fact">
          <h2>
            <img
              src="/img/desktop-device-icon.svg"
              alt="{{ "Devices supported by ABP" | translate("active-devices-alt") }}">
              {{ "Active devices" | translate("active-devices-heading") }}
          </h2>
          <p>
            <strong class="number-of-devices">
              {{ "over <em>100</em> million" | translate("number-devices-heading") }}
            </strong>
          </p>
        </article>
        <article class="column one-third fact">
          <h2>
            <img
              src="/img/message-icon.svg"
              alt="{{ "Languages available in ABP" | translate("available-languages-alt") }}">
              {{ "Available languages" | translate("available-languages-heading") }}
          </h2>
          <p>
            <strong>24</strong>
          </p>
        </article>
        <article class="column one-third fact">
          <h2>
            <img
              src="/img/platform-icon.svg"
              alt="{{ "ABP browser availability" | translate("supported-platforms-alt") }}">
              {{ "Supported platforms" | translate("supported-platforms-heading") }}
          </h2>
          <p>
            <strong>8</strong>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
