<div id="facts" class="bg-primary">
  <div class="container">
    <div class="section">
      <div class="row text-center">
        <article class="column one-third fact">
          <h2>
            <img
              src="/img/desktop-device-icon.svg"
              alt="{{ "" | translate("active-devices-alt", "message") }}">
              {{ "" | translate("active-devices-heading", "message") }}
          </h2>
          <p>
            <strong class="number-of-devices">
              {{ "" | translate("number-devices-heading", "message") }}
            </strong>
          </p>
        </article>
        <article class="column one-third fact">
          <h2>
            <img
              src="/img/message-icon.svg"
              alt="{{ "" | translate("available-languages-alt", "message") }}">
              {{ "" | translate("available-languages-heading", "message") }}
          </h2>
          <p>
            <strong>24</strong>
          </p>
        </article>
        <article class="column one-third fact">
          <h2>
            <img
              src="/img/platform-icon.svg"
              alt="{{ "" | translate("supported-platforms-alt", "message") }}">
              {{ "" | translate("supported-platforms-heading", "message") }}
          </h2>
          <p>
            <strong>8</strong>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
