<div id="hero" class="container">
  <div class="section">
    <div class="row reverse">
      <div class="column one-half content text-center">
        <img
          id="hero-image-wide"
          height="546"
          width="547"
          src="/img/adblock-plus-desktop-interface-acceptable-ads.svg"
          alt="{{ "The Adblock Plus for Chrome interface" | translate("hero-banner-alt") }}">
        <img
          id="hero-image-tall"
          height="524"
          width="304"
          src="/img/adblock-plus-desktop-interface.svg"
          alt="{{ "The Adblock Plus for Chrome interface" | translate("hero-banner-alt") }}">
      </div>
      <div class="column one-half content">
        <header>
          <h1 class="hero-heading">
            {{ "Download Adblock Plus for Chrome" | translate("hero-heading") }}
          </h1>
          <p class="hero-subheading">
            {{ "Experience a cleaner, faster web without annoying ads" | translate("hero-subheading") }}
          </p>
        </header>
        <div class="download">
          <p>
            {{ "Adblock Plus blocks advertisements which might be intrusive and malicious, while supporting website creators by allowing <a href=\"acceptable-ads\">Acceptable Ads</a> by default (this, however, is configurable)." | translate("hero-paragraph-1") }}
          </p>
          <p>
            <small class="inherit">{{ "By clicking on the button below, you agree to our <a href=\"terms\">Terms of Use</a>" | translate("hero-download-tos") }}</small>
          </p>
          <p>
            <a
              class="button icon-button download-button abp-{{browser_id}}"
              href={{install_link}}>
              <img
                src="/img/{{browser_id}}-logo.svg"
                alt="{{ "Chrome browser icon" | translate("hero-browser-alt") }}"
                class="button-image">
              <span class="button-text">{{ "Get Adblock Plus for Chrome" | translate("hero-download-label") }}</span>
            </a>
          </p>
          <p>
            <a href="download" class="green download-more">{{ "Download Adblock Plus for another browser" | translate("hero-download-other-label") }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
