<section id="how-it-works" class="container">
  <div class="section">
    <div class="row reverse">
      <div class="column one-half text-center-mobile 
             {% if browser_id == 'edge' %} text-right{% endif %}">
        <img
          src="/img/browse-with-abp-{{browser_id}}.svg"
          alt="{{ "How the ABP ad blocking extension for Chrome looks" | translate("how-it-works-image-alt") }}">
      </div>
      <div class="column one-half content">
        <h2>
          {{ "How our ad blocker for Chrome works" | translate("how-it-works-heading") }}
        </h2>
        <p>
          {{ "Once you download Adblock Plus for Chrome, it will appear in your browser menu. It will automatically filter out all annoying and intrusive ad content." | translate("how-it-works-paragraph-1") }}
        </p>
        {% if browser_id in ["chrome", "edge"] %}
          <p>
            {{ "Adblock Plus is configurable and can be adjusted to add whitelists and change types of filters through the Settings option <span class=\"settings-icon\"></span>." | translate("how-it-works-paragraph-2") }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
