<main>
  <div class="bg-grey-abstract">
    <? include landing/other-browser ?>
    <? include landing/hero ?>
  </div>
  <? include landing/facts ?>
  <? include landing/special-features ?>
  <? include landing/how-it-works ?>
  <? include landing/supporting-websites ?>
  <? include landing/download ?>
</main>

<script src="/js/vendor/bowser.js"></script>

<script>
  if (bowser.mobile || bowser.tablet)
  {
    document.body.classList.add("unsupported-device");

    document
      .querySelector(".info-box .close-button")
      .addEventListener("click", function()
      {
        document.querySelector(".info-box")
          .setAttribute("hidden", "");
      });
  }
</script>
