<aside class="container">
  <div class="info-box bg-dark content">
    <div class="card-header">
      <strong>{{ "" | translate("important-information-heading", "message") }}</strong>
      <button class="close-button">
        <img
          src="/img/full-close-icon.svg"
          alt="{{ "" | translate("close-icon-alt", "message") }}">
      </button>
    </div>
    <div class="card-body">
      <p>
        {{ "" | translate("important-information-paragraph-1","message") }}
      </p>
      <p>
        <a
          class="button icon-button"
          href="download">
          <img
            class="button-image"
            src="/img/double-arrow-right.svg"
            alt="{{ "" | translate("important-information-button-arrow-icon-alt", "message") }}">
          {{ "" | translate("important-information-button-label", "message") }}
        </a>
      </p>
    </div>
  </div>
</aside>
