<aside class="container">
  <div class="info-box bg-dark content">
    <div class="card-header">
      <strong>{{ "Important Information" | translate("important-information-heading") }}</strong>
      <button class="close-button">
        <img
          src="/img/full-close-icon.svg"
          alt="{{ "Close notification" | translate("close-icon-alt") }}">
      </button>
    </div>
    <div class="card-body">
      <p>
        {{ "This page is for the Chrome desktop extension. Get Adblock Plus products on other supported platforms and devices." | translate("important-information-paragraph-1") }}
      </p>
      <p>
        <a
          class="button icon-button"
          href="download">
          <img
            class="button-image"
            src="/img/double-arrow-right.svg"
            alt="{{ "Arrow icon" | translate("important-information-button-arrow-icon-alt") }}">
          {{ "More solutions" | translate("important-information-button-label") }}
        </a>
      </p>
    </div>
  </div>
</aside>
