<section id="special-features" class="container">
  <div class="section">
    <div class="row">
      <div class="column one-half text-center-mobile">
        <img
          src="/img/website-with-abp-for-{{browser_id}}.svg"
          alt="{{ "Block ads in Chrome " | translate("special-features-image-alt") }}">
      </div>
      <div class="column one-half content">
        <h2>
          {{ "Adblock Plus for Chrome's special features" | translate("special-features-heading") }}
        </h2>
        <p>
          {{ "Adblock Plus blocks all annoying and intrusive advertisement, including pop-ups, pre- and mid-roll video ads on Youtube, tracking, and malicious malware." | translate("special-features-paragraph-1") }}
        </p>
      </div>
    </div>
  </div>
</section>
