<section id="special-features" class="container">
  <div class="section">
    <div class="row">
      <div class="column one-half text-center-mobile">
        <img
          src="/img/website-with-abp-for-{{browser_id}}.svg"
          alt="{{ "" | translate("special-features-image-alt", "message") }}">
      </div>
      <div class="column one-half content">
        <h2>
          {{ "" | translate("special-features-heading", "message") }}
        </h2>
        <p>
          {{ "" | translate("special-features-paragraph-1", "message") }}
        </p>
      </div>
    </div>
  </div>
</section>
