<section id="supporting-websites" class="container">
  <div class="section">
    <div class="row">
      <div class="column one-half text-center-mobile">
        <img
          src="/img/browsing-experience-with-ABP.svg"
          alt="{{ "" | translate("supporting-websites-image-alt", "message") }}">
      </div>
      <div class="column one-half content">
        <h2>
          {{ "" | translate("supporting-websites-heading", "message") }}
        </h2>
        <p>
          {{ "" | translate("supporting-websites-paragraph-1", "message") }}
        </p>
      </div>
    </div>
  </div>
</section>
