<section id="supporting-websites" class="container">
  <div class="section">
    <div class="row">
      <div class="column one-half text-center-mobile">
        <img
          src="/img/browsing-experience-with-ABP.svg"
          alt="{{ "Support websites with the Acceptable Ads initiative" | translate("supporting-websites-image-alt") }}">
      </div>
      <div class="column one-half content">
        <h2>
          {{ "Supporting websites and creators" | translate("supporting-websites-heading") }}
        </h2>
        <p>
          {{ "Adblock Plus comes by default with Acceptable Ads enabled, though this can be turned off easily at any time. By using the Acceptable Ads feature, you are still blocking annoying and intrusive ads, but allowing some nonintrusive advertisement. This allows content producers to receive monetization for their work and helps create an environment of fairness and sustainability for user, advertiser, and creator alike. <a href=\"acceptable-ads\" class=\"green\" title=\"Learn more information about Acceptable Ads\">Learn more</a>" | translate("supporting-websites-paragraph-1") }}
        </p>
      </div>
    </div>
  </div>
</section>
