RewriteEngine On

# Refs #493 redirect old browser index pages to root index page
RewriteRule "^android$" "/" [NC,R=301]
RewriteRule "^(.*)/android$" "/" [NC,R=301]
RewriteRule "^chrome$" "/" [NC,R=301]
RewriteRule "^(.*)/chrome$" "/" [NC,R=301]
RewriteRule "^edge$" "/" [NC,R=301]
RewriteRule "^(.*)/edge$" "/" [NC,R=301]
RewriteRule "^firefox$" "/" [NC,R=301]
RewriteRule "^(.*)/firefox$" "/" [NC,R=301]
RewriteRule "^internet-explorer$" "/" [NC,R=301]
RewriteRule "^(.*)/internet-explorer$" "/" [NC,R=301]
RewriteRule "^opera$" "/" [NC,R=301]
RewriteRule "^(.*)/opera$" "/" [NC,R=301]
RewriteRule "^safari$" "/" [NC,R=301]
RewriteRule "^(.*)/safari$" "/" [NC,R=301]
RewriteRule "^yandex-browser$" "/" [NC,R=301]
RewriteRule "^(.*)/yandex-browser$" "/" [NC,R=301]
RewriteRule (^|\/)donate$ /contribution [NC,R,L]

# Refd #617 migrate simple file-to-file rules to .htaccess
RewriteRule ^(.*/)?(android|chrome|edge|firefox|internet-explorer|opera|safari|yandex-browser)/?$ / [NC,R=301]
RewriteRule ^(\w\w(_\w\w)?/)?changelog-1.3.1$ /$1\changelog-1.3 [NC,R=301]
RewriteRule ^downloads/(.*) https://downloads.adblockplus.org/$1 [NC,R=301]
RewriteRule ^update.rdf$ https://update.adblockplus.org/gecko/update.rdf [NC,R=301]
RewriteRule ^updates.plist$ https://update.adblockplus.org/adblockplussafari/updates.plist [NC,R=301]
RewriteRule ^androidupdate.json$ https://update.adblockplus.org/adblockplusandroid/update.json [NC,R=301]
RewriteRule ^androidupdates.xml$ https://update.adblockplus.org/adblockplusandroid/updates.xml [NC,R=301]
RewriteRule ^ieupdate.json$ https://update.adblockplus.org/adblockplusie/update.json [NC,R=301]
RewriteRule ^(\w\w(_\w\w)?/)?adblock-browser/?$ https://adblockbrowser.org/ [NC,R=301]
RewriteRule ^devbuilds/?$ https://adblockplus.org/development-builds [NC,R=301]
RewriteRule ^poland/?$ /poland.html [NC,L,R=301]
RewriteRule ^de/ad-blocker-safari/?$ https://adblockplus.org/de/ [NC,R=301]
RewriteRule ^fr/ad-blocker-safari/?$ https://adblockplus.org/fr/ [NC,R=301]
RewriteRule ^(\w\w(_\w\w)?/)?filters$ https://help.eyeo.com/en/adblockplus/how-to-write-filters [NC,R=301]
RewriteRule ^(\w\w(_\w\w)?/)?android-about/?$ https://adblockplus.org/ [NC,R=301]

# Refd adblockplus-org#16 redirect removed job posting to Careers Page
RewriteRule ^(\w\w(_\w\w)?/)?software-engineer-adblock-plus/?$ https://adblockplus.org/careers [NC,R=301]

# Refd #474 - Migrate XSS and clickjacking prevention headers to .htaccess
SetEnvIf Request_URI ^/(:?\w\w(_\w\w)?/)?(?:index|firefox|chrome|opera|android|internet-explorer|safari|yandex-browser|maxthon)?$|^/blog/|^/poland/? YOUTUBE_NOCOOKIES

# Begin Refd #924 - Add .htaccess rules for /redirect processing
<If "%{REQUEST_URI} == '/redirect'">

  RewriteRule ^ - [E=adblock_browser_android_download:https://downloads.adblockplus.org/adblockbrowser-1.1.0-arm.apk]
  RewriteRule ^ - [E=adblock_browser_android_store:https://play.google.com/store/apps/details?id=org.adblockplus.browser]

  RewriteRule ^ - [E=lang:en]
  
  RewriteCond %{QUERY_STRING} "(?:^|&)lang=(\w+)(?:&|$)"
  RewriteRule ^ - [E=lang:%1,E=arg_lang:%1]

  RewriteCond %{QUERY_STRING} "(?:^|&)link=(\w+)(?:&|$)"
  RewriteRule ^ - [E=link:%1]

  # Google Play is not available in China, so we redirect them to the
  # builds for download, see http://hub.eyeo.com/issues/20183
  RewriteCond %{QUERY_STRING} "(?:^|&)locale=zh(-|_)\w\w(?:&|$)"
  RewriteRule ^ - [E=adblock_browser_android_store:https://downloads.adblockplus.org/adblockbrowser-1.1.0-arm.apk]

  RewriteCond %{ENV:link} ^adblock_browser_android_store$
  RewriteRule ^ %{ENV:adblock_browser_android_store} [L,NC,R=301]

  RewriteCond %{ENV:link} ^adblock_browser_promotion_\d$
  RewriteRule ^ https://adblockplus.org/adblock-browser [L,NC,R=301]

  RewriteCond %{ENV:link} ^adblock_browser_android_download$
  RewriteRule ^ %{ENV:adblock_browser_android_download} [L,NC,R=301]

  RewriteCond %{ENV:link} ^filterdoc$
  RewriteRule ^ https://help.eyeo.com/adblockplus/how-to-write-filters [L,NC,R=301]

  RewriteCond %{ENV:link} ^imprint$
  RewriteRule ^ https://adblockplus.org/%{ENV:lang}/imprint [L,NC,R=301]

  RewriteCond %{ENV:link} ^adblock_plus_report_issue$
  RewriteRule ^ https://forums.lanik.us/viewforum.php?f=${forum_map:%{ENV:lang}|64} [L,NC,R=301]
  
  RewriteRule ^ - [E=link_found:0]
  RewriteRule ^ - [E=is_uninstall:0]

  RewriteCond %{QUERY_STRING} "(?:^|&)link=share-(?:&|$)"
  RewriteRule ^ - [E=link_found:1,E=link:share,E=anchor:?a=minimal]

  RewriteCond %{ENV:link} ^uninstalled$
  RewriteRule ^ - [E=link_found:1,E=link:uninstalled,E=is_uninstall:1]

  RewriteCond %{ENV:link} ^gettingStarted$
  RewriteRule ^ - [E=link_found:1,E=link:getting_started]

  RewriteCond %{ENV:link} ^faq$
  RewriteRule ^ - [E=link_found:1,E=link:faq]

  RewriteCond %{ENV:link} ^subscriptions$
  RewriteRule ^ - [E=link_found:1,E=link:subscriptions]

  RewriteCond %{ENV:link} ^reporter_privacy$
  RewriteRule ^ - [E=link_found:1,E=link:privacy,E=anchor:#issue-reporter]

  RewriteCond %{ENV:link} ^privacy$
  RewriteRule ^ - [E=link_found:1,E=link:privacy]

  RewriteCond %{ENV:link} ^contribute$
  RewriteRule ^ - [E=link_found:1,E=link:contribute]

  RewriteCond %{ENV:link} ^donate$
  RewriteRule ^ - [E=link_found:1,E=link:contribution]

  RewriteCond %{ENV:link} ^acceptable_ads$
  RewriteRule ^ - [E=link_found:1,E=link:acceptable-ads]

  RewriteCond %{ENV:link} ^acceptable_ads_criteria$
  RewriteRule ^ - [E=link_found:1,E=link:acceptable-ads,E=anchor:#criteria]

  RewriteCond %{ENV:link} ^contributors$
  RewriteRule ^ - [E=link_found:1,E=link:contributors]

  RewriteCond %{ENV:link} ^whitelist$
  RewriteRule ^ - [E=link_found:1,E=link:faq_basics,E=anchor:#disable]

  RewriteCond %{ENV:link} ^allowlist$
  RewriteRule ^ - [E=link_found:1,E=link:faq_basics,E=anchor:#disable]

  RewriteCond %{ENV:link} ^acceptable_ads_opt_out$
  RewriteRule ^ - [E=link_found:1,E=link:acceptable-ads,E=anchor:#optout]

  RewriteCond %{ENV:link} ^donate_settings_page$
  RewriteRule ^ - [E=link_found:1,E=link:contribution,E=anchor:?utm_source=abp&utm_medium=settings_page&utm_campaign=donate]

  RewriteCond %{QUERY_STRING} "(?:^|&)link=share(?:&|$)"
  RewriteRule ^ https://share.adblockplus.org/%{ENV:lang}/? [L,NC,R=301]

  RewriteCond %{ENV:link} ^learn_more_premium_pass$
  RewriteRule ^ https://flattr.com/ [L,NC,R=301]

  RewriteCond "%{DOCUMENT_ROOT}/%{ENV:lang}/%{ENV:link}" !-f
  RewriteRule ^ - [E=lang:!!]

  RewriteRule ^ - [E=langtest:%{ENV:arg_lang}\ %{ENV:lang}]

  RewriteCond %{ENV:langtest} "^(\w+)-(\w+) !!$"
  RewriteRule ^ - [E=lang:%1_%2]

  RewriteCond "%{DOCUMENT_ROOT}/%{ENV:lang}/%{ENV:link}" !-f
  RewriteRule ^ - [E=lang:en]

  # For the uninstallation page we need to preserve the query parameters
  RewriteCond %{ENV:link_found} "=1"
  RewriteCond %{ENV:is_uninstall} "=1"
  RewriteRule ^ /%{ENV:lang}/%{ENV:link} [NC,R=301]

  RewriteCond %{ENV:link_found} "=1"
  RewriteCond %{ENV:is_uninstall} "=0"
  RewriteRule ^ /%{ENV:lang}/%{ENV:link}%{ENV:anchor} [NE,R=301]

  # If there is no match in the legacy redirects, bridge request to new redirect service:
  RewriteCond %{ENV:link_found} "=0"
  RewriteRule ^ %{REQUEST_SCHEME}://eyeo.to/adblockplus/%{ENV:link}/legacy [NC,R=301]

</If>
# End Refd #924 - add .htaccess rules for /redirect processing

Header set X-Frame-Options "sameorigin"

# Enable subdomains to access resources
SetEnvIf Origin ^(https?://(?:.+\.)?(adblockplus\.org|eyeo.it)(?::\d{1,5})?)$ CORS_ALLOW_ORIGIN=$1
Header append Access-Control-Allow-Origin %{CORS_ALLOW_ORIGIN}e env=CORS_ALLOW_ORIGIN
Header merge  Vary "Origin"

<FilesMatch ^contribution$>

  GeoIPEnable On

  # Fall back to general update page for FR and DE location
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^(FR|DE)$ [OR]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE_V6} ^(FR|DE)$
  RewriteRule "([\w\-]{2,6})\/contribution$" "/$1/contribution-restricted" [NC,L]

</FilesMatch>

<FilesMatch ^currency$>
  GeoIPEnable On
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^GB$ [OR]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE_V6} ^GB$
  RewriteRule .* /currencies/gbp.js [L]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^CH$ [OR]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE_V6} ^CH$
  RewriteRule .* /currencies/chf.js [L]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^AU$ [OR]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE_V6} ^AU$
  RewriteRule .* /currencies/aud.js [L]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^CA$ [OR]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE_V6} ^CA$
  RewriteRule .* /currencies/cad.js [L]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^NZ$ [OR]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE_V6} ^NZ$
  RewriteRule .* /currencies/nzd.js [L]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^RU$ [OR]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE_V6} ^RU$
  RewriteRule .* /currencies/rub.js [L]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^JP$ [OR]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE_V6} ^JP$
  RewriteRule .* /currencies/jpy.js [L]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^(AT|BE|BG|HR|CY|CZ|DK|EE|FI|FR|GR|HU|IE|IT|LV|LT|LG|MT|NL|PL|PT|RO|SK|SI|ES|SE)$ [OR]
  RewriteCond %{ENV:GEOIP_COUNTRY_CODE_V6} ^(AT|BE|BG|HR|CY|CZ|DK|EE|FI|FR|GR|HU|IE|IT|LV|LT|LG|MT|NL|PL|PT|RO|SK|SI|ES|SE)$
  RewriteRule .* /currencies/eur.js [L]
  RewriteRule .* /currencies/usd.js [L]
</FilesMatch>

# Fall back to general update page for fr and de languages
RewriteRule "(de|de_DE|de-DE|fr|fr_FR|fr-FR)\/update$" "$1/contribution" [NC,L]

RewriteRule ^(devbuilds(/.*)?) https://downloads.adblockplus.org/$1 [NC,L]

RewriteRule ^(blog|releases|development-builds|atom|rss|category|section|author|file_download|images|textpattern)($|/) https://blog.adblockplus.org/$1

RewriteRule ^forum($|/.*) https://forum.adblockplus.org$1

RewriteRule (^|\/)careers$ "https://adblock.pinpointhq.com/en" [NC,R,L]

# TODO: investigate if we can rewrite /getSubscription into a different
# virtual host
