RewriteEngine On

# Refs #493 redirect old browser index pages to root index page
RewriteRule "^android$" "/" [NC,R=301]
RewriteRule "^(.*)/android$" "/" [NC,R=301]
RewriteRule "^chrome$" "/" [NC,R=301]
RewriteRule "^(.*)/chrome$" "/" [NC,R=301]
RewriteRule "^edge$" "/" [NC,R=301]
RewriteRule "^(.*)/edge$" "/" [NC,R=301]
RewriteRule "^firefox$" "/" [NC,R=301]
RewriteRule "^(.*)/firefox$" "/" [NC,R=301]
RewriteRule "^internet-explorer$" "/" [NC,R=301]
RewriteRule "^(.*)/internet-explorer$" "/" [NC,R=301]
RewriteRule "^opera$" "/" [NC,R=301]
RewriteRule "^(.*)/opera$" "/" [NC,R=301]
RewriteRule "^safari$" "/" [NC,R=301]
RewriteRule "^(.*)/safari$" "/" [NC,R=301]
RewriteRule "^yandex-browser$" "/" [NC,R=301]
RewriteRule "^(.*)/yandex-browser$" "/" [NC,R=301]

# Refd #617 migrate simple file-to-file rules to .htaccess
RewriteRule ^(.*/)?(android|chrome|edge|firefox|internet-explorer|opera|safari|yandex-browser)/?$ / [NC,R=301]
RewriteRule ^(\w\w(_\w\w)?/)?changelog-1.3.1$ /$1\changelog-1.3 [NC,R=301]
RewriteRule ^downloads/(.*) https://downloads.adblockplus.org/$1 [NC,R=301]
RewriteRule ^update.rdf$ https://update.adblockplus.org/gecko/update.rdf [NC,R=301]
RewriteRule ^updates.plist$ https://update.adblockplus.org/adblockplussafari/updates.plist [NC,R=301]
RewriteRule ^androidupdate.json$ https://update.adblockplus.org/adblockplusandroid/update.json [NC,R=301]
RewriteRule ^androidupdates.xml$ https://update.adblockplus.org/adblockplusandroid/updates.xml [NC,R=301]
RewriteRule ^ieupdate.json$ https://update.adblockplus.org/adblockplusie/update.json [NC,R=301]
RewriteRule ^(\w\w(_\w\w)?/)?adblock-browser/?$ https://adblockbrowser.org/ [NC,R=301]
RewriteRule ^devbuilds/?$ https://adblockplus.org/development-builds [NC,R=301]
RewriteRule ^poland/?$ /poland.html [NC,L,R=301]
RewriteRule ^de/ad-blocker-safari/?$ https://adblockplus.org/de/ [NC,R=301]
RewriteRule ^fr/ad-blocker-safari/?$ https://adblockplus.org/fr/ [NC,R=301]
RewriteRule ^(\w\w(_\w\w)?/)?filters$ https://help.eyeo.com/en/adblockplus/how-to-write-filters [NC,R=301]
RewriteRule ^(\w\w(_\w\w)?/)?android-about/?$ https://adblockplus.org/ [NC,R=301]
