RewriteEngine On

# Refs #493 redirect old browser index pages to root index page
RewriteRule "^android$" "/" [NC,R=301]
RewriteRule "^(.*)/android$" "/" [NC,R=301]
RewriteRule "^chrome$" "/" [NC,R=301]
RewriteRule "^(.*)/chrome$" "/" [NC,R=301]
RewriteRule "^edge$" "/" [NC,R=301]
RewriteRule "^(.*)/edge$" "/" [NC,R=301]
RewriteRule "^firefox$" "/" [NC,R=301]
RewriteRule "^(.*)/firefox$" "/" [NC,R=301]
RewriteRule "^internet-explorer$" "/" [NC,R=301]
RewriteRule "^(.*)/internet-explorer$" "/" [NC,R=301]
RewriteRule "^opera$" "/" [NC,R=301]
RewriteRule "^(.*)/opera$" "/" [NC,R=301]
RewriteRule "^safari$" "/" [NC,R=301]
RewriteRule "^(.*)/safari$" "/" [NC,R=301]
RewriteRule "^yandex-browser$" "/" [NC,R=301]
RewriteRule "^(.*)/yandex-browser$" "/" [NC,R=301]

Redirect /paypal https://www.paypal.com/cgi-bin/webscr