{% set campaigns = [
  {
    "name": "skateboard",
    "caption": "The Best Present",
    "slides": [
      {
        "alt": "Mother puts helmet on her child",
        "caption": "You’d do anything to keep your kids safe",
      },
      {
        "alt": "Mother and son browsing online on laptop",
        "caption": "But they need a little independence",
      },
      {
        "alt": "Mother and son with skateboard in the park",
        "caption": "This year, gift yourself peace of mind with Adblock Plus",
      },
    ],
  },
  {
    "name": "party",
    "caption": "Party, interrupted",
    "slides": [
      {
        "alt": "Young people at holiday party",
        "caption": "Music, conversation and drinks!",
      },
      {
        "alt": "Young people clinking glasses at holiday party",
        "caption": "Cheers!",
      },
      {
        "alt": "Young people interrupted during holiday party",
        "caption": "*record scratch*",
      },
      {
        "alt": "Get Adblock Plus",
        "caption": "Don’t let ads ruin the party. Get Adblock Plus",
      },
    ],
  },
  {
    "name": "ring",
    "caption": "A Holiday Surprise",
    "slides": [
      {
        "alt": "Man browsing on his laptop",
        "caption": "Ah, the perfect ring for a holiday proposal",
      },
      {
        "alt": "Man and woman browsing from their couch",
        "caption": "There’s no way she’ll expect this!",
      },
      {
        "alt": "Man looking at woman",
        "caption": "Perhaps it’s not the surprise you thought it was",
      },
      {
        "alt": "Woman showing man something on her laptop",
        "caption": "Perhaps it’s not the surprise you thought it was",
      },
      {
        "alt": "Couple on a couch",
        "caption": "Uh-oh. Ads have given the holiday game away",
      },
      {
        "alt": "Woman looking at her laptop scree at engagement rings",
        "caption": "It’s too late now!",
      },
      {
        "alt": "Couple fighting over laptop",
        "caption": "You weren’t meant to see that!",
      },
      {
        "alt": "Couple on couch next to Christmas tree",
        "caption": "Surprise…!?!",
      },
    ],
  },
  {
    "name": "kitchen",
    "caption": "The Missing Ingredient",
    "slides": [
      {
        "alt": "Man trying holiday recipe from his laptop",
        "caption": "Making something special for the holiday",
      },
      {
        "alt": "Man adding milk while cooking his holiday recipe",
        "caption": "It’s a new recipe",
      },
      {
        "alt": "Man mixing ingredients for Christmas cookies",
        "caption": "So far, so good",
      },
      {
        "alt": "Man spreads cookie dough and looks very pleased with himself",
        "caption": "Maybe I should check the recipe?",
      },
      {
        "alt": "Man trying to type on his laptop with dirty hands from cooking",
        "caption": "A badly-timed ad appears!",
      },
      {
        "alt": "Man with Santa hat looking at his laptop while cooking",
        "caption": "And the cookies are ruined...",
      },
      {
        "alt": "Man in Santa hat disappointed by cookies being ruined",
        "caption": "Give the gift of ad blocking",
      },
    ],
  },
] %}

{% set related_posts = [
  {
    "name": "skateboard",
    "title": "Find out how one mother stopped worrying",
    "href": "https://medium.com/the-gift-of-ad-blocking/confessions-of-an-overprotective-mother-bddd39614b6f?utm_source=medium&utm_medium=blog&utm_campaign=goab&utm_term=overprotectivemum",
  },
  {
    "name": "cookies",
    "title": "Get the recipe for an ad free holiday season (and cookies)",
    "href": "https://medium.com/the-gift-of-ad-blocking/the-bake-off-or-salty-double-chocolate-cookies-to-save-christmas-8ff146ac3ecc?utm_source=medium&utm_medium=blog&utm_campaign=goab&utm_term=cookies",
  },
  {
    "name": "ring",
    "title": "Find out how ads made the holidays surprising",
    "href": "https://medium.com/the-gift-of-ad-blocking/how-re-targeted-ads-ruined-my-christmas-proposal-dc3018d68d1b?utm_source=medium&utm_medium=blog&utm_campaign=goab&utm_term=proposal",
  },
] %}
