title=About Adblock Plus for Android

{% from "includes/toc" import toc %}


<h2 id="general">{{"What is Adblock Plus for Android?"|translate("s1")}}</h2>

<img height="400" src="android-images/main_screen.png" style="float: right; padding: 0 0 10px 10px" width="240">

<p>{{"Adblock Plus for Android is an Android app that runs in the background and filters ads,\nusing the same filter lists as the Adblock Plus browser extensions.\nIt works on Android version 2.3 and higher."|translate("s2")}}</p>

<p>{{"Because Android's support for traffic filtering is limited, Adblock Plus uses several approaches,\nautomatically selecting the best one for the device:"|translate("s3")}}</p>

<ul>
<li>{{"If the device is <a href=\"{{s5-link http://en.wikipedia.org/wiki/Rooting_%28Android_OS%29}}\">rooted</a>,\nAdblock Plus will filter all web traffic out of the box."|translate("s5")}}</li>
<li>{{"On non-rooted devices running Android 4.1.2, 4.2.1 and higher, Adblock Plus will filter all WiFi traffic, but it needs to be\n<a href=\"android-config#proxy\">configured as a proxy server</a> manually. Detailed instructions are provided by Adblock Plus\nfor not experienced users."|translate("s6")}}</li>
<li>{{"On non-rooted devices running Android 3.1 and higher, Adblock Plus will filter all WiFi traffic out of the box."|translate("s7")}}</li>
<li>{{"On non-rooted devices running Android 3.0 and older, Adblock Plus needs to be\n<a href=\"android-config#proxy\">configured as a proxy server</a> manually. Some devices do not support\nproxy configuration, and Adblock Plus does not work on those."|translate("s8")}}</li>
</ul>

<h2 id="install">{{"Installation"|translate("s9")}}</h2>

<p>{{"Follow <a href=\"android-install\">the installation instructions</a>."|translate("s10")}}</p>

<p>{{"Depending on your device, you might have to change your <a href=\"android-config\">network configuration</a> for Adblock Plus to work."|translate("s11")}}</p>

<h2 id="faq">{{"Frequently asked questions"|translate("s12")}}</h2>
{{toc("android-faq")}}
