title=Large Scale Deployment
noheading=True
notoc=True

<head>
  <link type="text/css" href="/css/lsd.css" rel="stylesheet">
  <meta name="description" content="{{ "Adblock Plus is a great asset to any company, university or large IT infrastructure. We are happy to help you deploy it across your entire network."|translate("meta-description") }}" />
  <meta property="og:description" content="{{ "Adblock Plus is a great asset to any company, university or large IT infrastructure. We are happy to help you deploy it across your entire network."|translate("meta-description") }}" />
</head>

<div id="lsd-header-block">
  <h1>{{ "Adblock Plus for Administrators"|translate("page-header") }}</h1>
  <p>{{ "Adblock Plus is a perfect tool for every university, company or any IT infrastructure with multiple working stations."|translate("page-description") }}</p>
</div>
<div id="lsd-icon-wrapper">
  <span class="lsd-icon lsd"></span>
</div>
<div>
  <div class="lsd-feature-wrapper">
    <span class="lsd-icon bandwidth"></span>
    <span class="lsd-feature-text">{{ "Save bandwidth"|translate("feature-bandwidth") }}</span>
  </div>
  <div class="lsd-feature-wrapper">
    <span class="lsd-icon efficient"></span>
    <span class="lsd-feature-text">{{ "More efficient working environment"|translate("feature-efficient") }}</span>
  </div>
  <div class="lsd-feature-wrapper">
    <span class="lsd-icon privacy"></span>
    <span class="lsd-feature-text">{{ "Enhanced privacy & security"|translate("feature-privacy") }}</span>
  </div>
  <div class="lsd-feature-wrapper">
    <span class="lsd-icon gpl"></span>
    <span class="lsd-feature-text">{{ "GPLv3 Licence"|translate("feature-gpl") }}</span>
  </div>
</div>

<hr class="lsd-feature-separator" />
<p>{{ "We would like to hear from you! <a href=\"mailto:deployment-support@adblockplus.org\">Contact & technical support</a>"|translate("contact-us") }}</p>
<div class="toc">
  <ul>
    <li><a href="#what-is-lsd">{{ "What are large scale deployments?"|translate("about-header") }}</a></li>
    <li><a href="#why-lsd-header">{{ "Why to deploy Adblock Plus in an administered environment?"|translate("why-header") }}</a></li>
    <li><a href="#how-deploy-abp">{{ "How to deploy Adblock Plus?"|translate("how-deploy-abp-header") }}</a></li>
    <li><a href="#additional-resources">{{ "Additional resources"|translate("additional-resources-header") }}</a></li>
    <li><a href="#organisations-using-abp">{{ "Organizations using Adblock Plus"|translate("organisations-using-abp") }}</a></li>
  </ul>
</div>
<h2 id="what-is-lsd">{{ "What are large scale deployments?"|translate("about-header") }}</h2>
<p>{{ "When installing the Adblock Plus extension for multiple machines and user accounts, it is time-consuming and tedious to perform a manual installation on each device. Administrators can utilize various tools to automate the installations, eg installer scripts or even configuration management software."|translate("about-overview") }}</p>
<p>{{ "Any mass installation of a browser extension has to take a number of things into account, like: desired browsers, operating systems, internal policies or infrastructure in general."|translate("about-consideration") }}</p>
<h2 id="why-lsd-header">{{ "Why to deploy Adblock Plus in an administered environment?"|translate("why-header") }}</h2>
<p>{{ "Adblock Plus is a great tool for every administered environment (university, school, company, governmental institution etc) containing multiple working station in the IT infrastructure."|translate("why-overview") }}</p>
<p>{{ "Adblock Plus considerably decreases security and privacy risks over the entire IT network. Malware and viruses are often spread via annoying advertisement, which our extension blocks by default. Moreover, use of Adblock Plus considerably decreases the bandwidth usage. The overall browsing experience and working efficiency of the end users in networks using Adblock Plus is considerably increased. The users are not annoyed by pop-ups, blinking banners and misleading advertising, which helps them to focus better."|translate("why-advantages") }}</p>
<h2 id="how-deploy-abp">{{ "How to deploy Adblock Plus?"|translate("how-deploy-abp-header") }}</h2>
<p>{{ "We are currently working on the best solutions for large scale deployments. These are, however, mostly dependent on the browser used."|translate("how-deploy-abp-overview") }}</p>
<p>{{ "Contact & technical support: <a href=\"mailto:deployment-support@adblockplus.org\">deployment-support@adblockplus.org</a>"|translate("how-deploy-abp-contact") }}</p>
<h2 id="additional-resources">{{ "Additional resources"|translate("additional-resources-header") }}</h2>
<p>{{ "You can ask questions or contribute to the discussion about deployment-related topics in our <a href=\"https://adblockplus.org/forum/viewforum.php?f=21\">forum</a>."|translate("forum-info") }}</p>
<h2 id="organisations-using-abp">{{ "Organizations using Adblock Plus"|translate("organisations-using-abp") }}</h2>
<div class="lsd-organisation-wrapper">
  <img alt="Unalaska City School District" src="/img/lsd/unalaska-logo.png">
  <div>
    <p>
      "{{ "With extremely limited bandwidth here in remote Alaska, I find that every bit that travels over the satellite counts."|translate("unalaska-school-quote") }}"
    </p>
    <p>
      <i>- Brent Bain, <a href="http://ucsd.net/">Unalaska City School District</a></i>
    </p>
  </div>
</div>
<div class="lsd-organisation-wrapper">
  <img alt="Compnology" src="/img/lsd/compnology-logo.png" />
  <div>
    <p>
      "{{ "Due to Malvertising and the crypto-locker and like malware we are interested in utilizing your software."|translate("compnology-quote") }}"
    </p>
    <p>
      <i>- Charles Hix, <a href="http://www.compnology.com/">Compnology</a></i>
    </p>
  </div>
</div>
<div class="lsd-organisation-wrapper">
  <img alt="International School of Geneva" src="/img/lsd/is-geneva-logo.png" />
  <div>
    <p>
      "{{ "Adblock Plus allows our students and teachers to remain focused on their learning and teaching."|translate("geneva-int-school-quote") }}"
    </p>
    <p>
      <i>- Josue Mouco, <a href="http://ecolint.ch/">International School of Geneva</a></i>
    </p>
  </div>
</div>
<div class="lsd-organisation-wrapper">
  <img alt="Seven Energy International Limited" src="/img/lsd/7energy-logo.png" />
  <div>
    <p>
      "{{ "I would definitely recommend Adblock Plus for businesses not only was it really easy to push out to all of my end point users agree it is so nice to have it installed."|translate("7energy-quote") }}"
    </p>
    <p>
      <i>- Daniel Sanders, <a href="http://www.sevenenergy.com/">Seven Energy International Limited</a></i>
    </p>
  </div>
</div>
<div class="lsd-organisation-wrapper">
  <img alt="Holstebro Kommune" src="/img/lsd/holstebro-logo.png" />
  <div>
    <p>
      "{{ "After the deployment of Adblock Plus we had a great decrease in server load, which lead to better performance for our users."|translate("holstebro-quote") }}"
    </p>
    <p>
      <i>- Anders Erfurt Høj Thomsen, <a href="http://www.holstebro.dk/">Holstebro Kommune</a></i>
    </p>
  </div>
</div>
