title=Download Adblock Plus
description=Download Adblock Plus for FREE and enjoy a faster web experience, without annoying ads. Available for Chrome, Firefox, Safari, Opera, Internet Explorer and for your Android and iOS devices.
heading=Download Adblock Plus for any device
subheading=Surf the web with no annoying ads in any browser and supported platforms.
template=minimal

<head>
  <link rel="stylesheet" href="/css/download.css">
</head>

<header class="download-header section content container text-center">
    <h1>{{ heading | translate("download-heading", "Heading") }}</h1>
    <p class="dark-grey">{{ subheading | translate("download-subheading", "Subheading") }}</p>
</header>

<div id="supported-devices" class="download-options container text-center content">
  <? include download/abb ?>
  <? include download/mobile ?>
  <? include download/desktop ?>
</div>

<script src="/js/vendor/bowser.js"></script>
<script src="/js/download.js"></script>
