title=Give the gift of ad blocking this Christmas
description=A gift that keeps on giving, at times when you least expect it. Get and give Adblock Plus this holiday season.
og_image=https://adblockplus.org/img/gift-of-ad-blocking/featured-image.png
template=minimal
noheading=1
nonavbar=1
style=gift-of-ad-blocking.css

<script src="/js/tracking-events.js"></script>

<div id="page" class="no-hover">
  <? include gift-of-ad-blocking/header ?>
  <? include gift-of-ad-blocking/campaigns ?>
  <? include gift-of-ad-blocking/related-posts ?>
</div>

<script src="/js/gift-of-ad-blocking.js"></script>
