title=IAdblockPlus

{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-present eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}

<h2>{{ get_string("general_notes", "interface") }}</h2>

<style type="text/css">
.propname, .methodname, .argumentname
{
  font-weight: bold;
}
</style>

<p>
  {{"This interface can be used from extensions that wish to integrate with Adblock\n  Plus."|translate("s1")}} {{"It allows among other things getting some information from Adblock\n  Plus or adding \"special\" subscriptions that will be updated by another extension."|translate("s2")}}
</p>

<pre>
if (&quot;@adblockplus.org/abp/public;1&quot; in Components.classes)
{
  var abpURL = Components.classes[&quot;@adblockplus.org/abp/public;1&quot;]
                         .getService(Components.interfaces.nsIURI);
  var AdblockPlus = Components.utils.import(abpURL.spec, null).AdblockPlus;
  alert(AdblockPlus.subscriptionCount);
}
else
{
  // Adblock Plus is not installed
}
</pre>

{% macro subscriptionCountDescription() %}
<p>{{"Number of subscriptions in the list (including special subscriptions)"|translate("subscriptionCountDescription-s1")}}</p>
{% endmacro %}

{% macro getSubscriptionDescription() %}
<p>{{"Retrieves a subscription by its identifier"|translate("getSubscriptionDescription-s1")}}</p>
{% endmacro %}

{% macro getSubscription_returnDescription() %}
{{"the requested subscription or <code><fix>null</fix></code> if no subscription with the given identifier exists"|translate("getSubscription_returnDescription-s1")}}
{% endmacro %}

{% macro getSubscription_idDescription() %}
{{"subscription's identifier (this is subscription's URL for regular subscriptions)"|translate("getSubscription_idDescription-s1")}}
{% endmacro %}

{% macro getSubscriptionAtDescription() %}
<p>{{"Retrieves a subscription by its position in the list"|translate("getSubscriptionAtDescription-s1")}}</p>
{% endmacro %}

{% macro getSubscriptionAt_returnDescription() %}
{{"the requested subscription or <code><fix>null</fix></code> if the index provided is invalid"|translate("getSubscriptionAt_returnDescription-s1")}}
{% endmacro %}

{% macro getSubscriptionAt_indexDescription() %}
{{"subscription's position in the list, zero-based"|translate("getSubscriptionAt_indexDescription-s1")}}
{% endmacro %}

{% macro updateExternalSubscriptionDescription() %}
<p>
{{"Updates an external subscription (or creates it if no such subscription\ncurrently exists). Such a subscription will not be updated by Adblock Plus, instead\nthe extension calling this method is responsible for updating it and removing once the\nsubscription is no longer required."|translate("updateExternalSubscriptionDescription-s1")}}
</p>

<p>
{{"Adblock Plus 1.3 and higher: External subscriptions will no longer be saved to disk along\nwith other subscription, updateExternalSubscription() method needs to be called each time\nthe browser starts up to restore the subscription. This is to prevent keeping a stale\nexternal subscription in the list if the user uninstalls the extension managing it."|translate("updateExternalSubscriptionDescription-s2")}}
</p>

<p>
{{"Also, before Adblock Plus 1.3 this method returned a boolean indicating whether\nthe subscription could be created. Creating a subscription can no longer fail in\nAdblock Plus 1.3 and higher but its identifier might be rewritten — the new identifier\nwill be returned."|translate("updateExternalSubscriptionDescription-s3")}}
</p>
{% endmacro %}

{% macro updateExternalSubscription_returnDescription() %}
{{"effective subscription identifier (might not be identical to the id parameter)"|translate("updateExternalSubscription_returnDescription-s1")}}
{% endmacro %}

{% macro updateExternalSubscription_idDescription() %}
{{"subscription's identifier (for external subscriptions this can be any string)"|translate("updateExternalSubscription_idDescription-s1")}}
{% endmacro %}

{% macro updateExternalSubscription_titleDescription() %}
{{"subscription title to be used if a new subscription is created. This parameter will be ignored if the subscription already exists."|translate("updateExternalSubscription_titleDescription-s1")}}
{% endmacro %}

{% macro updateExternalSubscription_patternsDescription() %}
{{"list of filter patterns that the subscription should contain"|translate("updateExternalSubscription_patternsDescription-s1")}}
{% endmacro %}

{% macro removeExternalSubscriptionDescription() %}
<p>{{"Removes an external subscription"|translate("removeExternalSubscriptionDescription-s1")}}</p>
{% endmacro %}

{% macro removeExternalSubscription_returnDescription() %}
{{"<code><fix>true</fix></code> if the subscription has been successfully removed, <code><fix>false</fix></code> if no such subscription exists or the subscription isn't managed externally"|translate("removeExternalSubscription_returnDescription-s1")}}
{% endmacro %}

{% macro removeExternalSubscription_idDescription() %}
{{"subscription's identifier (for external subscriptions this can be any string)"|translate("removeExternalSubscription_idDescription-s1")}}
{% endmacro %}

{% macro addPatternsDescription() %}
<p>{{"Adds patterns to the list of user-defined filters"|translate("addPatternsDescription-s1")}}</p>
{% endmacro %}

{% macro addPatterns_returnDescription() %}
{% endmacro %}

{% macro addPatterns_patternsDescription() %}
{{"list of filter patterns to be added"|translate("addPatterns_patternsDescription-s1")}}
{% endmacro %}

{% macro removePatternsDescription() %}
<p>{{"Removes patterns from the list of user-defined filters"|translate("removePatternsDescription-s1")}}</p>
{% endmacro %}

{% macro removePatterns_returnDescription() %}
{% endmacro %}

{% macro removePatterns_patternsDescription() %}
{{"list of filter patterns to be removed"|translate("removePatterns_patternsDescription-s1")}}
{% endmacro %}

{% macro getInstalledVersionDescription() %}
<p>{{"Retrieves the version of the installed Adblock Plus extension. Note that this is the version number as reported by the extension manager or InstallTrigger and it might be incorrect if the latter is used (in Mozilla Suite or SeaMonkey)."|translate("getInstalledVersionDescription-s1")}}</p>
{% endmacro %}

{% macro getInstalledVersion_returnDescription() %}
{{"Adblock Plus version, for example <code><fix>0.7.0.1</fix></code>"|translate("getInstalledVersion_returnDescription-s1")}}
{% endmacro %}


{#
  Property, method and method argument descriptions are defined in the macros
  above and only referenced here.
#}

{% from "includes/interface" import display_interface %}

{{ display_interface({
  "void addPatterns(arrayof wstring patterns)": {
    "description": addPatternsDescription,
    "description-patterns": addPatterns_patternsDescription,
    "version": "0.7.2.3"
  },
  "AString getInstalledVersion()": {
    "description": getInstalledVersionDescription,
    "description-return": getInstalledVersion_returnDescription
  },
  "IAdblockPlusSubscription getSubscription(AString id)": {
    "description": getSubscriptionDescription,
    "description-id": getSubscription_idDescription,
    "description-return": getSubscription_returnDescription
  },
  "IAdblockPlusSubscription getSubscriptionAt(PRInt32 index)": {
    "description": getSubscriptionAtDescription,
    "description-index": getSubscriptionAt_indexDescription,
    "description-return": getSubscriptionAt_returnDescription
  },
  "boolean removeExternalSubscription(AString id)": {
    "description": removeExternalSubscriptionDescription,
    "description-id": removeExternalSubscription_idDescription,
    "description-return": removeExternalSubscription_returnDescription
  },
  "void removePatterns(arrayof wstring patterns)": {
    "description": removePatternsDescription,
    "description-patterns": removePatterns_patternsDescription,
    "version": "0.7.2.3"
  },
  "readonly PRInt32 subscriptionCount": {
    "description": subscriptionCountDescription
  },
  "wstring updateExternalSubscription(AString id, AUTF8String title, arrayof wstring patterns)": {
    "description": updateExternalSubscriptionDescription,
    "description-id": updateExternalSubscription_idDescription,
    "description-title": updateExternalSubscription_titleDescription,
    "description-patterns": updateExternalSubscription_patternsDescription,
    "description-return": updateExternalSubscription_returnDescription
  }
}) }}
