title=IAdblockPlusSubscription

<h2>{{ get_string("general_notes", "interface") }}</h2>

<p>{{"This interface represents a group in the Adblock Plus preferences dialog, it is returned by <a href=\"IAdblockPlus\">IAdblockPlus</a>. All access is read-only."|translate("s1")}}</p>

        <p>{{"<em>Note</em>: You should not keep a reference to this object. If you need the state of the same subscription at a later point in time you should request it again from IAdblockPlus to get correct information."|translate("s2")}}</p>

{% macro urlDescription() %}
<p>{{"Subscription identifier. This can be any string for externally managed subscriptions and special groups, for other subscriptions this will be their update URL."|translate("urlDescription-s1")}}</p>
{% endmacro %}

{% macro specialDescription() %}
<p>{{"Defines whether the subscription is a special group containing user filters. Currently there are four special groups, namely <code><fix>fl</fix></code> (normal filters), <code><fix>wl</fix></code> (exception rules), <code><fix>eh</fix></code> (element hiding rules) and <code><fix>il</fix></code> (invalid rules)."|translate("specialDescription-s1")}}</p>
{% endmacro %}

{% macro titleDescription() %}
<p>{{"Subscription's title as displayed in the Preferences dialog"|translate("titleDescription-s1")}}</p>
{% endmacro %}

{% macro autoDownloadDescription() %}
<p>{{"Defines whether the subscription will be updated automatically. Note that this attribute is meaningless for externally managed subscriptions and special groups."|translate("autoDownloadDescription-s1")}}</p>
{% endmacro %}

{% macro disabledDescription() %}
<p>{{"Defines whether the subscription is disabled. If this attribute is set to <code><fix>true</fix></code> the filters in the subscription won't be applied."|translate("disabledDescription-s1")}}</p>
{% endmacro %}

{% macro externalDescription() %}
<p>{{"Defines whether the subscription is managed externally. If this attribute is set to <code><fix>true</fix></code> the filters in the subscription will only be updated if some extension calls <a href=\"IAdblockPlus#method_updateExternalSubscription\">IAdblockPlus.updateExternalSubscription</a>."|translate("externalDescription-s1")}}</p>
{% endmacro %}

{% macro lastDownloadDescription() %}
<p>{{"Timestamp (return value of <code><fix>new Date().getTime()</fix></code>) of last attempt to download the subscription. The value 0 means that the subscription was never downloaded."|translate("lastDownloadDescription-s1")}}</p>
{% endmacro %}

{% macro downloadStatusDescription() %}
<p>{{"Result code for the last download attempt. This can have the following values:"|translate("downloadStatusDescription-s1")}}</p>

        <ul>
               <li>{{"<code><fix>ok</fix></code> — Success"|translate("downloadStatusDescription-s2")}}</li>
               <li>{{"<code><fix>invalid_url</fix></code> — Subscription URL is invalid"|translate("downloadStatusDescription-s3")}}</li>
               <li>{{"<code><fix>connection_error</fix></code> — Subscription could not be downloaded"|translate("downloadStatusDescription-s4")}}</li>
               <li>{{"<code><fix>invalid_data</fix></code> — Subscription was downloaded but the first line wasn't <code><fix>[Adblock]</fix></code>"|translate("downloadStatusDescription-s5")}}</li>
        </ul>
{% endmacro %}

{% macro lastModifiedDescription() %}
<p>{{"Value of the <code><fix>Last-Modified</fix></code> HTTP header received with the last successful download. This isn't used yet and will always be empty."|translate("lastModifiedDescription-s1")}}</p>
{% endmacro %}

{% macro getPatternsDescription() %}
<p>{{"Retrieves the list of filter rules for a subscription. Note that this method usually will not return anything useful for special groups."|translate("getPatternsDescription-s1")}}</p>
{% endmacro %}

{% macro getPatterns_returnDescription() %}
{{"array with subscription's filter rules"|translate("getPatterns_returnDescription-s1")}}
{% endmacro %}


{#
  Property, method and method argument descriptions are defined in the macros
  above and only referenced here.
#}

{% from "includes/interface" import display_interface %}

{{ display_interface({
  "readonly boolean autoDownload": {
    "description": autoDownloadDescription
  },
  "readonly boolean disabled": {
    "description": disabledDescription
  },
  "readonly AString downloadStatus": {
    "description": downloadStatusDescription
  },
  "readonly boolean external": {
    "description": externalDescription
  },
  "arrayof wstring getPatterns()": {
    "description": getPatternsDescription,
    "description-return": getPatterns_returnDescription
  },
  "readonly long lastDownload": {
    "description": lastDownloadDescription
  },
  "readonly AString lastModified": {
    "description": lastModifiedDescription
  },
  "readonly boolean special": {
    "description": specialDescription
  },
  "readonly AString title": {
    "description": titleDescription
  },
  "readonly AString url": {
    "description": urlDescription
  }
}) }}
