title=IAdblockPlusSubscription

{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-2015 Eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}

<h2>{{ get_string("general_notes", "interface") }}</h2>

<p>{{"This interface represents a group in the Adblock Plus preferences dialog, it is returned by <a href=\"/en/IAdblockPlus\">IAdblockPlus</a>. All access is read-only."|translate("s1")}}</p>

        <p>{{"<em>Note</em>: You should not keep a reference to this object. If you need the state of the same subscription at a later point in time you should request it again from IAdblockPlus to get correct information."|translate("s2")}}</p>

{% macro urlDescription() %}
<p>{{"Subscription identifier. This can be any string for externally managed subscriptions and special groups, for other subscriptions this will be their update URL."|translate("urlDescription-s1")}}</p>
{% endmacro %}

{% macro specialDescription() %}
<p>{{"Defines whether the subscription is a special group containing user filters. Currently there are four special groups, namely"|translate("specialDescription-s1")}} <tt><sub>{{"fl"|translate("specialDescription-s2")}}</sub></tt> {{"(normal filters),"|translate("specialDescription-s3")}} <tt><sub>{{"wl"|translate("specialDescription-s4")}}</sub></tt> {{"(exception rules),"|translate("specialDescription-s5")}} <tt><sub>{{"eh"|translate("specialDescription-s6")}}</sub></tt> {{"(element hiding rules) and"|translate("specialDescription-s7")}} <tt><sub>{{"il"|translate("specialDescription-s8")}}</sub></tt> {{"(invalid rules)."|translate("specialDescription-s9")}}</p>
{% endmacro %}

{% macro titleDescription() %}
<p>{{"Subscription's title as displayed in the Preferences dialog"|translate("titleDescription-s1")}}</p>
{% endmacro %}

{% macro autoDownloadDescription() %}
<p>{{"Defines whether the subscription will be updated automatically. Note that this attribute is meaningless for externally managed subscriptions and special groups."|translate("autoDownloadDescription-s1")}}</p>
{% endmacro %}

{% macro disabledDescription() %}
<p>{{"Defines whether the subscription is disabled. If this attribute is set to"|translate("disabledDescription-s1")}} <tt>{{"true"|translate("disabledDescription-s2")}}</tt> {{"the filters in the subscription won't be applied."|translate("disabledDescription-s3")}}</p>
{% endmacro %}

{% macro externalDescription() %}
<p>{{"Defines whether the subscription is managed externally. If this attribute is set to"|translate("externalDescription-s1")}} <tt>{{"true"|translate("externalDescription-s2")}}</tt> {{"the filters in the subscription will only be updated if some extension calls <a href=\"/en/IAdblockPlus#method_updateExternalSubscription\">IAdblockPlus.updateExternalSubscription</a>."|translate("externalDescription-s3")}}</p>
{% endmacro %}

{% macro lastDownloadDescription() %}
<p>{{"Timestamp (return value of"|translate("lastDownloadDescription-s1")}} <tt>{{"new Date().getTime()"|translate("lastDownloadDescription-s2")}}</tt>{{") of last attempt to download the subscription. The value 0 means that the subscription was never downloaded."|translate("lastDownloadDescription-s3")}}</p>
{% endmacro %}

{% macro downloadStatusDescription() %}
<p>{{"Result code for the last download attempt. This can have the following values:"|translate("downloadStatusDescription-s1")}}</p>

        <ul>
               <li><tt>{{"ok"|translate("downloadStatusDescription-s2")}}</tt>{{"-- Success"|translate("downloadStatusDescription-s3")}}</li>
               <li><tt>{{"invalid_url"|translate("downloadStatusDescription-s4")}}</tt>{{"-- Subscription URL is invalid"|translate("downloadStatusDescription-s5")}}</li>
               <li><tt>{{"connection_error"|translate("downloadStatusDescription-s6")}}</tt>{{"-- Subscription could not be downloaded"|translate("downloadStatusDescription-s7")}}</li>
               <li><tt>{{"invalid_data"|translate("downloadStatusDescription-s8")}}</tt>{{"-- Subscription was downloaded but the first line wasn't"|translate("downloadStatusDescription-s9")}} <tt>{{"[Adblock]"|translate("downloadStatusDescription-s10")}}</tt></li>
        </ul>
{% endmacro %}

{% macro lastModifiedDescription() %}
<p>{{"Value of the"|translate("lastModifiedDescription-s1")}} <tt>{{"Last-Modified"|translate("lastModifiedDescription-s2")}}</tt> {{"HTTP header received with the last successful download. This isn't used yet and will always be empty."|translate("lastModifiedDescription-s3")}}</p>
{% endmacro %}

{% macro getPatternsDescription() %}
<p>{{"Retrieves the list of filter rules for a subscription. Note that this method usually will not return anything useful for special groups."|translate("getPatternsDescription-s1")}}</p>
{% endmacro %}

{% macro getPatterns_returnDescription() %}
{{"array with subscription's filter rules"|translate("getPatterns_returnDescription-s1")}}
{% endmacro %}


{#
  Property, method and method argument descriptions are defined in the macros
  above and only referenced here.
#}

{% from "includes/interface" import display_interface %}

{{ display_interface({
  "readonly boolean autoDownload": {
    "description": autoDownloadDescription
  },
  "readonly boolean disabled": {
    "description": disabledDescription
  },
  "readonly AString downloadStatus": {
    "description": downloadStatusDescription
  },
  "readonly boolean external": {
    "description": externalDescription
  },
  "arrayof wstring getPatterns()": {
    "description": getPatternsDescription,
    "description-return": getPatterns_returnDescription
  },
  "readonly long lastDownload": {
    "description": lastDownloadDescription
  },
  "readonly AString lastModified": {
    "description": lastModifiedDescription
  },
  "readonly boolean special": {
    "description": specialDescription
  },
  "readonly AString title": {
    "description": titleDescription
  },
  "readonly AString url": {
    "description": urlDescription
  }
}) }}
