<? include privacy-policy/styles ?>

{% if locale == "fr" %}
    <? include privacy-policy/french ?>
{% elif locale == "de" %}
    <? include privacy-policy/german ?>
{% elif locale == "pt" %}
    <? include privacy-policy/portuguese ?>
{% else %}
    <? include privacy-policy/english ?>
{% endif %}

