title=Adblock Plus system requirements

<p>
  {{ "Adblock Plus is a platform-independent extension, which means that it can be installed on any operating system provided that a host application is available."|translate("s1") }}
  {{ "Supported programs and versions are listed below."|translate("s2") }}
</p>

<h2 id="safari">Safari</h2>
<ul>
  <li>Safari 6</li>
  <li>Safari 7</li>
  <li>Safari 8</li>
  <li>Safari 9</li>
</ul>

<h2 id="internet-explorer">Internet Explorer</h2>
<ul>
  <li>Internet Explorer 8</li>
  <li>Internet Explorer 9</li>
  <li>Internet Explorer 10</li>
  <li>Internet Explorer 11</li>
</ul>
