title=Known Adblock Plus subscriptions
{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-2016 Eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}


<style type="text/css">
.subscriptions
{
  border-collapse: collapse;
  width: 100%;
}

.subscriptions td
{
  width: 50%;
}

.subscriptions td, .subscriptions th
{
  vertical-align: top;
  border: 1px dashed black;
  padding: 5px;
}

.subscriptions .dummy
{
  border-style: none;
  width: 20px;
  min-width: 20px;
}

.subscriptions .deprecated
{
  opacity: 0.5;
}
</style>

<p>{{"This is a list of the actively maintained filter subscriptions we're aware of. You can subscribe to any of them by simply clicking its \"Subscribe\" link and confirming your decision. The filters will be added to Adblock Plus and updated automatically. Note that <a href=\"getting_started#subscription\">you shouldn't add too many filter subscriptions</a>."|translate("s1")}}</p>


<p>{{"Can't see your filter list here? <a href=\"mailto:subscriptionlist@adblockplus.org\">Send</a> the information you would like to be displayed here. Please note that in order to be included in this list your subscription must contain a comment at the beginning describing the origin of the filter list and the preferred way of contacting you if problems with your list occur. You should also be certain that when these issues arise you will be able to fix them in a reasonable amount of time."|translate("s2")}}</p>

<p>
{{"Please note that all of these filter lists are being maintained by third parties. Eyeo, the company behind Adblock Plus, has no control over them.\nWe are only listing them to help you find lists that could be useful to you.\nIn no case shall Eyeo be held liable towards you or any other third party for any loss or damage (including but not limited to loss of chances and of business) deriving directly or indirectly from your use of these lists."|translate("s3")}}
</p>
