<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>

    {% if user_testing %}
      <? include ab-test/anti-flicker ?>
    {% endif %}

    <? include styles ?>

    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    <? include head/config ?>

    {% block body %}
      {{ body | safe }}
    {% endblock %}

    <? include cookie/index ?>

    {% if user_testing %}
      <? include analytics/ab-test/tracking ?>
    {% else %}
      <? include head/analytics ?>
    {% endif %}
  </body>
</html>
