<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include inline-font ?>
    <? include styles-without-fonts ?>
    <? include anti-flicker ?>
    <? include config ?>

    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    {% block body %}
      {{ body | safe }}
    {% endblock %}

    <? include cookie/index ?>
    <? include analytics ?>
  </body>
</html>
