<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include fonts/inline ?>
    <? include styles-without-fonts ?>
    <? include config ?>

    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    {% block body %}
      {{ body | safe }}
    {% endblock %}
  </body>
</html>
