<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include accounts-redirect-fallback ?>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include styles ?>
    <? include inline-globals ?>
    <? include optimizely ?>
    <? include hotjar ?>
    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    <div class="page">
      {% block body %}
        {{ body | safe }}
      {% endblock %}
    </div>
    <? include footer ?>
  </body>
</html>
