<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include styles ?>
    <? include globals ?>
    <? include analytics ?>
    <? include optimizely ?>
    {% block head %}
      {{ head | safe }}
    {% endblock %}
    <? include hotjar ?>
    <? include profitwell ?>
  </head>
  <body>
    {% block body %}
      {{ body | safe }}
    {% endblock %}
  </body>
</html>
