{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-present eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}

<!DOCTYPE html>
<html lang="{{locale}}" dir="{{"rtl" if config.has_option("rtl", locale) else "ltr"}}" itemscope="itemscope" itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title|translate("title", "meta")}}</title>
    {% if description %}
    <meta name="description" content="{{description|translate("description", "meta")}}">
    {% endif %}
    <link rel="canonical" href="{{ get_canonical_url(page | ignore_browsers) }}">

    {# facebook / Open Graph http://ogp.me/ #}
    <meta property="og:image" content="{{og_image if og_image else '/img/adblockplus_promo.png'}}" />
    <meta property="og:title" content="{{ title | translate("title") }}">
    {% if description %}
      <meta property="og:description" content="{{ description | translate("description") }}">
    {% endif %}
    <meta property="og:locale" content="{{ locale | to_og_locale }}">
    {% for alternate_locale in available_locales %}
      {% if alternate_locale != locale %}
        <meta property="og:locale:alternate" content="{{ alternate_locale | to_og_locale }}">
      {% endif %}
    {% endfor %}
    <meta property="og:url" content="{{ get_canonical_url(page | ignore_browsers) }}">

    {# twitter https://dev.twitter.com/cards/markup #}
    <meta name="twitter:site" content="@AdblockPlus" />
    <meta name="twitter:creator" content="@AdblockPlus" />

    <link rel="stylesheet" href="/css/main.css" class="cssfx">
    <link rel="stylesheet" href="/css/main-desktop.css" media="(min-width: 1000px)" class="cssfx">
    <link rel="stylesheet" href="/css/main-mobile.css" media="(max-width: 1000px)">
    <link rel="apple-touch-icon" href="/img/favicon-large.png" />

    <!--[if IE 8]>
      <script src="/js/vendor/ie8.js"></script>
    <![endif]-->

    {% block head %}
    {{head|safe}}
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="/js/vendor/html5shiv.js"></script>
      <script src="/js/vendor/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
      <script src="/js/vendor/cssfx.min.js"></script>
    <![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" href="/css/empty.css" class="cssfx"/>
    <![endif]-->
  </head>

  <body>
    <noscript>
      <link rel="stylesheet" href="/css/noscript-desktop.css" media="(min-width: 1000px)"/>
      <link rel="stylesheet" href="/css/noscript-mobile.css" media="(max-width: 1000px)"/>
    </noscript>

    {% macro pageitem(name) %}
      {% if name == page %}
        <li class="selected">{{get_string(name, "menu")}}</li>
      {% else %}
        <li>{{name|linkify}}{{get_string(name, "menu")}}</a></li>
      {% endif %}
    {% endmacro %}

    <header>
      {{"index"|linkify(id="logo", class="sprite", itemprop="image")}}</a>
      <nav>
        <ul>
          {% if localefile == "index" %}
            <li class="selected first">{{get_string("installation", "menu")}}</li>
          {% else %}
            <li class="install-link first">{{"index"|linkify}}{{get_string("installation", "menu")}} <span class="sprite install-link-icon"></span></a></li>
          {% endif %}
          {% for name in ["about", "features", "bugs", "contribute"] %}
            {{pageitem(name)}}
          {% endfor %}
          <li id="language">
            <div id="current-language">
              <div id="flag-{{locale}}" class="flag sprite"></div>
              <span id="language-arrow" class="sprite"></span>
            </div>
            <ul id="language-selector">
              {% for lang in available_locales %}
                <li class="language-entry">
                  {{page|linkify(lang)}}
                    <div id="flag-{{lang}}" class="flag sprite"></div>{{config.get("langnames", lang)}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <a href="#" id="hamburger"></a>
      </nav>
    </header>

    <div id="content" {% if localefile == "index" %}class="{{page}}"{% endif %}>
      {% if abbnotification %}
      <? include abb-notification ?>
      {% endif %}
      {% if not noheading %}
      <h1>{{title|translate("title")}}</h1>
      {% endif %}

      {% if not notoc %}
        {% macro toc(toclist) %}
          <ul>
            {% for item in toclist %}
              <li>
                <a href="#{{item.anchor}}">{{item.title}}</a>
                {% if item.subitems %}{{toc(item.subitems)}}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endmacro %}

        {% set toclist = body|toclist %}
        {% if toclist %}
          <div class="toc">
            {{toc(toclist)}}
          </div>
        {% endif %}
      {% endif %}

      {% block body %}
      {{body|safe}}
      {% endblock %}
    </div>

    <footer id="footer-main">
      <div id="footer-content">
        <nav>
          <section class="first">
            <h1>{{get_string("resources", "menu")}}</h1>
            <ul>
              {% for name in ["acceptable-ads", "documentation", "deployments", "terms", "privacy", "impressum"] %}
                {{pageitem(name)}}
              {% endfor %}
            </ul>
          </section>

          <section>
            <h1>{{get_string("community", "menu")}}</h1>
            <ul>
              <li><a href="/releases/" hreflang="en">{{get_string("releases", "menu")}}</a></li>
              <li><a href="/blog/" hreflang="en">{{get_string("blog", "menu")}}</a></li>
              <li><a href="/forum/" hreflang="en">{{get_string("forum", "menu")}}</a></li>
              {{pageitem("development-builds")}}
            </ul>
          </section>

          <section>
            <h1>{{get_string("development", "menu")}}</h1>
            <ul>
              {{pageitem("source")}}
              <li><a href="https://issues.adblockplus.org/report/13" hreflang="en">{{get_string("roadmap", "menu")}}</a></li>
              {{pageitem("tools")}}
              <li><a href="https://eyeo.com/jobs/" hreflang="en">{{get_string("jobs", "menu")}}</a></li>
            </ul>
          </section>
        </nav>

        <section id="social">
          <h1>{{get_string("follow-us", "menu")}}</h1>
          <ul id="social-list">
            <li class="social-entry">
              <a rel="nofollow" id="social-facebook" class="sprite" href="https://www.facebook.com/adblockplus"></a>
            </li>
            <li class="social-entry">
              <a rel="nofollow" id="social-twitter" class="sprite" href="https://twitter.com/adblockplus"></a>
            </li>
            <li class="social-entry">
              <a rel="nofollow" id="social-gplus" class="sprite" href="https://plus.google.com/110020691898167279887"></a>
            </li>
          </ul>
        </section>
      </div>
    </footer>

    <script src="/js/main.js"></script>
  </body>
</html>
