<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include styles ?>
    <link rel="stylesheet" href="/css/editor.css">
    <? inludes globals ?>
    {% block head %}
      {{head|safe}}
    {% endblock %}
  </head>
  <body>
    <? include navbar ?>
    <div class="editor">
      {% block body %}
        {{body|safe}}
      {% endblock %}
    </div>
    <? include footer ?>
    <? include scripts ?>
    <script src="/js/editor.js"></script>
  </body>
</html>