<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include early-head-scripts ?>
    <? include placeholder-animations ?>
    <? include shared-styles ?>
    <? include late-head-scripts ?>
    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>
  <body>
    <? include navbar ?>
    <div id="content" class="container content {{ localefile == "index" and page }}">
      {% if heading %}
        <h1>{{ heading | translate("heading", "heading") }}</h1>
      {% elif title and not noheading %}
        <h1>{{ title | translate("title") }}</h1>
      {% endif %}
      {% if not notoc %}
        {% from "macros/toc" import toc %}
        {% set toclist = body|toclist %}
        {% if toclist %}
          <div id="toc-fixed-left" class="toc toc-list">
            <p>Index</p>
            {{toc(toclist)}}
          </div>
        {% endif %}
      {% endif %}
      {% block body %}
        <div class="toc-contents-right">
          {{ body | safe }}
        </div>
      {% endblock %}
    </div>
    <? include footer ?>
    <? include cookie/index ?>
    <? include google/analytics ?>
    <? include shared-scripts ?>
  </body>
</html>
