<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include styles ?>
    <? include config ?>
    <? include analytics ?>

    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    <? include navbar ?>
    <? include job-ad-header ?>

    <div id="content" class="container content {{ localefile == "index" and page }}">
      {% block body %}
        {{body|safe}}
      {% endblock %}
    </div>

    <? include footer ?>
    <? include cookie/index ?>
    <? include google/analytics ?>
    <? include scripts ?>
  </body>
</html>