<!DOCTYPE html>
<html <? include html-attributes ?>>
{% if is_old_index %}
  <? include old/index ?>
{% else %}
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>

    {% if user_testing %}
      <? include ab-test/anti-flicker ?>
    {% endif %}

    <? include styles ?>

    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    <? include head/config ?>
    <? include navbar ?>

    {% block body %}
      {{ body | safe }}
    {% endblock %}

    <? include footer ?>
    <? include polyfills ?>
    <? include analytics/body-start ?>
    <? include cookie/index ?>
    <? include scripts ?>

    {% if user_testing %}
      <? include analytics/ab-test/tracking ?>
    {% else %}
      <? include head/analytics ?>
    {% endif %}

  </body>
{% endif %}
</html>
