<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include early-scripts ?>
    <? include placeholder-animations ?>
    <? include shared-styles ?>
    <? include dynamic-scripts ?>
    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>
  <body class="{{ bodyclass }}">
    <? include navbar ?>
    {% block body %}
      {{ body | safe }}
    {% endblock %}
    <? include footer ?>
    <? include cookie/index ?>
    <? include google/analytics ?>
    <? include shared-scripts ?>
  </body>
</html>
