<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include styles ?>
    <link rel="stylesheet" href="/css/modern.css">
    <? include inline-globals ?>
    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>
  <body>
    <? include navbar ?>
    <main class="container modern" style="margin-top: 3rem;">
      {% block body %}
        {{ body | safe }}
      {% endblock %}
    </main>
    <? include footer ?>
    <? include cookie/index ?>
    <? include google/analytics ?>
    <? include scripts ?>
  </body>
</html>
