<!DOCTYPE html>
<html <? include html-attributes ?>>

  <head>
    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    {% block body %}
      {{ body | safe }}
    {% endblock %}
  </body>
</html>
