{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-2015 Eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}

<!DOCTYPE html>
<html lang="{{locale}}" dir="{{"rtl" if config.has_option("rtl", locale) else "ltr"}}">
  <head>
    <title>{{title|translate("title")}}</title>
    <link rel="stylesheet" href="/css/simple.css" type="text/css" media="all" />
    <link rel="apple-touch-icon" href="/img/favicon-large.png" />
    {{head|safe}}
  </head>
  <body>
    <header>
      <img id="logo" src="/img/adblockplus_100.png" alt="{{"Adblock Plus logo"|translate("abp-logo", "Alternative text for Adblock Plus logo image")}}" />
      <h1>{{title|translate("title")}}</h1>
    </header>
    <div id="content">
      {{body|safe}}
    </div>
    <footer>
      {{"impressum"|linkify}}{{"Legal notice"|translate("legal-notice", "Legal notice in the footer")}}</a>
    </footer>
  </body>
</html>
