<!DOCTYPE html>
<html
  lang="{{ locale }}"
  dir="{{ "rtl" if config.has_option("rtl", locale) else "ltr" }}"
>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | translate("title") }}</title>
    <meta property="og:image" content="/img/adblockplus_promo.png">
    <meta name="robots" content="none">
    <? include inline-globals ?>
    <? include optimizely ?>
    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {{ body | safe }}
    {% endblock %}
    <? include aa_snippet ?>
  </body>
</html>
