{% macro social_icons(color) %}
<div class="social-icons">
  <div class="dropdown-container">
    <a
      target="_blank"
      class="social-icon"
      href="https://www.facebook.com/sharer/sharer.php?u=http%3A//adblockplus.org/en/gift-of-ad-blocking"
      title="{{ "Share on Facebook" | translate("facebook-icon-title", "link title") }}">
      <img
        alt="{{ "Facebook icon" | translate("facebook-icon-alt", "alt text") }}"
        src="/img/gift-of-ad-blocking/facebook-icon-{{ color or "grey" }}.png"
        srcset="/img/gift-of-ad-blocking/facebook-icon-{{ color or "grey" }}-2x.png 2x" />
    </a>
    <div class="dropdown">
      <span class="arrow"></span>
      <p class="dropdown-body">{{ "Click again to share this. Please note that by sharing this, some personal data is transferred to Facebook. For more information, please review Facebook’s <a href='https://www.facebook.com/privacy/explanation'>Data Policy</a>." | translate("facebook-dropdown-1")  }}</p>
    </div><!-- .dropdown -->
  </div><!-- .dropdown-container -->
  <div class="dropdown-container">
    <a
      target="_blank"
      class="social-icon"
      href="https://twitter.com/home?status=See%20how%20Adblock%20Plus%20sprinkles%20a%20little%20holiday%20magic%20on%20the%20web%3A%20www.giftofadblocking.com"
      title="{{ "Share on Twitter" | translate("twitter-icon-title", "link title") }}">
      <img
        alt="{{ "Twitter icon" | translate("twitter-icon-alt", "alt text") }}"
        src="/img/gift-of-ad-blocking/twitter-icon-{{ color or "grey" }}.png"
        srcset="/img/gift-of-ad-blocking/twitter-icon-{{ color or "grey" }}-2x.png 2x" />
    </a>
    <div class="dropdown">
      <span class="arrow"></span>
      <p class="dropdown-body">{{ "Click again to share this. Please note that by sharing this, some personal data is transferred to Twitter. For more information, please review Twitter’s <a href='https://twitter.com/en/privacy'>Privacy Policy</a>." | translate("twitter-dropdown-1") }}</p>
    </div><!-- .dropdown -->
  </div><!-- .dropdown-container -->
</div><!-- .social-icons -->
{% endmacro %}
