{% set media_coverage = [
  {
    "publisher": "Media Post",
    "link": "http://www.mediapost.com/publications/article/289691/adblock-plus-comes-to-new-york.html",
    "link_title": "Media Post article about Adblock Plus",
    "image": "mediapost",
    "image_alt": "Media Post logo"
  },
  {
    "publisher": "NY Times",
    "link": "https://www.nytimes.com/2015/08/20/technology/personaltech/ad-blockers-and-the-nuisance-at-the-heart-of-the-modern-web.html",
    "link_title": "New York Times article about Adblock Plus",
    "image": "nyt",
    "image_alt": "New York Times logo"
  },
  {
    "publisher": "Wall St. Journal",
    "link": "https://www.wsj.com/articles/adblock-plus-chief-till-faida-says-consumers-are-fed-up-with-current-online-ads-1462981668",
    "link_title": "Wall St. Journal article about Adblock Plus",
    "image": "wsj",
    "image_alt": "Wall St. Journal logo"
  },
  {
    "publisher": "TechCrunch",
    "link": "https://techcrunch.com/2016/05/09/adblock-plus-closes-in-on-a-billion-downloads/",
    "link_title": "Tech Crunch article about Adblock Plus",
    "image": "techcrunch",
    "image_alt": "Tech Crunch logo"
  },
  {
    "publisher": "BusinessInsider",
    "link": "http://www.businessinsider.com/theres-nothing-wrong-about-the-way-adblock-plus-makes-money-2015-9",
    "link_title": "Business Insider article about Adblock Plus",
    "image": "business-insider",
    "image_alt": "Business Insider logo"
  }
] %}

<div id="media-section" class="bg-primary section">
  <div class="container">
    <div id="media">
      <header id="media-header">
        <h2>{{ "As Mentioned On:" | translate("as-mentioned-header", "header") }}</h2>
        <small>{{ "(Links open in a new window)" | translate("as-mentioned-title", "tooltip") }}</small>
      </header>
      <ul id="media-list" class="unstyled">
        {% for item in media_coverage %}
        <li>
          <a
            href="{{ item.link }}"
            target="_blank"
            title="{{ item.link_title | translate(item.publisher + '-tooltip', 'tooltip') }}">
            <img
              src="/img/media/{{ item.image }}.png"
              srcset="/img/media/{{ item.image }}-2x.png 2x"
              alt="{{ item.image_alt | translate(item.publisher + '-alt', 'alt text') }}">
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
