<script>
  window.eyeo = {
    {% if disable_stripe %}
    disableStripe: true,
    {% endif %}
    {% if disable_paypal %}
    disablePayPal: true,
    {% endif %}
    preventCookiePrompt: {{ "true" if prevent_cookie_prompt else "false" }},
    userTesting: {{ "true" if user_testing else "false" }},
    userTestingVariants: {{ "true" if user_testing_variants else "false" }},
    testAnalytics: {{ "true" if analytics_testing else "false" }},
    testOptimize: {{ "true" if optimize_testing else "false" }}
  }

  window.console = window.console || {warn: function(){}};
</script>
