{% if locale == "de" %}
  <h3>
    Keine Teilnahme an Streitbeilegungsverfahren
  </h3>
  <p>
    eyeo nimmt nicht an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil. Für Streitigkeiten ist ausschließlich der ordentliche Gerichtsweg zu bestreiten.
  </p>
{% endif %}
