<div class="footer-wrap footer-legal-links">
  <div class="container">
    <div id="footer-legal">
      <p id="copyright-notice">{{ get_string("copyright", "footer") }}</p>
      <ul id="legal-list">
        {% if page == "gift-of-ad-blocking" %}
          {% for pagename in ["terms", "privacy", "privacy-goab", "imprint"] %}
            <li>{{ pagename | linkify }}{{ get_string(pagename, "menu") }}</a></li>
          {% endfor %}
        {% else %}
          {% for pagename in ["terms", "privacy", "imprint"] %}
            <li>{{ pagename | linkify }}{{ get_string(pagename, "menu") }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </div> {# #footer-legal #}
  </div> {# .container #}
</div> {# .footer-wrap.footer-legal-links #}
