<footer class="footer footer--legal">
  <p class="footer__copywrite">{{ get_string("copyright", "footer") }}</p>
  <ul class="footer__legal">
    <li><a href="terms">{{ get_string("terms", "menu") }}</a></li>
    <li><a href="privacy">{{ get_string("privacy", "menu") }}</a></li>
    <li><a href="imprint">{{ get_string("imprint", "menu") }}</a></li>
  </ul>
</footer>