<div id="footnote" class="container content hide-on-ios hide-on-android">
  <ul>
    <li>
      {{"Participants cannot pay to avoid the <a href=\"acceptable-ads#criteria-general\">criteria</a>. Every ad must comply."|translate("footnote-must-comply")}}
    </li>
    <li>
      {{"We are able to keep our open source product free by charging large entities a fee for allowlisting services. For smaller partners, these services are offered free of charge."|translate("footnote-keep-free")}}
    </li>
  </ul>
</div>
