<div id="footnote" class="container content hide-on-ios hide-on-android">
  <sup>[1]</sup> {{"The following rules <strong>have</strong> and <strong>always will</strong> apply to everyone, without exception:"|translate("footnote-headline")}}
  <ul>
    <li>
      {{"Participants cannot pay to avoid the <a href=\"acceptable-ads#criteria-general\">criteria</a>. Every ad must comply."|translate("footnote-must-comply")}}
    </li>
    <li>
      {{"For transparency, we add all Acceptable Ads to our <a href=\"https://adblockplus.org/forum/viewforum.php?f=12\">forum</a> so that our community of users can provide feedback."|translate("footnote-forum")}}
    </li>
    <li>
      {{"We listen to our users. If an Acceptable Ads proposal is flagged by our community for a legitimate reason, we will remove it from the allowlist."|translate("footnote-value-users")}}
    </li>
    <li>
      {{"We are able to keep our open source product free by charging large entities a fee for allowlisting services. For the other roughly 90 percent of our partners, these services are offered free of charge."|translate("footnote-keep-free")}}
    </li>
  </ul>
</div>
