<script>
  const query = new URLSearchParams(window.location.search);
  const adblock = window.adblock = {
    query,
    searchParameters: query,
    error: (message) => { alert(message) },
    runtime: {},
    config: {},
    lib: {},
    api: {},
    config: {},
    strings: {
      "error--unexpected": {{ get_string("stripe-sorry", "payment-form") | tojson }}
    },
    settings: {
      userid: document.documentElement.dataset.userid || false,
      page: document.documentElement.dataset.page || false,
      language: {{ locale | tojson }},
    },
  };
</script>
<script src="/js/settings.js"></script>