
lang="{{ locale }}"
data-page="{{ page }}"
data-siteurl="{{ config.get("general", "siteurl") }}"
dir="{{ "rtl" if config.has_option("rtl", locale) else "ltr" }}"
class="no-js {{ "unadblock" if unadblock else "" }}"
