noheading=True

<head>
<link class="cssfx" href="/css/index.css" rel="stylesheet">
<link class="cssfx" href="/css/index-desktop.css" media="(min-width: 40.5em)" rel="stylesheet">
<link href="/css/index-mobile.css" media="screen and (max-width: 40.5em)" rel="stylesheet">

<link href="http://adblockplus.org/" rel="canonical">
<link href="https://chrome.google.com/webstore/detail/cfhdojbkjhnklbpkdaibdccddilifddb" rel="chrome-webstore-item">
<meta content="product" property="og:type">
<meta content="http://adblockplus.org/img/adblockplus_128.png" property="og:image">
<meta content="http://adblockplus.org/" property="og:url">
</head>
<meta name="title" content="{{"s1"|translate}}">
<meta name="description" content="{{"s2"|translate}}">
<meta property="og:title" content="{{"s3"|translate}}">
<meta property="og:description" content="{{"s4"|translate}}"> 


<div class="{{page}}" id="install-container" itemscope="itemscope" itemtype="http://schema.org/SoftwareApplication">
  <section id="main">
    <div id="summary">
      <h1 itemprop="name">{{"s5"|translate}}</h1>
      <h2 itemprop="description">{{"s6"|translate}}</h2>

      <ul>
        <li itemprop="featureList">
          <div class="sprite"></div>
{{"s7"|translate}}
        </li>
        <li itemprop="featureList">
          <div class="sprite"></div>
{{"s8"|translate}}
        </li>
        <li itemprop="featureList">
          <div class="sprite"></div>
{{"s9"|translate}}
        </li>
        <li class="emphasized" itemprop="featureList">
          <div class="sprite"></div>
{{"s10"|translate}}
        </li>
      </ul>
    </div>

    <div id="install">
      <a class="install-button" href="%EXTENSION(abp,downloadurl)%" id="install-firefox">{{"s11"|translate}}</a>
      <a class="install-button" href="https://clients2.google.com/service/update2/crx?response=redirect&amp;x=id%3Dcfhdojbkjhnklbpkdaibdccddilifddb%26uc" id="install-chrome" onclick="chrome.webstore.install(); return false;">{{"s12"|translate}}</a>
      <a class="install-button" href="https://addons.opera.com/extensions/download/opera-adblock/" id="install-opera">{{"s13"|translate}}</a>
      <a class="install-button" href="/en/android-install" id="install-android">{{"s14"|translate}}</a>
      <a class="install-button" href="https://downloads.adblockplus.org/adblockplusie-1.1.exe" id="install-internet-explorer">{{"s15"|translate}}</a> 
      <ul>
        <li>
          <a class="sprite" href="firefox" id="platform-firefox" title="{{"s16"|translate}}"></a>
        </li>
        <li>
          <a class="sprite" href="chrome" id="platform-chrome" title="{{"s17"|translate}}"></a>
        </li>
        <li>
          <a class="sprite" href="android" id="platform-android" title="{{"s18"|translate}}"></a>
        </li>
        <li>
          <a class="sprite" href="opera" id="platform-opera" title="{{"s19"|translate}}"></a>
	</li>
        <li>
          <a class="sprite" href="internet-explorer" id="platform-internet-explorer" title="{{"s20"|translate}}"></a>
        </li>
      </ul>
    </div>
  </section>

  <div class="warning-platform firefox">{{"s21"|translate}} <a href="firefox">{{"s22"|translate}}</a></div>
  <div class="warning-platform chrome">{{"s23"|translate}} <a href="chrome">{{"s24"|translate}}</a></div>
  <div class="warning-platform android">{{"s25"|translate}} <a href="android">{{"s26"|translate}}</a></div>
  <div class="warning-platform opera">{{"s27"|translate}} <a href="opera">{{"s28"|translate}}</a></div>
  <div class="warning-platform internet-explorer">{{"s29"|translate}} <a href="internet-explorer">{{"s30"|translate}}</a></div>

  <iframe frameborder="0" height="285" id="video" itemprop="video" src="//www.youtube-nocookie.com/embed/pVYtzF5SemU?html5=1&amp;autohide=1&amp;enablejsapi=1&amp;controls=2&amp;fs=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;theme=light" width="520"></iframe>
</div>

<div id="key-facts">
  <section class="first">
    <div class="sprite" id="facts-open-source"></div>
    <h1>{{"s31"|translate}}</h1>
    <p>
      	{{"s32"|translate(links=["contribute"])}}
    </p>
  </section>

  <section>
    <div class="sprite" id="facts-downloads"></div>
    <h1>{{"s33"|translate}} 200 {{"s34"|translate}}</h1>
    <p>
{{"s35"|translate}}
    </p>
  </section>

  <section>
    <div class="sprite" id="facts-acceptable-ads"></div>
    <h1>{{"s36"|translate}}</h1>
    <p>
      {{"s37"|translate(links=["acceptable-ads"])}}
    </p>

  </section>
</div>

<section class="hidden" id="more-container">
  <div class="noscript-hidden">
    <button id="more" onclick="toggleMore();return false;">
      {{"s38"|translate}}
    </button>
    <button id="less" onclick="toggleMore();return false;">
      {{"s39"|translate}}
    </button>
  </div>
  
  <div id="more-tabs">
    <div id="sidebar">
      <button id="more-firefox" onclick="showTab(this);return false;">
        {{"s40"|translate}}
      </button>
      <button id="more-chrome" onclick="showTab(this);return false;">
        {{"s41"|translate}}
      </button>
      <button id="more-opera" onclick="showTab(this);return false;">
        {{"s42"|translate}}
      </button>
      <button id="more-android" onclick="showTab(this);return false;">
        {{"s43"|translate}}
      </button>
      <button id="more-internet-explorer" onclick="showTab(this);return false;">
        {{"s44"|translate}}
      </button>
    </div>
    
    <div class="more-tab" id="tab-firefox">
      <h2>{{"s45"|translate}}</h2>
      
      <p>
        {{"s46"|translate}}
      </p>
      
      <p>
        {{"s47"|translate(links=["filters"])}}
      </p>
      
      <p>
        {{"s48"|translate}}
      </p>
    </div>
    
    <div class="more-tab" id="tab-chrome">
      <h2>{{"s49"|translate}}</h2>
      
      <p>
        {{"s50"|translate(links=["features"])}}
      </p>
      
      <p>
        {{"s51"|translate}}
      </p>
      
      <p>
        {{"s52"|translate}} 10 {{"s53"|translate}}
        <ul>
          <li>
            <blockquote cite="http://download.cnet.com/Adblock-Plus-for-Chrome/3000-33362_4-75118867.html?tag=mncol;3">
              {{"s54"|translate}}
            </blockquote>
            <a href="http://download.cnet.com/Adblock-Plus-for-Chrome/3000-33362_4-75118867.html?tag=mncol;3">{{"s55"|translate}}</a>
          </li>
          <li>
            <blockquote cite="http://adblock-plus.en.softonic.com/">
              {{"s56"|translate}}
            </blockquote>
            <a href="http://adblock-plus.en.softonic.com/" rel="nofollow">{{"s57"|translate}}</a>
          </li>
        </ul>
      </p>
    </div>
    
    <div class="more-tab" id="tab-opera">
      <h2>{{"s58"|translate}}</h2>
      
      <p>
        {{"s59"|translate}} 4 {{"s60"|translate}}
      </p>
      
      <p>
        {{"s61"|translate}}
      </p>
      
      <p>
        {{"s62"|translate}}
      </p>
      
      <p>
        {{"s63"|translate}}
      </p>
    </div>
    
    <div class="more-tab" id="tab-android">
      <h2>{{"s64"|translate}}</h2>
      
      <p>
        {{"s65"|translate}} 1 {{"s66"|translate}}
      </p>
      
      <p>
        {{"s67"|translate}}
      </p>
      
      <p>
        {{"s68"|translate}}
      </p>
    </div>

    <div class="more-tab" id="tab-internet-explorer">
      <h2>{{"s69"|translate}}</h2>

      <p>
        {{"s70"|translate}}  
      </p>

      <p>
        {{"s71"|translate}} 
      </p>

      <p>
        {{"s72"|translate}} 
      </p>

      <ul>
        <li>{{"s73"|translate}}</li>
        <li>{{"s74"|translate}}</li>
        <li>{{"s75"|translate}}</li>
      </ul>

      <p>
        {{"s76"|translate}} 
      </p>
    </div>
  </div>
</section>

<script src="/js/index.js"></script>
