title=Adblock Plus - Surf the web without annoying ads!
noheading=True
localefile=index

{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-2016 Eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}

<head>
<link class="cssfx" href="/css/index.css" rel="stylesheet">
<link class="cssfx" href="/css/index-desktop.css" media="(min-width: 1000px)" rel="stylesheet">
<link href="/css/index-mobile.css" media="(max-width: 1000px)" rel="stylesheet">

<link href="https://adblockplus.org/" rel="canonical">
<link href="https://chrome.google.com/webstore/detail/cfhdojbkjhnklbpkdaibdccddilifddb" rel="chrome-webstore-item">
<meta content="product" property="og:type">
<meta content="https://adblockplus.org/img/adblockplus_promo.png" property="og:image">
<meta content="https://adblockplus.org/" property="og:url">
<meta content="{{"Adblock Plus - Surf the web without annoying ads!"|translate("s1")}}" name="title">
<meta content="{{"Adblock Plus is the most popular adblocker available for Firefox, Chrome, Opera, Safari, Android and Internet Explorer. Block all annoying ads all over the web: remove video ads on YouTube, block Facebook ads, get rid of pop-ups and much more. On Google Chrome, Adblock Plus is one of the fastest growing extensions ever. Our adblock for Chrome is being used by 10 million people. Download online for free now!"|translate("s2")}}" name="description">
<meta content="{{"Adblock Plus - Surf the web without annoying ads!"|translate("s1")}}" property="og:title">
<meta content="{{"Adblock Plus is the most popular adblocker available for Firefox, Chrome, Opera, Safari, Android and Internet Explorer. Block all annoying ads all over the web: remove video ads on YouTube, block Facebook ads, get rid of pop-ups and much more. On Google Chrome, Adblock Plus is one of the fastest growing extensions ever. Our adblock for Chrome is being used by 10 million people. Download online for free now!"|translate("s2")}}" property="og:description">
</head>

<div id="abb-banner">
  <h2>{{"Want to block ads on your smartphone or tablet?"|translate("abb-banner-headline")}}</h2>
  <img src="/img/abb-promo-image.png" alt="{{"Adblock Browser promotional image"|translate("abb-promotion-alt")}}" />
  <a id="abb-android-download" href="https://adblockplus.org/redirect?link=adblock_browser_android_store">{{"Download Adblock Browser"|translate("abb-banner-button-text")}}</a>
  <a id="abb-ios-download" href="https://adblockplus.org/redirect?link=adblock_browser_ios_store">{{"Download Adblock Browser"|translate("abb-banner-button-text")}}</a>
</div>
<div itemscope="itemscope" itemtype="http://schema.org/SoftwareApplication">
  <section id="main">
    <div id="summary">
      <h1 itemprop="name">{{"Adblock Plus"|translate("s5")}}</h1>
      <h2 itemprop="description">{{"Surf the web without annoying ads!"|translate("s6")}}</h2>

      <ul id="features">
        <li itemprop="featureList">
          <div class="sprite"></div>
{{"Can block tracking, malware domains, banners, pop-ups and video ads - even on Facebook and YouTube"|translate("s7")}}
        </li>
        <li itemprop="featureList">
          <div class="sprite"></div>
{{"Unobtrusive ads aren't being blocked in order to support websites (<a href=\"acceptable-ads\">configurable</a>)"|translate("s8")}}
        </li>
        <li class="emphasized" id="feature-free" itemprop="featureList">
          <div class="sprite"></div>
{{"It's free!"|translate("s9")}}
          <span class="license-note" style="display: inline">{{"(<a href=\"https://www.gnu.org/licenses\">GPLv3</a>)"|translate("s10")}}</span>
        </li>
        <li id="feature-maxthon" itemprop="featureList">
          <div class="sprite"></div>
{{"Integrated by default in"|translate("s11")}} <a href="http://www.maxthon.com/" target="_blank">{{"Maxthon Cloud Browser"|translate("s12")}}</a>
        </li>
      </ul>
    </div>

    <h3 class="edge-message">
      {{"Please check back later for a version of Adblock Plus for Microsoft Edge."|translate("edge-message")}}
    </h3>

    <div id="install">
      <a class="install-button" href="https://update.adblockplus.org/latest/adblockplusfirefox.xpi" id="install-firefox">{{"Install for Firefox"|translate("s13")}}</a>
      <a class="install-button" href="https://chrome.google.com/webstore/detail/cfhdojbkjhnklbpkdaibdccddilifddb" id="install-chrome" onclick="chrome.webstore.install(); return false;">{{"Install for Chrome"|translate("s14")}}</a>
      <a class="install-button" href="https://addons.opera.com/extensions/details/opera-adblock/?display=en-US" id="install-opera">{{"Install for Opera"|translate("s15")}}</a>
      <a class="install-button" href="android-install" id="install-android">{{"Install for Android"|translate("s16")}}</a>
      <a class="install-button" href="https://update.adblockplus.org/latest/adblockplusie.exe" id="install-internet-explorer">{{"Install for Internet Explorer"|translate("s17")}}</a>
      <a class="install-button" href="https://update.adblockplus.org/latest/adblockplussafari.safariextz" id="install-safari">{{"Install for Safari"|translate("s18")}}</a>
      <a class="install-button" href="https://chrome.google.com/webstore/detail/cfhdojbkjhnklbpkdaibdccddilifddb" id="install-yandex-browser" onclick="chrome.webstore.install(); return false;">{{"Install for Yandex Browser"|translate("s19")}}</a>
    </div>

    <div id="other-platform">
        <div>{{"Download Adblock Plus for another platform"|translate("other-platform")}}</div>
        <ul>
          <li>
            <a class="sprite" href="firefox" id="platform-firefox" title="{{"Adblock Plus for Firefox"|translate("s20")}}"></a>
          </li>
          <li>
            <a class="sprite" href="chrome" id="platform-chrome" title="{{"Adblock Plus for Chrome"|translate("s21")}}"></a>
          </li>
          <li>
            <a class="sprite" href="android" id="platform-android" title="{{"Adblock Plus for Android"|translate("s22")}}"></a>
          </li>
          <li>
            <a class="sprite" href="opera" id="platform-opera" title="{{"Adblock Plus for Opera"|translate("s23")}}"></a>
          </li>
          <li>
            <a class="sprite" href="internet-explorer" id="platform-internet-explorer" title="{{"Adblock Plus for Internet Explorer"|translate("s24")}}"></a>
          </li>
          <li>
            <a class="sprite" href="safari" id="platform-safari" title="{{"Adblock Plus for Safari"|translate("s25")}}"></a>
          </li>
          <li>
            <a class="sprite" href="yandex-browser" id="platform-yandex-browser" title="{{"Adblock Plus for Yandex Browser"|translate("s26")}}"></a>
          </li>
          <li>
            <a class="sprite" href="maxthon" id="platform-maxthon" title="{{"Adblock Plus for Maxthon"|translate("s27")}}"></a>
          </li>
          <li>
            <a class="sprite" href="edge" id="platform-edge" title="{{"Adblock Plus for Microsoft Edge"|translate("abp-microsoft-edge")}}"></a>
          </li>
        </ul>
      </div>
  </section>

  <div id="messages-wrapper">
    <? include abb-notification ?>
    <div class="disclaimer lang-fr">
      En téléchargeant le logiciel Adblock Plus ou le navigateur Adblock Browser, vous acceptez que si vous utilisez Adblock Plus pour visiter un site Internet en violation de toute obligation ou droit de quelque nature que ce soit en relation avec ce site Internet, en aucun cas EYEO ne pourra être tenu pour responsable envers vous ou tout autre tiers pour toute perte ou dommage (y compris, sans y être limité, les dommages pour perte de chances et perte de bénéfices) découlant directement ou indirectement de votre utilisation de ce logiciel.
    </div>
    <div id="maxthon-notification">
      使用傲游云浏览器，享受最好的广告过滤体验. (内置Adblock Plus) <a href="http://www.maxthon.cn" target="_blank">下载傲游云浏览器</a>
    </div>
    <div class="warning-platform firefox">{{"It appears that you are using Mozilla Firefox."|translate("s28")}} <a href="firefox">{{"Switch to Adblock Plus for Firefox."|translate("s29")}}</a></div>
    <div class="warning-platform chrome">{{"It appears that you are using Google Chrome."|translate("s30")}} <a href="chrome">{{"Switch to Adblock Plus for Chrome."|translate("s31")}}</a></div>
    <div class="warning-platform android">{{"It appears that you are using Android."|translate("s32")}} <a href="android">{{"Switch to Adblock Plus for Android."|translate("s33")}}</a></div>
    <div class="warning-platform opera">{{"It appears that you are using Opera."|translate("s34")}} <a href="opera">{{"Switch to Adblock Plus for Opera."|translate("s35")}}</a></div>
    <div class="warning-platform internet-explorer">{{"It appears that you are using Internet Explorer."|translate("s36")}} <a href="internet-explorer">{{"Switch to Adblock Plus for Internet Explorer."|translate("s37")}}</a></div>
    <div class="warning-platform safari">{{"It appears that you are using Safari."|translate("s38")}} <a href="safari">{{"Switch to Adblock Plus for Safari."|translate("s39")}}</a></div>
    <div class="warning-platform yandex-browser">{{"It appears that you are using Yandex Browser."|translate("s40")}} <a href="yandex-browser">{{"Switch to Adblock Plus for Yandex Browser."|translate("s41")}}</a></div>
    <div class="warning-platform maxthon">{{"It appears that you are using Maxthon."|translate("s42")}} <a href="maxthon">{{"Switch to Adblock Plus for Maxthon."|translate("s43")}}</a></div>
  </div>
  <iframe frameborder="0" height="285" id="video" itemprop="video" src="//www.youtube-nocookie.com/embed/pVYtzF5SemU?html5=1&amp;autohide=1&amp;enablejsapi=1&amp;controls=2&amp;fs=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;theme=light" width="520"></iframe>
  <img height="305" id="maxthon-instruction" src="/img/maxthon-instruction.png" width="540">
  <img id="edge-teaser" src="/img/edge_teaser.png" alt={{"Comming soon image of Adblock Plus for Microsoft Edge"|translate("edge-teaser")}} />
</div>

<div id="key-facts">
  <section class="first">
    <div class="sprite" id="facts-open-source"></div>
    <h1>{{"Open Source"|translate("s44")}}</h1>
    <p>
        {{"Adblock Plus is an open source project.\n      <a href=\"contribute\">Join us!</a>"|translate("s45")}}
    </p>
  </section>

  <section>
    <div class="sprite" id="facts-downloads"></div>
    <h1>{{"Over <fix>300</fix> million downloads"|translate("s46")}}</h1>
    <p>
{{"Adblock Plus is the most popular browser extension."|translate("s47")}}
    </p>
  </section>

  <section>
    <div class="sprite" id="facts-privacy"></div>
    <h1>{{"Privacy Guaranteed"|translate("s48")}}</h1>
    <p>
      {{"Adblock Plus will never collect any of your personal data."|translate("s49")}}
    </p>

  </section>
</div>

<section class="hidden" id="more-container">
  <div class="noscript-hidden">
    <button id="more" onclick="toggleMore();return false;">
      {{"Learn More"|translate("s50")}}
    </button>
    <button id="less" onclick="toggleMore();return false;">
      {{"Show Less"|translate("s51")}}
    </button>
  </div>

  <div id="more-tabs">
    <div id="sidebar">
      <button id="more-firefox" onclick="showTab(this);return false;">
        {{"Mozilla Firefox"|translate("s52")}}
      </button>
      <button id="more-chrome" onclick="showTab(this);return false;">
        {{"Google Chrome"|translate("s53")}}
      </button>
      <button id="more-opera" onclick="showTab(this);return false;">
        {{"Opera"|translate("s54")}}
      </button>
      <button id="more-android" onclick="showTab(this);return false;">
        {{"Android"|translate("s55")}}
      </button>
      <button id="more-internet-explorer" onclick="showTab(this);return false;">
        {{"Internet Explorer"|translate("s56")}}
      </button>
      <button id="more-safari" onclick="showTab(this);return false;">
        {{"Apple Safari"|translate("s57")}}
      </button>
      <button id="more-yandex-browser" onclick="showTab(this);return false;">
        {{"Yandex Browser"|translate("s58")}}
      </button>
      <button id="more-maxthon" onclick="showTab(this);return false;">
        {{"Maxthon"|translate("s59")}}
      </button>
      <button id="more-edge" onclick="showTab(this);return false;">
        {{"Microsoft Edge"|translate("microsoft-edge")}}
      </button>
    </div>

    <div class="more-tab" id="tab-firefox">
      <h2>{{"Download Firefox Adblock Plus"|translate("s60")}}</h2>

      <p>
        {{"Firefox is a free and open source browser available for Windows, OS X, Linux, and Android which supports add-ons. Add-ons are extensions to your browser to improve privacy and security and the way you view the web. Since its launch in 2006, Adblock Plus has continuously been the most popular add-on for the Mozilla Firefox web browser."|translate("s61")}}
      </p>

      <p>
        {{"Adblock Plus for Firefox is more than a popup blocker. Are you troubled by banners, overlays and other annoying advertisements? Just install the Firefox ad blocker and experience the web as it should be. Depending on the filter lists you have activated, you can even block YouTube video ads and block Facebook tracking. Filter lists are created by members of the open source community and free to use. If you don't want to rely on filter lists, you can create your own <a href=\"filters\">blocking rules</a> to customize your web experience."|translate("s62")}}
      </p>

      <p>
        {{"Adblock Plus for Firefox is the most downloaded browser extension worldwide and winner of the About.com Reader's Choice Award 2011 and 2013, as well as the Linux New Media award for the Best Open Source Firefox Extension."|translate("s63")}}
      </p>
    </div>

    <div class="more-tab" id="tab-chrome">
      <h2>{{"Ad Blocker for Chrome"|translate("s64")}}</h2>

      <p>
        {{"Adblock Plus is the most advanced adblocker for the Google Chrome browser. Are you fed up with advertisers infringing on your browsing experience? Simply install the extension and all annoying ads will be automatically blocked from the internet. Blinking banners, popups, video commercials on YouTube and Facebook ads: The Chrome Adblock Plus extension will automatically remove any unwanted ad from every website you visit. Want more? You can easily activate additional privacy and security <a href=\"features\">features</a> such as tracking and malware protection."|translate("s65")}}
      </p>

      <p>
        {{"Installing the Chrome Adblock Plus add-on to your browser only takes a few seconds. Simply click the \"Install for Chrome\" button above and confirm the installation by clicking the \"Add\" button. Please note: The Chrome browser displays a warning that Adblock Plus can access the data on any website you visit. This is a standard warning for Chrome extensions running on every tab. We promise to never collect any data about you."|translate("s66")}}
      </p>

      <p>
        {{"The add-on is developed by the open source community and free to use for everybody. With more than <fix>10</fix> million users, it is one of the most popular extensions for Chrome."|translate("s67")}}
      </p>
    </div>

    <div class="more-tab" id="tab-opera">
      <h2>{{"Blocking ads on Opera"|translate("s72")}}</h2>

      <p>
        {{"Adblock Plus is one of the most popular add-ons available for Opera and has been downloaded over <fix>4</fix> million times. The installation of Opera extensions only takes a few seconds. By adding Adblock Plus to your Opera browser, you can remove all online advertising such as banners, pop-ups, 30-second YouTube commercials, Facebook ads and any other unwanted online ad. After installing this extension, all annoying ads will automatically be removed from all websites, which makes browsing the internet less distracting and more enjoyable."|translate("s73")}}
      </p>

      <p>
        {{"Besides blocking all obtrusive advertising from your browsing experience, Adblock Plus significantly increases the speed of your Opera browser. By preventing advertisements from being loaded by your browser, the ad blocker helps you to save bandwidth and makes surfing the internet faster, especially if you are on a slow internet connection."|translate("s74")}}
      </p>

      <p>
        {{"Add Adblock Plus to your Opera browser by clicking on the green button \"Install for Opera\" above. Click \"Install\" to confirm the installation and to add the extension to Opera. There are no additional steps or configurations necessary, you will automatically be protected against all obtrusive online advertising."|translate("s75")}}
      </p>

      <p>
        {{"Adblock Plus for Opera works great. Don't believe us? Don't just take our word for it. Here is what the popular download portal Softpedia has to say: \"Adblock Plus for Opera is a very useful add-on that was especially designed to help users get rid of nuisances like pop-up ads, flashing banners and other such things.\""|translate("s76")}}
      </p>
    </div>

    <div class="more-tab" id="tab-android">
      <h2>{{"Android Adblock app"|translate("s77")}}</h2>

      <p>
        {{"Adblock Plus is the most popular ad blocking app for Android, and is used by over <fix>1</fix> million users every day. It is the first mobile ad blocker which works on non-rooted devices, which makes it much more convenient to use than any other ad blocking app on Android. By adding Adblock Plus to your Android device, all banners and other nasty ads will automatically be blocked from most apps and the websites you visit on your smartphone or tablet. The Android adblocker works with most browsers such as Google Chrome on Android."|translate("s78")}}
      </p>

      <p>
        {{"By installing the Android Adblock Plus app, you can significantly increase the speed of browsing with your mobile device. The app filters the web traffic and prevents unwanted ads from being downloaded, which reduces bandwidth and jacks up the speed of your browsing. Blocking ads on Android is also useful to protect your privacy and to eliminate the threat of downloading malicious apps, which are often distributed through misleading advertisements."|translate("s79")}}
      </p>

      <p>
        {{"Please note that there are some limitations in Android which may require some manual efforts for the app to block ads. For non-rooted devices running on 4.1.2, 4.2.1 and higher, some minor configuration is required. For non-rooted devices with Android 3.1 or higher, Adblock Plus will automatically block all ads over your WiFi connection. Android devices without root will not be able to block ads on 3G connections."|translate("s80")}}
      </p>
    </div>

    <div class="more-tab" id="tab-internet-explorer">
      <h2>{{"Adblock Plus for Internet Explorer"|translate("s81")}}</h2>

      <p>
        {{"Although you might not expect it, Internet Explorer is still the world's second most popular browser with hundreds of millions of daily users. We developed Adblock Plus for Internet Explorer precisely for those users — so that they can finally experience the web without annoying ads."|translate("s82")}}
      </p>

      <p>
        {{"Developing an extension for Internet Explorer is challenging — that’s one of the reasons there are not as many extensions on Internet Explorer as on Mozilla Firefox, Google Chrome and Opera. The installation of Adblock Plus for Internet Explorer is different than on other browsers. Usually, the extension is directly added to the browser; however, for Internet Explorer you need to install it through a so-called setup program. But don’t worry: it takes under 30 seconds to install Adblock Plus for Internet Explorer. Just click on the green button above called “Install for Internet Explorer” to protect yourself from annoying advertising."|translate("s83")}}
      </p>

      <p>
        {{"Current limitations: Due to the limitations of some of the fragmented versions of Internet Explorer, Adblock Plus currently doesn’t work for:"|translate("s84")}}
      </p>

      <ul>
        <li>{{"Metro Mode of Internet Explorer in Windows 8"|translate("s85")}}</li>
        <li>{{"Internet Explorer in Windows RT"|translate("s86")}}</li>
      </ul>
    </div>

    <div class="more-tab" id="tab-safari">
      <h2>{{"Adblock Plus for Safari"|translate("s87")}}</h2>

      <p>
        {{"With the release of Adblock Plus for Safari in January 2014, the ABP browser family became complete. From that point on, our extension has been available to all the major browsers: Mozilla Firefox, Google Chrome, Internet Explorer, Opera and  Apple Safari."|translate("s88")}}
      </p>

      <p>
        {{"Adblock Plus for Safari uses the same codebase as the Chrome and Opera versions. Although this made the development of the adblocker much more complex, there are certain key advantages. For instance, it shares the same codebase, any changes or improvements made to one of these browsers will automatically land in Safari, ensuring an experience that is always up-to-date."|translate("s89")}}
      </p>

      <p>
        {{"In contrast to Chrome and Firefox, Safari comes with a few innate limitations. Because these are built into the browser, they affect every add-on available for Safari - and ours is of course no exception.  These limitations exist because it is not possible to get “deep” access to the Safari code, like we can with other browsers. Bottom line: there are some facets of Adblock Plus for Safari that cannot function optimally. For example, it is not possible to block ads in “third-party plugins” like video players or to block the so-called XHR requests. Usually this would mean that YouTube video ads cannot be blocked. But because of some very smart workarounds, Adblock Plus can block these annoying video ads in your Safari browser."|translate("s90")}}
      </p>

      <p>
        {{"But, overall, Adblock Plus for Safari is a good as it gets ad-blocker for Safari and will block all annoying banners and video ads."|translate("s91")}}
      </p>

      <p>
        {{"Currently, Adblock Plus is supported by Safari 6.0 and higher."|translate("s92")}}
      </p>
    </div>

    <div class="more-tab" id="tab-yandex-browser">
      <h2>{{"Ad Blocker for Yandex Browser"|translate("s93")}}</h2>

      <p>
        {{"Adblock Plus is the most advanced adblocker for Yandex Browser. Are you fed up with advertisers infringing on your browsing experience? Simply install the extension and all annoying ads will be automatically blocked from the internet. Blinking banners, popups, video commercials on YouTube, Facebook and Vkontakte ads: The Yandex Browser Adblock Plus extension will automatically remove any unwanted ad from every website you visit. Want more? You can easily activate additional privacy and security <a href=\"features\">features</a> such as tracking and malware protection."|translate("s94")}}
      </p>

      <p>
        {{"Installing the Yandex Browser Adblock Plus add-on to your browser only takes a few seconds. Simply click the \"Install for Yandex Browser\" button above and confirm the installation by clicking the \"Add\" button. Please note: Yandex Browser displays a warning that Adblock Plus can access the data on any website you visit. This is a standard warning for Yandex Browser extensions running on every tab. We promise to never collect any data about you."|translate("s95")}}
      </p>

      <p>
        {{"The add-on is developed by the open source community and free to use for everybody. With more than <fix>50</fix> million users, it is one of the most popular extensions ever."|translate("s96")}}
      </p>
    </div>

    <div class="more-tab" id="tab-maxthon">
      <h2>{{"Adblock Plus for Maxthon"|translate("s97")}}</h2>

      <p>
        {{"Different from being as an extension on other browsers, Adblock Plus has been integrated by default for Maxthon users, and as an opt-in option for Chinese users. Are you fed up with advertisers infringing on your browsing experience? Simply install Maxthon Cloud Browser and all annoying ads will be automatically blocked from the internet. Blinking banners, popups, video commercials on YouTube and Facebook ads: Maxthon Cloud Browser with Adblock Plus integrated will automatically remove any unwanted ad from every website you visit. Want more? You can easily activate additional privacy and security features such as tracking and malware protection."|translate("s98")}}
      </p>
    </div>
    <div class="more-tab" id="tab-edge">
      <h2>{{"Be notified when Adblock Plus for Microsoft Edge is available!"|translate("abp-for-edge-be-notified")}}</h2>

      <p>
        {{"Microsoft Edge <a href='https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6508820-javascript-browser-extensions'>does not yet support extensions</a>. However, you can be sure that a version of Adblock Plus for Microsoft Edge will be released as soon as possible. While you're waiting, you may want to try the latest version of Adblock Plus for Internet Explorer."|translate("ms-edge-description")}}
      </p>
    </div>
  </div>
</section>

<script src="/js/index.js"></script>
