title=Adblock Plus - Surf the web without annoying ads!
noheading=True
localefile=index

{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-present eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}

<head>
<link class="cssfx" href="/css/index.css" rel="stylesheet">
<link class="cssfx" href="/css/index-desktop.css" media="(min-width: 1000px)" rel="stylesheet">
<link href="/css/index-mobile.css" media="(max-width: 1000px)" rel="stylesheet">

<link href="https://adblockplus.org/" rel="canonical">
<link href="https://chrome.google.com/webstore/detail/cfhdojbkjhnklbpkdaibdccddilifddb" rel="chrome-webstore-item">
<meta content="website" property="og:type">
<meta content="https://adblockplus.org/img/adblockplus_promo.png" property="og:image">
<meta content="{{"<fix>Adblock Plus</fix> is the most popular ad blocker available for <fix>Firefox</fix>, <fix>Chrome</fix>, <fix>Opera</fix>, <fix>Safari</fix>, <fix>Android</fix> and <fix>Internet Explorer</fix>. Block all annoying ads all over the web: remove video ads on <fix>YouTube</fix>, block <fix>Facebook</fix> ads, get rid of pop-ups and much more. On <fix>Google Chrome</fix>, <fix>Adblock Plus</fix> is one of the fastest growing extensions ever. <fix>Adblock Plus</fix> is used on over <fix>100</fix> million devices. Download online for free now!"|translate("s2")}}" name="description">
<meta content="{{"<fix>Adblock Plus</fix> is the most popular ad blocker available for <fix>Firefox</fix>, <fix>Chrome</fix>, <fix>Opera</fix>, <fix>Safari</fix>, <fix>Android</fix> and <fix>Internet Explorer</fix>. Block all annoying ads all over the web: remove video ads on <fix>YouTube</fix>, block <fix>Facebook</fix> ads, get rid of pop-ups and much more. On <fix>Google Chrome</fix>, <fix>Adblock Plus</fix> is one of the fastest growing extensions ever. <fix>Adblock Plus</fix> is used on over <fix>100</fix> million devices. Download online for free now!"|translate("s2")}}" property="og:description">
</head>

<div id="abb-banner" class="notice">
  <h2>{{"Want to block ads on your smartphone or tablet?"|translate("abb-banner-headline")}}</h2>
  <img src="/img/abb-promo-image.png" alt="{{"Adblock Browser promotional image"|translate("abb-promotion-alt")}}" />
  <a id="abb-android-download" href="https://adblockplus.org/redirect?link=adblock_browser_android_store">{{"Download Adblock Browser"|translate("abb-banner-button-text")}}</a>
  <a id="abb-ios-download" href="https://adblockplus.org/redirect?link=adblock_browser_ios_store">{{"Download Adblock Browser"|translate("abb-banner-button-text")}}</a>
</div>
<div itemscope="itemscope" itemtype="http://schema.org/SoftwareApplication">
  <section id="main">
    <div id="summary">
      <h1 itemprop="name">{{"Adblock Plus"|translate("s5")}}</h1>
      <h2 itemprop="description">{{"Surf the web without annoying ads!"|translate("s6")}}</h2>

      <ul id="features">
        <li itemprop="featureList">
          <div class="sprite"></div>
          {{"Blocks banners, pop-ups, tracking, malware and more"|translate("blocking-features")}}
        </li>
        <li itemprop="featureList">
          <div class="sprite"></div>
          {{"By default, nonintrusive ads aren't blocked in order to support websites <a href=\"acceptable-ads\">(learn more)</a>"|translate("opt-out-acceptable-ads")}} <sup><a href="#footnote">[1]</a></sup>
        </li>
        <li class="emphasized" id="feature-free" itemprop="featureList">
          <div class="sprite"></div>
          {{"It's free for users and open source (<a href=\"https://www.gnu.org/licenses/gpl.html\">GPLv3</a>)"|translate("gplv3-license")}}
        </li>
        <li id="feature-maxthon" itemprop="featureList">
          <div class="sprite"></div>
          {{"Integrated by default in"|translate("s11")}} <a href="http://www.maxthon.com/" target="_blank">{{"Maxthon Cloud Browser"|translate("s12")}}</a>
        </li>
      </ul>
    </div>

    <p id="terms-message">
      {{ "By clicking the Agree and Install button below, you agree to our <a href=\"terms\">Terms of Use</a>." | translate("terms-message", "Terms of use message") }}
    </p>

    <div id="install">
      <a class="install-button" href="https://update.adblockplus.org/latest/adblockplusfirefox.xpi" id="install-firefox">{{"Agree and Install for Firefox"|translate("s13")}}</a>
      <a class="install-button" href="https://chrome.google.com/webstore/detail/cfhdojbkjhnklbpkdaibdccddilifddb" id="install-chrome" onclick="chrome.webstore.install(); return false;">{{"Agree and Install for Chrome"|translate("s14")}}</a>
      <a class="install-button" href="https://addons.opera.com/extensions/details/opera-adblock/?display=en-US" id="install-opera">{{"Agree and Install for Opera"|translate("s15")}}</a>
      <a class="install-button" href="android-install" id="install-android">{{"Agree and Install for Android"|translate("s16")}}</a>
      <a class="install-button" href="https://update.adblockplus.org/latest/adblockplusie.exe" id="install-internet-explorer">{{"Agree and Install for Internet Explorer"|translate("s17")}}</a>
      <a class="install-button" href="https://update.adblockplus.org/latest/adblockplussafari.safariextz" id="install-safari">{{"Agree and Install for Safari"|translate("s18")}}</a>
      <a class="install-button" href="https://chrome.google.com/webstore/detail/cfhdojbkjhnklbpkdaibdccddilifddb" id="install-yandex-browser" onclick="chrome.webstore.install(); return false;">{{"Agree and Install for Yandex Browser"|translate("s19")}}</a>
      <a class="install-button" href="https://www.microsoft.com/store/p/adblock-plus/9nblggh4r9nz" id="install-edge">{{"Agree and Install for Microsoft Edge"|translate("install-edge")}}</a>
    </div>

    <div id="other-platform">
        <div>{{"Download Adblock Plus for another platform"|translate("other-platform")}}</div>
        <ul>
          <li>
            <a class="sprite" href="firefox" id="platform-firefox" title="{{"Adblock Plus for Firefox"|translate("s20")}}"></a>
          </li>
          <li>
            <a class="sprite" href="chrome" id="platform-chrome" title="{{"Adblock Plus for Chrome"|translate("s21")}}"></a>
          </li>
          <li>
            <a class="sprite" href="android" id="platform-android" title="{{"Adblock Plus for Android"|translate("s22")}}"></a>
          </li>
          <li>
            <a class="sprite" href="opera" id="platform-opera" title="{{"Adblock Plus for Opera"|translate("s23")}}"></a>
          </li>
          <li>
            <a class="sprite" href="internet-explorer" id="platform-internet-explorer" title="{{"Adblock Plus for Internet Explorer"|translate("s24")}}"></a>
          </li>
          <li>
            <a class="sprite" href="safari" id="platform-safari" title="{{"Adblock Plus for Safari"|translate("s25")}}"></a>
          </li>
          <li>
            <a class="sprite" href="yandex-browser" id="platform-yandex-browser" title="{{"Adblock Plus for Yandex Browser"|translate("s26")}}"></a>
          </li>
          <li>
            <a class="sprite" href="maxthon" id="platform-maxthon" title="{{"Adblock Plus for Maxthon"|translate("s27")}}"></a>
          </li>
          <li>
            <a class="sprite" href="edge" id="platform-edge" title="{{"Adblock Plus for Microsoft Edge"|translate("abp-microsoft-edge")}}"></a>
          </li>
        </ul>
      </div>
  </section>

  <div id="messages-wrapper">
    <? include abb-notification ?>
    <? include fr-download-disclaimer ?>
    <div id="maxthon-notification">
      使用傲游云浏览器，享受最好的广告过滤体验. (内置Adblock Plus) <a href="http://www.maxthon.cn" target="_blank">下载傲游云浏览器</a>
    </div>
    <div class="warning-platform firefox">{{"It appears that you are using Mozilla Firefox."|translate("s28")}} <a href="firefox">{{"Switch to Adblock Plus for Firefox."|translate("s29")}}</a></div>
    <div class="warning-platform chrome">{{"It appears that you are using Google Chrome."|translate("s30")}} <a href="chrome">{{"Switch to Adblock Plus for Chrome."|translate("s31")}}</a></div>
    <div class="warning-platform android">{{"It appears that you are using Android."|translate("s32")}} <a href="android">{{"Switch to Adblock Plus for Android."|translate("s33")}}</a></div>
    <div class="warning-platform opera">{{"It appears that you are using Opera."|translate("s34")}} <a href="opera">{{"Switch to Adblock Plus for Opera."|translate("s35")}}</a></div>
    <div class="warning-platform internet-explorer">{{"It appears that you are using Internet Explorer."|translate("s36")}} <a href="internet-explorer">{{"Switch to Adblock Plus for Internet Explorer."|translate("s37")}}</a></div>
    <div class="warning-platform safari">{{"It appears that you are using Safari."|translate("s38")}} <a href="safari">{{"Switch to Adblock Plus for Safari."|translate("s39")}}</a></div>
    <div class="warning-platform yandex-browser">{{"It appears that you are using Yandex Browser."|translate("s40")}} <a href="yandex-browser">{{"Switch to Adblock Plus for Yandex Browser."|translate("s41")}}</a></div>
    <div class="warning-platform maxthon">{{"It appears that you are using Maxthon."|translate("s42")}} <a href="maxthon">{{"Switch to Adblock Plus for Maxthon."|translate("s43")}}</a></div>
  </div>
  <iframe frameborder="0" height="285" id="video" itemprop="video" src="//www.youtube-nocookie.com/embed/pVYtzF5SemU?html5=1&amp;autohide=1&amp;enablejsapi=1&amp;controls=2&amp;fs=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;theme=light" width="520" allowfullscreen></iframe>
  <img height="305" id="maxthon-instruction" src="/img/maxthon-instruction.png" width="540">
  <img id="edge-teaser" src="/img/edge_teaser.png" alt={{"Comming soon image of Adblock Plus for Microsoft Edge"|translate("edge-teaser")}} />
</div>

<div id="key-facts">
  <section class="first">
    <div class="sprite" id="facts-open-source"></div>
    <h1>{{"Open Source"|translate("s44")}}</h1>
    <p>
        {{"Adblock Plus is an open source project.\n      <a href=\"contribute\">Join us!</a>"|translate("s45")}}
    </p>
  </section>

  <section>
    <div class="sprite" id="facts-downloads"></div>
    <h1>{{"Active on <fix>100</fix> million devices"|translate("s46")}}</h1>
    <p>
{{"<fix>Adblock Plus</fix> is the world’s most popular browser extension."|translate("s47")}}
    </p>
  </section>

  <section>
    <div class="sprite" id="facts-privacy"></div>
    <h1>{{"Privacy Guaranteed"|translate("s48")}}</h1>
    <p>
      {{"Adblock Plus will never collect your <a href=\"privacy\">personal data</a>."|translate("privacy-policy-note")}}
    </p>

  </section>
</div>

{% if page == "internet-explorer" %}
<p id="ready-for-windows-notice" class="notice">
  {{"Adblock Plus for Internet Explorer is supported by eyeo GmbH on the following editions of Windows 10 – Windows 10 Pro, Windows 10 Education and Windows 10 Enterprise. Adblock Plus for Internet Explorer is supported on the in-market supported servicing branches of Windows 10 including - Current Branch, Current Branch for Business and the following Long-Term Servicing branch: Windows 10."|translate("ready-for-windows-notice")}}
</p>
{% endif %}

<hr>
<div id="footnote">
  [1] {{"The following rules <strong>have</strong> and <strong>always will</strong> apply to everyone, without exception:"|translate("footnote-headline")}}
  <ul>
    <li>
      {{"Participants cannot pay to avoid the <a href=\"acceptable-ads#criteria-general\">criteria</a>. Every ad must comply."|translate("footnote-must-comply")}}
    </li>
    <li>
      {{"For transparency, we add all Acceptable Ads to our <a href=\"https://adblockplus.org/forum/viewforum.php?f=12\">forum</a> so that our community of users can provide feedback."|translate("footnote-forum")}}
    </li>
    <li>
      {{"We listen to our users. If an Acceptable Ads proposal is flagged by our community for a legitimate reason, we will remove it from the whitelist."|translate("footnote-value-users")}}
    </li>
    <li>
      {{"We are able to keep our open source product free by charging large entities a fee for whitelisting services. For the other roughly 90 percent of our partners, these services are offered free of charge."|translate("footnote-keep-free")}}
    </li>
  </ul>
</div>

<section class="hidden" id="more-container">
  <div class="noscript-hidden">
    <button id="more" onclick="toggleMore();return false;">
      {{"Learn More"|translate("s50")}}
    </button>
    <button id="less" onclick="toggleMore();return false;">
      {{"Show Less"|translate("s51")}}
    </button>
  </div>

  <div id="more-tabs">
    <div id="sidebar">
      <button id="more-chrome" onclick="showTab(this);return false;">
        {{"Chrome"|translate("s53")}}
      </button>
      <button id="more-firefox" onclick="showTab(this);return false;">
        {{"Firefox"|translate("s52")}}
      </button>
      <button id="more-internet-explorer" onclick="showTab(this);return false;">
        {{"Internet Explorer"|translate("s56")}}
      </button>
      <button id="more-maxthon" onclick="showTab(this);return false;">
        {{"Maxthon"|translate("s59")}}
      </button>
      <button id="more-edge" onclick="showTab(this);return false;">
        {{"Microsoft Edge"|translate("microsoft-edge")}}
      </button>
      <button id="more-opera" onclick="showTab(this);return false;">
        {{"Opera"|translate("s54")}}
      </button>
      <button id="more-safari" onclick="showTab(this);return false;">
        {{"Safari"|translate("s57")}}
      </button>
      <button id="more-yandex-browser" onclick="showTab(this);return false;">
        {{"Yandex.Browser"|translate("s58")}}
      </button>
    </div>

    <div id="tab-chrome" class="more-tab">
      <h2>{{"Adblock Plus for Chrome"|translate("s64")}}</h2>

      <p>
      {{"Are you fed up with advertisers infringing on your browsing experience? Adblock Plus for Chrome blocks annoying, intrusive ads like blinking banners, pop-ups and video commercials on YouTube and Facebook. Want more? You can disable all ads and browse completely ad-free, and activate additional privacy and security features such as tracking and malware protection."|translate("s65")}}
      </p>

      <p>
      {{"Installing Adblock Plus for Chrome only takes a few seconds. Simply click the <strong>Install for Chrome</strong> button above. <strong>Please note</strong>: Chrome displays a warning stating that Adblock Plus can access data on any website you visit. This is a standard warning for Chrome extensions running on every tab. We promise to never collect any data about you."|translate("s66")}}
      </p>

      <p>
      {{"Adblock Plus is the most advanced ad blocker for Chrome. It’s developed by the open source community and free to use. Used on more than 100 million devices, it’s one of the most popular extensions ever."|translate("s67")}}
      </p>
    </div>

    <div id="tab-firefox" class="more-tab">
      <h2>{{"Adblock Plus for Firefox"|translate("s60")}}</h2>

      <p>
      {{"Adblock Plus for Firefox is more than a pop-up blocker. Are banners, overlays and other annoying advertisements ruining your browsing experience? Install Adblock Plus for Firefox and experience the web as it should be. Want more? You can disable all ads and browse completely ad-free, and activate additional privacy and security features such as tracking and malware protection."|translate("abp-firefox-description-p1")}}
      </p>

      <p>
      {{"Installing Adblock Plus for Firefox only takes a few seconds. Simply click the <strong>Install for Firefox</strong> button above. Depending on the filter lists you have activated, you can even block YouTube video ads and block Facebook tracking. Filter lists are created by members of the open source community and free to use. If you don't want to rely on filter lists, you can create your own filter rules to customize your online experience."|translate("abp-firefox-description-p2")}}
      </p>

      <p>
      {{"Adblock Plus for Firefox is the most downloaded browser extension worldwide and winner of the About.com Reader's Choice Award in 2011 and 2013, as well as the Linux New Media award for the Best Open Source Firefox Extension."|translate("s63")}}
      </p>
    </div>

    <div id="tab-internet-explorer" class="more-tab">
      <h2>{{"Adblock Plus for Internet Explorer"|translate("s81")}}</h2>

      <p>
      {{"Developing extensions for Internet Explorer is challenging; that’s one of the reasons there aren’t as many extensions on Internet Explorer as on Firefox, Chrome or Opera. Installing Adblock Plus for Internet Explorer is a little different than on other browsers. Usually, the extension is directly added to the browser; however, for Internet Explorer you need to install it through a so-called setup program. But don’t worry - it takes under 30 seconds to install. Click the <strong>Install for Internet Explorer</strong> button above and start browsing in peace."|translate("s83")}}
      </p>

      <p>
      {{"<strong>Please note</strong>: Due to the limitations of some of the fragmented versions of Internet Explorer, Adblock Plus currently doesn’t work:"|translate("s84")}}
      </p>

      <ul>
      <li>{{"in Metro Mode of Internet Explorer on Windows 8"|translate("s85")}}</li>
      <li>{{"for Internet Explorer on Windows RT"|translate("s86")}}</li>
      </ul>
    </div>

    <div id="tab-maxthon" class="more-tab">
      <h2>{{"Adblock Plus for Maxthon"|translate("s97")}}</h2>

      <p>
      {{"Adblock Plus is integrated by default for Maxthon users, and as an opt-in option for Chinese users."|translate("abp-maxthon-description-p1")}}
      </p>

      <p>
      {{"Are you fed up with advertisers infringing on your browsing experience? Simply install Maxthon Cloud Browser and all annoying ads like blinking banners, pop-ups, video commercials on YouTube and Facebook ads will be automatically blocked."|translate("abp-maxthon-description-p2")}}
      </p>
    </div>

    <div id="tab-edge" class="more-tab">
      <h2>{{"Adblock Plus for Microsoft Edge"|translate("abp-edge-title")}}</h2>

      <p>
      {{"Adblock Plus for Microsoft Edge is now available in beta."|translate("ms-edge-description-beta")}}
      </p>
    </div>

    <div id="tab-opera" class="more-tab">
      <h2>{{"Adblock Plus for Opera"|translate("s72")}}</h2>

      <p>
      {{"Are you tired of annoying ads wreaking havoc on your browsing experience? By adding Adblock Plus to your Opera browser, you can remove online ads such as banners, pop-ups, YouTube commercials, Facebook ads and other unwanted ads. Used on over 100 million devices, Adblock Plus for Opera is one of the most popular add-ons available."|translate("abp-opera-description-p1")}}
      </p>

      <p>
      {{"Add Adblock Plus to your Opera browser by clicking the <strong>Install for Opera</strong> button above, or by visiting <a href=\"https://addons.opera.com/\">Opera add-ons</a> directly."|translate("abp-opera-description-p2")}}
      </p>

      <p>
      {{"Adblock Plus for Opera works great. Don't believe us? Don't just take our word for it. Here is what the popular download portal Softpedia has to say: \"Adblock Plus for Opera is a very useful add-on that was especially designed to help users get rid of nuisances like pop-up ads, flashing banners and other such things.\""|translate("s76")}}
      </p>
    </div>

    <div id="tab-safari" class="more-tab">
      <h2>{{"Adblock Plus for Safari"|translate("s87")}}</h2>

      <p>
      {{"With the release of Adblock Plus for Safari in January 2014, the Adblock Plus browser family became complete."|translate("s88")}}
      </p>

      <p>
      {{"Adblock Plus for Safari uses the same codebase as the Chrome and Opera versions. Although this made the development of the ad blocker much more complex, there are certain key advantages. For instance, because it shares the same codebase, any changes or improvements made to one of these browsers will automatically land in Safari, ensuring an experience that is always up-to-date."|translate("s89")}}
      </p>

      <p>
      {{"In contrast to Chrome and Firefox, Safari comes with a few innate limitations. Because these are built into the browser, they affect every add-on available for Safari - and ours is of course no exception. These limitations exist because it is not possible to get \"deep\" access to the Safari code like we can with other browsers. Bottom line: there are some facets of Adblock Plus for Safari that cannot function optimally. For example, it is not possible to block ads in \"third-party plugins\" like video players or to block the so-called XHR requests. Usually this would mean that YouTube video ads cannot be blocked. But because of some very smart workarounds, Adblock Plus can block these annoying video ads in your Safari browser."|translate("s90")}}
      </p>

      <p>
      {{"Adblock Plus is supported by Safari 6.0 and higher."|translate("s92")}}
      </p>
    </div>

    <div id="tab-yandex-browser" class="more-tab">
      <h2>{{"Adblock Plus for Yandex.Browser"|translate("s93")}}</h2>

      <p>
      {{"Adblock Plus is the most advanced ad blocker for Yandex.Browser. Are you fed up with advertisers infringing on your browsing experience? Simply install the extension and all annoying ads like blinking banners, pop-ups, video commercials on YouTube, Facebook ads and Vkontakte ads will be blocked. Want more? You can easily activate additional privacy and security features such as tracking and malware protection."|translate("s94")}}
      </p>

      <p>
      {{"Installing Adblock Plus for Yandex.Browser only takes a few seconds. Simply click the <strong>Install for Yandex.Browser</strong> button above and confirm the installation by clicking the <strong>Add</strong> button. <strong>Please note</strong>: Yandex.Browser displays a warning that Adblock Plus can access the data on any website you visit. This is a standard warning for Yandex.Browser extensions running on every tab. We promise to never collect any data about you."|translate("s95")}}
      </p>

      <p>
      {{"Adblock Plus is developed by the open source community and free to use. Used on more than 100 million devices, it’s one of the most popular extensions ever."|translate("s96")}}
      </p>
    </div>
  </div>
</section>

<script src="/js/index.js"></script>
