<a
  id="install-button"
  data-install-suffix="index"
  class="button hero-download-button download-button go-to-download"
  href="download">
  {{ get_string("install", "install-button") }}
</a>
<p id="hero-download-alternate">
  <a href="download" class="download-more">
    {{ get_string("download-alt", "install-button") }}
  </a>
</p>
