{% for browser in browsers %}

  {% if browser.id in ("chrome", "yandexbrowser") %}
    {% set label = "get-for-" %}
    {% set alt = "get-for-" %}
  {% elif locale in ("en", "de", "fr") %}
    {% set label = "agree-and-install-for-" %}
    {% set alt = "agree-and-install-for-" %}
  {% else %}
    {% set label = "install-for-" %}
    {% set alt = "install-for-" %}
  {% endif %}

  <script id="download-label-{{ browser.id }}" type="text/template">
    {{ get_string(label + browser.id, "install-button") }}
  </script>
  <script id="alt-download-label-{{ browser.id }}" type="text/template">
    {{ get_string(alt + browser.id, "install-button") }}
  </script>
{% endfor %}
