<div>
  <a
    id="hero-download-button"
    class="button"
    href="download"
    data-ga='{"event_category": "Download_button", "event_action": "Download"}'>
    {{ get_string("install", "install-button") }}
  </a>
  <p id="hero-download-alternate">
    <a href="download">
      {{ get_string("download-alt", "install-button") }}</a>
  </p>
</div>
