{% for browser in browsers %}
  {% if locale in ["en", "de", "fr"] %}
    <script id="download-label-{{ browser.id }}" type="text/template">
      {{ get_string("agree-and-install-for-" + browser.id, "install-button") }}
    </script>
    <script id="alt-download-label-{{ browser.id }}" type="text/template">
      {{ get_string("install-for-" + browser.id, "install-button") }}
    </script>
  {% else %}
    <script id="download-label-{{ browser.id }}" type="text/template">
      {{ get_string("install-for-" + browser.id, "install-button") }}
    </script>
    <script id="alt-download-label-{{ browser.id }}" type="text/template">
      {{ get_string("agree-and-install-for-" + browser.id, "install-button") }}
    </script>
  {% endif %}
{% endfor %}
