{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-2016 Eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% macro return_type(return_type) %}
  {% if return_type|truncate(1, True, "") == "I" %}
    {{ return_type|linkify }}
      {{- return_type -}}
    </a>
  {% else %}
    {{ return_type }}
  {% endif %}
{% endmacro %}

{% macro display_interface(interface, links) %}
  {% set interface=interface|parse_interface %}

  <h2>{{ get_string("toc_header", "interface") }}</h2>
  <ul>
    {% for property in interface %}
      {% if property.type == "method" %}
        <li>
          {{ return_type(property.return_type) }}
          <a href="#method_{{ property.name }}" class="methodname">{{ property.name }}</a>
          (
          {% for argument in property.arguments %}
            {{ argument.type }} {{argument.name }}
            {%- if not loop.last %},{% endif %}
          {% endfor %}
          )
        </li>
      {% else %}
      <li>
        {{ property.modifier }} {{ property.type }}
        <a href="#prop_{{ property.name }}" class="propname">{{ property.name }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% for property in interface %}
    <hr>
    {% if property.type == "method" %}
      <p id="method_{{ property.name }}">
        {{ return_type(property.return_type) }}
        <span class="methodname">{{ property.name }}</span>
        (
        {% for argument in property.arguments %}
          {{ argument.modifier }} {{ argument.type }} {{ argument.name }}
          {%- if not loop.last %},{% endif %}
        {% endfor %}
        )
      </p>
      {{ property.description() }}
      <dl>
        {% if property.version %}
          <dt>{{ get_string("minversion_label", "interface") }}</dt>
          <dd>{{ property.version }} {{ get_string("minversion_addendum", "interface") }}</dd>
        {% endif %}
        {% if property.arguments|length %}
          <dt>{{ get_string("arguments_label", "interface") }}</dt>
          {% for argument in property.arguments %}
            <dd>
              <span class="argumentname">{{ argument.name }}</span>:
              {{ property["description-" + argument.name]() }}
            </dd>
          {% endfor %}
        {% endif %}
        {% if "description-return" in property %}
          <dt>{{ get_string("returnvalue_label", "interface") }}</dt>
          <dd>{{ property["description-return"]() }}</dd>
        {% endif %}
      </dl>
    {% else %}
      <p id="prop_{{ property.name }}">
        {{ property.modifier }} {{ property.type }}
        <span class="propname">{{ property.name }}</span>
      </p>
      {{ property.description() }}
    {% endif %}
  {% endfor %}
{% endmacro %}
