<div class="bg-blue">
  <div class="container">
    <div class="section">
      <div class="row reverse">
        <div class="column one-half content text-center">
          <img
            id="hero-image-wide"
            height="284"
            width="286"
            src="/img/panda.svg">
        </div>
        <div class="column one-half content">
          <header>
            {% if heading %}
              <h1>{{ heading | translate("heading", "heading") }}</h1>
            {% elif title and not noheading %}
              <h1>{{ title | translate("title") }}</h1>
            {% endif %}
            <p>{{ date | translate("date") }}</p>
            <div class="job-labels">
              {{ tags | translate("tags") }}
            </div>
          </header>
        </div> <!-- END .column -->
      </div> <!-- END .row -->
    </div> <!-- END .section -->
  </div> <!-- END .container -->
</div> <!-- END .bg-blue -->