<nav>
  <ul>
  {% for available_locale in available_locales %}
    <li>
      <a href="/{{ available_locale }}/{{ page }}">
        {{ config.get("langnames", available_locale) }} ({{ available_locale }})
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>