title=Adblock Plus | The world's # 1 free ad blocker
description=Adblock Plus, the most popular ad blocker on Firefox, Chrome, Safari, Android and iOS. Block pop-ups and annoying ads on websites like Facebook and YouTube.

<head>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/tracking.js"></script>
</head>

<div id="content" class="content {{ localefile == "index" and page }}">
  <? include hero-download ?>
  <? include as-mentioned ?>
  <? include features ?>
  <? include abb-cross-promotion ?>
  <? include footnote ?>
  <? include install-button-text ?>
</div>

<? include navbar-mobile ?>

<script src="/js/vendor/bowser.js"></script>
<script src="/js/index.js"></script>
