
{% macro display_preftable(preftable, links) %}
  <table id="preftable">
    <tbody>
      <tr>
        <th width="30%">{{ "Preference"|translate("prefnamecol") }}</th>
        <th width="20%">{{ "Default value"|translate("defaultcol") }}</th>
        <th width="50%">{{ "Comments"|translate("descriptioncol") }}</th>
      </tr>
      {% for section in preftable %}
        <tr id="{{ section.id }}">
          <td class="section" colspan="3">{{ section.title }}</td>
        </tr>
        {% for preference in section.preferences %}
          <tr id="{{ preference.name }}">
            <td>
              <span>extensions.</span>
              <span>adblockplus.</span>
              <span class="prefname">{{ preference.name }}</span>
            </td>
            {% if preference.default %}
              <td>{{ preference.default }}</td>
            {% elif preference.default is none or
                    preference.default is undefined %}
              <td><em>{{ "empty"| translate("empty") }}</em></td>
            {% else %}
              <td>&nbsp;</td>
            {% endif %}
            <td>{{ preference.description() }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
