{% if (locale == "de") or (locale == "en") or (locale == "es") or (locale == "fr") or (locale == "it") or (locale == "nl") or (locale == "pt") %}
  <link rel="preload" href="fonts/Source-Sans-Pro/300/latin.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Source-Sans-Pro/700/latin.woff2" as="font" type="font/woff2" crossorigin>
{% endif %}
