<style>
  .fr-only,
  .de-only { display: none; }

  .fr .fr-only,
  .de .de-only { display: block; }

  .fr .not-fr,
  .de .not-de { display: none !important; }

  .fr .premium-cta,
  .de .premium-cta {
    color: #C6C6C6 !important;
    border: 1px solid #C6C6C6 !important;
    background-color: #fff !important;
  }

  .de .premium-cta:hover,
  .de .premium-cta:active,
  .de .premium-cta:focus,
  .de .premium-cta:hover,
  .de .premium-cta:active,
  .de .premium-cta:focus,
  .fr .premium-cta:hover,
  .fr .premium-cta:active,
  .fr .premium-cta:focus,
  .fr .premium-cta:hover,
  .fr .premium-cta:active,
  .fr .premium-cta:focus {
    color: #fff !important;
    background-color: #C6C6C6 !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
  }

  .alert-bar {
    text-align: center;
    padding: 1rem;
    color: #000;
    background-color: gray;
  }

  .alert-bar.alert-bar--gold {
    background-color: #EDA51E;
  }
</style>

<aside class="alert-bar alert-bar--gold fr-only de-only">
  <div class="container">
    {{ get_string("s41", "premium") }}
  </div>
</aside>
