  <div id="what-is-included" class="info">
    <span class="info-line"></span>
    <p id="one-year">
      {{ get_string("what-is-included-1-year", "payment-form-update-1") }}
    </p>
    <p id="x-years" class="hidden">
      {{ get_string("what-is-included-x-years", "payment-form-update-1") }}
    </p>
    <p id="x-months" class="hidden">
      {{ get_string("what-is-included-x-months", "payment-form-update-1") }}
    </p>
    <p id="monthly" class="hidden">
      {{ get_string("what-is-included-monthly", "payment-form-update-1") }}
    </p>
    <p id="yearly" class="hidden">
      {{ get_string("what-is-included-yearly", "payment-form-update-1") }}
    </p>
  </div>