{% from "macros/install_button" import install_button %}

<aside id="reinstall" class="fg-accent lead">
  <span id="reinstall-label">{{ "Did you uninstall Adblock Plus by accident?" | translate("reinstall-headline", "Text next to the Reinstallation button") }}</span>
  {{ install_button(
    page,
    ("Reinstall Now" | translate("reinstall", "Reinstall button text")),
    "button"
  ) }}
</aside>
