{% from "macros/install_button" import install_button %}

<aside id="reinstall" class="alert">
  <h2>
    {{ "Didn't want to uninstall?" | translate("einstall-headline") }}
  </h2>
  <div>
    {{ install_button(
    page,
    ("Reinstall Now" | translate("reinstall", "Reinstall button text")),
    "button"
    ) }}
  </div>
</aside>