<a
  data-install-suffix="index"
  class="button hero-download-button reinstall-button download-button go-to-download"
  href="download">
  {{ "Reinstall" | translate("reinstall") }}
</a>
<div class="reinstall-download-alternate">
  <a href="download" class="download-more">
    {{ get_string("download-alt", "install-button") }}
  </a>
</div>
