{% if locale == 'en' %}
  <p>
    {{ '<strong>Note:</strong> This version is missing some features from the old extension. These features will be added with future updates.' | translate('safari-app-features-warning') }}
  </p>
{% endif %}
