{% if not nonavbar and page not in ["download"] %}
  <script src="/js/main.js"></script>
{% endif %}

{% if page in ["download"] %}
  <script src="/build/js/{{ page }}-page.min.js"></script>
{% endif %}
