{% if (locale != "de") and (locale != "en") and (locale != "es") and (locale != "fr") and (locale != "it") and (locale != "nl") and (locale != "pt") %}
<link rel="stylesheet" href="/css/fonts.css">
{% endif %}
<link rel="stylesheet" href="/css/base-styles.min.css">

{% if style %}
  <link rel="stylesheet" href="/css/{{ style }}">
{% endif %}
