<link rel="stylesheet" href="/css/defaults.css">
<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/cookies.css">

<style>
  .async-hide { opacity: 0 !important; }
</style>

{% if style %}
  <link rel="stylesheet" href="/css/{{ style }}">
{% endif %}
