{% if page not in ["download"] %}
  <link rel="stylesheet" href="/css/defaults.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/cookies.css">
{% endif %}

{% if page in ["download"] %}
  <link rel="stylesheet" href="/build/css/{{ page }}-page.min.css">
{% endif %}
