<div id="what-is-included" class="info">
  <span class="info-line"></span>
  <p id="one-year">
    {{ get_string("what-is-included-1-year", "payment-form") }}
  </p>
  <p id="x-years" hidden>
    {{ get_string("what-is-included-x-years", "payment-form") }}
  </p>
  <p id="x-months" hidden>
    {{ get_string("what-is-included-x-months", "payment-form") }}
  </p>
  <p id="monthly" hidden>
    {{ get_string("what-is-included-monthly", "payment-form") }}
  </p>
  <p id="yearly" hidden>
    {{ get_string("what-is-included-yearly", "payment-form") }}
  </p>
</div>