template=raw

<animation height="400" width="550" xmlns="https://adblockplus.org/animation">
<object anchor="topleft" id="mouse_pointer" src="{{'img/anim_mouse_pointer.png'|inline_file}}"></object>
<object anchor="center" id="mouse_hand" src="{{'img/anim_mouse_hand.png'|inline_file}}"></object>
<object anchor="topleft" id="mouse_drag" src="{{'img/anim_mouse_drag.png'|inline_file}}"></object>
<object anchor="center" id="clickmarker" src="{{'img/anim_clickmarker.png'|inline_file}}"></object>
<object anchor="-20,56" id="mouse_leftclick" src="{{'img/anim_mouse_leftclick.png'|inline_file}}"></object>
<object anchor="-20,56" id="mouse_rightclick" src="{{'img/anim_mouse_rightclick.png'|inline_file}}"></object>
<object anchor="topleft" id="toolbarcontext" src="{{'img/anim_toolbarcontext.png'|inline_file}}"></object>
<object anchor="top" id="customize" src="{{'img/anim_customize.png'|inline_file}}"></object>
<object anchor="top" id="customize_withabp" src="{{'img/anim_customize_withabp.png'|inline_file}}"></object>
<object anchor="topleft" id="background1" src="{{'img/anim_background1.png'|inline_file}}"></object>
<object anchor="topleft" id="background3" src="{{'img/anim_background3.png'|inline_file}}"></object>

<action>
  <show coords="0,0" object="background3"></show>
  <move duration="50" fromAnchor="topright" fromCoordsOf="background3" fromOffset="-200,115" object="mouse_pointer" toAnchor="topright" toCoordsOf="background3" toOffset="-140,70"></move>
</action>
<action delay="50">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_rightclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_rightclick"></hide>
  <show coordsOf="mouse_pointer" object="toolbarcontext"></show>
  <move duration="70" object="mouse_pointer" toAnchor="bottomleft" toCoordsOf="toolbarcontext" toOffset="30,-10"></move>
</action>
<action delay="70">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <hide object="toolbarcontext"></hide>
  <show anchor="top" coordsOf="background3" object="customize_withabp" offset="0,100"></show>
  <move duration="90" object="mouse_pointer" toAnchor="topright" toCoordsOf="customize_withabp" toOffset="-85,110"></move>
</action>
<action delay="90">
  <replace object="mouse_pointer" with="mouse_hand"></replace>
</action>
<action delay="20">
  <replace object="mouse_hand" with="mouse_drag"></replace>
  <move duration="80" object="mouse_drag,clickmarker,mouse_leftclick" toAnchor="topright" toCoordsOf="background3" toOffset="-7,70"></move>
</action>
<action delay="80">
  <replace object="mouse_drag" with="mouse_pointer"></replace>
  <hide object="clickmarker,mouse_leftclick"></hide>
  <replace object="background3" with="background1"></replace>
  <replace object="customize_withabp" with="customize"></replace>
</action>
<action delay="20">
  <move duration="90" object="mouse_pointer" toAnchor="bottomright" toCoordsOf="customize" toOffset="-50,-25"></move>
</action>
<action delay="90">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <hide object="customize"></hide>
</action>
</animation>
