template=raw

<animation height="300" width="550" xmlns="https://adblockplus.org/animation">
<object anchor="topleft" id="mouse_pointer" src="{{'img/anim_mouse_pointer.png'|inline_file}}"></object>
<object anchor="center" id="clickmarker" src="{{'img/anim_clickmarker.png'|inline_file}}"></object>
<object anchor="-20,56" id="mouse_leftclick" src="{{'img/anim_mouse_leftclick.png'|inline_file}}"></object>
<object anchor="topleft" id="filtersmenu" src="{{'img/anim_filtersmenu.png'|inline_file}}"></object>
<object anchor="topleft" id="filtersmenu_highlight" src="{{'img/anim_filtersmenu_highlight.png'|inline_file}}"></object>
<object anchor="topright" id="subscriptionsdropdown" src="{{'img/anim_subscriptionsdropdown.png'|inline_file}}"></object>
<object anchor="top" id="subscriptiondlg1" src="{{'img/anim_subscriptiondlg1.png'|inline_file}}"></object>
<object anchor="top" id="subscriptiondlg2" src="{{'img/anim_subscriptiondlg2.png'|inline_file}}"></object>
<object anchor="top" id="preferences1" src="{{'img/anim_preferences1.png'|inline_file}}"></object>
<object anchor="top" id="preferences2" src="{{'img/anim_preferences2.png'|inline_file}}"></object>

<action>
  <show coords="275,0" object="preferences1"></show>
  <move duration="70" fromAnchor="topleft" fromCoordsOf="preferences1" fromOffset="125,100" object="mouse_pointer" toAnchor="topleft" toCoordsOf="preferences1" toOffset="20,40"></move>
</action>
<action delay="70">
  <show anchor="topleft" coordsOf="preferences1" object="filtersmenu_highlight" offset="4,30"></show>
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <show anchor="bottomleft" coordsOf="filtersmenu_highlight" object="filtersmenu"></show>
  <move duration="70" object="mouse_pointer" toCoordsOf="filtersmenu" toOffset="30,40"></move>
</action>
<action delay="70">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <hide object="filtersmenu,filtersmenu_highlight"></hide>
  <show coordsOf="preferences1" object="subscriptiondlg1" offset="0,20"></show>
  <move duration="90" object="mouse_pointer" toAnchor="bottomright" toCoordsOf="subscriptiondlg1" toOffset="-25,-135"></move>
</action>
<action delay="90">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <show anchor="bottomright" coordsOf="subscriptiondlg1" object="subscriptionsdropdown" offset="-17,-126"></show>
  <move duration="90" object="mouse_pointer" toAnchor="topleft" toCoordsOf="subscriptionsdropdown" toOffset="55,8"></move>
</action>
<action delay="90">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <hide object="subscriptionsdropdown"></hide>
  <replace object="subscriptiondlg1" with="subscriptiondlg2"></replace>
  <move duration="70" object="mouse_pointer" toAnchor="bottomright" toCoordsOf="subscriptiondlg2" toOffset="-130,-30"></move>
</action>
<action delay="70">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <hide object="subscriptiondlg2"></hide>
  <replace object="preferences1" with="preferences2"></replace>
  <move duration="50" object="mouse_pointer" toAnchor="bottomright" toCoordsOf="preferences2" toOffset="-215,-25"></move>
</action>
<action delay="50">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
</animation>
