template=raw

<animation height="400" width="550" xmlns="https://adblockplus.org/animation">
<object anchor="topleft" id="mouse_pointer" src="{{'img/anim_mouse_pointer.png'|inline_file}}"></object>
<object anchor="center" id="clickmarker" src="{{'img/anim_clickmarker.png'|inline_file}}"></object>
<object anchor="-20,56" id="mouse_leftclick" src="{{'img/anim_mouse_leftclick.png'|inline_file}}"></object>
<object anchor="-20,56" id="mouse_rightclick" src="{{'img/anim_mouse_rightclick.png'|inline_file}}"></object>
<object anchor="topleft" id="filtercomposer" src="{{'img/anim_filtercomposer.png'|inline_file}}"></object>
<object anchor="topleft" id="bannercontext" src="{{'img/anim_bannercontext.png'|inline_file}}"></object>
<object anchor="topleft" id="banner" src="{{'img/anim_banner.png'|inline_file}}"></object>

<action>
  <show coords="50,0" object="banner"></show>
  <move duration="100" fromCoordsOf="banner" fromOffset="-40,40" object="mouse_pointer" toCoordsOf="banner" toOffset="150,100"></move>
</action>
<action delay="100">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_rightclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_rightclick"></hide>
  <show coordsOf="mouse_pointer" object="bannercontext"></show>
</action>
<action delay="70">
  <move duration="100" object="mouse_pointer" toAnchor="bottomleft" toCoordsOf="bannercontext" toOffset="65,-10"></move>
</action>
<action delay="100">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <hide object="bannercontext"></hide>
  <show coords="18,84" object="filtercomposer"></show>
  <move duration="50" object="mouse_pointer" toAnchor="bottomright" toCoordsOf="filtercomposer" toOffset="-255,-28"></move>
</action>
<action delay="70">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
</animation>
