template=raw

<animation height="400" width="550" xmlns="https://adblockplus.org/animation">
<object anchor="topleft" id="mouse_pointer" src="{{'images/anim_mouse_pointer.png'|inline_file}}"></object>
<object anchor="center" id="clickmarker" src="{{'images/anim_clickmarker.png'|inline_file}}"></object>
<object anchor="-20,56" id="mouse_leftclick" src="{{'images/anim_mouse_leftclick.png'|inline_file}}"></object>
<object anchor="-20,56" id="mouse_rightclick" src="{{'images/anim_mouse_rightclick.png'|inline_file}}"></object>
<object anchor="topleft" id="filtercomposer" src="{{'images/anim_filtercomposer.png'|inline_file}}"></object>
<object anchor="topleft" id="blockabletooltip" src="{{'images/anim_blockabletooltip.png'|inline_file}}"></object>
<object anchor="topleft" id="blockablecontext" src="{{'images/anim_blockablecontext.png'|inline_file}}"></object>
<object anchor="bottom" id="blockable1" src="{{'images/anim_blockable1.png'|inline_file}}"></object>
<object anchor="bottom" id="blockable2" src="{{'images/anim_blockable2.png'|inline_file}}"></object>
<object anchor="bottom" id="blockable3" src="{{'images/anim_blockable3.png'|inline_file}}"></object>

<action>
  <show coords="275,400" object="blockable1"></show>
  <move duration="100" fromAnchor="top" fromCoordsOf="blockable1" fromOffset="-100,-40" object="mouse_pointer" toAnchor="bottomright" toCoordsOf="blockable1" toOffset="-80,-160"></move>
</action>
<action delay="100">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <replace object="blockable1" with="blockable2"></replace>
</action>
<action delay="100">
  <move duration="100" object="mouse_pointer" toAnchor="bottomleft" toCoordsOf="blockable2" toOffset="135,-70"></move>
</action>
<action delay="130">
  <show anchor="bottomleft" coordsOf="mouse_pointer" object="blockabletooltip"></show>
</action>
<action delay="120">
  <move duration="70" object="mouse_pointer" toAnchor="bottomleft" toCoordsOf="blockable2" toOffset="150,-185"></move>
</action>
<action delay="20">
  <hide object="blockabletooltip"></hide>
</action>
<action delay="50">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
</action>
<action delay="100">
  <replace object="blockable2" with="blockable3"></replace>
</action>
<action delay="100">
  <move duration="50" object="mouse_pointer" toAnchor="bottomleft" toCoordsOf="blockable3" toOffset="85,-145"></move>
</action>
<action delay="50">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_rightclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_rightclick"></hide>
  <show coordsOf="mouse_pointer" object="blockablecontext"></show>
  <move duration="70" object="mouse_pointer" toCoordsOf="blockablecontext" toOffset="70,12"></move>
</action>
<action delay="70">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick"></hide>
  <hide object="blockablecontext"></hide>
  <show coords="18,84" object="filtercomposer"></show>
  <move duration="50" object="mouse_pointer" toAnchor="bottomright" toCoordsOf="filtercomposer" toOffset="-255,-28"></move>
</action>
<action delay="70">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
</animation>
