template=raw

<animation height="482" width="550" xmlns="https://adblockplus.org/animation">
<object anchor="topleft" id="mouse_pointer" src="{{'img/anim_mouse_pointer.png'|inline_file}}"></object>
<object anchor="center" id="clickmarker" src="{{'img/anim_clickmarker.png'|inline_file}}"></object>
<object anchor="-20,56" id="mouse_leftclick" src="{{'img/anim_mouse_leftclick.png'|inline_file}}"></object>
<object anchor="-20,56" id="mouse_rightclick" src="{{'img/anim_mouse_rightclick.png'|inline_file}}"></object>
<object anchor="topright" id="button_highlight" src="{{'img/anim_button_highlight.png'|inline_file}}"></object>
<object anchor="topleft" id="blockablecontext2" src="{{'img/anim_blockablecontext2.png'|inline_file}}"></object>
<object anchor="bottomleft" id="blockabletooltip2" src="{{'img/anim_blockabletooltip2.png'|inline_file}}"></object>
<object anchor="bottomright" id="blockable1" src="{{'img/anim_blockable4.png'|inline_file}}"></object>
<object anchor="bottomright" id="blockable2" src="{{'img/anim_blockable5.png'|inline_file}}"></object>
<object anchor="topleft" id="background5" src="{{'img/anim_background5.png'|inline_file}}"></object>

<action>
  <show coords="0,0" object="background5"></show>
  <move duration="120" fromAnchor="topright" fromCoordsOf="background5" fromOffset="-200,115" object="mouse_pointer" toAnchor="topright" toCoordsOf="background5" toOffset="-40,65"></move>
</action>
<action delay="120">
  <show anchor="topright" coordsOf="background5" object="button_highlight" offset="-8,50"></show>
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick,button_highlight"></hide>
  <show anchor="bottomright" coordsOf="background5" object="blockable1"></show>
</action>
<action delay="50">
  <move duration="150" object="mouse_pointer" toAnchor="topleft" toCoordsOf="blockable1" toOffset="65,85"></move>
</action>
<action delay="200">
  <show coordsOf="mouse_pointer" object="blockabletooltip2"></show>
</action>
<action delay="80">
  <hide object="blockabletooltip2"></hide>
</action>
<action delay="20">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_rightclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_rightclick"></hide>
  <show coordsOf="mouse_pointer" object="blockablecontext2"></show>
</action>
<action delay="80">
  <move duration="50" object="mouse_pointer" toAnchor="topleft" toCoordsOf="blockablecontext2" toOffset="60,45"></move>
</action>
<action delay="50">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick,blockablecontext2"></hide>
  <replace object="blockable1" with="blockable2"></replace>
  <move duration="80" object="mouse_pointer" toAnchor="topright" toCoordsOf="blockable2" toOffset="-17,17"></move>
</action>
<action delay="80">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
<action delay="80">
  <hide object="clickmarker,mouse_leftclick,blockable2"></hide>
  <move duration="120" object="mouse_pointer" toAnchor="topleft" toCoordsOf="background5" toOffset="105,65"></move>
</action>
<action delay="120">
  <show coordsOf="mouse_pointer" object="clickmarker,mouse_leftclick"></show>
</action>
</animation>
