<section id="payments">
  <div id="payments-content">
    <img src="/img/adblock-plus-premium-logo.svg" style="max-width: 360px; width: 80vw" height="auto" alt=""/>
    <div class="row" id="pay">
      <div id="choose-plans" class="step">
        <div id="choose-plans-header" class="row">
          <div class="row" style="display:flex; flex-flow:row nowrap;">
            <h3 i18n="step_one_choose_plan">
              {{ get_string("step_one_choose_plan", "premium-flows") }}
            </h3>
            <div class="monthly-yearly-slider no-border-transparent-bg" style="align-items:flex-end;height:36px;">
              <span i18n="monthly_title_case">
                {{ get_string("monthly_title_case", "premium-flows") }}
              </span>
              <div class="slider active">
                <div class="slider-circle"></div>
              </div>
              <span i18n="yearly_title_case">
                {{ get_string("yearly_title_case", "premium-flows") }}
              </span>
            </div>
          </div>
        </div><!-- #choose-plans-header -->
        <hr/>
        <div id="amount_select_row">
          <button id="r_yearly" class="option" data-amount="40" data-recurring-frequency="yearly" data-plan="mevpn" style="display:none">
            <span i18n="amount_per_year" id="yearly-amount" style="display: none"></span>
            <div class="selected-check">
              <i class="material-icons-outlined">done</i>
            </div>
            <span class="amount-text">
              Adblock Plus Premium + VPN
            </span>
          </button>
          <button id="r_monthly" class="option option-tall selected" data-amount="20" data-recurring-frequency="yearly" data-plan="me" style="position:relative">
            <div class="yearly-savings-callout" i18n="save_percent_amount" i18n_replacement_text="17">
              {{ get_string("save_percent_amount", "premium-flows") }}
            </div>
            <span i18n="amount_per_month" id="monthly-amount" style="display: none"></span>
            <div class="selected-check">
              <i class="material-icons-outlined">done</i>
            </div>
            <span class="amount-text">
              Adblock Plus Premium
            </span>
          </button>
        </div><!-- #amount_select_row -->
        <hr/>
        <div id="money-back-guaranteed">
          <img src="/adblock/premium/images/badge.svg?v=1626791040" alt=""/>
          <span i18n="sixty_day_money_back_guarantee">
            {{ get_string("sixty_day_money_back_guarantee", "premium-flows") }}
          </span>
        </div><!-- #money-back-gauranteed -->
      </div><!-- #choose plans -->
      <div id="pmt-success-left" class="step" style="display: none">
        <h1 i18n="payment_confirmed_header">
          {{ get_string("payment_confirmed_header", "premium-flows") }}
        </h1>
        <div style="width:auto;margin-top: 16px;">
          <span class="plan-name">
            Adblock Plus Premium + VPN
          </span>:
          <span class="plan-price">
            <span class="selected-plan-price">
              $40
            </span>
            <span class="selected-plan-recurring-frequency-abbreviation" i18n="slash_yr_no_replace">
              /yr
            </span>
          </span>
        </div>
      </div><!-- #pmt-success-left -->
      <div id="choose-payment-type" class="column">
        <div id="payment-box" class="step">
          <div id="card-1" class="box-step">
            <h3 i18n="payment_title">
              {{ get_string("payment_title", "premium-flows") }}
            </h3>
            <select class="premium-checkout-header__select"></select>
            <hr/>
            <div style="width: 100%; margin: auto; height: 82%">
              <button class="payment-type-btn" id="donate_now">
                <i class="material-icons material-icons-outlined">lock</i>
                &nbsp;
                <span i18n="checkout_now">
                  {{ get_string("checkout_now", "premium-flows") }}
                </span>
              </button>
              <img style="width: 100%; margin-left: 10px;" src="/adblock/block-cookie-banners/logos_paddle_providers.svg"></img>
              <hr/>
              <div class="price-row">
                <div style="width:auto;">
                  <span class="plan-name">
                    Adblock Plus Premium + VPN
                  </span>
                  <span i18n="total">
                    {{ get_string("total", "premium-flows") }}
                  </span>
                </div>
                <span class="plan-price">
                  <span class="selected-plan-price">
                    $40
                  </span>
                  <span class="selected-plan-recurring-frequency-abbreviation" i18n="slash_yr_no_replace">
                    /yr
                  </span>
                </span>
              </div>
              <? include vat-exclusive ?>
            </div>
          </div><!-- #card-1 -->
          <div id="card-2" class="box-step align-items-center" style="display: none">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div><!-- #card-2 -->
          <div id="card-3" class="box-step" style="display: none">
    
            <div class="box-step-content" id="mevpn-success" style="display:none;">
              <h1 i18n="welcome_to_plan">
                {{ get_string("welcome_to_plan", "premium-flows") }}
              </h1>
              <ol>
                <li>
                  <span i18n="you_have_adblock_premium_access">
                    {{ get_string("you_have_adblock_premium_access", "premium-flows") }}
                  </span>
                  <a href="#" class="get-started-with-myadblock">
                    <span i18n="click_here_to_configure_premium_settings">
                      {{ get_string("click_here_to_configure_premium_settings", "premium-flows") }}
                    </span>
                  </a>
                </li>
                <li i18n="install_adblock_vpn_below">
                  {{ get_string("install_adblock_vpn_below", "premium-flows") }}
                </li>
              </ol>
              <a class="vpn-cta" id="download-vpn">
                <i class="material-icons" style="margin-right:16px;margin-left:-16px;">download</i>
                <span i18n="download_vpn_for_platform">
                  {{ get_string("download_vpn_for_platform", "premium-flows") }}
                </span>
                &nbsp;
                <span id="vpn-os-display-name">Windows</span>
              </a>
              <p>
                <span i18n="email_sent_for_more_devices">
                  {{ get_string("email_sent_for_more_devices", "premium-flows") }}
                </span>
                <span i18n="premium_you_have_questions" i18n_replacement_el="premium_help_center_link_2" i18n_replacement_el_2="contact_email_2">
                  {{ get_string("premium_you_have_questions", "premium-flows") }}
                </span>
              </p>
            </div><!-- #mevpn-success-->
    
            <div class="box-step-content" id="me-success" style="display:none;">
              <h1 i18n="welcome_to_plan">
                {{ get_string("welcome_to_plan", "premium-flows") }}
              </h1>
              <p>
                <span i18n="click_below_to_customize">
                  {{ get_string("click_below_to_customize", "premium-flows") }}
                </span>
                <br/>
                <span i18n="premium_features_get_started">
                  {{ get_string("premium_features_get_started", "premium-flows") }}
                </span>
              </p>
              <button class="prem-cta get-started-with-myadblock">
                <span i18n="get_started_cta">
                  {{ get_string("get_started_cta", "premium-flows") }}
                </span>
              </button>
              <p i18n="premium_you_have_questions" i18n_replacement_el="premium_help_center_link_1" i18n_replacement_el_2="contact_email">
                {{ get_string("premium_you_have_questions", "premium-flows") }}
              </p>
            </div><!-- #me-success -->
            
          </div><!-- #card-3 -->
          <div id="card-4" class="box-step" style="display: none">
            <h2 i18n="oops_period">
              {{ get_string("oops_period", "premium-flows") }}
            </h2>
            <p>
              <span i18n="something_went_wrong">
                {{ get_string("something_went_wrong", "premium-flows") }}
              </span>
            </p>
          </div><!-- #card-4 -->
      </div><!-- #hoose-payment-type -->
      <div id="other-options">
        <span i18n="already_have_contributed_before">
          {{ get_string("already_have_contributed_before", "premium-flows") }}
        </span>
        <a href="#" id="already-donated">
          <span i18n="activate_here">
            {{ get_string("activate_here", "premium-flows") }}
          </span>
        </a>
      </div><!-- #other-options -->
      </div><!-- #choose-payment-type -->
    </div><!-- #pay -->
    <div class="row" id="already-donated-activity" style="display:none;">
      <div class="column">
        <div id="already-donated-activity-box" class="step">
  
          <div id="already-donated-card-1" class="box-step">
            <div class="already-contributed-card-header">
              <h3 i18n="enter_email_get_started">
                {{ get_string("enter_email_get_started", "premium-flows") }}
              </h3>
              <i class="material-icons back-to-payments" i18n-aria-label="close" aria-label="close" role="button">close</i>
            </div>
            <hr>
            <p class="already-contributed-card-instruction" i18n="find_previous_payment">
              {{ get_string("find_previous_payment", "premium-flows") }}
            </p>
            <div class="already-donated-action">
              <form action="#" id="prev_donation">
                <input class="wide-input" placeholder="Enter your email address" id="prev_donation_email" type="email" required="" spellcheck="false" autofocus="true" i18n_placeholder="enter_email">
                <button type="submit" style="display: none"></button>
              </form>
              <button class="submit-cta" id="submit_email" i18n="submit">
                {{ get_string("submit", "premium-flows") }}
              </button>
            </div>
            <div class="progress-box">
              <div class="progress-circle complete" id="progress-1"></div>
              <div class="progress-circle" id="progress-2"></div>
              <div class="progress-circle" id="progress-3"></div>
            </div>
          </div>
          <!-- #already-donated-card-1 -->
  
          <div id="already-donated-card-2-code" class="box-step" style="display: none">
            <div class="already-contributed-card-header">
              <h3 i18n="check_email">
                {{ get_string("check_email", "premium-flows") }}
              </h3>
              <i class="material-icons back-to-payments" i18n-aria-label="close" aria-label="close" role="button">close</i>
            </div>
            <hr>
            <p class="already-contributed-card-instruction" i18n="enter_code">
              {{ get_string("enter_code", "premium-flows") }}
            </p>
            <div class="already-donated-action">
              <form id="confirmation-code">
                <input id="code" type="text" maxlength="6" minlength="6" placeholder="- - - - - -" spellcheck="false" autocomplete="false" autofocus="true">
                <button type="submit" style="display: none"></button>
              </form>
              <button class="submit-cta" id="submit_code" i18n="submit">
                {{ get_string("submit", "premium-flows") }}
              </button>
            </div>
            <div class="row flex-start">
              <span i18n="no_email">
                {{ get_string("no_email", "premium-flows") }}
              </span>
              &nbsp;
              <span i18n="check_spam_or_contact" i18n_replacement_el="check_spam_or_contact_link">
                {{ get_string("check_spam_or_contact", "premium-flows") }}
              </span>
            </div>
            <div class="progress-box">
              <div class="progress-circle complete" id="progress-1"></div>
              <div class="progress-circle complete" id="progress-2"></div>
              <div class="progress-circle" id="progress-3"></div>
            </div>
          </div>
          <!-- #already-donated-card-2-code -->
  
          <div id="already-donated-activity-waiting" style="display: none">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <!-- #already-donated-activity-waiting -->
  
  
          <div id="card2-error-1" class="box-step" style="display: none">
            <div class="already-contributed-card-header">
              <h3 i18n="oops">
                {{ get_string("oops", "premium-flows") }}
              </h3>
              <i class="material-icons back-to-payments" i18n-aria-label="close" aria-label="close" role="button">close</i>
            </div>
            <hr>
            <p class="already-contributed-card-instruction">
              <span i18n="no_donations_for_email">
                {{ get_string("no_donations_for_email", "premium-flows") }}
                </span>
              </p>
              <div class="progress-box">
                <div class="progress-circle" id="progress-1"></div>
                <div class="progress-circle" id="progress-2"></div>
                <div class="progress-circle" id="progress-3"></div>
              </div>
            </div><!-- #card2-error-1 -->
  
            <div id="card2-error-2" class="box-step" style="display: none">
              <div class="already-contributed-card-header">
                <h3 i18n="oops">
                  {{ get_string("oops", "premium-flows") }}
                </h3>
                <i class="material-icons back-to-payments" i18n-aria-label="close" aria-label="close" role="button">close</i>
              </div>
              <hr>
              <p class="already-contributed-card-instruction">
                <span i18n="code_incorrect">
                  {{ get_string("code_incorrect", "premium-flows") }}
                </span>
                &nbsp;
                <span i18n="reach_out_help_setup" i18n_replacement_el="reach_out_to_us_3">
                  {{ get_string("reach_out_help_setup", "premium-flows") }}
                </span>
              </p>
              <div class="progress-box">
                <div class="progress-circle" id="progress-1"></div>
                <div class="progress-circle" id="progress-2"></div>
                <div class="progress-circle" id="progress-3"></div>
              </div>
            </div>
            <!-- #card2-error-1 -->
  
            <div id="card2-error-3" class="box-step" style="display: none">
              <div class="already-contributed-card-header">
                <h3 i18n="oops">
                  {{ get_string("oops", "premium-flows") }}
                </h3>
                <i class="material-icons back-to-payments" i18n-aria-label="close" aria-label="close" role="button">close</i>
              </div>
              <hr>
              <p class="already-contributed-card-instruction">
                <span i18n="cant_find_user_id">
                  {{ get_string("cant_find_user_id", "premium-flows") }}
              </span>
              &nbsp;
              <span i18n="reach_out_help_setup" i18n_replacement_el="reach_out_to_us_4">
                {{ get_string("reach_out_help_setup", "premium-flows") }}
              </span>
            </p>
            <div class="progress-box">
              <div class="progress-circle" id="progress-1"></div>
              <div class="progress-circle" id="progress-2"></div>
              <div class="progress-circle" id="progress-3"></div>
            </div>
          </div>
          <!-- #card2-error-3 -->
  
          <div id="card2-error-4" class="box-step" style="display: none">
            <div class="already-contributed-card-header">
              <h3 i18n="oops">
                {{ get_string("oops", "premium-flows") }}
              </h3>
              <i class="material-icons back-to-payments" i18n-aria-label="close" aria-label="close" role="button">close</i>
            </div>
            <hr>
            <p class="already-contributed-card-instruction">
              <span i18n="problem_activating">
                {{ get_string("problem_activating", "premium-flows") }}
              </span>
              &nbsp;
              <span i18n="reach_out_help_setup" i18n_replacement_el="reach_out_to_us_1">
                {{ get_string("reach_out_help_setup", "premium-flows") }}
              </span>
            </p>
            <div class="progress-box">
              <div class="progress-circle" id="progress-1"></div>
              <div class="progress-circle" id="progress-2"></div>
              <div class="progress-circle" id="progress-3"></div>
            </div>
          </div>
          <!-- #card2-error-4 -->
  
          <div id="card2-error-5" class="box-step" style="display: none">
            <div class="already-contributed-card-header">
              <h3 i18n="oops">
                {{ get_string("oops", "premium-flows") }}
              </h3>
              <i class="material-icons back-to-payments" i18n-aria-label="close" aria-label="close" role="button">close</i>
            </div>
            <hr>
            <p class="already-contributed-card-instruction">
              <span i18n="problem_our_end">
                {{ get_string("problem_our_end", "premium-flows") }}
              </span>
              &nbsp;
              <span i18n="recorded_investigating">
                {{ get_string("recorded_investigating", "premium-flows") }}
                </span>
                &nbsp;
                <span i18n="reach_out_help_setup" i18n_replacement_el="reach_out_to_us_2">
                  {{ get_string("reach_out_help_setup", "premium-flows") }}
                </span>
              </p>
              <div class="progress-box">
                <div class="progress-circle" id="progress-1"></div>
                <div class="progress-circle" id="progress-2"></div>
                <div class="progress-circle" id="progress-3"></div>
              </div>
            </div>
            <!-- #card2-error-5 -->
  
            <div id="already-donated-card-4-goodtogo" class="box-step" style="display: none">
              <div class="row">
                <h3 i18n="ready_premium">
                  {{ get_string("ready_premium", "premium-flows") }}
                </h3>
              </div>
              <hr />
              <div class="row">
                <div class="left">
                  <img alt="" src="/img/browserwithgears.svg" heigh="164px" width="187px" style="margin: 48px auto">
                </div>
                <div class="right">
                  <div class="row flex-start">
                    <span i18n="click_below_to_customize">
                      {{ get_string("click_below_to_customize", "premium-flows") }}
                    </span>
                    <span i18n="premium_features_get_started" class="nomargin">
                      {{ get_string("premium_features_get_started", "premium-flows") }}
                    </span>
                  </div>
                  <div class="row">
                    <a href="https://help.adblockplus.org/hc/articles/8155189140115-Get-started-with-AdBlock-Plus-Premium" class="submit-cta full-width get-started-with-myadblock" i18n="get_started_cta" style="margin-bottom: 0px">
                      {{ get_string("get_started_cta", "premium-flows") }}
                    </a>
                  </div>
                </div>
              </div>
            </div><!-- already-donated-card-4-goodtogo -->
  
        </div><!-- #already-donated-activity-box -->
      </div><!-- .column -->    
    </div><!-- #already-donated-activity -->
  </div><!-- #payments-content -->
</section><!-- #payments-->
<!-- Dynamic translations below -->
<span i18n="slash_yr_no_replace" id="i18n-slash_yr_no_replace" class="hidden-dynamic-translation" style="display: none;"></span>
<span i18n="slash_mo_no_replace" id="i18n-slash_mo_no_replace" class="hidden-dynamic-translation" style="display: none;"></span>

<script src="/currency"></script>