<div class="download-abb"
  itemscope itemtype="https://schema.org/SoftwareApplication">
  <meta itemprop="applicationCategory" content="BrowserApplication">
  <meta itemprop="applicationCategory" content="CommunicationApplication">
  <meta itemprop="operatingSystem" content="Android">
  <meta itemprop="name" content="Adblock Browser">
  <meta itemprop="description" content="Block annoying ads & pop-ups, stop malware, save mobile data and battery life with Adblock Browser, the FREE ad blocker for Android.">
  <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    <meta itemprop="price" content="0">
  </div>
  <div class="tab-text-contents">
    <div class="app-icons">
      <img
        src="/img/abb-browser-icon.svg"
        alt="{{ "Adblock Browser logo icon" | translate("abb-icon-alt", "Alt text") }}">
    </div>
    <h2>{{ "Get Adblock Browser" | translate("download_abb-title", "Heading") }} <br>
      <span
        class="sub-heading">
        {{ "Block ads in a dedicated ad-blocking browser" | translate("download_abb-note", "Paragraph") }}</span>
    </h2>
    <div class="abb">
      <? include install-button-android ?>
      <p class="description">{{ "Adblock Browser blocks intrusive and malicious advertisements, while supporting website creators by allowing <a href=\"acceptable-ads\"><strong>Acceptable Ads</strong></a> by default (this, however, is configurable)." | translate("download_abb-description", "Paragraph") }}</p>
    </div>
  </div>
</div>
