<section class="download-abb">
  <div class="tab-media-contents">
    <img
      src="/img/tablet-abp.svg"
      alt="{{ "Illustration of Adblock Browser for mobile devices" | translate("download-abb-icon-alt", "Alt text") }}">
  </div>
  <div class="tab-text-contents">
    <h2>{{ "Get Adblock Browser" | translate("download_abb-title", "Heading") }} <br>
      <span
        class="sub-heading">
        {{ "Block ads in a dedicated ad-blocking browser" | translate("download_abb-note", "Paragraph") }}</span>
    </h2>
    <div class="abb">
      <? include install-button-android ?>
      <p class="description">{{ "Adblock Browser blocks intrusive and malicious advertisements, while supporting website creators by allowing <a href=\"acceptable-ads\"><strong>Acceptable Ads</strong></a> by default (this, however, is configurable)." | translate("download_abb-description", "Paragraph") }}</p>
    </div>
  </div>
</section>
