{% set browsers = [
  {
    "id":"android_samsungBrowser",
    "class":"abp-android-samsungBrowser",
    "name":"Samsung Internet (Android)",
    "description":"Adblock Plus for Samsung Internet (Android) brings you a cleaner, smoother online experience on your Samsung browser without intrusive ads."
  },
  {
    "id":"ios_safari",
    "class":"abp-ios-safari",
    "name":"Safari (iOS)",
    "description":"Adblock Plus for Safari (iOS) has all the ad blocking power of the desktop version, but fine tuned for use with the Safari mobile browser. Also saves battery life and optimizes surfing speed."
  }
] %}

<section class="download-mobile"
  itemscope itemtype="https://schema.org/SoftwareApplication">
  <meta itemprop="applicationCategory" content="BrowserApplication">
  <meta itemprop="applicationCategory" content="UtilitiesApplication">
  <meta itemprop="operatingSystem" content="Android, Ios">
  <meta itemprop="name" content="Adblock Plus Mobile">
  <meta itemprop="description" content="{{description}}">
  <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    <meta itemprop="price" content="0">
  </div>
  <div class="tab-media-contents">
    <img
      src="/img/mobile-abp.svg"
      alt="{{ "Illustration of Adblock Plus ad blocking app" | translate("download-mobile-icon-alt", "Alt text") }}">
  </div>
  <div class="tab-text-contents">
    <h2>{{ "Block ads on your mobile browser" | translate("download-mobile-title", "Heading") }}</h2>
    <div class="tabs">
      <ul role="tablist" class="horizontal-list tabs-menu">
        {% for brws in browsers %}
        <li
          {% if brws.id == 'android_samsungBrowser' %} class="current-tab"{% endif %}>
          <a
            role="tab"
            aria-controls="{{ brws.id }}-tab"
            {% if brws.id != 'chrome' %} tabindex="-1"{% endif %}
            class="{{ brws.class }}"
            id="{{ brws.id }}_tab"
            href="#{{ brws.id }}_panel">
            <strong>{{ brws.name | translate(brws_identifier, "Product name") }}</strong>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% for brws in browsers %}
      <div
        tabindex="0"
        role="tabpanel"
        aria-labelledby="{{ brws.id }}_tab"
        id="{{ brws.id }}_panel"
        class="tab-content {% if brws.id in ('chrome', 'android_samsungBrowser') %} current-tab{% endif %}">
        {% if brws.id == 'android_samsungBrowser' %}
        <? include install-button-android ?>
        {% endif %}
        {% if brws.id == 'ios_safari' %}
        <? include install-button-ios-safari ?>
        {% endif %}
        <p class="description">{{ brws.description | translate(brws.id + "-description", "Paragraph") }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
